﻿@using TraineeTrackingSystem.Web.Common
@model ReportApplicantViewModel

<div id="applicantReport-view" class="content form">
    <input id="isApplicantReportFound" type="hidden" data-bind="value: isApplicantReportFound" />
    <legend>
        Generate a report displaying the data from the selected Applicant record(s)
        (as entered in Honey Badger).
    </legend>

    @using (Html.BeginForm("PrintApplicantReport", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "ApplicantReports" }))
    {
        <div id="generateApplicantReport" data-bind="visible:generateApplicantReportVisible">
            @*<label class="control-label osu-standard">Undetermined Report Parameter:</label>
                <div>
                    <input id="reportDropDown" name="reportDropDown"
                            data-role="dropdownlist"
                            data-option-label="Select Report"
                            data-auto-bind="false"
                            data-text-field="value"
                            data-value-field="key"
                            data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}" />
                            required validationmessage="This field is required" />
                    <span class="k-invalid-msg" data-for="reportDropDown"></span>
                    </div>*@

            <label class="control-label osu-standard" for="inputApplicantYearEntered">Entering Year:</label>
            <div>
                <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputApplicantYearEntered"
                       data-bind="value:selectedApplicantYearEntered" placeholder=" YYYY" size="4" maxlength="4" />
            </div>

            <label class="control-label osu-standard">Select the Applicant record that should be used for the report data:</label>
            <div>
                <input id="applicantDropDown" name="applicantDropDown"
                       data-role="dropdownlist"
                       data-option-label="Select Applicant"
                       data-auto-bind="false"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedApplicant,source: applicants, events: {open: hideValidationMsgs}"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="applicantDropDown"></span>
            </div>

            <button type="submit" class="add-section save">Generate Report</button>
        </div>
        <div id="applicantReportUnavailable" data-bind="visible:applicantReportUnavailableVisible">
            The Applicant Report is unavailable at this time. Please refresh this page or try back later.
        </div>
        
    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#ApplicantReports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });


        var reportVm = kendo.observable($.extend({      
            //generateApplicantReportVisible: self.isApplicantReportFound,
            //applicantReportUnavailableVisible: !self.isApplicantReportFound,
            generateApplicantReportVisible: true,
            applicantReportUnavailableVisible: false,
            hideValidationMsgs: function() {
                var validator = $("#applicantReport-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#applicantReport-view"), reportVm);

    })
</script>
