﻿@using TraineeTrackingSystem.Web.Common
@model ReportFacultyViewModel

<div id="facultyReport-view" class="content form">
    <input id="isFacultyReportFound" type="hidden" data-bind="value: isFacultyReportFound" />
    <legend>
        Generate a report displaying the data from the selected Faculty record(s)
        (as entered in Honey Badger).
    </legend>

    @using (Html.BeginForm("PrintFacultyReport", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "FacultyReports" }))
    {
        <div id="generateFacultyReport" data-bind="visible:generateFacultyReportVisible">
            @*<label class="control-label osu-standard">Undetermined Report Parameter:</label>
                <div>
                    <input id="reportDropDown" name="reportDropDown"
                            data-role="dropdownlist"
                            data-option-label="Select Report"
                            data-auto-bind="false"
                            data-text-field="value"
                            data-value-field="key"
                            data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}" />
                            required validationmessage="This field is required" />
                    <span class="k-invalid-msg" data-for="reportDropDown"></span>
                    </div>*@

            @*<label class="control-label osu-standard" for="inputFacultyYearEntered">Entering Year:</label>
                <div>
                    <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputFacultyYearEntered"
                           data-bind="value:selectedFacultyYearEntered" placeholder=" YYYY" size="4" maxlength="4" />
                </div>*@

            <label class="control-label osu-standard">Select the Faculty record that should be used for the report data:</label>
            <div>
                <input id="facultyDropDown" name="facultyDropDown"
                       data-role="dropdownlist"
                       data-option-label="Select Faculty"
                       data-auto-bind="false"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedFaculty,source: facultyMembers, events: {open: hideValidationMsgs}"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="facultyDropDown"></span>
            </div>

            <button type="submit" class="add-section save">Generate Report</button>
        </div>
        <div id="facultyReportUnavailable" data-bind="visible:facultyReportUnavailableVisible">
            The Faculty Report is unavailable at this time. Please refresh this page or try back later.
        </div>

    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#FacultyReports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });

        var reportVm = kendo.observable($.extend({
            //generateFacultyReportVisible: self.isFacultyReportFound,
            //facultyReportUnavailableVisible: !self.isFacultyReportFound,
            generateFacultyReportVisible: true,
            facultyReportUnavailableVisible: false,
            hideValidationMsgs: function() {
                var validator = $("#facultyReport-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#facultyReport-view"), reportVm);

    })
</script>
