﻿@using TraineeTrackingSystem.Web.Common
@model ReportFundingViewModel

<div id="fundingReport-view" class="content form">
    <input id="isFundingReportFound" name="isFundingReportFound" data-bind="value: isFundingReportFound" />
    <input id="test" />
    <legend>
        Generate a report displaying the data from the selected Funding record(s)
        (as entered in Honey Badger).
    </legend>

    @using (Html.BeginForm("PrintFundingReport", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "FundingReports" }))
    {
        <div id="generateFundingReport" data-bind="visible:generateFundingReportVisible">
            @*<label class="control-label osu-standard">Undetermined Report Parameter:</label>
                <div>
                    <input id="reportDropDown" name="reportDropDown"
                            data-role="dropdownlist"
                            data-option-label="Select Report"
                            data-auto-bind="false"
                            data-text-field="value"
                            data-value-field="key"
                            data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}" />
                            required validationmessage="This field is required" />
                    <span class="k-invalid-msg" data-for="reportDropDown"></span>
                    </div>*@

            @*<label class="control-label osu-standard" for="inputCurrentYear">Enter Year to use as "Current Year" in the Report:</label>
                <div>
                    <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputCurrentYear"
                    data-bind="value:selectedYear" placeholder=" YYYY" size="4" maxlength="4" />
                </div>*@

            <label class="control-label osu-standard">Select the Funding record that should be used for the report data:</label>
            <div>
                <input id="fundingDropDown" name="fundingDropDown"
                       data-role="dropdownlist"
                       data-option-label="Select Funding"
                       data-auto-bind="false"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedFunding,source: fundings, events: {open: hideValidationMsgs}"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="fundingDropDown"></span>
            </div>

            <button type="submit" class="add-section save">Generate Report</button>
        </div>
        <div id="fundingReportUnavailable" data-bind="visible:fundingReportUnavailableVisible">
            The Funding Report is unavailable at this time. Please refresh this page or try back later.
        </div>
        
    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#FundingReports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });

        var reportVm = kendo.observable($.extend({
            //generateFundingReportVisible: self.isFundingReportFound,
            //fundingReportUnavailableVisible: !self.isFundingReportFound,
            generateFundingReportVisible: true,
            fundingReportUnavailableVisible: false,
            hideValidationMsgs: function() {
                var validator = $("#fundingReport-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },
            debugToConsole: function() {
                window.console && console.log(isFundingReportFound.value);
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#fundingReport-view"), reportVm);

    })
</script>
