﻿@using TraineeTrackingSystem.Web.Common
@model ReportViewModel

<div id="t32report-view" class="content form">
    <!--input id="menteeSupportId" type="hidden" data-bind="value: selectedId" /-->
    <legend>Generate the T32 Tables filled with the data from the selected Training Grant
        (as entered in Honey Badger). <br />
        Options for the generated report will appear at the bottom of the browser window 
        when it's ready to be viewed.
    </legend>

@using (Html.BeginForm("PrintT32Report", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "T32Reports" }))
    {
        <label class="control-label osu-standard">Select a Report:</label>
        <div>
            <input id="reportDropDown" name="reportDropDown"
                    data-role="dropdownlist"
                    data-option-label="Select Report"
                    data-auto-bind="false"
                    data-text-field="value"
                    data-value-field="key"
                    data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}"
                    required validationmessage="This field is required" />
            <span class="k-invalid-msg" data-for="reportDropDown"></span>
        </div>

        <label class="control-label osu-standard">Select the Training Grant that should be used for the report data:</label>
        <div>
            <input id="grantProposalDropDown" name="grantProposalDropDown"
                   data-role="dropdownlist"
                   data-option-label="Select Training Grant"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedGrantProposal,source: grantProposals, events: {open: hideValidationMsgs}"
                   required validationmessage="This field is required" />
            <span class="k-invalid-msg" data-for="grantProposalDropDown"></span>
        </div>

        @*<label class="control-label osu-standard" for="inputCurrentYear">Enter Year to use as "Current Year" in the Report:</label>
            <div>
                <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputCurrentYear"
                data-bind="value:selectedYear" placeholder=" YYYY" size="4" maxlength="4" />
            </div>*@
        @*<button type="submit">Submit</button>*@
        <button type="submit" class="add-section save">Generate Report</button>

    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#T32Reports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });


        var reportVm = kendo.observable($.extend({            
            
            hideValidationMsgs: function() {
                var validator = $("#t32report-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },
            @*generateReport: function() {
                var self = this;

                var validator = $("#t32report-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        reportId: self.selectedReport,
                        trainingGrantId: self.selectedTrainingGrant,
                        //currentYear: self.selectedYear
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Report/PrintT32Report")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        toastr.error('Report Generation failed!');
                    },
                    success: function (value) {
                        toastr.success('Report Generated!');

                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                })
            }

        },*@

        },@(Html.ToJson(Model))));

    kendo.bind($("#t32report-view"), reportVm);

    })
</script>
