﻿@using TraineeTrackingSystem.Web.Common
@model ReportMenteeViewModel

<div id="menteeReport-view" class="content form">
    <input id="isMenteeReportFound" data-bind="value: isMenteeReportFound" />
    <legend>
        Generate a report displaying the data from the selected Mentee(s)
        (as entered in Honey Badger).
    </legend>

    @using (Html.BeginForm("PrintMenteeReport", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "MenteeReports" }))
    {
        <div id="generateMenteeReport" data-bind="visible:generateMenteeReportVisible">
            @*<label class="control-label osu-standard">Undetermined Report Parameter:</label>
                <div>
                    <input id="reportDropDown" name="reportDropDown"
                            data-role="dropdownlist"
                            data-option-label="Select Report"
                            data-auto-bind="false"
                            data-text-field="value"
                            data-value-field="key"
                            data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}" />
                            required validationmessage="This field is required" />
                    <span class="k-invalid-msg" data-for="reportDropDown"></span>
                    </div>*@

            @*<label class="control-label osu-standard" for="inputCurrentYear">Enter Year to use as "Current Year" in the Report:</label>
                <div>
                    <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputCurrentYear"
                    data-bind="value:selectedYear" placeholder=" YYYY" size="4" maxlength="4" />
                </div>*@

            <label class="control-label osu-standard">Select the Mentee that should be used for the report data:</label>
            <div>
                <input id="menteeDropDown" name="menteeDropDown"
                       data-role="dropdownlist"
                       data-option-label="Select Mentee"
                       data-auto-bind="false"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedMentee,source: mentees, events: {open: hideValidationMsgs}"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="menteeDropDown"></span>
            </div>

            <button type="submit" class="add-section save">Generate Report</button>
        </div>
        <div id="menteeReportUnavailable" data-bind="visible:menteeReportUnavailableVisible">
            The Mentee Report is unavailable at this time. Please refresh this page or try back later.
        </div>
        
    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#MenteeReports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });

        var reportVm = kendo.observable($.extend({  
            //generateMenteeReportVisible: self.isMenteeReportFound,
            //menteeReportUnavailableVisible: !self.isMenteeReportFound,
            generateMenteeReportVisible: true,
            menteeReportUnavailableVisible: false,
            hideValidationMsgs: function() {
                var validator = $("#menteeReport-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#menteeReport-view"), reportVm);

    })
</script>
