﻿@using TraineeTrackingSystem.Web.Common
@model ReportTrainingGrantViewModel

<div id="trainingGrantReport-view" class="content form">
    <input id="isTrainingGrantReportFound" type="hidden" data-bind="value: isTrainingGrantReportFound" />
    <legend>
        Generate a report displaying the data from the selected Training Grant record(s)
        (as entered in Honey Badger).
    </legend>

    @using (Html.BeginForm("PrintTrainingGrantReport", "Report", FormMethod.Post, new { target = "_blank", addressbar = "no", id = "TrainingGrantReports" }))
    {
        <div id="generateTrainingGrantReport" data-bind="visible:generateTrainingGrantReportVisible">
            @*<label class="control-label osu-standard">Undetermined Report Parameter:</label>
                <div>
                    <input id="reportDropDown" name="reportDropDown"
                            data-role="dropdownlist"
                            data-option-label="Select Report"
                            data-auto-bind="false"
                            data-text-field="value"
                            data-value-field="key"
                            data-bind="value: selectedReport,source: reports, events: {open: hideValidationMsgs}" />
                            required validationmessage="This field is required" />
                    <span class="k-invalid-msg" data-for="reportDropDown"></span>
                    </div>*@

            @*<label class="control-label osu-standard" for="inputCurrentYear">Enter Year to use as "Current Year" in the Report:</label>
                <div>
                    <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputCurrentYear"
                    data-bind="value:selectedYear" placeholder=" YYYY" size="4" maxlength="4" />
                </div>*@

            <label class="control-label osu-standard">Select the Training Grant record that should be used for the report data:</label>
            <div>
                <input id="trainingGrantDropDown" name="trainingGrantDropDown"
                       data-role="dropdownlist"
                       data-option-label="Select Training Grant"
                       data-auto-bind="false"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedTrainingGrant,source: trainingGrants, events: {open: hideValidationMsgs}"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="trainingGrantDropDown"></span>
            </div>

            <button type="submit" class="add-section save">Generate Report</button>
        </div>
        <div id="trainingGrantReportUnavailable" data-bind="visible:trainingGrantReportUnavailableVisible">
            The Training Grant Report is unavailable at this time. Please refresh this page or try back later.
        </div>

    }

</div>


<script>
    $(document).ready(function () {
        var validatable = $("#TrainingGrantReports").kendoValidator().data("kendoValidator");
        $("#save").click(function () {
            if (validatable.validate()) {
                alert('Valid');
            } else {
                alert('Not valid');
            }
        });


        var reportVm = kendo.observable($.extend({   
            //generateTrainingGrantReportVisible: self.isTrainingGrantReportFound,
            //trainingGrantReportUnavailableVisible: !self.isTrainingGrantReportFound,
            generateTrainingGrantReportVisible: true,
            trainingGrantReportUnavailableVisible: false,
            hideValidationMsgs: function() {
                var validator = $("#trainingGrantReport-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#trainingGrantReport-view"), reportVm);

    })
</script>
