﻿@*@model IEnumerable<Search_VwReports>*@
@using TraineeTrackingSystem.Web.Models;
@model EditReportViewModel
@{
        ViewBag.Title = "Reports Index";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Reports</h1>
    </div>
</div>

<section class=“wrapper”>
    <div id="report-view" class="content form">
        <article class="content">

            <p class="reminder">Options for the generated report will appear at the bottom of the browser window
        when it's ready to be viewed.</p>

            <h1 class="section-title">Grant Proposal Reports</h1>
            <fieldset name="grantProposalReports" id="grantProposalReports" class="two-column-fields">
                @{Html.RenderPartial("_GrantProposalReports", Model.ReportGeneralInfo);}
            </fieldset>

            <h1 class="section-title">Training Grant Details</h1>
            <fieldset name="trainingGrantDetails" id="trainingGrantDetails" class="two-column-fields">
                @{Html.RenderPartial("_TrainingGrantDetails", Model.TrainingGrantDetails);}
            </fieldset>

            <h1 class="section-title">Funding Details</h1>
            <fieldset name="fundingDetails" id="fundingDetails" class="two-column-fields">
                @{Html.RenderPartial("_FundingDetails", Model.FundingDetails);}
            </fieldset>

            <h1 class="section-title">Applicant Details</h1>
            <fieldset name="applicantDetails" id="applicantDetails" class="two-column-fields">
                @{Html.RenderPartial("_ApplicantDetails", Model.ApplicantDetails);}
            </fieldset>

            <h1 class="section-title">Faculty Details</h1>
            <fieldset name="facultyDetails" id="facultyDetails" class="two-column-fields">
                @{Html.RenderPartial("_FacultyDetails", Model.FacultyDetails);}
            </fieldset>

            <h1 class="section-title">Mentee Details</h1>
            <fieldset name="menteeDetails" id="menteeDetails" class="two-column-fields">
                @{Html.RenderPartial("_MenteeDetails", Model.MenteeDetails);}
            </fieldset>

            @*<div class="content form">
                <article class="content">
                    @*<div class="wide-grid">*@
            @*<div id="clientsDb">*@

            @*</div>*@
            @*</div>*@

        </article>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('#report-view h1.section-title').click(function () {
            if (!$(this).hasClass('open')) {
                $(this).addClass('open').next().slideDown();
            } else {
                $(this).removeClass('open').next().slideUp();
            }
        });
    });
</script>