﻿@using TraineeTrackingSystem.Web.Common
@model FacultySupportsViewModel

<div id="editFundings_view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    
    <script type="text/x-kendo-template" id="facultySupport-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultySuportButton" class="facultySupport-delete-link">Remove</a>
            </span>
        </div>
    </script>
    
    <div id="facultySupportGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 10 }'
         data-columns="[
                { 'field': 'id'},
                { 'field': 'facultyId'},
                {title:'Name','field': 'facultyFullName','width': '250px'},
                {title:'Role', 'field':'facultyRole'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '120px', template:kendo.template($('#facultySupport-deleteLink').html() ) }
         ]"
         data-bind="source: facultySupportGridView,
                    events:{
                         change:gridRowSelection,
                         dataBound: removeFtySupport,
                         open: hideValidationMsgs
                    }">
    </div>

    <div id="addFacultySuportButton">
        <button data-role="button"
                data-bind="events: {click: addFacultySupportBtn}, visible:hideAddFacultyButton">
            Add faculty support
        </button>

    </div>
    

    <div class="expand" id="addFacultySupportSection" data-bind="visible:addFacultySupportSectionVisible">

        <h2>Add Faculty Information</h2>
        <label class="control-label">Name:</label>
        <input id="newFacultyDropDown" name="newFacultyDropDown"
               data-role="dropdownlist"
               data-option-label="select faculty"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: selectedFacultyId,
                        source: fundingFacultiesList,
                        events: {open: hideValidationMsgs}, enabled:facultyNameEnabled"/>

        <span class="k-invalid-msg" data-for="newFacultyDropDown"></span>

        <label class="control-label">Role:</label>
        <input id="newRoleDropDown" name="newRoleDropDown"
               data-role="dropdownlist"
               data-option-label="select role"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: selectedFacultyRoleId,source: roleList" />
        <span class="k-invalid-msg" data-for="newRoleDropDown"></span>

        <button class="add-section save" data-bind="click: saveFacultyInformation">Save</button>
        <button class="add-section cancel" data-bind="click: cancel">Cancel</button>
    </div>
   

</div>
<script>
    $(document).ready(function () {
        var editFundingVm = kendo.observable($.extend({
            hideAddFacultyButton: true,
            addFacultySupportSectionVisible:false,
            update: false,
            facultyNameEnabled: true,
            saveFacultyInformation: function() {
                var self = this;

                var facultyDropdownSelection = $('#newFacultyDropDown').data("kendoDropDownList").text();
                var roleDropdownSelection = $('#newRoleDropDown').data("kendoDropDownList").text();
                var validationMsg = "This field is required";
                var validator = $("#editFundings_view").kendoValidator({ 
                    rules:{
                        newfacultydropdown: function (input) {
                            if (input.is("[name=newFacultyDropDown]")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        },
 
                        newroledropdown: function (input) {
                            if (input.is("[name=newRoleDropDown]")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        },
                    },
                    messages: {
                        newfacultydropdown: validationMsg,
                        newroledropdown: validationMsg
                    }
                }).data("kendoValidator");

                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,                                
                        fundingId: self.fundingId,                          // Postmodel - fundingId
                        facultyId: self.selectedFacultyId,                  // View Model as Guid, instead of Guid?
                        facultyFullName: facultyDropdownSelection,          // Allows dropdown selection
                        // these replaced bellow....
                        facultyRoleId: self.selectedFacultyRoleId,          // PostModel - Add new faculty role int Id
                        facultyRole: roleDropdownSelection,                  // Allow dropdown selection

                     
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/Funding/UpdateFacultySupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Participating Faculty update failed!');
                        },
                        success: function (value) {                           
                            var facultySupport = $.grep(self.facultySupportGridView,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (facultySupport.length === 0) {
                                /* ------ MVN - Update the Grid ------ */                               
                                self.facultySupportGridView.push(kendo.observable(value));                                                            
                                self.set("selectedId", value.id);
                                
                                // MVN => syntax array.splice(index, howmany, item, ..., itemX)
                                self.fundingFacultiesList.splice(0, value.fundingFacultiesList.length)           // Clean the array 


                                // ***********************************************************************************************************************************            
                                // Push key and value the grid slection values back to the Dropdown          
                                // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                                // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                                for (var i = 0; i < value.length; i++) {
                                    value.fundingFacultiesList.push({
                                        key: value[i].key,
                                        //value: value[i].value                                
                                    });                             
                                }
                           
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                self.fundingFacultiesList.push({
                                    key: value.facultyId,               // Value from GRID
                                    value: value.facultyFullName        // Value from GRID                           
                                });                             
                                self.set("selectedFacultyId", value.facultyId);              // SET faculty ID from GRID
                                self.set("selectedFacultyRoleId", value.facultyRoleId);      // SET faculty role from GRID
                                self.set("fundingFacultiesList", value.fundingFacultiesList); // SET the Faculty Dropdown object                                
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                toastr.success('Participating Faculty added');
                            } else{  //UPDATE the GRID Selection
                                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                                selectedDataRow.set("facultyRole", value.facultyRole);
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                                                                       
                                self.set("selectedId", value.id);                                
                                // MVN => syntax array.splice(index, howmany, item, ..., itemX)
                                self.fundingFacultiesList.splice(0, value.fundingFacultiesList.length)           // Clean the array 


                                // ***********************************************************************************************************************************            
                                // Push key and value the grid slection values back to the Dropdown          
                                // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                                // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                                for (var i = 0; i < value.length; i++) {
                                    value.fundingFacultiesList.push({
                                        key: value[i].key,
                                        //value: value[i].value                                
                                    });                             
                                }
                           
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                self.fundingFacultiesList.push({
                                    key: value.facultyId,               // Value from GRID
                                    value: value.facultyFullName        // Value from GRID                           
                                });                             
                                self.set("selectedFacultyId", value.facultyId);              // SET faculty ID from GRID
                                self.set("fundingFacultiesList", value.fundingFacultiesList); // SET the Faculty Dropdown object
                                self.set("selectedFacultyRoleId", value.facultyRoleId);      // SET faculty role from GRID
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                toastr.success('Participating Faculty updated');
                            }
                            
                            self.set("addFacultySupportSectionVisible", false);
                            self.set("hideAddFacultyButton", true);
                            self.clearFacultySupportInput();
                        }
                    });
                }
            },

            //DropdownList EVENT: this handles the DropDownList selection
            gridRowSelection: function(e){
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected = kendoGrid.dataItem(selectedRow);

                var roleDropdownSelection = $('#newRoleDropDown').data("kendoDropDownList").text();

                
                if (selected !== null) {
                    var updateData = {
                        Id: selected.id,                                // PostModel - FundingFaculty Id
                        fundingId: self.fundingId,                          // Postmodel - fundingId
                        facultyId: selected.facultyId,
                       
                        facultyFullName: selected.facultyFullName,          // Allows dropdown selection           
                        facultyRoleId: self.selectedFacultyRoleId,          // PostModel - Add new faculty role int Id
                        facultyRole: roleDropdownSelection,   
                    };
                    $.ajax({
                        url: '@Url.Content("~/Funding/AddBackToDropDownListFacultySupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",             
                        success: function (value) {     
                            self.set("selectedId", selected.id);
                            self.fundingFacultiesList.splice(0, self.fundingFacultiesList.length);           // Clean the array    
                            // ***********************************************************************************************************************************            
                            // Push key and value the grid slection values back to the Dropdown          
                            // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                            // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                            for (var i = 0; i < value.length; i++) {
                                self.fundingFacultiesList.push({
                                    key: value[i].key,
                                    value: value[i].value                                
                                });                             
                            }
                            //alert("I am here1");
                            //Add the person that you select back into tho the dropdown list
                            self.fundingFacultiesList.push({
                                key: selected.facultyId,
                                value: selected.facultyFullName                                   
                            }); 
                            self.set("selectedFacultyId", selected.facultyId);  // SET faculty Id from GRID    
                            self.set("selectedFacultyRoleId", value.facultyRoleId);
                        }
                    });
                    self.set("facultyNameEnabled", false);
                    self.set("addFacultySupportSectionVisible", true);
                    self.set("hideAddFacultyButton", false);
                }     
            },
            
            //This event handled the remove ACTION
            removeFtySupport:function(e) {
                var self = this;
                $(".facultySupport-delete-link").click(function (event) {
                    event.preventDefault();

                    var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    if (confirm("Do you want to remove this item?")) {
                        var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Funding/RemoveFtySupport/")'+deleteItem.id,

                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function (data) {
                                toastr.error(data.responseText);
                            },

                            success: function (id) {
                                if (id=="true"){
                                    toastr.success("Participating Faculty removed");
                                    kendoGrid.dataSource.remove(deleteItem); 
                                    
                                }else{
                                    toastr.error("Must have at least one PI associated with funding");
                                }                                                             
                            },
                            complete: function () {
                                window.console && console.log("completed");
                            }                                                     
                        });
                        self.set("addFacultySupportSectionVisible", false);
                        self.set("hideAddFacultyButton", true);
                    }
                    return false;
                });
            },
            
            
            addFacultySupportBtn:function(){
                var self = this;
                self.set("facultyNameEnabled", true);               
                self.set("addFacultySupportSectionVisible", true);
                self.set("hideAddFacultyButton", false);
                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.callFundingFty();
                self.clearFacultySupportInput();
            },
            callFundingFty: function() {
                var self = this;
                var updateData = {
                    fundingId: self.fundingId,                          // Postmodel - fundingId
                };
                $.ajax({
                    url: '@Url.Content("~/Funding/AjaxRequestForAddFtyBtn")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",            
                    success: function (value) {  
                        self.set("fundingFacultiesList", value); // SET the Faculty Dropdown object                                          
                    }
                });
            },
            cancel:function() {
                var self = this;
                /* *********************** the page must reset from the UI **************************** */
                self.set("addFacultySupportSectionVisible", false);
                self.set("hideAddFacultyButton", true);
                /* **************** MVN - added this to clear the validation message ******************* */
                var validator= $("#editFundings_view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },
            hideValidationMsgs: function() {
                var validator = $("#addFacultySupportSection").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },

            clearFacultySupportInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedFacultyId", "");
                self.set("selectedFacultyRoleId", "");
                self.hideValidationMsgs();
            },

        },@(Html.ToJson(Model))));
        kendo.bind($("#editFundings_view"), editFundingVm);
        $("#facultySupportGrid").data("kendoGrid").hideColumn(0);
        $("#facultySupportGrid").data("kendoGrid").hideColumn(1);
    })
</script>