﻿@using TraineeTrackingSystem.Web.Common
@model AwardInformationViewModel 

<div id="editFundingFacultyCostInfo-view" data-role="validator" novalidate="novalidate">
    <input id="researchId" type="hidden" data-bind="value:selectedId" />

    <label class="control-label osu-standard">Sponsor Award Number:</label>
    <input type="text" placeholder="enter sponsor award number" data-bind="value:sponsorAwardNumber" />

    <label class="control-label" for="awardStartDate">Start Date:</label>
    <input type="text" data-role='datepicker' id="awardStartDate" name="awardStartDate" data-type="date"
           data-format="yyyy-MM-dd" data-bind="value:dateStarted" 
           data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
    <span data-for='awardStartDate' class='k-invalid-msg'></span>

    <label class="control-label" for="awardEndDate">End Date:</label>
    <input type="text" data-role='datepicker' id="awardEndDate" data-type="date" name="awardEndDate" 
           data-greaterdate-field="awardStartDate" data-greaterdate-msg='End Date should be after Start Date.'
           data-format="yyyy-MM-dd" data-bind="value:dateEnded" 
           data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
    <span data-for='awardEndDate' class='k-invalid-msg'></span>
 



    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: saveUpdateAwardInfo" /> </span>
    </div>

</div>
<script>
    $(document).ready(function () {     
        //////// THIS -> validated start and end date fields>>>>>
        //////$(function () {
        //////    var container = $("#editFundingFacultyCostInfo-view");
        //////    kendo.init(container);
        //////    container.kendoValidator({
        //////        rules: {
        //////            greaterdate: function (input) {
        //////                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() < date.getTime();
        //////                }

        //////                return true;
        //////            },
        //////            lessdate: function (input) {
        //////                if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() > date.getTime();
        //////                }

        //////                return true;
        //////            }
        //////        }
        //////    });
        //////});
        var awardInfoVm = kendo.observable($.extend({
            updated  : false,
            saveUpdateAwardInfo: function() {
                var self = this;  

                //var validator = $("#editFundingFacultyCostInfo-view").kendoValidator().data("kendoValidator");
                var validator = $("#editFundingFacultyCostInfo-view").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                        }

                    }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        fundingId: self.fundingId,                      //Post Model Funding Id 
                        sponsorAwardNumber: self.sponsorAwardNumber,    //Post Model 
                        dateStarted: self.dateStarted,                  //Post Model
                        dateEnded: self.dateEnded                       //Post Model
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Funding/SaveUpdateAwardInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Award Information update failed!');
                        },
                        success: function (value) {
                            location.reload();
                            toastr.success('Award Information updated!');
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }
            },
        },@(Html.ToJson(Model))));

        //window.console && console.log(awardInfoVm);
        kendo.bind($("#editFundingFacultyCostInfo-view"), awardInfoVm);
    })
</script>