﻿@using TraineeTrackingSystem.Web.Common
@model CostsInformationViewModel

<div id="editCostInfo-view" data-role="validator" novalidate="novalidate">
    <input id="researchId" type="hidden" data-bind="value: selectedId" /> @*Define selectedId in the CostsInformationViewModel*@
    @*<div id="costInformationGrid" data-role="grid"
             data-editable="false"
             data-selectable="true"
             data-scrollable="true"
             data-sortable="true"
             data-pageable='{ "pageSize": 5 }'
             data-columns="[
                    { 'field': 'id'},
                    {title:'Date','field': 'costYear','width': '250px'},
                    {title:'Current Year Direct Costs', 'field':'currentYearDirectCosts', format: '{0:c}'},
                    {title:'Total Direct Costs', 'field':'totalDirectCosts', format: '{0:c}'}

             ]"
             data-bind="source: costInformationGridView,
                        events:{
                             change:gridRowSelection,
                        }">
        </div>*@
    <div id="costInformationGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Status', 'field': 'budgetPeriodStatus'},
                {title:'Start Date','field': 'dateStartedText', 'width': '125px' },
                {title:'End Date','field': 'dateEndedText', 'width': '125px' },
                {title:'Current Year Direct Costs', 'field':'currentYearDirectCosts', format: '{0:c}'},
                {title:'Total Direct Costs', 'field':'totalDirectCosts', format: '{0:c}'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' }
         ]"
         data-bind="source: costInformationGridView,
                    events:{
                         change:gridRowSelection,
                    }">
    </div>
    <div id="addDirectCostsButton">
        <button data-role="button"
                data-bind="events: {click: addDirectCosts}, visible:hideAddDirectCostButton">
            Add Direct Costs
        </button>
    </div>

    <div class="expand" id="editDirectoCostsSection" data-bind="visible:addDirectCostsSectionVisible">
        <h2>Add Cost Information</h2>

        <label class="control-label">Budget period status*:</label>
        <input id="isCurrentStatusDropdown" name="isCurrentStatusDropdown" data-role="dropdownlist"
               data-option-label="select budget period status"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value:selectedBudgetStatus, source: budgetPeriodStatuses" />
        <span class="k-invalid-msg" data-for="isCurrentStatusDropdown"></span>

        <label class="control-label" for="startDate">Start Date (budget period):</label>
        <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date" 
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDate' class='k-invalid-msg'></span>

        <label class="control-label" for="endDate">End Date (budget period):</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startDate" data-greaterdate-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>

        <label class="control-label osu-standard" for="currentYearDirectCost">Direct Costs (budget period):</label>
        @*<input id="directCostcurrency" type="number" data-bind="value: selectedCurrentYearDirectCosts" />*@
        <input id="directCostcurrency" type="text" placeholder=" 0000.00 " data-bind="value: selectedCurrentYearDirectCosts" />

 

        <label class="control-label osu-standard" for="totalDirectCost">If industry-sponsored Clinical Trial, Anticipated Total Direct Costs:</label>

       


        @*<input id="totaldirectCostcurrency" type="number" data-bind="value: selectedTotalDirectCosts" />*@
        <input id="totaldirectCostcurrency" type="text" placeholder=" 0000.00 " data-bind="value: selectedTotalDirectCosts" />

        <button class="add-section save" data-bind="click: saveCostInformation">Save</button>
        <button class="add-section cancel" data-bind="click: cancel">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
            ////////$(function () {
            ////////    var container = $("#editCostInfo-view");
            ////////    kendo.init(container);
            ////////    container.kendoValidator({
            ////////        rules: {
            ////////            greaterdate: function (input) {
            ////////                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
            ////////                    var date = input.data("kendoDatePicker").value(),
            ////////                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
            ////////                    return otherDate == null || otherDate.getTime() < date.getTime();
            ////////                }

            ////////                return true;
            ////////            }//,
            ////////            //lessdate: function (input) {
            ////////            //    if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
            ////////            //        var date = input.data("kendoDatePicker").value(),
            ////////            //            otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
            ////////            //        //window.console && console.log("Field: Start Date");
            ////////            //        //window.console && console.log(date);
            ////////            //        //window.console && console.log(otherDate);
            ////////            //        return otherDate == null || otherDate.getTime() > date.getTime();
            ////////            //    }

            ////////            //    return true;
            ////////            //}
            ////////        }
            ////////    });
            ////////});

            // IF NEEDED - 2/5/2015 - for this sprint are not needed!!!!  
            // create Curerncy NumericTextBox from input HTML element
            $("#directCostcurrency").kendoNumericTextBox({
                format: "c",
                decimals: 0
            });
            $("#totaldirectCostcurrency").kendoNumericTextBox({
                format: "c",
                decimals: 0
            });

            var editCostInfoVm = kendo.observable($.extend({
                hideAddDirectCostButton: true,
                addDirectCostsSectionVisible:false,
                update: false,
                
                saveCostInformation: function() {
                    var self = this;
                    var validationMsg = "This field is required";
                    var validator = $("#editDirectoCostsSection").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                            iscurrentstatusdropdown: function (input) {
                                if (input.is("[name=isCurrentStatusDropdown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages:{
                            iscurrentstatusdropdown: validationMsg
                        }
                    }).data("kendoValidator");
                    if (validator.validate()) {

                        //alert(JSON.stringify(self.selectedBudgetStatus.key ))
                        //alert(JSON.stringify(self.get("selectedBudgetStatus")))
                        //JSON.stringify(updateData),
                        var updateData = {
                            Id: self.selectedId,                                    // set to PostModel - FundingFaculty Id                       
                            fundingId: self.fundingId,                              // set to PostModel - fundingId 
                        
                            // set to PostModel data attribute properties ************************* 
                            dateStarted: self.selectedDateStarted,
                            dateEnded: self.selectedDateEnded,

                            currentYearDirectCosts: self.selectedCurrentYearDirectCosts,      
                            budgetPeriodStatusId: self.selectedBudgetStatus!= null ? self.selectedBudgetStatus.key :null,
                            //budgetPeriodStatus: self.selectedBudgetStatus != null ? self.selectedBudgetStatus.value :null,
                            
                            totalDirectCosts: self.selectedTotalDirectCosts,

                            dateLastUpdated: self.dateLastUpdated,
                            lastUpdatedBy: self.lastUpdatedBy

                        };             
                        //window.console && console.log("MVN is here !!!");
                        //window.console && console.log(self);
                        $.ajax({
                            url: '@Url.Content("~/Funding/SaveCostInformation")',
                            data: JSON.stringify(updateData),
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Direct Cost update failed!');
                            },
                            success: function (value) {
                                //window.console && console.log(value);
                                var costInfo = $.grep(self.costInformationGridView,
                                    function(e){
                                        return e.id == value.id;
                                    });
                                if (costInfo.length === 0) {
                                    // ADD new Direct Cost Info to Grid 
                                    self.costInformationGridView.push(kendo.observable(value));
                                    toastr.success('Direct Cost added');

                                    var dataSource = new kendo.data.DataSource({ data: value.costInformationGridView });
                                    var grid = $('#costInformationGrid').data("kendoGrid");
                                    dataSource.read();
                                    dataSource.pageSize(5); 
                                    grid.setDataSource(dataSource);
                                    grid.refresh();
                                } else{  //UPDATE Direct Cost Info selection to GRID 
                                    //var kendoGrid = $("#costInformationGrid").data("kendoGrid");
                                    //var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                                    ////Grid data-bind values******************************************        
                                    //selectedDataRow.set("dateStarted", value.dateStarted);
                                    //selectedDataRow.set("dateStartedText", value.dateStartedText);
                                    //selectedDataRow.set("dateEnded", value.dateEnded);
                                    //selectedDataRow.set("dateEndedText", value.dateEndedText);
                                    //selectedDataRow.set("currentYearDirectCosts", value.currentYearDirectCosts);                                   
                                    //selectedDataRow.set("budgetPeriodStatusId", value.budgetPeriodStatusId);
                                    //selectedDataRow.set("totalDirectCosts", value.totalDirectCosts);

                                    //// Update the LastUpdated Date and by
                                    //selectedDataRow.set("dateLastUpdated", value.dateLastUpdated);
                                    //selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                    //selectedDataRow.set("lastUpdatedBy", value.lastUpdatedBy);
                                    //selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);                                   
                                    toastr.success('Direct Cost updated');

                                    var dataSource = new kendo.data.DataSource({ data: value.costInformationGridView });
                                    var grid = $('#costInformationGrid').data("kendoGrid");
                                    dataSource.read();
                                    dataSource.pageSize(5); 
                                    grid.setDataSource(dataSource);
                                    grid.refresh();
                                }
                                self.set("addDirectCostsSectionVisible", false);
                                self.set("hideAddDirectCostButton", true);
                                //location.reload();

                                //self.refreshCostInfoGrid();
                            }
                        })
                    };
                },

                @*refreshCostInfoGrid: function(e){
                    var self = this;
                    event.preventDefault();

                    var getData = {
                        Id: self.selectedId,                                    // set to PostModel - FundingFaculty Id                       
                        fundingId: self.fundingId,                              // set to PostModel - fundingId 
                        
                        // set to PostModel data attribute properties *************************
                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,

                        currentYearDirectCosts: self.selectedCurrentYearDirectCosts,      
                        budgetPeriodStatusId: self.selectedBudgetStatus != null ? self.selectedBudgetStatus.key :null,
                        budgetPeriodStatus: self.selectedBudgetStatus != null ? self.selectedBudgetStatus.value :null,
                        totalDirectCosts: self.selectedTotalDirectCosts,

                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    //window.console && console.log("MVN in REFRESH !!!");
                    //window.console && console.log(getData);
                    $.ajax({
                        url: '@Url.Content("~/Funding/RefreshCostInfoGrid/")',
                        data: JSON.stringify(getData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function (data) {
                            toastr.error(data.responseText);
                        },
                        success: function (value) {
                            
                            var dataSource = new kendo.data.DataSource({ data: value.costInformationGridView });
                            var grid = $('#costInformationGrid').data("kendoGrid");
                            dataSource.read();
                            dataSource.pageSize(5);
                            grid.setDataSource(dataSource);
                            //$('#costInformationGrid').data('kendoGrid').dataSource.read();
                            //$('#costInformationGrid').data('kendoGrid').refresh();
                        }

                    });
                },*@

                //This event handled the Add Faculty Support button
                addDirectCosts: function(){
                    var self = this;
                    self.set("addDirectCostsSectionVisible", true);
                    self.set("hideAddDirectCostButton", false);
                    var kendoGrid = $("#costInformationGrid").data("kendoGrid");
                    kendoGrid.clearSelection();

                    self.clearDirectCostInput();
                },
                clearDirectCostInput:function() {
                    var self = this;
                    self.set("selectedId", "");

                    //self.set("selectedCostYear", "");
                    self.set("selectedDateStarted", "");
                    self.set("selectedDateEnded", "");
                    self.set("selectedBudgetStatus", "");
                    self.set("selectedCurrentYearDirectCosts", "");
                    self.set("selectedTotalDirectCosts", "");
                },
                cancel:function() {
                    var self = this;
                    self.clearDirectCostInput();
                    self.set("addDirectCostsSectionVisible", false);
                    self.set("hideAddDirectCostButton", true);
                },
                //This event handled the GRID ROW seledtion
                gridRowSelection : function(e) {
                    e.preventDefault();
                    var self = this;
                    var kendoGrid = $("#costInformationGrid").data("kendoGrid");
                    var selectedRow = kendoGrid.select();
                    var selected = kendoGrid.dataItem(selectedRow);

                    if (selected !== null) {
                        //alert(JSON.stringify(selected.budgetPeriodStatusId));          //For Deubbing 
                        self.set("selectedId", selected.id);

                        //self.set("selectedCostYear", selected.costYear);
                        self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                        self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);

                        self.set("selectedCurrentYearDirectCosts", selected.currentYearDirectCosts);
                        self.set("selectedBudgetStatus", selected.budgetPeriodStatusId);
                        self.set("selectedTotalDirectCosts", selected.totalDirectCosts);
                    }
                    self.set("addDirectCostsSectionVisible", true);
                    self.set("hideAddDirectCostButton", false);
                },
               
            },@(Html.ToJson(Model))));
            //window.console && console.log("MVN is here Out of ViewModel!!!");
            //window.console && console.log(editCostInfoVm);
            kendo.bind($("#editCostInfo-view"), editCostInfoVm);
            $("#costInformationGrid").data("kendoGrid").hideColumn(0);
        })
</script>