﻿@using TraineeTrackingSystem.Web.Common
@model FundingViewModel

<div id="editFundingBasicInfo-view" data-role="validator" novalidate="novalidate">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <label class="control-label osu-standard">Title*:</label>
    <div class="box-col">
        <textarea id="titleEditor" name="titleEditor" data-bind="value:title" style="width: 480px; height:200px;"></textarea>
        <span class="k-invalid-msg" data-for="titleEditor"></span>
    </div>

    <label class="control-label osu-standard" for="institutionAutoComplete">Sponsor: </label>
    <input type="text"
           id="institutionAutoComplete"
           name="institutionAutoComplete"
           placeholder="type an institution name (at least three characters) "
           data-bind="value: sponsorName" />
    @*<input id="institutionAutoComplete"
           data-role="autocomplete"
           data-placeholder="type a sponsor name (at least four characters)"
           data-min-length="4"
           data-filter="contains"
           data-value-primitive="true"
           data-text-field="Name"
           data-bind="value: sponsorName,source: institutions" />

    <button data-role="button"
            data-bind="events: { click: addNewInstitution }">
        Add New
    </button>*@


    <label class="control-label osu-standard">Sponsor Reference Number (if known):</label>
    <input type="text" placeholder="enter reference number" data-bind="value:sponsorReferenceNumber" />

    <label class="control-label">Status*:</label>
    <input id="statusDropDown" name="statusDropDown" data-role="dropdownlist"
           data-option-label="select funding status"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: fundingStatusId, source: fundingStatusName">
    <span class="k-invalid-msg" data-for="statusDropDown"></span>

    @*<div id="newInstitutionWindow" data-bind="visible:addNewInstitutionSectionVisible">
        <div>
            <label class="control-label" for="newInstitutionNameField">Name*:</label>
            <input id="newInstitutionNameField" name="newInstitutionNameField" class="add listing" type="text"
                   data-bind="value: newInstitutionName" placeholder=" enter sponsor name" />
            <span class="k-invalid-msg" data-for="newInstitutionNameField"></span>
        </div>
        <div>
            <label class="control-label" for="newInstitutionCityField">City*:</label>
            <input id="newInstitutionCityField" name="newInstitutionCityField" class="add listing" type="text"
                   data-bind="value: newInstitutionCityName" placeholder=" enter sponsor's city" />
            <span class="k-invalid-msg" data-for="newInstitutionCityField"></span>
        </div>

        <div>
            <label class="control-label">State/Province:</label>
            <input id="newInstitutionStateDropDown" data-role="dropdownlist"
                   data-option-label="select state"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionState,source: states" />
            <span class="k-invalid-msg" data-for="newInstitutionStateDropDown"></span>
        </div>
        <div>
            <label class="control-label">Country*:</label>
            <input id="newInstitutionCountryDropDown" name="newInstitutionCountryDropDown" data-role="dropdownlist"
                   data-option-label="select country"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionCountry,source: countries" />
            <span class="k-invalid-msg" data-for="newInstitutionCountryDropDown"></span>
        </div>
        <div>
            <button class="add-section save" data-bind="click: saveNewInstitution">Save</button>
            <button class="add-section cancel" data-bind="click: cancelNewInstitution">Cancel</button>
        </div>
    </div>*@


    <label class="control-label osu-standard">GRT Number:</label>
    <input type="text" placeholder="enter GRT number" data-bind="value:grtNumber" />

    <label class="control-label" for="fundingTypeDropDown">Funding Type*:</label>
    <input id="fundingTypeDropDown" data-role="dropdownlist"
           data-option-label="select funding type"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: fundingTypeId,source: fundingTypes" />
    <span class="k-invalid-msg" data-for="fundingTypeDropDown"></span>


    @*<label class="control-label">Renewal: </label>
        <div class="radio-group">
            <label><input type="radio" name="IsRenewal" value="true" data-bind="checked: isRenewal" />Yes</label>
            <label><input type="radio" name="IsRenewal" value="false" data-bind="checked: isRenewal" />No</label>
        </div>*@
    

    @*<label class="control-label" for="projectedStartDate">Projected Start Date:</label>
    <input type="text" data-role='datepicker' id="projectedStartDate" name="projectedStartDate" data-type="date"
           data-format="yyyy-MM-dd" data-bind="value:dateProjectedStart" 
           data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
    <span data-for='projectedStartDate' class='k-invalid-msg'></span>
    
    <label class="control-label" for="projectedEndDate">Projected End Date:</label>
    <input type="text" data-role='datepicker' id="projectedEndDate" data-type="date" name="projectedEndDate" 
           data-greaterdate-field="projectedStartDate" data-greaterdate-msg='Projected End Date should be after Projected Start Date.'
           data-format="yyyy-MM-dd" data-bind="value:dateProjectedEnd" 
           data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
    <span data-for='projectedEndDate' class='k-invalid-msg'></span>*@
   
    <div id="ProjectDateInfoSection" hidden="@ViewBag.IsNotPending">
        <label class="control-label" for="projectedStartDate">Projected Start Date:</label>
        <input type="text" data-role='datepicker' id="projectedStartDate" name="projectedStartDate" data-type="date"
               data-format="yyyy-MM-dd" data-bind="value:dateProjectedStart"
               data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
        <span data-for='projectedStartDate' class='k-invalid-msg'></span>

        <label class="control-label" for="projectedEndDate">Projected End Date:</label>
        <input type="text" data-role='datepicker' id="projectedEndDate" data-type="date" name="projectedEndDate"
               data-greaterdate-field="projectedStartDate" data-greaterdate-msg='Projected End Date should be after Projected Start Date.'
               data-format="yyyy-MM-dd" data-bind="value:dateProjectedEnd"
               data-kiui-date placeholder=" YYYY-MM-DD" validationmessage="This field is required in the following format: YYYY-MM-DD" />
        <span data-for='projectedEndDate' class='k-invalid-msg'></span>
    </div>




    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: saveGeneralInformation" /> </span>
    </div>
</div>

@*<div class="status">
    </div>*@

<script>
    $(document).ready(function () {
        //////// THIS -> validated the date fields 
        //////$(function () {
        //////    var container = $("#editFundingBasicInfo-view");
        //////    kendo.init(container);
        //////    container.kendoValidator({
        //////        rules: {
        //////            greaterdate: function (input) {
        //////                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() < date.getTime();
        //////                }

        //////                return true;
        //////            },
        //////            lessdate: function (input) {
        //////                if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() > date.getTime();
        //////                }

        //////                return true;
        //////            }
        //////        }
        //////    });
        //////});

        $("#titleEditor").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                },
                // More tools can be added here...
            ]
        });

        $("#institutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#institutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#institutionAutoComplete").val("");                    
                } else {
                    $("#institutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        var fundingViewModel = kendo.observable($.extend({

            //addNewInstitutionSectionVisible:false,
            updated: false,
            searchCount: -1,
            noResultVisisble: false,
            resultVisisble: false,

            // THIS => function to be used in the institutionAutoComplete
            @*institutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            
            //clearNewInstitutionInput:function() {
            //    var self = this;
            //    self.set("newInstitutionName", "");
            //    self.set("newInstitutionCityName", "");
            //    self.set("newInstitutionState", "");
            //    self.set("newInstitutionCountry", "");
            //},
            
            saveGeneralInformation : function() {
                var self = this;

                var validationMsg = "This field is required";
                var validator = $("#editFundingBasicInfo-view").kendoValidator(
                    {
                        rules: {
                            titleeditor: function (input) {
                                if (input.is("[name=titleEditor]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            statusdropdown: function (input) {
                                if (input.is("[name=statusDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                        },
                        messages: {
                            titleeditor: validationMsg,
                            statusdropdown: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData ={
                        fundingId: self.fundingId,
                        title: self.title,

                        sponsorName: self.sponsorName,
                        
                        sponsorReferenceNumber: self.sponsorReferenceNumber,
                        fundingStatusId: self.fundingStatusId,
                        grtNumber: self.grtNumber,
                        fundingTypeId: self.fundingTypeId,                        
                        dateProjectedStart: self.dateProjectedStart,
                        dateProjectedEnd: self.dateProjectedEnd,
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Funding/UpdateGeneralInformation")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            //toastr.success('Info - Update succeeded!');
                            //location.reload();
                            toastr.success('Update successful! Refreshing page...');
                            location.reload();
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                    //location.reload();
                }
            },

            //addNewInstitution:function() {
            //    var self = this;
            //    //self.set("addNewInstitutionSectionVisible", true);
            //    var window = $('#newInstitutionWindow');
            //    if (!window.data("kendoWindow")) {
            //        window.kendoWindow({
            //            title: "Add New Sponsor ",
            //            width: "800px",
            //            height: "400px",
            //            actions: [
            //                "Pin",
            //                "Minimize",
            //                "Maximize",
            //                "Close"
            //            ]
            //        });
            //    }
            //    if (!window.data("kendoWindow").options.visible) {
            //        window.data("kendoWindow").open().center();
            //    } else {
            //        window.data("kendoWindow").center();
            //    }
            //},
            //cancelNewInstitution:function() {
            //    var window = $('#newInstitutionWindow');
            //    window.data("kendoWindow").close();
            //},
            @*saveNewInstitution:function() {
                var self = this;
                var validationMsg = "This field is required";
                var validator = $("#newInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newinstitutionname: function (input) {
                                if (input.is("[name=newInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncity: function (input) {
                                if (input.is("[name=newInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncountry: function (input) {
                                if (input.is("[name=newInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newinstitutionname: validationMsg,
                            newinstitutioncity: validationMsg,
                            newinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newInstitutionName,
                        City: self.newInstitutionCityName,
                        StateId: self.newInstitutionState != null ?
                            self.newInstitutionState.key : null,
                        CountryId: self.newInstitutionCountry != null ?
                            self.newInstitutionCountry.key : null,
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Sponsor failed!');
                        },
                        success: function (value) {
                            toastr.success('New Sponsor added!');

                            if (self.newInstitutionName.length > 0) {
                                self.set("sponsorName", self.newInstitutionName);
                            }
                            
                            self.clearNewInstitutionInput();
                            var window = $('#newInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            }*@
        },@(Html.ToJson(Model))));
        //console.log(fundingViewModel);
        kendo.bind($("#editFundingBasicInfo-view"), fundingViewModel);
    })
</script>
