﻿@using TraineeTrackingSystem.Web.Common
@model FundingsViewModel

<div class="content form">
    <article class="content">
        <div id="fundingBasicInfo-view">
            <fieldset name="collectFundingBasicInfo" id="collectFundingBasicInfo" class="two-column-fields">
                <input id="reseachId" type="hidden" data-bind="value: selectedId" />
                <h1 class="section-title">Search Existing Funding</h1>
                <label class="control-label">PI/PD* :</label>
                <input id="piListDropDown" name="piListDropDown" required data-role="dropdownlist"
                       data-option-label="select PI/PD"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedFullName, source: fundingFacultiesList" validationmessage="This field is required">


                <label class="control-label osu-standard" for="institutionAutoComplete">Sponsor : </label>
                <input type="text"
                       id="institutionAutoComplete"
                       name="institutionAutoComplete"
                       placeholder="type an institution name (at least three characters) "
                       data-bind="value: selectedInstitution" />
                @*<input id="institutionAutoComplete"
                    data-role="autocomplete"
                    data-placeholder="type a sponsor name (at least four characters) "
                    data-min-length="4"
                    data-filter="contains"
                    data-value-primitive="true"
                    data-text-field="Name"
                    data-bind="value: selectedInstitution,source: institutions" />*@

                @*<button data-role="button"
                            data-bind="events: { click: addNewInstitution }">
                        Add New
                    </button>*@


                @*<div id="newInstitutionWindow" data-bind="visible:addNewInstitutionSectionVisible">

                        <div>
                            <label class="control-label" for="newInstitutionNameField">Name*:</label>
                            <input id="newInstitutionNameField" name="newInstitutionNameField" class="add listing" type="text" data-bind="value: newInstitutionName" placeholder="enter sponsor name" required validationmessage="Name is required" />
                            <span class="k-invalid-msg" data-for="newInstitutionNameField"></span>
                        </div>

                        <div>
                            <label class="control-label" for="newInstitutionCityNameField">City*:</label>
                            <input id="newInstitutionCityNameField" name="newInstitutionCityNameField" class="add listing" type="text" data-bind="value: newInstitutionCityName" placeholder="enter sponsor's city" required validationmessage="City is required" />
                            <span class="k-invalid-msg" data-for="newInstitutionCityNameField"></span>
                        </div>

                        <div>
                            <label class="control-label">State/Province:</label>
                            <input id="newInstitutionStateDropDown" data-role="dropdownlist"
                                   data-option-label="select state/province"
                                   data-auto-bind="true"
                                   data-text-field="value"
                                   data-value-field="key"
                                   data-bind="value: newInstitutionState,source: states" />
                            <span class="k-invalid-msg" data-for="newInstitutionStateDropDown"></span>
                        </div>

                        <div>
                            <label class="control-label">Country*:</label>
                            <input id="newInstitutionCountryDropDown" name="newInstitutionCountryDropDown" data-role="dropdownlist"
                                   data-option-label="select country"
                                   data-auto-bind="true"
                                   data-text-field="value"
                                   data-value-field="key"
                                   data-bind="value: newInstitutionCountry,source: countries" required validationMessage="Country is required"/>
                            <span class="k-invalid-msg" data-for="newInstitutionCountryDropDown"></span>
                        </div>
                        <div>
                            <button class="add-section save" data-bind="click: saveNewInstitution">Save</button>
                            <button class="add-section cancel" data-bind="click: cancelNewInstitution">Cancel</button>
                        </div>
                    </div>*@

                <label class="control-label osu-standard">Title*:</label>
                <div class="box-col">
                    <textarea id="editor" name="title" data-bind="value:selectedTitle" style="width: 480px; height:200px;" required validationmessage="This field is required"></textarea>

                    <span class="help-inline">
                        <span class="k-invalid-msg" data-for="title" validationmessage="This field is required"></span>
                    </span>
                </div>

                <label class="control-label osu-standard">GRT Number:</label>
                <input type="text" placeholder="enter GRT number" data-bind="value:selectedGRTNum" />

                <label class="control-label" for="fundingTypeDropDown">Funding Type*:</label>
                <input id="fundingTypeDropDown" data-role="dropdownlist"
                       data-option-label="select funding type"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedFundingTypeId,source: fundingTypes" required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="fundingTypeDropDown"></span>


                @*<label class="control-label">Renewal: </label>
                    <div class="radio-group">
                        <label><input type="radio" name="IsRenewal" value="true" data-bind="checked: selectedIsRenewal" />Yes</label>
                        <label><input type="radio" name="IsRenewal" value="false" data-bind="checked: selectedIsRenewal" />No</label>
                    </div>*@


                @*<div id="showSearch" data-bind="visible: selectedFullName">
                        <input class="add button" type="button" value="Search" data-bind="click: searchForFundings" />
                    </div>*@

                <div data-bind="invisible: isDisabled">
                    <input class="add button" type="button" value="Search Funding" data-bind="click: searchForFundings" />
                </div>


                <div id="peopleSearchGrid" data-bind="visible: searchCount>0">
                </div>
                <div id="peopleFound" data-bind="visible: resultVisisble">
                    <span>
                        If the Funding record is in the list, click the row to open and edit it's information. <br /><br />
                        Otherwise, enter required fields above, and click 'Create' to make a new Funding record.
                    </span>
                    <input class="add button" type="button" value="Create New Funding" data-bind="click: createFunding" />
                </div>


                <div id="nopeopleFound" data-bind="visible: noResultVisisble">
                    <span>
                        No matching Funding records found.<br /><br />
                        Enter required fields above, and click 'Create' to make a new Funding record.
                    </span>
                    <input class="add button" type="button" value="Create New Funding" data-bind="click: createFunding" />
                </div>

            </fieldset>
        </div>
    </article>
</div>

<script>

    $(document).ready(function () {
        $("#editor").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                },
                // More tools can be added here...
            ]
        });

        $("#institutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#institutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#institutionAutoComplete").val("");
                } else {
                    $("#institutionAutoComplete").data("kendoAutoComplete").value();
                }
            }
        });//kendoAutoComplete

        var fundingsVm = kendo.observable($.extend({
            //addNewInstitutionSectionVisible:false,
            updated: false,
            searchCount: -1,
            noResultVisisble: false,
            resultVisisble: false,
            //selectedFullName: false,

            cancelCreateFunding: function () {
                var self = this;
                window.location = '@Url.Content("~/Funding/Index/")';
            },

            @*institutions: new kendo.data.DataSource({
                                type: "json",
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                                        datatype:"json",
                                        data: {
                                            name: function(){
                                                return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                                            }
                                        }
                                    }
                                }
                            }),*@
            clearInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedFullName", "");
                self.set("selectedInstitution", "");
                self.set("selectedTitle", "");
                self.set("fundingTypeId", "");
            },
            clearNewInstitutionInput:function() {
                var self = this;
                //self.set("newInstitutionName", "");
                self.set("newInstitutionCityName", "");
                self.set("newInstitutionState", "");
                self.set("newInstitutionCountry", "");
            },
            createFunding: function (e) {
                var self = this;
                //Test - TODO: to remove
                window.console && console.log(self);
                //window.console && console.log(sponsorId),
                var validator = $("#collectFundingBasicInfo").kendoValidator().data("kendoValidator");
                if (self.selectedTitle === null || self.selectedFundingTypeId === null || self.selectedFundingTypeId === 0){
                    validator.validate();
                }else{
                    var updateData = {
                        Id: self.selectedId,
                        //piFacultyId: self.selectedFullName.key,
                        //fullName: self.selectedFullName.value,
                        facultyId: self.selectedFullName.key,
                        facultyFullName: self.selectedFullName.value,
                        sponsorId: self.selectedInstitution != null?
                            self.selectedInstitution : null,

                        sponsorName: self.selectedInstitution != null?
                            self.selectedInstitution : null,
                        title: self.selectedTitle,
                        grtNumber: self.selectedGRTNum,
                        fundingTypeId: self.selectedFundingTypeId != null ? self.selectedFundingTypeId.key : 0
                        //fundingTypeId: self.selectedFundingTypeId
                        //isRenewal: self.selectedIsRenewal,
                    };
                    //Test - TODO: to remove
                    window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Funding/CreateFunding")',
                        //data: JSON.stringify(this.toJSON()),
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Create Funding failed!');
                        },
                        success: function (value) {
                            window.location = '@Url.Content("~/Funding/Edit/")' + value;
                            //toastr.success('Funding is created');
                        },
                        complete: function () {
                        }
                    });
                }

            },

            searchForFundings: function() {
                var self = this;

                //var validator = $("#fundingBasicInfo-view").kendoValidator().data("kendoValidator");
                //if(validator.validate()){
                var validator = $("#piListDropDown").kendoValidator().data("kendoValidator");
                if (self.selectedFullName === null){
                    validator.validate();
                }else{
                    var updateData = {
                        Id: self.selectedId,

                        //piFacultyId: self.selectedFullName.key,
                        //fullName: self.selectedFullName.value,
                        facultyId: self.selectedFullName.key,
                        facultyFullName: self.selectedFullName.value,

                        sponsorName: self.selectedInstitution,
                        title: self.selectedTitle,
                        grtNumber: self.selectedGRTNum,
                        fundingTypeId: self.fundingTypeId != null ? self.fundingTypeId.key : 0,
                        fundingType: self.fundingTypeId != null ? self.fundingTypeId.value : ""
                        //isRenewal: self.selectedIsRenewal,
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/CommonData/SearchForFundings")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            self.set("searchCount", value.length);
                            self.set("noResultVisisble", value.length === 0);
                            self.set("resultVisisble", value.length > 0);
                            $("#peopleSearchGrid").kendoGrid({
                                columns: [{
                                    field: "PiFullName",
                                    title: "PI"
                                }, {
                                    field: "SponsorName",
                                    title: "Sponsor"
                                }, {
                                    field: "Title",
                                    template: '<a href="Edit/#=Id#">#=Title#</a>',
                                    title: "Title"

                                }, {
                                    field: "FundingType",
                                    title: "Funding Type"
                                }],
                                dataSource: {
                                    data: value
                                }
                            });
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            //addNewInstitution:function() {
            //    var self = this;
            //    //self.set("addNewInstitutionSectionVisible", true);
            //    var window = $('#newInstitutionWindow');
            //    if (!window.data("kendoWindow")) {
            //        window.kendoWindow({
            //            title: "Add New Sponsor ",
            //            width: "800px",
            //            height: "400px",
            //            actions: [
            //                "Pin",
            //                "Minimize",
            //                "Maximize",
            //                "Close"
            //            ]
            //        });
            //    }
            //    if (!window.data("kendoWindow").options.visible) {
            //        window.data("kendoWindow").open().center();
            //    } else {
            //        window.data("kendoWindow").center();
            //    }
            //},
            //cancelNewInstitution:function() {
            //    var window = $('#newInstitutionWindow');
            //    window.data("kendoWindow").close();
            //},
            @*saveNewInstitution:function() {
                                var self = this;
                                // institution name field => add new popup
                                var newInstituion = self.newInstitutionName;
                                var validator = $("#newInstitutionWindow").kendoValidator().data("kendoValidator");
                                if(validator.validate()){
                                    var updateData = {
                                        Name: self.newInstitutionName,
                                        City: self.newInstitutionCityName,
                                        StateId: self.newInstitutionState != null ?
                                            self.newInstitutionState.key : null,
                                        CountryId: self.newInstitutionCountry != null ?
                                            self.newInstitutionCountry.key : null,
                                    };
                                    $.ajax({
                                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                                        data: JSON.stringify(updateData),
                                        contentType: "application/json, charset=utf-8",
                                        type: "POST",
                                        datatype: "json",
                                        error: function () {
                                            toastr.error('Add New Sponsor failed!');
                                        },
                                        success: function (value) {
                                            toastr.success('New Sponsor added');
                                            self.clearNewInstitutionInput();
                                            var window = $('#newInstitutionWindow');
                                            window.data("kendoWindow").close();
                                            // validate empty field
                                            if (newInstituion.length != 0){
                                                self.setInstitutionToNew(newInstituion);
                                            }
                                        }
                                    });
                                }
                            },*@
            // invoke by selected Institution field
            //setInstitutionToNew:function(newInstitution){
            //    var self = this;
            //    self.set("selectedInstitution", newInstitution);
            //},
        },@(Html.ToJson(Model))));
        kendo.bind($("#fundingBasicInfo-view"), fundingsVm);
    })
</script>

