﻿@model IEnumerable<Search_VwFundingDemographics>

<div id="clientsDb">
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.PiFullName).Title("PI").Width(40);
            columns.Bound(c => c.SponsorName).Title("Sponsor").Width(40);
            columns.Bound(c => c.Title).ClientTemplate(@Html.ActionLink("#=Title#", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Title("Title").Width(50);
            columns.Bound(c => c.FundingStatus).Title("Status").Width(30);
            columns.Bound(c => c.DisplayStartDate).Format("{0:MM/dd/yyyy}").Title("Start Date").Width(60);
            columns.Bound(c => c.DisplayEndDate).Format("{0:MM/dd/yyyy}").Title("End Date").Width(60);
            //columns.Bound(c => c.DateTimeFundingStarted).Format("{0:MM/dd/yyyy}").Title("Start Date").Width(60);
            //columns.Bound(c => c.DateTimeFundingEnded).Format("{0:MM/dd/yyyy}").Title("End Date").Width(60);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        
        .Scrollable(scrollable => scrollable.Height(357))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(selectItem => selectItem.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            // per customer request => 5
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(model =>
                             {
                                 model.Id(i => i.Id);
                                 model.Id(i => i.PiFacultyId);
                             })
                .Sort(sort =>
                {
                    sort.Add(pi => pi.PiFullName).Descending(); // <-- intial sort expression
                    sort.Add(sponsorName => sponsorName.SponsorName).Descending();
                    sort.Add(title => title.Title).Descending();
                    sort.Add(fundstatus => fundstatus.FundingStatus).Descending();
                    sort.Add(startFundingDate => startFundingDate.DateTimeFundingStarted).Descending();
                    sort.Add(endFundingDate => endFundingDate.DateTimeFundingEnded).Descending();
                })
                .Read(read => read.Action(/* action */"Fundings_Read", /* controller */ "Funding"))
                // Per customer request => 50
                .PageSize(50)
            )
    )
</div>
<script>
    $(function () {
        // Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>

