﻿@using TraineeTrackingSystem.Web.Common
@model FundingProgramProjectsViewModel

<div id="editProgramProject-view">
    <input id="researchId" type="hidden" data-bind="value:selectedId" />

    <script type="text/x-kendo-template" id="funding-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")/Funding/Edit/#= projectId #'>
                    View Project*
                </a>
            </span>
        </div>
    </script>

    <label class="control-label">Program Director:</label>
    <input id="programDirectorDropDown" name="programDirectorDropDown" data-role="dropdownlist"
           data-option-label="select program director of this program"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: programDirectorId, source: programDirectors" />


    <div class="grid-note">
        These are Associated Projects that share the same GRT Number as this Program.
        <br /><br />
        <b>*</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="programProjectGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                        { 'field': 'projectId'},
                        {title:'PD/PI','field': 'piFullName'},
                        {title:'Title','field': 'title'},
                        {title:'Start Date','field': 'dateStartedText'},
                        {title:'End Date','field': 'dateEndedText'},
                        {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                        {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                        {title:'Action', 'width': '130px', template:kendo.template($('#funding-viewLink').html() ) }
         ]"
         data-bind="source: programProjects">
    </div>


    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: saveProgramProjectInfo" /> </span>
    </div>

</div>
<script>
    $(document).ready(function () {

        var programProjectVm = kendo.observable($.extend({
            updated  : false,
            saveProgramProjectInfo: function() {
                var self = this;

                var validator = $("#editProgramProject-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        id: self.fundingId,
                        programProjectPdId: self.programDirectorId,

                        // MVN - added tracking user activity 
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/Funding/SaveUpdateProgramProjectInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Program Project update failed!');
                        },
                        success: function (value) {
                            // MVN - added tracking user activity feature 
                            selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                            selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                            toastr.success('Program Project Information updated');
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }
            },
        },@(Html.ToJson(Model))));

        //window.console && console.log(programProjectVm);
        kendo.bind($("#editProgramProject-view"), programProjectVm);
        $("#programProjectGrid").data("kendoGrid").hideColumn(0);
    })
</script>