﻿@using TraineeTrackingSystem.Web.Common
@model FundingSubAwardViewModel

<div id="editSubAward-view">
    <input id="researchId" type="hidden" data-bind="value:selectedId" />

    <label class="control-label osu-standard">Prime Award Number:</label>
    <input type="text" placeholder="enter prime award number" data-bind="value:primeAwardNumber" />

    <label class="control-label osu-standard" for="primeSponsorAutoComplete">Prime Sponsor:</label>
    <input id="primeSponsorAutoComplete"
           data-role="autocomplete"
           data-placeholder="type a sponsor name (at least three characters) "
           data-min-length="3"
           data-filter="contains"
           data-value-primitive="true"
           data-text-field="Name"
           data-bind="value: primeSponsorName, source: allPrimeSponsors" />

    <label class="control-label">Prime Award PI:</label>
    <input id="primeAwardPIDropDown" name="primeAwardPIDropDown" data-role="dropdownlist"
           data-option-label="select prime award pi"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: primeAwardPIId, source: primaryInvestigators" />

    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: saveSubAwardInfo" /> </span>
    </div>

</div>
<script>
    $(document).ready(function () {

        var subAwardVm = kendo.observable($.extend({
            updated  : false,
            allPrimeSponsors: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#primeSponsorAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),
            saveSubAwardInfo: function() {
                var self = this;

                var validator = $("#editSubAward-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        id: self.id,
                        primeAwardNumber: self.primeAwardNumber,
                        PrimeSponsorName: self.primeSponsorName,
                        primeAwardPIId: self.primeAwardPIId,
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Funding/SaveUpdateSubAwardInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Prime Information update failed!');
                        },
                        success: function (value) {
                            location.reload();
                            toastr.success('Prime Information updated');
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }
            },
        },@(Html.ToJson(Model))));

        //window.console && console.log(subAwardVm);
        kendo.bind($("#editSubAward-view"), subAwardVm);
    })
</script>