﻿<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Funding Form</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        <div id="funding-view">

            <fieldset name="collectFundingBasicInfo" id="collectFundingBasicInfo" class="two-column-fields">
                <label class="control-label">Are you creating an Institutional Training Grant?</label>
                <a type="button"
                   class="btn"
                   href="#article-editor"
                   data-toggle="modal">Yes</a>
               
                <div class="section-admin">
                    @using (Html.BeginForm("Create", "Funding"))
                    {
                        <button type="submit" class="btn btn-primary">No</button>
                    }
                </div>
                <div class="modal fade" id="article-editor">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3>Warning!!!!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Please add Institutional Training Grants in the Training Grants area.</p>
                    </div>
                    <div class="modal-footer">
                       
                        <div class="section-admin">
                            @using (Html.BeginForm("Index", "TrainingGrant"))
                            {
                                <button type="submit" class="abtn btn-primary">OK</button>
                            }
                        </div>

                        @*<div class="section-admin">
                            @using (Html.BeginForm("Create", "Funding"))
                            {
                                <button type="submit" class="abtn btn-primary">Next to Continue...!</button>
                            }
                        </div>*@
                    </div>
                </div>
            </fieldset>
        </div>
    </article>
</div>

