﻿@using TraineeTrackingSystem.Web.Common;
@model EditFundingViewModel
@{
    ViewBag.Title = "Create Funding";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Funding Form</h1>
    </div>
</div>
@{Html.RenderPartial("_FundingInformation", Model.FundingInformations);}
