﻿@model EditFundingViewModel
@{
    ViewBag.Title = "Edit Funding";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Funding Form</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">General Information</h1>
        <div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.FundingGeneralViewModel.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.FundingGeneralViewModel.StrLastUpdatedBy)) </p>
        </div>     
        @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.FundingGeneralViewModel.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.FundingGeneralViewModel.LastUpdatedBy)) </p>*@ 
        <fieldset name="editFundingGeneralInfo" id="editFundingGeneralInfo" class="two-column-fields">
            @{Html.RenderPartial("_AutoPopulateFundingGeneralInfo", Model.FundingGeneralViewModel);}
        </fieldset>

        <div id="ParticipatingSection" hidden="@ViewBag.IsParticipatingHidden">

            <h1 class="section-title">Participating Faculty and Their Roles</h1>
            @*<fieldset name="editFundingParticipatingAwardInfo" id="editFundingParticipatingAwardInfo" class="two-column-fields">*@
            <fieldset name="editFundingSupportInfo" id="editFundingSupportInfo" class="two-column-fields">
                @*@{Html.RenderPartial("_AutoPopulateFundingParticipatingAwardInfo", Model.FacultySupportGridView);}*@
                @{Html.RenderPartial("_AutoPopulateFundingSupportInfo", Model.FacultySupportGridView);}
            </fieldset>   
        
        </div>
        

        <div id="ProgramProjectSection" hidden="@ViewBag.IsProgramProjectHidden">

            <h1 class="section-title">Program Director and Projects Under This Program</h1>
            <fieldset name="editProgramProjects" id="editProgramProjects" class="two-column-fields">
                @{Html.RenderPartial("_FundingProgramProject", Model.ProgramProjectsGridView);}
            </fieldset>

        </div>

        <div id="PrimeInformationSection" hidden="@ViewBag.IsPrimeInfoHidden">

            <h1 class="section-title">Prime Information</h1>
            <div id="hideLastUpdateInfo" hidden="@ViewBag.PrimeLastUpdated">
                <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.SubAwardGridView.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.SubAwardGridView.StrLastUpdatedBy)) </p>
            </div>
                <fieldset name="editSubAward" id="editSubAward" class="two-column-fields">
                    @{Html.RenderPartial("_FundingSubAward", Model.SubAwardGridView);}
                </fieldset>

            </div>

        <div id="AwardInformationSection" hidden="@ViewBag.IsAwardInfoHidden">
            <h1 class="section-title">Award Information</h1>
            <div id="hideLastUpdateInfo" hidden="@ViewBag.AwardLastUpdated">
                <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.AwardInformationView.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.AwardInformationView.StrLastUpdatedBy)) </p>
            </div>
               
                <fieldset name="editFundingAwardInfo" id="editFundingAwardInfo" class="two-column-fields">
                    @{Html.RenderPartial("_AutoPopulateFundingAwardInfo", Model.AwardInformationView);}
                </fieldset>
            </div>
        <div id="CostInformationSection" hidden="@ViewBag.IsCostInfoHidden">
            <h1 class="section-title">Cost Information</h1>
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.CostInformationGridView.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.CostInformationGridView.LastUpdatedBy)) </p>*@
            <fieldset name="editFundingCostInfo" id="editFundingCostInfo" class="two-column-fields">
                @{Html.RenderPartial("_AutoPopulateFundingCostInfo", Model.CostInformationGridView);}
            </fieldset>
        </div>
        <!--DONE WITH FORM BUTTON-->
        @*<input class="submit done" type="submit" value="Done" />*@
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        This action will take you to the menu, and unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button class="add-section" onclick="window.location = '@Url.Content("~/Funding/Index/")'">OK</button>
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
</article>
</div>