﻿@model IEnumerable<Search_VwFundingDemographics>
@using TraineeTrackingSystem.Web.Models;
@{
    ViewBag.Title = "Funding Index";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Funding</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @*@if (SecurityControl.IsAdminUser(this.User) ||
                     SecurityControl.IsEditUser(this.User)){*@
        @if (SecurityControl.IsReaderUser(this.User)){
            <div class="section-admin">
                @using (Html.BeginForm("AddFunding", "Funding"))
                {
                    <button type="submit" class="add-item program">+ Add Funding</button>
                }
            </div>

            <div class="wide-grid">
                <div id="clientsDb">
                    @{Html.RenderPartial("_FundingLandingPage", Model);}
                </div>
            </div>
        }
    </article>
</div>
