﻿@using TraineeTrackingSystem.Web.Models;

@model IEnumerable<ApplicationSettingSimple>

@{
    ViewBag.Title = "Trainee Tracking System";
}



<div class="content">
    <article class="content admin-options rm">
        <h1 class="article-title">You have administrative access to the following:</h1>

        @foreach (var item in Model)
        {


            <div class="admin-button">
                <span class="app-admin-title">@item.ApplicationName</span>
                <a class="app-admin-link" href="@item.AdminUrl"><span class="link-text">Go to Admin</span></a>
            </div>
        }

    </article>
</div>


<script>

    $(document).ready(function () {

        $('#topAdminLink').addClass('active');
    });


</script>
