﻿@using System.Configuration
@using TraineeTrackingSystem.Web.Models


@using Microsoft.AspNet.Identity;
@using TraineeTrackingSystem.Web.Models;

@{
    ViewBag.Title = "Honey Badger";
}

@*@if (Request.IsAuthenticated)
{
    <nav id="home-buttons">
        <ul class="home-nav">
            <li><a href="@Url.Action("Index", "TrainingGrant", null, "http")"><span class="training-grants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Training Grants</span></a></li>
            <li><a href="@Url.Action("Index", "Funding", null, "http")"><span class="funding"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Funding</span></a></li>
            <li><a href="@Url.Action("Index", "Applicant", null, "http")"><span class="applicants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Applicants</span></a></li>
            <li><a href="@Url.Action("Index", "Faculty", null, "http")"><span class="faculty"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Faculty</span></a></li>  
            <li><a href="@Url.Action("Index", "Mentee", null, "http")"><span class="mentees"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Mentees</span></a></li>  
            <li><a href="@Url.Action("Index", "Report", null, "http")"><span class="reports"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Reports</span></a></li>
            <li><a href="@Url.Action("Index", "Admin", null, "http")"><span class="admin"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Admin</span></a></li> 
        </ul>
    </nav>
}*@
@*@if (Request.IsAuthenticated){

    string _controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToLower();
    string _action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();*@
<div class="content">
    <article class="content">
        <nav id="home-buttons">
            <ul class="home-nav">
                @if (SecurityControl.IsAdminUser(this.User)){
                    <li><a href="@Url.Action("Index", "TrainingGrant", null, "http")"><span class="training-grants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Training Grants</span></a></li>
                    <li><a href="@Url.Action("Index", "Funding", null, "http")"><span class="funding"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Funding</span></a></li>
                    <li><a href="@Url.Action("Index", "Applicant", null, "http")"><span class="applicants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Applicants</span></a></li>
                    <li><a href="@Url.Action("Index", "Faculty", null, "http")"><span class="faculty"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Faculty</span></a></li>
                    <li><a href="@Url.Action("Index", "Mentee", null, "http")"><span class="mentees"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Mentees</span></a></li>
                    <li><a href="@Url.Action("Index", "Report", null, "http")"><span class="reports"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Reports</span></a></li>
                    <li><a href="@Url.Action("Index", "Admin", null, "http")"><span class="admin"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Admin</span></a></li>
                    <li><a href="@Url.Action("Index", "User", null, "http")"><span class="users"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Users</span></a></li>

                    @*<li><a href="@Url.Action("Index", "User", null, "http")"><span class="user"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Users</span></a></li>*@

                }    
                @if (SecurityControl.IsEditUser(this.User) && 
                    !SecurityControl.IsAdminUser(this.User)){
                    <li><a href="@Url.Action("Index", "TrainingGrant", null, "http")"><span class="training-grants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Training Grants</span></a></li>
                    <li><a href="@Url.Action("Index", "Funding", null, "http")"><span class="funding"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Funding</span></a></li>
                    <li><a href="@Url.Action("Index", "Applicant", null, "http")"><span class="applicants"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Applicants</span></a></li>
                    <li><a href="@Url.Action("Index", "Faculty", null, "http")"><span class="faculty"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Faculty</span></a></li>
                    <li><a href="@Url.Action("Index", "Mentee", null, "http")"><span class="mentees"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Mentees</span></a></li>
                    <li><a href="@Url.Action("Index", "Report", null, "http")"><span class="reports"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Reports</span></a></li>

                }

                @if (SecurityControl.IsReaderUser(this.User) && 
                    !SecurityControl.IsAdminUser(this.User) && 
                    !SecurityControl.IsEditUser(this.User)){
                    <li><a href="@Url.Action("Index", "Report", null, "http")"><span class="reports"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Reports</span></a></li>

                }
            </ul>
        </nav>   
    </article>
</div>
@*}*@ 
@*@if (Request.IsAuthenticated) {*@
 @*}*@
@*<li><a href="@Url.Action("Index", "Support", null, "http")"><span class="funding"><img src="~/Content/themes/OSUWMC/images/button-icons-sprite.png" alt="" /></span><span class="home-button-text">Non-NIH Support</span></a></li>*@
