﻿@model TraineeTrackingSystem.Data.Faculty

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*@using (Html.BeginForm()) 
{*@
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        <h4>Faculty</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, "PersonId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonId", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeId)
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyRankId, "FacultyRankId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FacultyRankId", String.Empty)
                @Html.ValidationMessageFor(model => model.FacultyRankId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryOrganizationId, "PrimaryOrganizationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PrimaryOrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.PrimaryOrganizationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondaryOrganizationId, "SecondaryOrganizationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecondaryOrganizationId", String.Empty)
                @Html.ValidationMessageFor(model => model.SecondaryOrganizationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherAffliliations, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherAffliliations)
                @Html.ValidationMessageFor(model => model.OtherAffliliations)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherTitles, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherTitles)
                @Html.ValidationMessageFor(model => model.OtherTitles)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
