﻿@model TraineeTrackingSystem.Data.Faculty

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherAffliliations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAffliliations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherTitles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherTitles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyRank.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyRank.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrganizationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization1.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization1.OrganizationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person1.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
