﻿@model IEnumerable<TraineeTrackingSystem.Data.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherAffliliations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherTitles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyRank.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.OrganizationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization1.OrganizationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person1.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherAffliliations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherTitles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyRank.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization1.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
