﻿@model IEnumerable<Search_VwPersonRoles>
@*@model IEnumerable<Search_VwLogins>*@
<div id="clientsDb">
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Username).Title("UserName").Width(40);
            //columns.Bound(c => c.FullName).ClientTemplate(@Html.ActionLink("#=FullName#", "Edit", new { PersonId = "#=PersonId#" }).ToHtmlString()).Title("Name").Width(50);
            columns.Bound(c => c.FullName).ClientTemplate(@Html.ActionLink("#=FullName#", "Edit", new { LoginId = "#=LoginId#" }).ToHtmlString()).Title("Name").Width(20);
            columns.Bound(c => c.RoleName).Title("Role").Width(40);
            columns.Bound(c => c.IsActive).Title("IsActive").Width(40);
            columns.Bound(c => c.DateLastUpdated).Format("{0:MM/dd/yyyy}").Title("DateLastUpdated").Width(60);

        })
        .HtmlAttributes(new { style = "height: 380px;" })

        .Scrollable(scrollable => scrollable.Height(357))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(selectItem => selectItem.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            // per customer request => 5
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(model =>
                             {
                                 model.Id(i => i.PersonId);
                                 model.Id(i => i.LoginId);
                             })
                .Sort(sort =>
                {
                    sort.Add(user => user.Username).Descending(); // <-- intial sort expression
                    sort.Add(userName => userName.FullName).Descending();
                    sort.Add(role => role.RoleName).Descending();
                    sort.Add(status => status.IsActive).Descending();
                    sort.Add(dateLastUpdate => dateLastUpdate.DateLastUpdated).Descending();
                })
                .Read(read => read.Action(/* action */"Users_Read", /* controller */ "User"))
                // Per customer request => 50
                .PageSize(50)
            )
    )
</div>
<script>
    $(function () {
        // Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
        //onsole.log(grid);
    });
</script>

