﻿@using TraineeTrackingSystem.Web.Common
@model UsersViewModel

<div id="userEditPage-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <label class="control-label" for="lastName">Last Name*:</label>
    <textarea id="lastName" name="lastName" rows="1" cols="1" wrap="hard"
              data-maxlength="75"
              data-maxlength-msg="You have exceeded the maximum number of 75 characters in this field."
              data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name">
    </textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="lastName"></span></span>




    <label class="control-label" for="firstName">First Name*:</label>
    <textarea id="firstName" name="firstName" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthfirstnamefield-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name">
    </textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>

    <label class="control-label" for="middleName">Middle Name:</label>
    <textarea id="middleName" name="middleName" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthmiddlenamefield-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="middleName"></span></span>

    <label class="control-label" for="externalId">Username*:</label>
    <textarea id="userName" name="userName" rows="1" cols="1" wrap="hard"
              data-maxlength="100"
              data-maxlengthusernamefield-msg="You have exceeded the maximum number of 100 characters in this field."
              data-bind="value: username, disabled: isDisabled" placeholder=" enter the MedCenter Id"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="userName"></span></span>

    <label class="control-label">Role*:</label>
    <input id="userRoleDropDown" name="userRoleDropDown" data-role="dropdownlist"
           data-option-label="select status"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: roleId, source: roles">
    <span class="k-invalid-msg" data-for="userRoleDropDown"></span>

    <label class="control-label" for="IsActive">Active User: </label>
    <div class="radio-group">
        <input type="radio" name="IsActive" value="true" data-bind="checked: isActive" /><label>Yes</label>
        <input type="radio" name="IsActive" value="false" data-bind="checked: isActive" /><label>No</label>
    </div>

    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: save" /> </span>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#lastName').on('keyup',function(){
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });

        $('#firstName').on('keyup',function(){
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleName').on('keyup',function(){
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#userName').on('keyup', function () {
            var characters = 100;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 100 characters in this field");
            }
        });

        @*$("#userRoleAutoComplete").kendoAutoComplete({
            dataTextField: "RoleName",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: RoleName #</span>',
            headerTemplate: '<div class="noDataMessage">Role not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetUserRoleList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#userRoleAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#userRoleAutoComplete").val("");
                } else {
                    $("#userRoleAutoComplete").data("kendoAutoComplete").value();
                }
            }
        });//kendoAutoComplete*@

        var userVm =kendo.observable($.extend({

            save : function() {
                var self = this;
                //console.log("in MVVM ");
                var userRoleDropdownSelection = $('#userRoleDropDown').data("kendoDropDownList").text();
                var userRoleId = $('#userRoleDropDown').data("kendoDropDownList").value();//.val();
                var validateMSG = "This field is required.";
                //alert(userRoleDropdownSelection);
                //self.set("roleId", self.roleId);
                //self.set("roles", self.roles); // SET state back to Dropdown object
                var validator = $("#userEditPage-view").kendoValidator(
                {
                    rules: {
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlength-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddleNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },

                        // validation rule without html data tag
                        usernamefield: function (textarea) {
                            if (textarea.is("[name=userName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        //validation rule with html data tag
                        maxlengthusernamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthusernamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        userroledropdown: function (input) {
                            if (input.is("[name=userRoleDropDown]")) {
                                //return input.val() === userRoleDropdownSelection; 
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        },
                        //userroledropdown: function (input) {
                        //    if (!input.is(":hidden")) {
                        //        return $.trim(input.val()) !== "";
                        //    }
                        //    return true;
                        //}
                    },
                    messages:{
                        employeefield:validateMSG,
                        lastnamefield:validateMSG,
                        firstnamefield: validateMSG,
                        usernamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxlengthusernamefield: "You have exceeded the maximum number of 100 characters in this field.",
                        userroledropdown:validateMSG
                    }
                }).data("kendoValidator");

                if(validator.validate()){
                    var strUserRole = userRoleDropdownSelection;
                    //if (self.roleId == null || self.roleId == ""){
                    //    strUserRole = "";
                    //}
                    if (self.roleId.key == null || self.roleId.key == ""){
                        strUserRole = "";
                    }
                   // alert(JSON.stringify(self));
                    var updateData = {
                        personId: self.personId,
                        loginId: self.loginId,
                        lastName: self.lastName,
                        firstName: self.firstName,
                        middleName: self.middleName,
                        username: self.username,
                        isActive: self.isActive,
                        //roleId: self.roleId != null ? self.roleId: null,
                        //roleId: self.roleId.key,//userRoleDropdownSelection.key,
                        roleId: userRoleId,
                        rolname: strUserRole,
                        personRoles: userRoleDropdownSelection


                    };
                    //console.log("I am in success");
                    console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/User/UpdateUser")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {

                            toastr.success('Update successful!');
                            // Commented out by Molley (5/20/2016) - page doesn't need to refresh
                            //location.reload();

                            ////var userObject= $.grep(self.userVM, function(e){
                            ////    return e.loginId == value.loginId;
                            ////});
                            ////if (userObject.length === 0) {
                            ////    self.roles.splice(0, value.roles.length);           // Clean the array
                            ////    for (var i = 0; i < value.length; i++) {
                            ////        value.roles.push({
                            ////            key: value[i].key,
                            ////        });
                            ////    }
                            ////    self.roles.push({
                            ////        key: value.roleId,               // Value from GRID
                            ////        value: value.rolname        // Value from GRID
                            ////    });
                            ////    self.set("roleId", value.roleId);
                            ////    self.set("roles", value.roles); // SET state back to Dropdown object
                            ////}
                            ////self.set("roleId", value.roleId);
                            ////self.set("roles", value.roles); // SET state back to Dropdown object
                            ////self.set("userVM", value.userVM);
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));
        //alert(JSON.stringify(userVm.isActive));
        kendo.bind($("#userEditPage-view"), userVm);
    })
</script>