﻿
@{
    ViewBag.Title = "Create User";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">User Management</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        <div id="createUserManageMentRequest-view">

            <h1 class="section-title">Basic Information</h1>

            <fieldset name="collectUserBasicInfo" id="collectUserBasicInfo" class="two-column-fields">
                <label class="control-label" for="lastName">Last Name*:</label>
                <textarea id="lastName" name="lastName" rows="1" cols="1" wrap="hard"
                          data-maxlength="75"
                          data-maxlength-msg="You have exceeded the maximum number of 75 characters in this field."
                          data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="lastName"></span></span>




                <label class="control-label" for="firstName">First Name*:</label>
                <textarea id="firstName" name="firstName" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthfirstnamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>

                <label class="control-label" for="middleName">Middle Name:</label>
                <textarea id="middleName" name="middleName" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthmiddlenamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="middleName"></span></span>

                <label class="control-label" for="externalId">Username*:</label>
                <textarea id="userNameField" name="userNameField" rows="1" cols="1" wrap="hard"
                          data-maxlength="100"
                          data-maxlengthusernamefield-msg="You have exceeded the maximum number of 100 characters in this field."
                          data-bind="value: username, disabled: isDisabled" placeholder=" enter the MedCenter Id"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="userNameField"></span></span>

                <div data-bind="invisible: isDisabled">
                    <input class="add button" type="button" value="Search" data-bind="click: searchUser" />
                </div>


                <div id="peopleSearchGrid" data-bind="visible: searchCount>0">
                </div>

                <div id="peopleFound" data-bind="visible: resultVisisble">
                    <span>
                        @*If the Faculty Member is in the list, click the row to open and edit his/her information. <br /><br />
                        Otherwise, enter required fields above, and click 'Create' to make a new faculty member record. <br />
                        If Employee ID is not entered, a temporary Employee ID will be automatically created and assigned.*@
                        Please select existing user or create a new user with the same name. **Usernames can not be duplicated**<br /><br />
                    </span>
                    <input class="add button" type="button" value="Create New User" data-bind="click: createPerson" />
                </div>

                <div id="nopeopleFound" data-bind="visible: noResultVisisble">
                    <span>
                        No matching User info found.<br /><br />
                        Enter required fields above, and click 'Create' to make a new User info record.<br />
                    </span>
                    <input class="add button" type="button" value="Create New User" data-bind="click: createPerson" />

                </div>

            </fieldset>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">                    
                       The username already exists in the application.  Username cannot be duplicated. 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </article>
</div>
<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#lastName').on('keyup', function () {
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });

        $('#firstName').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleName').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#userName').on('keyup', function () {
            var characters = 100;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 100 characters in this field");
            }
        });

        //$(".confirmLink").click(function (e) {
        //    e.preventDefault();
        //    var targetUrl = $(this).attr("href");

        //    $("#dialog").dialog({
        //        buttons: {
        //            "Confirm": function () {
        //                window.location.href = targetUrl;
        //            },
        //            "Cancel": function () {
        //                $(this).dialog("close");
        //            }
        //        }
        //    });

        //    $("#dialog").dialog("open");
        //});

        var personViewMode = kendo.observable({

            firstName: "",
            lastName: "",
            middleName: "",
            username: "",
            searchCount: -1,
            noResultVisisble: false,
            resultVisisble: false,

            createPerson: function (e) {
                e.preventDefault();
                var self = this;

                var validateMSG = "This field is required.";
                var validator = $("#createUserManageMentRequest-view").kendoValidator(
                {
                    rules: {
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlength-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddleNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        usernameField: function (textarea) {
                            if (textarea.is("[name=userNameField]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        //validation rule with html data tag
                        maxlengthusernamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthusernamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                    },
                    messages: {
                        lastnamefield: validateMSG,
                        firstnamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        usernameField: validateMSG,
                        maxlengthusernamefield: "You have exceeded the maximum number of 100 characters in this field."
                    }
                }).data("kendoValidator");
                if (validator.validate()) {
                    var self = this;
                    $.ajax({
                        url: '@Url.Content("~/User/CreateLoginUser")',
                        data: JSON.stringify(this.toJSON()),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            //toastr.error('User could not be created!');
                            //toastr.error('Add/Update new User failed!');
                            //alert(JSON.stringify());
                            //alert($('#userNameField').val());
                            $("#myModal").modal();
                            //toastr.warning('The Username already exists in the application.  Username cannot be duplicated.');
                        },
                        success: function (value) {
                            toastr.success('User created!');
                            window.location = '@Url.Content("~/User/Edit?LoginId=")' + value;
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            //ConfirmDialog: function (message) {
            //    $('<div></div>').appendTo('body')
            //    .html('<div><h6>' + message + '?</h6></div>')
            //    .dialog({
            //        modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
            //        width: 'auto', resizable: false,
            //        buttons: {
            //            Yes: function () {
            //                // $(obj).removeAttr('onclick');                                
            //                // $(obj).parents('.Parent').remove();

            //                $(this).dialog("close");
            //            },
            //            No: function () {
            //                $(this).dialog("close");
            //            }
            //        },
            //        close: function (event, ui) {
            //            $(this).remove();
            //        }
            //    });
            //    //$(document).ready(function () {
            //    //    $("#dialog").dialog({
            //    //        autoOpen: false,
            //    //        modal: true
            //    //    });
            //    //});

            //    //$(".confirmLink").click(function (e) {
            //    //    e.preventDefault();
            //    //    var targetUrl = $(this).attr("href");

            //    //    $("#dialog").dialog({
            //    //        buttons: {
            //    //            "Confirm": function () {
            //    //                window.location.href = targetUrl;
            //    //            },
            //    //            "Cancel": function () {
            //    //                $(this).dialog("close");
            //    //            }
            //    //        }
            //    //    });

            //    //    $("#dialog").dialog("open");
            //    //});
            //},

            searchUser: function (e) {
                var self = this;
                $.ajax({
                    url: '@Url.Content("~/CommonData/SearchUser")',
                    data: JSON.stringify(this.toJSON()),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        window.console && console.log("error");
                    },
                    success: function (value) {
                        self.set("searchCount", value.length);
                        self.set("noResultVisisble", value.length === 0);
                        self.set("resultVisisble", value.length > 0);
                        $("#peopleSearchGrid").kendoGrid({
                            columns: [{
                                field: "Username",
                                title: "Username"
                            }, {
                                field: "FullName",
                                template: '<a href="Edit?LoginId=#=LoginId#">#=FullName#</a>',
                                title: "Name"
                            }, {
                                field: "RoleName",
                                title: "role"
                            }],
                            dataSource: {
                                data: value,
                                pageSize: 20
                            },
                            height: 250,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            }
                        });
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });

            }
        });
        kendo.bind($("#createUserManageMentRequest-view"), personViewMode);
    });
</script>
