﻿@model EditUserViewModel
@{
    ViewBag.Title = "Edit User";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">User Form</h1>
    </div>
</div>
<div id="editeUserCollectiveFrm-view" class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">General Information</h1>
        <div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(u => u.UserViewModel.StrDateLastUpdated)  by @(Html.DisplayFor(u => u.UserViewModel.StrLastUpdatedBy)) </p>
        </div>
        <fieldset name="collectUserGrantGenInfo" id="collectUserGrantGenInfo" class="two-column-fields">
            @{ Html.RenderPartial("_UserGeneral", Model.UserViewModel);}
        </fieldset>

        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        This action will take you to the menu, and unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button class="add-section" onclick="window.location = '@Url.Content("~/User/Index/")'">OK</button>
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </article>
</div>
