﻿@model IEnumerable<Search_VwPersonRoles>
@using TraineeTrackingSystem.Web.Models;
@{
    ViewBag.Title = "User Index";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">User</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @*@if (SecurityControl.IsAdminUser(this.User) ||
            SecurityControl.IsEditUser(this.User)){*@
        @if (SecurityControl.IsAdminUser(this.User))
        {
            <div class="section-admin">
                @using (Html.BeginForm("Create", "User"))
                {
                    <button type="submit" class="add-item program">+ Add User</button>
                }
            </div>

            <div class="wide-grid">
                <div id="clientsDb">
                    @{Html.RenderPartial("_UserLandingPage", Model);}
                </div>
            </div>
        }
    </article>
</div>
