﻿@using TraineeTrackingSystem.Web.Common
@model AcademicsInfoViewModel
<div id="theFtyAcademicInfoSection-view">
    <input id="acdmc" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="removedAcdmcBtn-deleteLink">
        <div>
            <span>
                <a href="\\#addAcdmcButton" class="removedAcdmcBtn-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="acdmcGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Institution','field': 'instName'},
                {title:'Start Date','field': 'dateStartedText', 'width': '130px'},
                {title:'End Date','field': 'dateEndedText', 'width': '135px'},
                {title:'Degree','field': 'academicDegree'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#removedAcdmcBtn-deleteLink').html() ) }
         ]"
         data-bind="source: academicInformations,
            events:{
                change:gridRowSelection,
                dataBound: removedAcdmc
            }">
    </div>

    <div id="addAcdmcButton" data-bind="visible:addAcdmcBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addAcademicInfo }">
            Add Academic Information
        </button>
    </div>

    <div class="expand" id="editAcademicInfoSection" data-bind="visible:addAcademicInfoSectionVisible">
        <label class="control-label" for="instNameField">Institution*:</label>
        <input type="text"
               id="instNameField"
               name="instNameField"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedInstName, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />

        <span class="help-inline"><span class="k-invalid-msg" data-for="aptmntFte"></span></span>
        <label class="control-label" for="startDate">Start Date:</label>
        <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date"
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDate' class='k-invalid-msg'></span>

        <label class="control-label" for="endDate">End Date:</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startDate" data-greaterdate-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>
        <label class="control-label" for="completeDgreeField">Complete Degree:</label>
        <input type="text"
               id="completeDgreeField"
               name="completeDgreeField"
               placeholder="enter degree name "
               data-bind="value: selectedAcademicDegree" />

        <label class="control-label" for="dateDegreeCompleted">Date Degree Completed:</label>
        <input type="text" data-role='datepicker' id="dateDegreeCompleted" data-type="date" name="dateDegreeCompleted"
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateDegreeCompleted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />

        <label class="control-label osu-standard">Area of Study:</label>
        <textarea id="areaOfStudy" name="areaOfStudy" rows="2" cols="20" wrap="hard"
                  data-maxlength="150"
                  data-maxlengthareaStudy-msg="You have exceeded the maximum number of 150 characters in this field."
                  placeholder="enter area of study"
                  data-bind="value: selectedAreaOfStudy"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="areaOfStudy"></span></span>


        <label class="control-label osu-standard">Research Experience:</label>
        <textarea id="researchExpPrjTitle" name="researchExpPrjTitle" rows="2" cols="20" wrap="hard"
                  data-maxlength="500"
                  data-maxlengthResearch-msg="You have exceeded the maximum number of 500 characters in this field."
                  placeholder="enter research experience"
                  data-bind="value: selectedResearchProjectTitle"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="researchExpPrjTitle"></span></span>

        <label class="control-label osu-standard">Comments:</label>
        <div class="box-col">
            <textarea id="acdmcHstComment" name="acdmcHstComment"
                      style="width:480px; height:200px"
                      data-bind="value:selectedComments"
                      data-maxtextlength="4000"
                      data-maxtextlength-msg="You have exceeded the maximum number of 4000 characters in this field."></textarea>
            @*Characters: <span id="acdmcHstCommentCharsCount"></span>*@
        </div>  


        <button class="add-section save" data-bind="click: saveAcademicInfo">Save</button>
        <button class="add-section cancel" data-bind="click: cancelAcademicsInfo">Cancel</button>

    </div>
</div>
<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Area of Study field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#areaOfStudy').on('keyup',function(){
            var characters = 150;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 150 characters in this field");
                //var totalAllowsChars = $(this).val().substring(0, characters);
                //$('#areaOfStudy').val(totalAllowsChars);
            }
        });
        // Validate the maximum character allows for Research Experience field
        $('#researchExpPrjTitle').on('keyup',function(){
            var characters = 500;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 500 characters in this field");
                //var totalAllowsChars = $(this).val().substring(0, characters);
                //$('#researchExpPrjTitle').val(totalAllowsChars);
            }
        });

        $("#acdmcHstComment").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                }           
            ],
            
            keyup: function() {
                wordCount();
            }
        });
        wordCount();
        function wordCount() {        
            var limitCharacters= 4000; 
            var editor = $("#acdmcHstComment").data("kendoEditor");            
            var html = editor.value();
            var text = $("<div>").html(html).text();
            var remainChars = text.length;
            //displaying remaining characters
            //if(remainChars > 0){
            //    $("#acdmcHstCommentCharsCount").text(remainChars);
            //}
          
            if (remainChars > limitCharacters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field.");
            }
        }
        $("#instNameField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#instNameField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#instNameField").data("kendoAutoComplete").value();
            },
            select: function(e){
                academicSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete


        $("#completeDgreeField").kendoAutoComplete({
            dataTextField: "AcademicDegree",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: AcademicDegree #</span>',
            headerTemplate: '<div class="noDataMessage">Degree not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetAcademicDegreeInfoList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#completeDgreeField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#completeDgreeField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                academicSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var academicSectionInfoVm = kendo.observable($.extend({
            addAcdmcBtnVisible: true,
            addAcademicInfoSectionVisible: false,
            updated  : false,


            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#acdmcGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    /* ------------ bind grid properties to the expand selected properties ------------ */
                    self.set("selectedId",selected.id);
                    self.set("selectedInstName", selected.instName);
                    self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                    self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);
                    self.set("selectedAcademicDegree", selected.academicDegree);                    
                    self.set("selectedDateDegreeCompleted", (selected.dateDegreeCompleted != null) ? new Date(selected.dateDegreeCompleted) : null);
                    self.set("selectedAreaOfStudy", selected.areaOfStudy);
                    self.set("selectedResearchProjectTitle", selected.researchProjectTitle);
                    self.set("selectedComments", selected.comments);                  
                }
                self.set("addAcademicInfoSectionVisible", true);
                self.set("addAcdmcBtnVisible", false);
            },
            clearAcdmcInfoInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedInstName", "");

                /* ------------ clear out dates values ------------ */
                var datepicker = $("#startDate").data("kendoDatePicker");
                datepicker.value(new Date());
                $("#startDate").val("");
                var datepicker = $("#endDate").data("kendoDatePicker");
                datepicker.value(new Date());
                $("#endDate").val("");
                self.set("selectedDateStarted", "");
                self.set("selectedDateEnded", "");
                self.set("selectedAcademicDegree", "");
                var datepicker = $("#dateDegreeCompleted").data("kendoDatePicker");
                datepicker.value(new Date());
                $("#dateDegreeCompleted").val("");
                self.set("selectedDateDegreeCompleted","");
                self.set("selectedAreaOfStudy", "");
                $("#areaOfStudy").val("");              //This enforces the clearing field, especially past document text that has reach the static maximum length set. 
                self.set("selectedResearchProjectTitle", "");
                $("#researchExpPrjTitle").val("");      //This enforces the clearing field, especially past document text that has reach the static maximum length set. 
                self.set("selectedComments", "");
            },
            cancelAcademicsInfo:function() {
                var self = this;
                self.set("addAcademicInfoSectionVisible", false);
                self.set("addAcdmcBtnVisible", true);
                self.hideValidationMsgs();
                self.clearAcdmcInfoInputFields();
            },
            saveAcademicInfo: function(){
                var self = this;
                var validationMsg = "This field is required";

                var validator = $("#editAcademicInfoSection").kendoValidator(
                {
                    rules: {
                        greaterdate: function (input) {
                            if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                                var date = input.data("kendoDatePicker").value(),
                                    otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                return otherDate == null || otherDate.getTime() < date.getTime();
                            }

                            return true;
                        },
                        iscurrentstatusdropdown: function (input) {
                            if (input.is("[name=isCurrentStatusDropdown]")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        },
                        maxTextLengthstudyarea: function (textarea) {
                            if (textarea.is("[data-maxlengthareaStudy-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }

                            return true;
                        },
                        maxTextLengthexperience: function (textarea) {
                            if (textarea.is("[data-maxlengthResearch-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }

                            return true;
                        },
                        maxTextLength: function (textarea) {
                            if (textarea.is("[data-maxtextlength-msg]") && textarea.val() != "") {
                                var maxlength = textarea.attr("data-maxtextlength");
                                var value = textarea.data("kendoEditor").value();
                                return value.replace(/<[^>]+>/g, "").length <= maxlength;
                            }

                            return true;
                        },
                    },
                    messages:{
                        iscurrentstatusdropdown: validationMsg,
                        maxTextLengthstudyarea: "You have exceeded the maximum number of 150 characters in this field.",
                        maxTextLengthexperience: "You have exceeded the maximum number of 500 characters in this field."
                    }
                }).data("kendoValidator");

                if(validator.validate()){

                    var updateData = {
                        id: self.selectedId,
                        personId: self.personId,
                        instName: self.selectedInstName,
                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,
                        
                        academicDegree: self.selectedAcademicDegree,
                        
                        dateDegreeCompleted: self.selectedDateDegreeCompleted,
                        areaOfStudy: self.selectedAreaOfStudy,
                        researchProjectTitle: self.selectedResearchProjectTitle,
                        comments: self.selectedComments,
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/Faculty/UpdateAcademicHistoryInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new Academic Information failed!');
                        },
                        success: function (value) {

                            var objectViewModel = $.grep(self.academicInformations,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (objectViewModel.length === 0) {

                                self.academicInformations.push(kendo.observable(value));
                                toastr.success('Academic Information added!');
                            } else {//update the entry
                                self.set("selectedId", value.id);
                                var kendoGrid = $("#acdmcGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                                selectedDataRow.set("institutionId", value.institutionId);
                                selectedDataRow.set("instName", value.instName);   
                                
                                selectedDataRow.set("dateStartedText", value.dateStartedText);
                                selectedDataRow.set("dateStarted", value.dateStarted);
                                selectedDataRow.set("dateEndedText", value.dateEndedText);
                                selectedDataRow.set("dateEnded", value.dateEnded);
                                
                                selectedDataRow.set("academicDegreeId", value.academicDegreeId);
                                selectedDataRow.set("academicDegree", value.academicDegree);
                                
                                selectedDataRow.set("dateDegreeCompleted", value.dateDegreeCompleted);
                                
                                selectedDataRow.set("areaOfStudy", value.areaOfStudy);
                                selectedDataRow.set("researchProjectTitle", value.researchProjectTitle);
                                selectedDataRow.set("comments", value.comments);                               
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                toastr.success('Appointment updated!');
                            }
                            self.set("addAcademicInfoSectionVisible", false);
                            self.set("addAcdmcBtnVisible", true);
                        }
                    });
                }
            },
            addAcademicInfo:function() {
                var self = this;
                self.set("addAcademicInfoSectionVisible", true);
                self.set("addAcdmcBtnVisible", false);

                var kendoGrid = $("#acdmcGrid").data("kendoGrid");
                kendoGrid.clearSelection();

                self.clearAcdmcInfoInputFields();
            },

            removedAcdmc:function(e) {
                var self = this;
                $(".removedAcdmcBtn-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#acdmcGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addAcademicInfoSectionVisible", false);
                    self.set("addAcdmcBtnVisible", true);

                    if (confirm("Do you want to delete this item?")) {
                        var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Faculty/RemoveAcademicDegreeInfo/")'+deleteItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Academic Information removed!');
                                kendoGrid.dataSource.remove(deleteItem);
                            }
                        });
                    }
                    return false;
                    toastr.error('Academic Information is in use and cannot be removed!');
                    return false;
                });
            },

            
            hideValidationMsgs: function() {
                var validator = $("#editAcademicInfoSection").kendoValidator().data("kendoValidator");
                $("#editAcademicInfoSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            InstNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: instName
                });
            },
            DateStartedField: function(element){
                element.kendoAutoComplete({
                    dataSource: dateStartedText
                });
            },
            DateEndedField: function(element){
                element.kendoAutoComplete({
                    dataSource: dateEndedText
                });
            },
            AcademicDegreeField: function(element){
                element.kendoAutoComplete({
                    dataSource: academicDegree
                });
            },
            LastUpdatedField: function(element){
                element.kendoAutoComplete({
                    dataSource: strDateLastUpdated
                });
            },
            LastUpdatedByField: function(element){
                element.kendoAutoComplete({
                    dataSource: strLastUpdatedBy
                });
            }
        },@(Html.ToJson(Model))));
        kendo.bind($("#theFtyAcademicInfoSection-view"), academicSectionInfoVm);
        $("#acdmcGrid").data("kendoGrid").hideColumn(0);
    })
</script>
