﻿@using TraineeTrackingSystem.Web.Common
@model MenteeMentorsViewModel

<div id="mentee-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="mentee-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")Mentee/Edit/#= menteeId #'>
                    View Mentee^
                </a>
            </span>
        </div>
    </script>

    <div class="grid-note">
        These are Mentees that are associated with this Faculty Member (Mentor) through the Training Periods on 
        the <a href='@Url.Action("", "")/Mentee/'>Mentee</a> screen.
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>
    
    <div id="menteeGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                       { 'field': 'ID'},
                       {title:'Name','field': 'menteeFullName'},
                       {title:'Mentee Type','field': 'menteeType'},
                       {title:'Training Period Institution','field': 'institutionName'},
                       {title:'Training Period Start Year','field': 'yearStarted'},
                       {title:'Training Period End Year','field': 'yearEnded'},
                       {title:'Completed Degree','field': 'completedDegree'},
                        {title:'Action', 'width': '130px', template:kendo.template($('#mentee-viewLink').html() ) }
         ]"
         data-bind="source: menteesGridView">
    </div>
</div>
<script>
    $(document).ready(function () {
        var menteeVm = kendo.observable($.extend({
            menteesGridView: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetMenteeList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#menteeGrid").data("grid").value();
                            }
                        }
                    }
                }
            }),
        },@(Html.ToJson(Model))));
        //window.console && console.log(menteeVm);
        kendo.bind($("#mentee-view"), menteeVm);
        $("#menteeGrid").data("kendoGrid").hideColumn(0);
    })
</script>