﻿@using TraineeTrackingSystem.Web.Common
@model AcademicDegreesViewModel

<div id="degree-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />


    <script type="text/x-kendo-template" id="academicLink">
        <div>
            <span>
                <a href="\\#addNewDegreeButton">${ academicDegreeName }</a>
            </span>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="degree-deleteLink">
        <div>
            <span>
                <a href="\\#addNewDegreeButton" class="degree-delete-link">Remove</a>
            </span>
        </div>
    </script>


    <div id="degreeGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { field: 'id'},
                {field: 'academicDegreeId'},
                {title:'Degree', width: 70, field: 'academicDegreeName',template:kendo.template($('#academicLink').html() )},
                {title:'Year', width: 80, field:'degreeYear'},
                {title:'Institution', width: 360,field: 'institutionName' },
                {title:'City',width: 120, field: 'cityName'},
                {title:'State',width: 60, field: 'stateName'},
                {title:'Country',width: 80, field:'countryName'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action' ,width: 120, template:kendo.template($('#degree-deleteLink').html() ) }]"
         data-bind="source: degreeInformations,
        events:{
         change:onSelect,
         dataBound: dataBound
        }">

    </div>

    <div id="addNewDegreeButton">
        <button data-role="button"
                data-bind="events: { click: addDegreeToPerson }, visible:hideAddDegreeButton">
            Add Degree
        </button>
    </div>

    <!--EXPANDABLE SECTION -- ADD DEGREE -->
    <div class="expand" id="editDegreeSection" data-bind="visible:addDegreeSectionVisible">

        <label class="control-label osu-standard" for="institutionAutoComplete">Institution*: </label>
        <input type="text"
               id="institutionAutoComplete"
               name="institutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedInstitution" required validationmessage="This field is required" />
       

        <label class="control-label osu-standard" for="degreeAutoComplete">Degree:</label>
        <input type="text"
               id="degreeAutoComplete"
               name="degreeAutoComplete"
               placeholder="type a degree name "
               data-bind="value: selectedDegree" />

        <label class="control-label osu-standard" for="inputDegreeYear">Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" id="inputDegreeYear" 
               data-bind="value:selectDegreeYear" placeholder=" YYYY" size="4" maxlength="4" />

        <button class="add-section save" data-bind="click: saveDegree">Save</button>
        <button class="add-section cancel" data-bind="click: cancel">Cancel</button>

    </div>
</div>

<script>
    $(document).ready(function () {

        $("#institutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#institutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#institutionAutoComplete").val("");                    
                } else {
                    $("#institutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        $("#degreeAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#degreeAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                if (!this.dataSource.view()[0]) {
                    toastr.warning("Degree not found, please contact Erica.");                
                }  
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#degreeAutoComplete").val("");                    
                } else {
                    $("#degreeAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        var degreeVm = kendo.observable($.extend({
            addDegreeSectionVisible: false,
            addNewInstitutionSectionVisible:false,
            addNewDegreeSectionVisible:false,
            updated: false,
            hideAddDegreeButton: true,
            
            hideValidationMsgs: function() {
                var validator = $("#editDegreeSection").kendoValidator().data("kendoValidator");   
                validator.hideMessages();
            },
            clearInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectDegreeYear", "");
                self.set("selectedDegree", "");
                self.set("selectedInstitution", "");                
            },
            clearNewInstitutionInput:function() {
                var self = this;
                self.set("newInstitutionName", "");
                self.set("newInstitutionCityName", "");
                self.set("newInstitutionState", "");
                self.set("newInstitutionCountry", "");          
            },
            clearNewDegreeInput:function() {
                var self = this;
                self.set("newDegreeName", "");
            },
            dataBound:function(e) {
                var self = this;
                $(".degree-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#degreeGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addDegreeSectionVisible", false);
                    self.set("hideAddDegreeButton", true);
                    if (confirm("Do you want to delete this item?")) {
                        //If you un-comment the line below, 
                        //   the row disapears form the table but remaims in the data source
                        // $(this).closest("tr").hide("slow");                         
                        //This is KendoUI sugestion                       
                        var deleteItem = kendoGrid.dataItem($(this).closest("tr")); // retrieve the data record for the row
                        $.ajax({
                            url: '@Url.Content("~/Faculty/DeleteDegree/")'+JSON.stringify(deleteItem.id),
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Delete failed!');
                            },
                            success: function (id) {                        
                                kendoGrid.dataSource.remove(deleteItem);
                                toastr.success('Degree successfully deleted!');
                            }
                        });
                    }
                    return false;
                });
            },
            onSelect : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#degreeGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("addDegreeSectionVisible", true);
                    self.set("selectedId", selected.id);
                    self.set("selectDegreeYear", selected.degreeYear);
                    self.set("selectedDegree", selected.academicDegreeName);
                    self.set("selectedInstitution", selected.institutionName);                    
                }
                self.set("hideAddDegreeButton", false);
            },
            addDegreeToPerson:function() {
                var self = this;
                self.set("addDegreeSectionVisible", true);
                self.set("hideAddDegreeButton", false);
                self.clearInput();
            },
            cancel:function() {
                var self = this;
                self.set("addDegreeSectionVisible", false);
                self.set("hideAddDegreeButton", true);
                self.hideValidationMsgs();
            },
            saveDegree: function() {
                //save view model to the database
                var self = this;
                var validator = $("#editDegreeSection").kendoValidator().data("kendoValidator");      
                
                       
               if(validator.validate()){
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                        academicDegree: self.selectedDegree,
                        degreeyear: self.selectDegreeYear,
                        institution: self.selectedInstitution,

                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Faculty/UpdateDegree")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            window.console && console.log(value);
                            //add to new grid if it's not existing
                            var degreeyear= $.grep(self.degreeInformations, function(e){ return e.id == value.id; });
                            if (degreeyear.length === 0) {
                                self.degreeInformations.push(kendo.observable(value));                            
                                toastr.success('Degree added!');
                            } else {//update the entry
                                var kendoGrid = $("#degreeGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("academicDegreeName", value.academicDegreeName);
                                selectedDataRow.set("degreeYear", value.degreeYear);
                                selectedDataRow.set("institutionName", value.institutionName);
                                selectedDataRow.set("cityName", value.cityName);
                                selectedDataRow.set("stateName", value.stateName);
                                selectedDataRow.set("countryName", value.countryName);
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);

                                toastr.success('Degree updated!');
                            }
                            self.set("addDegreeSectionVisible", false);
                            self.set("hideAddDegreeButton", true);
                            self.clearInput();
                        }
                    });
                }
            },
            addNewInstitution:function() {
                var self = this;
                self.set("addNewInstitutionSectionVisible", true);
                var window = $('#newInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Institution ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewInstitution:function() {
                var window = $('#newInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewInstitution:function() {
                //get the binding value, and make the ajax call
                var self = this;
                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newinstitutionnamefield: function (input) {
                                if (input.is("[name=newInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncitynamefield: function (input) {
                                if (input.is("[name=newInstitutionCityNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncountrydropdown: function (input) {
                                if (input.is("[name=newInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newinstitutionnamefield: validationMsg,
                            newinstitutioncitynamefield: validationMsg,
                            newinstitutioncountrydropdown: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newInstitutionName,
                        City: self.newInstitutionCityName,
                        StateId: self.newInstitutionState != null ? self.newInstitutionState.key : null,
                        CountryId: self.newInstitutionCountry != null ? self.newInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');
                            // Transfer new Institution name to selected Institution field
                            if (self.newInstitutionName.length != 0) {
                                self.set("selectedInstitution", self.newInstitutionName);
                            }

                            self.clearNewInstitutionInput();
                            var popupwindow = $('#newInstitutionWindow');
                            popupwindow.data("kendoWindow").close();
                        }
                    });
                }
            },

            addNewDegree:function() {
                var self = this;
                self.set("addNewDegreeSectionVisible", true);
                var window = $('#newDegreeWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Degree ",
                        width: "400px",
                        height: "200px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewDegree:function() {
                var window = $('#newDegreeWindow');
                window.data("kendoWindow").close();                                
            },
            saveNewDegree:function() {
                var self = this;

                // Validate the Degree Popup field here so it isn't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newDegreeWindow").kendoValidator(
                    {
                        rules: {
                            newdegreenamefield: function (input) {
                                if (input.is("[name=newDegreeNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newdegreenamefield: validationMsg
                        }
                    }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        Name: self.newDegreeName
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewDegree")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Degree failed!');
                        },
                        success: function (value) {
                            toastr.success('New Degree added!');
                            self.clearNewDegreeInput();
                            var window = $('#newDegreeWindow');
                            window.data("kendoWindow").close();

                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));

        //window.console && console.log(degreeVm);
        kendo.bind($("#degree-view"), degreeVm);
        $("#degreeGrid").data("kendoGrid").hideColumn(0);
        $("#degreeGrid").data("kendoGrid").hideColumn(1);
    })
</script>
@*NO LONGER But keep as ref*@
@*<input id="institutionAutoComplete" name="institutionAutoComplete"
           data-role="autocomplete"
           data-placeholder="type an institution name (at least three characters)"
           data-min-length="3"
           data-filter="contains"
           data-value-primitive="true"
           data-text-field="Name"
           data-bind="value: selectedInstitution,
                    source: institutions,
                    events: {open: hideValidationMsgs}" required validationmessage="This field is required" />
    <span class="help-inline"><span class="k-invalid-msg" data-for="institutionAutoComplete"></span></span>*@

@*<button data-role="button" data-bind="events: { click: addNewInstitution }">
        Add New
    </button>*@

<!-- POPUP: ADD NEW INSTITUTION -->
@*<div id="newInstitutionWindow" data-bind="visible:addNewInstitutionSectionVisible">

        <div>
            <label class="control-label" for="newInstitutionNameField">Name*:</label>
            <input id="newInstitutionNameField" name="newInstitutionNameField" class="add listing" type="text"
                   data-bind="value: newInstitutionName" placeholder="enter institution name" />
            <span class="k-invalid-msg" data-for="newInstitutionNameField"></span>
        </div>

        <div>
            <label class="control-label" for="newInstitutionCityNameField">City*:</label>
            <input id="newInstitutionCityNameField" name="newInstitutionCityNameField" class="add listing" type="text"
                   data-bind="value: newInstitutionCityName" placeholder="enter institution city" />
            <span class="k-invalid-msg" data-for="newInstitutionCityNameField"></span>
        </div>

        <div>
            <label class="control-label">State/Province:</label>
            <input id="newInstitutionStateDropDown" data-role="dropdownlist"
                   data-option-label="select state/province"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionState,source: states" />
            <span class="k-invalid-msg" data-for="newInstitutionStateDropDown"></span>
        </div>

        <div>
            <label class="control-label">Country*:</label>
            <input id="newInstitutionCountryDropDown" name="newInstitutionCountryDropDown" data-role="dropdownlist"
                   data-option-label="select country"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionCountry,source: countries" />
            <span class="k-invalid-msg" data-for="newInstitutionCountryDropDown"></span>
        </div>
        <div>
            <button class="add-section save" data-bind="click: saveNewInstitution">Save</button>
            <button class="add-section cancel" data-bind="click: cancelNewInstitution">Cancel</button>
        </div>

    </div>*@




@*<input id="degreeAutoComplete"
    data-role="autocomplete"
    data-placeholder="type a degree name "
    data-min-length="1"
    data-filter="contains"
    data-value-primitive="true"
    data-text-field="Name"
    data-bind="value: selectedDegree,source: degrees,events: {open: hideValidationMsgs}" />*@

@*<button data-role="button" data-bind="events: { click: addNewDegree }">
        Add New
    </button>*@

<!-- POPUP: ADD NEW DEGREE -->
@*<div id="newDegreeWindow" data-bind="visible:addNewDegreeSectionVisible">

        <div>
            <label class="control-label" for="newDegreeNameField">Name*:</label>
            <input id="newDegreeNameField" name="newDegreeNameField" class="add listing" type="text"
                   data-bind="value: newDegreeName" placeholder="enter degree name" />
            <span class="k-invalid-msg" data-for="newDegreeNameField"></span>
        </div>

        <div>
            <button class="add-section save" data-bind="click: saveNewDegree">Save</button>
            <button class="add-section cancel" data-bind="click: cancelNewDegree">Cancel</button>
        </div>

    </div>*@



@*institutions: new kendo.data.DataSource({
        type: "json",
        serverFiltering: true,
        transport: {
            read: {
                url:'@Url.Content("~/CommonData/GetInstitutionList")',
                datatype:"json",
                data: {
                    name: function(){
                        return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                    }
                }
            }
        }
    }),*@
@*degrees: new kendo.data.DataSource({
        type: "json",
        serverFiltering: true,
        transport: {
            read: {
                url:'@Url.Content("~/CommonData/GetDegreeList")',
                datatype:"json",
                data: {
                    name: function(){
                        return $("#degreeAutoComplete").data("kendoAutoComplete").value();
                    }
                }
            }
        }
    }),*@