﻿@using TraineeTrackingSystem.Web.Common
@model InstitutionTrainingGrants

<div id="funding_Inst_view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Institutional Training Grants</h2>
    <script type="text/x-kendo-template" id="othergrant-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")/TrainingGrant/Edit/#= trainingGrantId #'>
                    View Grant^
                </a>
            </span>
        </div>
    </script>

    @*MVN - keep these for future REF*@
    @*<script id="startDateTemplate" type="text/x-kendo-template">
            #= kendo.toString(kendo.parseDate(dateTimeFundingStarted, 'yyyy-MM-dd' ), 'MM/dd/yyyy' ) #
    </script>

    <script id="endDateTemplate" type="text/x-kendo-template">
        #= kendo.toString(kendo.parseDate(dateTimeFundingEnded, 'yyyy-MM-dd' ), 'MM/dd/yyyy' ) #
    </script>*@

    <div class="grid-note">
        These are Pending and Active Training Grants that are associated with this Faculty Member.<br />
        To Add, go to <a href='@Url.Action("", "")/TrainingGrant/'>Training Grants</a> menu.
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="fundingInstGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                       { 'field': 'trainingGrantId'},
                       {title:'Role','field':'facultyPrimaryRole'},
                       {title:'Title','field': 'title'},
                       {title:'Sponsor','field':'sponsorName'},
                       {title:'Sponsor Award #',width:120,'field':'sponsorAwardNumber'},
                       {title:'Start Date','field': 'strDateTimeFundingStarted'},
                       {title:'End Date','field': 'strDateTimeFundingEnded'},
                       {title:'Action', 'width': '130px', template:kendo.template($('#othergrant-viewLink').html() ) }
         ]"
         data-bind="source: fundingGridView">
    </div>
</div>

<script>
    $(document).ready(function () {
        var fundingInstVM = kendo.observable($.extend({
            fundingGridView: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFundingInstTrainingGrantList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#fundingInstGrid").data("grid").value();
                            }
                        }
                    }
                }
            }),
        },@(Html.ToJson(Model))));
        //window.console && console.log(fundingInstVM);
        kendo.bind($("#funding_Inst_view"), fundingInstVM);
        $("#fundingInstGrid").data("kendoGrid").hideColumn(0);
    })
</script>