﻿@using TraineeTrackingSystem.Web.Common
@model AppointmentsInfoViewModel
<div id="theFtyApptmntInfoSection-view">
    <input id="apptmnt" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="removedApptmntBtn-deleteLink">
        <div>
            <span>
                <a href="\\#addApptmntButton" class="removedApptmntBtn-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="apptmntGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Faculty Track','field': 'facultyTrack','width': '100px' },
                {title:'Rank','field': 'facultyRank','width': '100px' },
                {title:'%FTE','field': 'percentFte',type:'number' },
                {title:'Start Date','field': 'dateStartedText', 'width': '130px'},
                {title:'End Date','field': 'dateEndedText', 'width': '135px'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#removedApptmntBtn-deleteLink').html() ) }
         ]"
         data-bind="source: appointmentInformations,
            events:{
                change:gridRowSelection,
                dataBound: removedApptmnt
            }">
    </div>

    <div id="addApptmntButton" data-bind="visible:addApptmntBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addAppointment }">
            Add Appointment
        </button>
    </div>

    <div class="expand" id="editApptmntSection" data-bind="visible:addApptmntSectionVisible">
        <label class="control-label" for="newTPosInstitutionNameField">Institution*:</label>
        <input type="text"
               id="newTPosInstitutionNameField"
               name="newTPosInstitutionNameField"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedInstName, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />

     
                <label class="control-label">Faculty Track:</label>
                <input id="newFtyTrkDropDown" name="newFtyTrkDropDown"
                       data-role="dropdownlist"
                       data-option-label="select track"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedFtyTrack,source: ftyTrksDrpdwnDatasource" />
                <span class="k-invalid-msg" data-for="newFtyTrkDropDown"></span>
        
       
                <label class="control-label">Clinical Faculty Pathway:</label>
                <input id="newFtyClnlFtyPathwayDropDown" name="newFtyClnlFtyPathwayDropDown"
                       data-role="dropdownlist"
                       data-option-label="select pathway"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedClinicalFacultyPathway,source: clnlFtyPthwyDrpdwnDatasource" />
                <span class="k-invalid-msg" data-for="newFtyClnlFtyPathwayDropDown"></span>
           
                <label class="control-label">Rank:</label>
                <input id="newRankDropDown" name="newRankDropDown"
                       data-role="dropdownlist"
                       data-option-label="select rank"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: selectedRank,source: rankDrpdwnDatasource" />
                <span class="k-invalid-msg" data-for="newRankDropDown"></span>
         
            

            <label class="control-label osu-standard">Other affiliations:</label>
        <textarea id="aptmntOtherAfftn" name="aptmntOtherAfftn" rows="2" cols="20" wrap="hard" 
                  data-maxlength="1500"
                  data-maxlengthAffiliatField-msg="You have exceeded the maximum number of 1500 characters in this field."
                  placeholder="enter other title"
                  data-bind="value: selectedOtherAffiliations"></textarea>
            <span class="help-inline"><span class="k-invalid-msg" data-for="aptmntOtherAfftn"></span></span>


            <label class="control-label osu-standard">Other Title/Duties (i.e., Chair, Director, Dean, etc.):</label>
        <textarea id="aptmntOtherTitle" name="aptmntOtherTitle" rows="2" cols="20" wrap="hard"
                  data-maxlength="1500"
                  data-maxlengthTitleField-msg="You have exceeded the maximum number of 1500 characters in this field."
                  placeholder="enter other title"
                  data-bind="value: selectedOtherTitles"></textarea>
            <span class="help-inline"><span class="k-invalid-msg" data-for="aptmntOtherTitle"></span></span>

            <label class="control-label osu-standard">% FTE:</label>
            <input id="aptmntFte" name="aptmntFte" type="number" rows="1" cols="2" wrap="hard"
                   placeholder="must be integer between 0 and 100"
                   data-bind="value: selectedPercentFte">

            <span class="help-inline"><span class="k-invalid-msg" data-for="aptmntFte"></span></span>
            <label class="control-label" for="startDate">Start Date:</label>
            <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date"
                   placeholder=" YYYY-MM-DD"
                   data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
                   data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
            <span data-for='startDate' class='k-invalid-msg'></span>

            <label class="control-label" for="endDate">End Date:</label>
            <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startDate" data-greaterdate-msg='End Date should be after Start Date.'
                   placeholder=" YYYY-MM-DD"
                   data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
                   data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
            <span data-for='endDate' class='k-invalid-msg'></span>

            <label class="control-label osu-standard">Comment:</label>
        @*<div class="box-col">
            <textarea id="aptmntComment" name="aptmntComment"
                      data-bind="value:selectedComment"
                      style="width: 480px; height:200px;"></textarea>
        </div>*@  
        <div class="box-col">
            <textarea id="aptmntComment" name="aptmntComment"
                      style="width:480px; height:200px"
                      data-bind="value:selectedComment"
                      data-maxtextlength="4000"
                      data-maxtextlength-msg="You have exceeded the maximum number of 4000 characters in this field."></textarea>
            @*Characters: <span id="aptmntCommentCharsCount"></span>*@
        </div>  

            <button class="add-section save" data-bind="click: saveAppointmentsInfo">Save</button>
            <button class="add-section cancel" data-bind="click: cancelAppointmentsInfo">Cancel</button>

    </div>
</div>
<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#aptmntOtherAfftn').on('keyup',function(){
            var characters = 1500;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 1500 characters in this field");
                // NO LONGER need these codes, the HTML data-maxleght is handled
                //var totalAllowsChars = $(this).val().substring(0, characters);
                //$('#aptmntOtherAfftn').val(totalAllowsChars);
            }
        });
        // Validate the maximum character allows for Other Title/Duties field
        $('#aptmntOtherTitle').on('keyup',function(){
            var characters = 1500;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 1500 characters in this field");
                // NO LONGER need these codes, the HTML data-maxleght is handled
                //var totalAllowsChars = $(this).val().substring(0, characters);
                //$('#aptmntOtherTitle').val(totalAllowsChars);
            }
        });

        $("#aptmntComment").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                }           
            ],
            
            keyup: function() {
                wordCount();
            }
        });
        wordCount();
        function wordCount() {        
            var limitCharacters= 4000; 
            var editor = $("#aptmntComment").data("kendoEditor");            
            var html = editor.value();
            var text = $("<div>").html(html).text();
            var remainChars = text.length;
            //displaying remaining characters
            $("#aptmntCommentCharsCount").text(remainChars);
            if (remainChars > limitCharacters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field.");
            }
        }

        $("#newTPosInstitutionNameField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#newTPosInstitutionNameField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                $("#newTPosInstitutionNameField").data("kendoAutoComplete").value();
            },
            select: function(e){
                apptmntSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var apptmntSectionInfoVm = kendo.observable($.extend({
            addApptmntBtnVisible: true,
            addApptmntSectionVisible: false,

            updated  : false,

            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#apptmntGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    //console.log("GridRowSelection");
                    //console.log(selected);
                    self.set("selectedId",selected.id);
                    self.set("selectedInstName", selected.instName);

                    self.set("selectedFtyTrack", selected.facultyTrackId);   
                    self.set("selectedClinicalFacultyPathway", selected.clinicalFacultyPathwayId);
                    self.set("selectedRank", selected.facultyRankId);
                    
                    self.set("selectedOtherAffiliations",selected.otherAffiliations);
                    self.set("selectedOtherTitles", selected.otherTitles);
                    self.set("selectedPercentFte", selected.percentFte);
                   
                    self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                    self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);
                    
                    self.set("selectedComment", selected.comment);
                }
                self.set("addApptmntSectionVisible", true);
                self.set("addApptmntBtnVisible", false);
            },
            clearAptmntInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedInstName", "The Ohio State University");
                self.set("selectedFtyTrack", "");   
                self.set("selectedClinicalFacultyPathway", "");
                self.set("selectedRank", "");
                
                self.set("selectedOtherAffiliations","");
                $("#aptmntOtherAfftn").val("");                 //This enforces the clearing field, especially past document text that has reach the static maximum length set. 
                self.set("selectedOtherTitles", "");
                $("#aptmntOtherTitle").val("");                 // This enforces the clearing field, especially past document text that has reach the static maximum length set. 

                self.set("selectedPercentFte", "");
                var datepicker = $("#startDate").data("kendoDatePicker");
                datepicker.value(new Date());                 
                $("#startDate").val("");

                var datepicker = $("#endDate").data("kendoDatePicker");
                datepicker.value(new Date());                 
                $("#endDate").val("");
                self.set("selectedDateStarted", "");
                self.set("selectedDateEnded", "");
                self.set("selectedComment", "");
            },
            cancelAppointmentsInfo:function() {
                var self = this;
                self.set("addApptmntSectionVisible", false);
                self.set("addApptmntBtnVisible", true);
                self.hideValidationMsgs();
                self.clearAptmntInputFields();
            },
            saveAppointmentsInfo: function(){
                var self = this;
                var validationMsg = "must be integer between 0 and 100";
                var ftyTrkDropdownSelection = $('#newFtyTrkDropDown').data("kendoDropDownList").text();              
                var ftyClnDropdownSelection = $('#newFtyClnlFtyPathwayDropDown').data("kendoDropDownList").text();              
                var ftyRnkDropdownSelection = $('#newRankDropDown').data("kendoDropDownList").text();
                var validator = $("#editApptmntSection").kendoValidator(
                {
                    rules: {
                        greaterdate: function (input) {
                            if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                var date = input.data("kendoDatePicker").value(),
                                    otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                return otherDate == null || otherDate.getTime() < date.getTime();
                            }

                            return true;
                        },
                        // validating the FTE field and make sure the input range is 0 to 100
                        aptmntfte: function (input) {
                            if (input.is("[name=aptmntFte]")) {
                                return $.trim(input.val()) >= 0 && $.trim(input.val()) <= 100;
                            }
                            return true;
                        },

                        maxTextLengthotheraffiliations: function (textarea) {
                            if (textarea.is("[data-maxlengthAffiliatField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }

                            return true;
                        },
                        maxTextLengthothertitles: function (textarea) {
                            if (textarea.is("[data-maxlengthTitleField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }

                            return true;
                        },
                        maxTextLength: function (textarea) {
                            if (textarea.is("[data-maxtextlength-msg]") && textarea.val() != "") {
                                var maxlength = textarea.attr("data-maxtextlength");
                                var value = textarea.data("kendoEditor").value();
                                return value.replace(/<[^>]+>/g, "").length <= maxlength;
                            }

                            return true;
                        },
                    },
                    messages:{
                        aptmntfte: validationMsg,
                        maxTextLengthotheraffiliations: "You have exceeded the maximum number of 1500 characters in this field.",
                        maxTextLengthothertitles: "You have exceeded the maximum number of 1500 characters in this field."
                    }
                }).data("kendoValidator");
                
                if(validator.validate()){
                    /* --------------------- handle Faculty Track dropdown list property ------------------------ */
                    var ftySelectionForTrack = ftyTrkDropdownSelection;
                    if (self.selectedFtyTrack == null || self.selectedFtyTrack == ""){
                        ftySelectionForTrack = "";
                    }
                    /* ------------ handle Faculty clinical dropdown list property ------------ */
                    var ftySelectionForClinical = ftyClnDropdownSelection;
                    if (self.selectedClinicalFacultyPathway == null || self.selectedClinicalFacultyPathway == ""){
                        ftySelectionForClinical = "";//0;
                    }
                    /* ------------ handle Faculty rank dropdown list property ------------ */
                    var ftySelectionForRank = ftyRnkDropdownSelection;
                    if (self.selectedRank == null || self.selectedRank == ""){
                        ftySelectionForRank = "";
                    }
                    /* ----------------- clear out the dropdown placeholder values in the grid end here ---------- */
                    var updateData = {
                        id: self.selectedId,
                        personId: self.personId,
                        instName: self.selectedInstName,                     
                        facultyTrackId: self.selectedFtyTrack,
                        facultyTrack: ftySelectionForTrack,                       
                        clinicalFacultyPathwayId: self.selectedClinicalFacultyPathway,
                        clinicalFacultyPathway: ftySelectionForClinical,                        
                        facultyRankId: self.selectedRank,
                        facultyRank: ftySelectionForRank,                    
                        otherAffiliations: self.selectedOtherAffiliations,
                        otherTitles: self.selectedOtherTitles,
                        percentFte: self.selectedPercentFte,
                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,
                        comment: self.selectedComment
                    };
                    //window.console && console.log("Send these to server!!!");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Faculty/UpdateAppointment")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new Appointment failed!');
                        },
                        success: function (value) {
                            //window.console && console.log("in SUCCESS Top level");
                            //window.console && console.log(value);
                            var objectViewModel = $.grep(self.appointmentInformations,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (objectViewModel.length === 0) {        
                                //window.console && console.log("in SUCCESS IF");
                                //window.console && console.log(value);
                                /* ------------------ MVN - update the grid for ---------------- */
                                self.appointmentInformations.push(kendo.observable(value));


                                /* -------------------    Faculty Track dropdown   ----------------- */
                                self.ftyTrksDrpdwnDatasource.splice(0, value.ftyTrksDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.ftyTrksDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.ftyTrksDrpdwnDatasource.push({
                                    key: value.facultyTrackId,               // Value from GRID
                                    value: value.facultyTrack        // Value from GRID                           
                                });
                                self.set("selectedFtyTrack", value.facultyTrackId);                                
                                self.set("ftyTrksDrpdwnDatasource", value.ftyTrksDrpdwnDatasource); // SET back to Dropdown object
                                
                                /* ------------ Clinical Faculty Pathway ------------ */
                                self.clnlFtyPthwyDrpdwnDatasource.splice(0, value.clnlFtyPthwyDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.clnlFtyPthwyDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.clnlFtyPthwyDrpdwnDatasource.push({
                                    key: value.clinicalFacultyPathwayId,               // Value from GRID
                                    value: value.clinicalFacultyPathway        // Value from GRID                           
                                });
                                self.set("selectedClinicalFacultyPathway", value.clinicalFacultyPathwayId);
                                self.set("clnlFtyPthwyDrpdwnDatasource", value.clnlFtyPthwyDrpdwnDatasource); // SET back to Dropdown object

                                /* ------------ Rank ------------ */
                                self.rankDrpdwnDatasource.splice(0, value.rankDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.rankDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.rankDrpdwnDatasource.push({
                                    key: value.facultyRankId,               // Value from GRID
                                    value: value.facultyRank        // Value from GRID                           
                                });
                                self.set("selectedRank", value.facultyRankId);
                                self.set("rankDrpdwnDatasource", value.rankDrpdwnDatasource); // SET back to Dropdown object

                                toastr.success('Appointment added!');
                            } else {//update the entry
                                //console.log("I am in SUCCESS ELSE =>Update");
                                self.set("selectedId", value.id);   
                                var kendoGrid = $("#apptmntGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                /* ------------------- put back to the Grid ---------------------- */
                                /* ------------  institution is not part of the grid ------------- */ 
                                //selectedDataRow.set("institutionId", value.institutionId);
                                selectedDataRow.set("instName", value.instName);
                                /* ------------------------- SET back to the Grid ------------------------ */
                                selectedDataRow.set("facultyTrackId", value.facultyTrackId);
                                selectedDataRow.set("facultyTrack", value.facultyTrack);
                                selectedDataRow.set("clinicalFacultyPathwayId", value.clinicalFacultyPathwayId);
                                selectedDataRow.set("clinicalFacultyPathway", value.clinicalFacultyPathway);
                                selectedDataRow.set("facultyRankId", value.facultyRankId);
                                selectedDataRow.set("facultyRank", value.facultyRank);
                                
                                selectedDataRow.set("otherAffiliations", value.otherAffiliations);
                                selectedDataRow.set("otherTitles", value.otherTitles);
                                selectedDataRow.set("percentFte", value.percentFte);
                                selectedDataRow.set("comment", value.comment);
                                selectedDataRow.set("dateStartedText", value.dateStartedText);
                                selectedDataRow.set("dateStarted", value.dateStarted);
                                selectedDataRow.set("dateEndedText", value.dateEndedText);
                                selectedDataRow.set("dateEnded", value.dateEnded);
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);

                                /* -------------------      Faculty Track dropdown list     ----------------- */
                                self.ftyTrksDrpdwnDatasource.splice(0, value.ftyTrksDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.ftyTrksDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.ftyTrksDrpdwnDatasource.push({
                                    key: value.facultyTrackId,               // Value from GRID
                                    value: value.facultyTrack        // Value from GRID                           
                                });
                                self.set("selectedFtyTrack", value.facultyTrackId);                                
                                self.set("ftyTrksDrpdwnDatasource", value.ftyTrksDrpdwnDatasource); // SET back to Dropdown object
                                /* ------------ Clinical Faculty Pathway Dropdown list  ------------ */
                                self.clnlFtyPthwyDrpdwnDatasource.splice(0, value.clnlFtyPthwyDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.clnlFtyPthwyDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.clnlFtyPthwyDrpdwnDatasource.push({
                                    key: value.clinicalFacultyPathwayId,               // Value from GRID
                                    value: value.clinicalFacultyPathway        // Value from GRID                           
                                });
                                self.set("selectedClinicalFacultyPathway", value.clinicalFacultyPathwayId);
                                self.set("clnlFtyPthwyDrpdwnDatasource", value.clnlFtyPthwyDrpdwnDatasource); // SET back to Dropdown object

                                /* ------------ Rank dropdown list------------ */
                                self.rankDrpdwnDatasource.splice(0, value.rankDrpdwnDatasource.length);  // clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.rankDrpdwnDatasource.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.rankDrpdwnDatasource.push({
                                    key: value.facultyRankId,               // Value from GRID
                                    value: value.facultyRank        // Value from GRID                           
                                });
                                self.set("selectedRank", value.facultyRankId);
                                self.set("rankDrpdwnDatasource", value.rankDrpdwnDatasource); // SET back to Dropdown object
                                
                                toastr.success('Appointment updated!');
                            }
                            self.set("addApptmntSectionVisible", false);
                            self.set("addApptmntBtnVisible", true);
                        }
                    });
                }
            },
            addAppointment:function() {
                var self = this;
                self.set("addApptmntSectionVisible", true);
                self.set("addApptmntBtnVisible", false);

                var kendoGrid = $("#apptmntGrid").data("kendoGrid");
                kendoGrid.clearSelection();

                self.clearAptmntInputFields();
            },
            
            removedApptmnt:function(e) {
                var self = this;

                $(".removedApptmntBtn-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#apptmntGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addApptmntSectionVisible", false);
                    self.set("addApptmntBtnVisible", true);

                   // if(selectedDataRow.totalDegreeUsage === 0 || selectedDataRow.totalDegreeUsage === null || selectedDataRow.totalDegreeUsage ===''){
                    if (confirm("Do you want to delete this item?")) {
                        var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Faculty/RemoveFtyAptmnt/")'+deleteItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Appointment removed!');
                                kendoGrid.dataSource.remove(deleteItem);
                            }
                        });
                    }
                    return false;
                   // }
                    toastr.error('Appointment is in use and cannot be removed!');
                    return false;
                });
            },
            
            hideValidationMsgs: function() {
                var validator = $("#editApptmntSection").kendoValidator().data("kendoValidator");
                $("#editApptmntSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            FacultyTrackField: function(element){
                element.kendoAutoComplete({
                    dataSource: facultyTrack
                });
            },
            FacultyRankField: function(element){
                element.kendoAutoComplete({
                    dataSource: facultyRank
                });
            },

            PercentFteField: function(element){
                element.kendoAutoComplete({
                    dataSource: percentFte
                });
            }
        },@(Html.ToJson(Model))));
        kendo.bind($("#theFtyApptmntInfoSection-view"), apptmntSectionInfoVm);
        $("#apptmntGrid").data("kendoGrid").hideColumn(0);
    })
</script>


