﻿@using TraineeTrackingSystem.Web.Common
@model FacultyGeneralViewMoel


<div id="facultyEditPage-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />  
    <label class="control-label" for="lastName">Last Name*:</label>
    <textarea id="lastName" name="lastName" rows="1" cols="1" wrap="hard"
              data-maxlength="75"
              data-maxlength-msg="You have exceeded the maximum number of 75 characters in this field."
              data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"
              @*required validationmessage="This field is required"*@></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="lastName"></span></span>




    <label class="control-label" for="firstName">First Name*:</label>
    <textarea id="firstName" name="firstName" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthfirstNameField-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"
              @*required validationmessage="This field is required"*@></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>
 
    <label class="control-label" for="middleName">Middle Name:</label>
    <textarea id="middleName" name="middleName" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthmiddleNameField-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="middleName"></span></span>

    <label class="control-label" for="employeeId">Employee ID*:</label>
    <textarea id="employeeId" name="employeeId" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthemployeeIdField-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: employeeId, disabled: isDisabled" placeholder=" enter employee id"
              @*required validationmessage="This field is required"*@></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="employeeId"></span></span>


    <label class="control-label" >Position Department:</label>
    <input id="positionDeptDropDown" data-role="dropdownlist"
           data-option-label="Departments"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: positionDepartmentId,source: positionDepartments" />
        <span class="k-invalid-msg" data-for="rankId"></span>

    <label class="control-label">Position Organization:</label>
    <input id="positionOrgDropDown" data-role="dropdownlist"
           data-option-label="Departments"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: positionOrganizationId,source: positionOrganizations" />
    <span class="k-invalid-msg" data-for="rankId"></span>
   
    <label class="control-label">Mentor:</label>
    <input id="mentorDropDown" data-role="dropdownlist"
           data-option-label="Faculty List"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: mentorId,source: positionMentors" />
    <span class="k-invalid-msg" data-for="mentorId"></span>
    <label class="control-label">Gender:</label>
    <input id="genderDropDown" data-role="dropdownlist"
           data-option-label="select gender"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: genderId,source: positionGenders" />
    <span class="k-invalid-msg" data-for="genderId"></span>
    <label class="control-label">Gender at birth:</label>
    <input id="genderAtBirthDropDown" data-role="dropdownlist"
           data-option-label="select gender at birth"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: genderAtBirthId,source: positionGenderAtBirthes" />
    <span class="k-invalid-msg" data-for="genderAtBirthId"></span>
    <label class="control-label">Ethnicity:</label>
    <input id="ethnicityDropDown" data-role="dropdownlist"
           data-option-label="select ethnicity"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: ethnicityId,source: positionEthnicities" />
    <span class="k-invalid-msg" data-for="ethnicityId"></span>
    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: save" /> </span>
    </div>

</div>

<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#lastName').on('keyup',function(){
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });
       
        $('#firstName').on('keyup',function(){
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleName').on('keyup',function(){
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#employeeId').on('keyup',function(){
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });
        var personVm =kendo.observable($.extend({
            save : function() {
                var self = this;
                var validateMSG = "This field is required.";
                //var validator = $("#facultyEditPage-view").kendoValidator().data("kendoValidator");          
                var validator = $("#facultyEditPage-view").kendoValidator(
                {
                    rules: {                       
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlength-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },           
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddleNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        employeefield: function (textarea) {
                            if (textarea.is("[name=employeeId]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },      
                        //validation rule with html data tag 
                        maxTextLengthemployeeidfield: function (textarea) { 
                            if (textarea.is("[data-maxlengthemployeeIdField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },                  
                    },
                    messages:{
                        employeefield:validateMSG,
                        lastnamefield:validateMSG,
                        firstnamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthemployeeidfield: "You have exceeded the maximum number of 50 characters in this field."
                    }
                }).data("kendoValidator");

                if(validator.validate()){
                    var updateData = {
                        personId: self.personId,        //PersonId
                        id: self.id,                    //FacultyId
                        firstName: self.firstName,
                        middleName: self.middleName,
                        employeeId: self.employeeId,
                        lastName: self.lastName,
                        
                        positionDepartmentId: self.positionDepartmentId != null?
                            self.positionDepartmentId: null,
                        positionOrganizationId: self.positionOrganizationId != null?
                            self.positionOrganizationId: null,

                        mentorId: self.mentorId != null?
                            self.mentorId : null,
                        
                        genderId: self.genderId != null?
                            self.genderId: null,                          
                        genderAtBirthId: self.genderAtBirthId != null?
                            self.genderAtBirthId: null,
                        ethnicityId: self.ethnicityId != null?
                            self.ethnicityId: null,



                        // MVN - 2-19-2016 comment these block of codes out - no longer needed
                        //rankId: self.rankId != null ?
                        //    self.rankId : null,
                        //facultyPrograms: self.selectedPrograms,
                        //organizationId: self.organizationId != null ?
                        //    self.organizationId : null,

                        //secondOrgId: self.secondOrgId != null ?
                        //    self.secondOrgId : null,
                        //tiuId: self.tiuId != null ?
                        //        self.tiuId : null,
                        //otherAffiliations: self.otherAffiliations,
                        //otherTitles: self.otherTitles
                    };
                    console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Faculty/UpdateFaculty")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            //toastr.success('Update successful!');
                            toastr.success('Update successful! Refreshing page...');
                            location.reload();
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));  
        //console.log(personVm);
        kendo.bind($("#facultyEditPage-view"), personVm);
    })
</script>