﻿@using TraineeTrackingSystem.Web.Common
@model FacultyResearchInterestsViewModel

<div id="researchInterest-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    
    <script type="text/x-kendo-template" id="researchInterestLink">
        <div>
            <span>
                <a href="\\#addNewResearchInterest">${ researchInterest }</a>
            </span>
        </div>
    </script>
    <script type="text/x-kendo-template" id="research-deleteLink">
        <div>
            <span>
                <a href="\\#addNewResearchInterest" class="research-delete-link">Remove</a>
            </span>
        </div>
    </script>


    <div id="reseachInterestGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                       { 'field': 'id'},
                       {title:'Research Interest','field': 'researchInterest', template:kendo.template($('#researchInterestLink').html() )},
                        {title:'Action' ,width: 120, template:kendo.template($('#research-deleteLink').html() ) }]"
         data-bind="source: facultyResearchInterests,
                events:{
                    change:onSelect,
                     dataBound: dataBound
                    }">

    </div>


    <div id="addResearchButton" data-bind="visible:hideAddResearchInterestButton">
        <button data-role="button"
                data-bind="events: {click: addResearchInterest}">
            Add Research Interest
        </button>
    </div>
        <div class="expand" id="editResearchInterestSection" data-bind="visible:editResearchInterestSectionVisible">
            <label class="control-label osu-standard">Research Interest*:</label>
            @*<input id="researchInterest" name="researchInterest" type="text" placeholder="enter research interest"
                   data-bind="value:selectedResearchInterest" required validationmessage="This field is required" />*@
            <textarea id="researchInterest" name="researchInterest" rows="8" cols="20" wrap="hard" placeholder="enter research interest"
                      data-maxtextlength="4000"
                      data-maxtextlength-msg="You have exceeded the maximum number of 4000 characters in this field."
                      data-bind="value: selectedResearchInterest" @*required validationmessage="This field is required"*@></textarea>
            <span class="help-inline"><span class="k-invalid-msg" data-for="researchInterest"></span></span>

            <button class="add-section save" data-bind="click: saveResearchInterest">Save</button>
            <button class="add-section cancel" data-bind="click: cancel">Cancel</button>

        </div>
    </div>
<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Area of Study field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#researchInterest').on('keyup',function(){
            var characters = 4000;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field.");
            }
        });
        var researchInterestVm = kendo.observable($.extend({
            editResearchInterestSectionVisible:false,
            hideAddResearchInterestButton: true,
                updated  : false,               
                clearInput:function() {
                    var self = this;
                    self.set("selectedId", "");
                    self.set("selectedResearchInterest", "");                
                },
                dataBound:function(e) {
                    var self = this;
                    $(".research-delete-link").click(function (event) {
                        event.preventDefault();
                    
                        //self.clearInput();
                        var kendoGrid = $("#reseachInterestGrid").data("kendoGrid");
                        kendoGrid.clearSelection();
                        self.set("editResearchInterestSectionVisible", false);
                        self.set("hideAddResearchInterestButton", true);            //MVN -added this 3/28/2016 to ensure that 
                                                                                    // the button is not hidden after the item is removed
                        if (confirm("Do you want to delete this item?")) {
                            //If you un-comment the line below, 
                            //   the row disapears form the table but remaims in the data source
                            // $(this).closest("tr").hide("slow");                         
                            //This is KendoUI sugestion                       
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr")); // retrieve the data record for the row
                            $.ajax({
                                url: '@Url.Content("~/Faculty/DeleteResearchInterest/")'+JSON.stringify(deleteItem.id),
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Delete failed!');
                                },
                                success: function (id) {                        
                                    kendoGrid.dataSource.remove(deleteItem);
                                    toastr.success('Research Interest successfully deleted!');
                                }
                            });
                        }
                        return false;
                    });
                }, 
                onSelect : function(e) {
                    e.preventDefault();                    
                    var self = this;
                    var kendoGrid = $("#reseachInterestGrid").data("kendoGrid");
                    var selected=kendoGrid.dataItem( kendoGrid.select());
                    if (selected !== null) {
                        self.set("editResearchInterestSectionVisible", true);
                        self.set("selectedId",selected.id);
                        self.set("selectedResearchInterest",selected.researchInterest);
                    }
                    self.set("hideAddResearchInterestButton", false);
                }, 
                addResearchInterest:function() {
                    var self = this;
                    self.set("editResearchInterestSectionVisible", true);
                    self.set("hideAddResearchInterestButton", false);
                    self.clearInput();
                },
                cancel:function() {
                    var self = this;
                    self.set("editResearchInterestSectionVisible", false);
                    self.set("hideAddResearchInterestButton", true);
                },
                saveResearchInterest: function() {
                    //save view model to the database
                    var self = this;
                    var validateMSG = "This field is required.";
                    var researchinterestMSG ="You have exceeded the maximum number of 4000 characters in this field.";
                    //var validator = $("#editResearchInterestSection").kendoValidator().data("kendoValidator");      
                    var validator = $("#editResearchInterestSection").kendoValidator(
                    {
                        rules: {
                        
                            // validation rule without html data tag
                            researchinterestfield: function (textarea) {
                                if (textarea.is("[name=researchInterest]")) {
                                    return $.trim(textarea.val()) !== "";
                                }
                                return true;
                            },
                            // validation rule with html data tag

                            researchinterestmaxTextLengthfield: function (textarea) {
                                if (textarea.is("[data-maxtextlength-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxtextlength");
                                    var value = textarea.val();
                                    //return value.length <= maxlengthValue;
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },


                                      
                        },
                        messages:{
                            researchinterestfield:validateMSG,                            
                            researchinterestmaxTextLengthfield:researchinterestMSG
                        }
                    }).data("kendoValidator");
                
                       
                    if(validator.validate()){
                        var updateData = {
                            PersonId: self.personId,
                            Id: self.selectedId,
                            researchInterest: self.selectedResearchInterest
                        };

                        $.ajax({
                            url: '@Url.Content("~/Faculty/UpdateResearchInterest")',
                            data: JSON.stringify(updateData),
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Update failed!');
                            },
                            success: function (value) {
                                var researchInterests = self.facultyResearchInterests;
                                //add to new grid if it's not existing
                                var researchInterest= $.grep(researchInterests, function(e){ return e.id == value; });
                                if (researchInterest.length === 0) {
                                    researchInterests.push({
                                        id: value,
                                        researchInterest: self.selectedResearchInterest
                                    });
                                    toastr.success('Research Interest added!');
                                } else {//update the entry
                                    var kendoGrid = $("#reseachInterestGrid").data("kendoGrid");
                                    var selectedDataRow=kendoGrid.dataItem( kendoGrid.select());

                                    selectedDataRow.set("researchInterest", self.selectedResearchInterest);   
                                    toastr.success('Research Interest updated!');
                                }
                                self.set("editResearchInterestSectionVisible", false);
                                self.set("hideAddResearchInterestButton", true);
                                self.clearInput();
                            }
                        });
                    }
                }                
            },@(Html.ToJson(Model))));

        //window.console && console.log(researchInterestVm);
        kendo.bind($("#researchInterest-view"), researchInterestVm);
        $("#reseachInterestGrid").data("kendoGrid").hideColumn(0);
    })
</script>
