﻿@using TraineeTrackingSystem.Web.Common
@model OtherFundingsInfo

<div id="other-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Other</h2>
    <script type="text/x-kendo-template" id="otherfund-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")/Funding/Edit/#= id #'>
                    View Fund^
                </a>
            </span>
        </div>
    </script>

    @*MVN - keeps these for future ref*@ 
    @*<script id="startDateTemplate" type="text/x-kendo-template">
        #= (dateTimeFundingStarted == null) ? " " : kendo.toString(dateTimeFundingStarted, "dd MMMM yyyy") #
    </script>

    <script id="endDateTemplate" type="text/x-kendo-template">
        #= (dateTimeFundingEnded == null) ? " " : kendo.toString(dateTimeFundingEnded, "dd MMMM yyyy") #
    </script>*@

    <div class="grid-note">
        These are Pending and Active Funds that are associated with this Faculty Member.<br />
        To Add, go to <a href='@Url.Action("", "")/Funding/'>Funding</a>
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="otherGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                       { 'field': 'facultyPersonId'},
                       { 'field': 'id'},
                       {title:'Role','field':'facultyRole'},
                       {title:'Title','field': 'title'},
                       {title:'Sponsor','field':'sponsorName'},
                       {title:'Sponsor Award #',width:120,'field':'sponsorAwardNumber'},
                       {title:'Start Date','field': 'strDateTimeFundingStarted'},
                       {title:'End Date','field': 'strDateTimeFundingEnded'},
                       {title:'Action', 'width': '130px', template:kendo.template($('#otherfund-viewLink').html() ) }

         ]"
         data-bind="source: otherGridView">
    </div>

</div>

<script>
    $(document).ready(function () {
        var otherFundingVM = kendo.observable($.extend({
            otherGridView: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetOtherFundingList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#otherGrid").data("grid").value();
                            }
                        }
                    }
                }
            }),
        },@(Html.ToJson(Model))));
        kendo.bind($("#other-view"), otherFundingVM);
        $("#otherGrid").data("kendoGrid").hideColumn(0);
        $("#otherGrid").data("kendoGrid").hideColumn(1);
    })
</script>