﻿@model IEnumerable<Search_VwFacultyDemographics>

<div id="clientsDb"> 
    @(Html.Kendo().Grid(Model)
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.EmployeeId).Title("ID").Width(20);
              columns.Bound(c => c.FullName).ClientTemplate(@Html.ActionLink("#=FullName#", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Title("Name").Width(50);
              columns.Bound(c => c.PositionDepartment).Title("Position Department").Width(50);
              columns.Bound(c => c.Gender).Title("Gender").Width(20);
              columns.Bound(c => c.MentorFullName).Title("Mentor").Width(50);
          })
        .HtmlAttributes(new { style = "height: 375px;" })
        .Scrollable(scrollable => scrollable.Height(375))
                .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(selectItem => selectItem.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            // per customer request =>5
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.Id))
                    .Sort(sort =>
                    {
                        sort.Add(Empl => Empl.EmployeeId).Descending(); // <-- intial sort expression
                        sort.Add(fullName => fullName.FullName).Descending();
                        sort.Add(position => position.PositionDepartment).Descending();
                        sort.Add(gender => gender.Gender).Descending();
                        sort.Add(mentor => mentor.MentorFullName).Descending();
                    })
                    .Read(read => read.Action(/* action */"Faculties_Read", /* controller */ "Faculty"))
                    .PageSize(50)
        )
    )
</div>
<script>
    $(function () {
        // Notice that the Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>
