﻿@{
    ViewBag.Title = "Create Faculty";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Faculty</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        <div id="createFacultyRequest-view">

            <h1 class="section-title">Search Existing Faculty Member(s)</h1>

            <fieldset name="collectFacultyBasicInfo" id="collectFacultyBasicInfo" class="two-column-fields">         
                <label class="control-label" for="lastName">Last Name*:</label>
                <textarea id="lastName" name="lastName" rows="1" cols="1" wrap="hard"
                          data-maxlength="75"
                          data-maxlength-msg="You have exceeded the maximum number of 75 characters in this field."
                          data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"
                          ></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="lastName"></span></span>




                <label class="control-label" for="firstName">First Name*:</label>
                <textarea id="firstName" name="firstName" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthfirstnamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"
                          ></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>

                <label class="control-label" for="middleName">Middle Name:</label>
                <textarea id="middleName" name="middleName" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthmiddlenamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="middleName"></span></span>

                <label class="control-label" for="employeeId">Employee ID:</label>
                <textarea id="employeeId" name="employeeId" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthemployeeidfield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: employeeId, disabled: isDisabled" placeholder=" enter employee id"
                          ></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="employeeId"></span></span>     
                @*<label class="control-label" for="lastName">Last Name*:</label>
                <input id="lastName" name="lastName" class="add listing" type="text" data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"
                       required validationmessage="This field is required" />
                <span class="help-inline"><span class="k-invalid-msg" data-for="LastName"></span></span>

                <label class="control-label" for="firstName">First Name*:</label>
                <input id="firstName" name="firstName" class="add listing" type="text" data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"
                       required validationmessage="This field is required" />
                <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>
                <label class="control-label" for="middleName">Middle Name:</label>
                <input id="middleName" class="add listing" type="text" data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name" />
                <span class="k-invalid-msg" data-for="MiddleName"></span>


                <label class="control-label" for="employeeId">EmployeeID:</label>
                <input id="employeeId" class="add listing" type="text" data-bind="value: employeeId, disabled: isDisabled" placeholder=" enter employeeID" />
                <span class="k-invalid-msg" data-for="EmployeeId"></span>*@

                <div data-bind="invisible: isDisabled">
                    <input class="add button" type="button" value="Search Faculty" data-bind="click: searchPerson" />
                </div>


                <div id="peopleSearchGrid" data-bind="visible: searchCount>0">
                </div>

                <div id="peopleFound" data-bind="visible: resultVisisble">
                    <span>
                        If the Faculty Member is in the list, click the row to open and edit his/her information. <br /><br />
                        Otherwise, enter required fields above, and click 'Create' to make a new faculty member record. <br />
                        If Employee ID is not entered, a temporary Employee ID will be automatically created and assigned.
                    </span>
                    <input class="add button" type="button" value="Create New Faculty Member" data-bind="click: createPerson" />
                </div>

                <div id="nopeopleFound" data-bind="visible: noResultVisisble">
                    <span>
                        No matching Faculty records found.<br /><br />
                        Enter required fields above, and click 'Create' to make a new faculty member record.<br />
                        If Employee ID is not entered, a temporary Employee ID will be automatically created and assigned.
                    </span>
                    <input class="add button" type="button" value="Create New Faculty Member" data-bind="click: createPerson" />

                </div>

            </fieldset>


        </div>
    </article>
</div>
<script>

    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#lastName').on('keyup', function () {
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });

        $('#firstName').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleName').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#employeeId').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        var personViewMode = kendo.observable({

            firstName: "",
            lastName: "",
            middleName: "",
            employeeId: "",
            searchCount: -1,
            noResultVisisble: false,
            resultVisisble: false,

            createPerson: function (e) {
                e.preventDefault();
                var self = this;

                //var validator = $("#createFacultyRequest-view").kendoValidator().data("kendoValidator");
                var validateMSG = "This field is required.";
                //var validator = $("#facultyEditPage-view").kendoValidator().data("kendoValidator");          
                var validator = $("#createFacultyRequest-view").kendoValidator(
                {
                    rules: {
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlength-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstName]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddleNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        ////// validation rule without html data tag
                        ////employeefield: function (textarea) {
                        ////    if (textarea.is("[name=employeeId]")) {
                        ////        return $.trim(textarea.val()) !== "";
                        ////    }
                        ////    return true;
                        ////},
                        //validation rule with html data tag 
                        maxTextLengthemployeeidfield: function (textarea) {
                            if (textarea.is("[data-maxlengthemployeeIdField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                    },
                    messages: {
                        //employeefield: validateMSG,
                        lastnamefield: validateMSG,
                        firstnamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthemployeeidfield: "You have exceeded the maximum number of 50 characters in this field."
                    }
                }).data("kendoValidator");
                if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Content("~/Faculty/CreateFaculty")',
                        data: JSON.stringify(this.toJSON()),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Faculty could not be created!');
                        },
                        success: function (value) {
                            toastr.success('Faculty member created!');
                            window.location = '@Url.Content("~/Faculty/Edit/")' + value;                         
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            searchPerson: function (e) {
                var self = this;
                $.ajax({
                    url: '@Url.Content("~/CommonData/SearchFaculty")',
                    data: JSON.stringify(this.toJSON()),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        window.console && console.log("error");
                    },
                    success: function (value) {
                        self.set("searchCount", value.length);
                        self.set("noResultVisisble", value.length === 0);
                        self.set("resultVisisble", value.length > 0);
                        $("#peopleSearchGrid").kendoGrid({
                            columns: [{
                                field: "EmployeeId",
                                title: "ID"
                            }, {
                                field: "FullName",
                                template: '<a href="Edit/#=Id#">#=FullName#</a>',
                                title: "Name"
                            }, {
                                field: "Rank",
                                title: "Rank"
                            }, {
                                field: "PrimaryOrganization",
                                title: "Primary Department"
                            }],
                            dataSource: {
                                data: value,
                                pageSize: 20
                            },
                            height: 250,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            }
                        });
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });

            }
        });
        kendo.bind($("#createFacultyRequest-view"), personViewMode);
    });
</script>
