﻿@model EditFacultyViewModel
@{
    ViewBag.Title = "Edit Faculty";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Faculty Form</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">General Information</h1>   
        <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.PersonGeneralViewMoel.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.PersonGeneralViewMoel.LastUpdatedBy)) </p> 
        <fieldset name="FacultyGeneralInfo" id="FacultyGeneralInfo" class="two-column-fields">
            @{Html.RenderPartial("_FacultyGeneral", Model.PersonGeneralViewMoel);}
        </fieldset>    
        <h1 class="section-title">Appointments Information</h1>    
        <fieldset name="FacultyAppointmentInfo" id="FacultyAppointmentInfo" class="two-column-fields">
            @{Html.RenderPartial("_FacultyAppointmentInfo", Model.ApointmentInformations);}
        </fieldset>

        <h1 class="section-title">Academic Information</h1>
        <fieldset name="FacultyAcademicInfo" id="FacultyAcademicInfo" class="two-column-fields">
            @{Html.RenderPartial("_FacultyAcademicInformation", Model.AcademicInformations);}
        </fieldset>
        @*MVN 3/16/2016 ->commented this out - per Leslie request as we are no longer needed*@ 
        @*<h1 class="section-title">Degree Information</h1>
        <fieldset name="FacultyAcademicDegree" id="FacultyAcademicDegree" class="two-column-fields">
            @{Html.RenderPartial("_FacultyDegree", Model.DegreeInformations);}
        </fieldset>*@
        <h1 class="section-title">Mentee Information</h1>
        <fieldset name="FacultyMentee" id="FacultyMentee" class="two-column-fields">
            @{Html.RenderPartial("_FacultyMenteeMentors", Model.MenteesGridView);}
        </fieldset>

        <h1 class="section-title">Research Interest Information</h1>
        <fieldset name="FacultyResearchInterest" id="FacultyResearchInterest" class="two-column-fields">
            @{Html.RenderPartial("_FacultyResearchInterest", Model.FacultyResearchInterests);}
        </fieldset>

        <h1 class="section-title">Funding Information</h1>
        <fieldset name="FundingInformation" id="FundingInformation" class="two-column-fields">
            @{Html.RenderPartial("_FacultyFundingInformation", Model.FundingGridView);}
        </fieldset>
        
        <fieldset name="OtherFundingInfo" id="OtherFundingInfo" class="two-column-fields">
            @{Html.RenderPartial("_FacultyOtherFundingInfo", Model.OtherGridView);}
        </fieldset>
        
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        This action will take you to the menu, and unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button class="add-section" onclick="window.location = '@Url.Content("~/Faculty/Index/")'">OK</button>
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
</article>
</div>
