﻿@using TraineeTrackingSystem.Web.Models;
@model IEnumerable<Search_VwFacultyDemographics>
@{
    ViewBag.Title = "Faculty Index";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Faculty</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        @*@if (SecurityControl.IsAdminUser(this.User) || 
             SecurityControl.IsEditUser(this.User) ){*@ 
        @if (SecurityControl.IsReaderUser(this.User)) { 
            <div class="section-admin">
                @using (Html.BeginForm("Create", "Faculty"))
                {
                    <button type="submit" class="add-item program">+ Add Faculty</button>
                }
            </div>
            <div class="wide-grid">
                <div id="clientsDb">
                        @{Html.RenderPartial("_FacultyLandingPage", Model);}
                </div>
            </div>
        }

    </article>
</div>
