﻿@using TraineeTrackingSystem.Web.Common
@*@model FacultyGeneralViewMoel*@
@model ApplicantsGeneralViewModel

<div id="applicant-view">
    <input id="reseachId" type="hidden" data-bind="value: PersonId" />
    @*Selected Value: <span data-bind="text:doctorallevel"></span>*@
    <label class="control-label">Applicant Type: </label>

    <div class="radio-group">
        <div data-bind="source:doctItems" data-template="doctorallevel"></div>
        <script id="doctorallevel" type="text/x-kendo-template">
            <div>
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:doctorallevel" />
                <label data-bind="text:caption"></label>
            </div>
        </script>
    </div>
        @*<label class="control-label" for="doctoralLevel">Applicant Type: </label>
            <div class="radio-group">
                <input type="radio" data-bind="source:dtitems, attr:{name:id, value:value}, checked:doctorallevel" />
                <label data-bind="text:caption"></label>
            </div>*@

        @*<div class="radio-group">
                    @Html.RadioButtonFor(b => b.doctoralLevel, 1, new { id = "doctoralLevel1" })

                    @Html.LabelFor(b => b.doctoralLevel, "Pre-doc")
                    @Html.RadioButtonFor(b => b.doctoralLevel, 2, new { id = "doctoralLevel2" })

                    @Html.LabelFor(b => b.doctoralLevel, "Post-doc")

            </div>*@

        <br />
        <br />

        @*<label class="control-label">Department:</label>
            <input id="departmentDropDown" data-role="dropdownlist"
                   data-option-label="- select Primary Appointment -"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: organizationId,source: organization" />

            <span class="k-invalid-msg" data-for="organizationId"></span>
            <br />*@
        @*<label class="control-label">Department:</label>
            <input id="departmentDropDown" data-role="dropdownlist"
                   data-option-label="- select Primary Appointment -"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: DepartmentId, source: departments">
            <span class="k-invalid-msg" data-for="organizationId"></span>*@
        <br />
        <br />
        @*<label>Year:</label>
            <input type="text" id="inputDegreeYear" data-bind="value:DegreeEnteredYear" placeholder=" YYYY" size="4" maxlength="4" />

            <br />
            <br />*@


        @*<label class="control-label" for="IsTGE">Training Grant Eligible:</label>

            <div class="radio-group">
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsTrainingGrantEligible" />
                <label data-bind="text:caption"></label>
            </div>*@

    <label class="control-label">Training Grant Eligible: </label>

        <div class="radio-group">
            <div data-bind="source:grantItems" data-template="IsTrainingGrantEligible"></div>
            <script id="IsTrainingGrantEligible" type="text/x-kendo-template">
                <div>
                    <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsTrainingGrantEligible" />
                    <label data-bind="text:caption"></label>
                </div>
            </script>
        </div>

        @*<div class="radio-group">

                    @Html.RadioButtonFor(b => b.IsTrainingGrantEligible, true, new { id = "TGE1" })

                    @Html.LabelFor(b => b.IsTrainingGrantEligible, "Yes")
                    @Html.RadioButtonFor(b => b.IsTrainingGrantEligible, false, new { id = "TGE2" })

                    @Html.LabelFor(b => b.IsTrainingGrantEligible, "No")
            </div>*@
        @*<label class="control-label" for="IsUnderrepresentedMinority">Underrepresented minority:</label>

            <div class="radio-group">
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsUnderrepresentedMinority" />
                <label data-bind="text:caption"></label>
            </div>*@

    <label class="control-label">Underrepresented minority: </label>

    <div class="radio-group">
        <div data-bind="source:minorityItems" data-template="IsUnderrepresentedMinority"></div>
        <script id="IsUnderrepresentedMinority" type="text/x-kendo-template">
            <div>
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsUnderrepresentedMinority" />
                <label data-bind="text:caption"></label>
            </div>
        </script>
    </div>
        @*<div class="radio-group">
                @using (Html.BeginForm())
                {
                    @Html.RadioButtonFor(b => b.IsUnderrepresentedMinority, 1, new { id = "Underrep1" })

                    @Html.LabelFor(b => b.IsUnderrepresentedMinority, "Yes")
                    @Html.RadioButtonFor(b => b.IsUnderrepresentedMinority, 2, new { id = "Underrep2" })

                    @Html.LabelFor(b => b.IsUnderrepresentedMinority, "No")
                    @Html.RadioButtonFor(b => b.IsUnderrepresentedMinority, 0, new { id = "Underrep3" })

                    @Html.LabelFor(b => b.IsUnderrepresentedMinority, "Not declared")
                }

            </div>*@
        @*<label class="control-label" for="IsIndividualWithDisabilities">Individual with disability:</label>

            <div class="radio-group">
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsIndividualWithDisabilities" />
                <label data-bind="text:caption"></label>
            </div>*@
    <label class="control-label">Individual with disability: </label>

        <div class="radio-group">
            <div data-bind="source:disabilitiesItems" data-template="IsIndividualWithDisabilities"></div>
            <script id="IsIndividualWithDisabilities" type="text/x-kendo-template">
                <div>
                    <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsIndividualWithDisabilities" />
                    <label data-bind="text:caption"></label>
                </div>
            </script>
        </div>
        @*<div class="radio-group">
                    @Html.RadioButtonFor(b => b.IsIndividualWithDisabilities, 1, new { id = "Disabilites1" })

                    @Html.LabelFor(b => b.IsIndividualWithDisabilities, "Yes")
                    @Html.RadioButtonFor(b => b.IsIndividualWithDisabilities, 2, new { id = "Disabilites2" })

                    @Html.LabelFor(b => b.IsIndividualWithDisabilities, "No")
                    @Html.RadioButtonFor(b => b.IsIndividualWithDisabilities, 0, new { id = "Disabilites3" })

                    @Html.LabelFor(b => b.IsIndividualWithDisabilities, "Not Declared")
            </div>*@
        @*<label class="control-label" for="IsFromDisadvantagedBkgd">Individual from disadvantaged background:</label>

            <div class="radio-group">
                <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsFromDisadvantagedBkgd" />
                <label data-bind="text:caption"></label>
            </div>*@
    <label class="control-label">Individual from disadvantaged background: </label>

        <div class="radio-group">
            <div data-bind="source:bkgdItems" data-template="IsFromDisadvantagedBkgd"></div>
            <script id="IsFromDisadvantagedBkgd" type="text/x-kendo-template">
                <div>
                    <input type="radio" data-bind="attr:{name:id, value:value}, checked:IsFromDisadvantagedBkgd" />
                    <label data-bind="text:caption"></label>
                </div>
            </script>
        </div>
        @*<div class="radio-group">
                    @Html.RadioButtonFor(b => b.IsFromDisadvantagedBkgd, 1, new { id = "Disadvantaged1" })

                    @Html.LabelFor(b => b.IsFromDisadvantagedBkgd, "Yes")
                    @Html.RadioButtonFor(b => b.IsFromDisadvantagedBkgd, 2, new { id = "Disadvantaged2" })

                    @Html.LabelFor(b => b.IsFromDisadvantagedBkgd, "No")
                    @Html.RadioButtonFor(b => b.IsFromDisadvantagedBkgd, 0, new { id = "Disadvantaged3" })

                    @Html.LabelFor(b => b.IsFromDisadvantagedBkgd, "Not declared")
            </div>*@
        <br />

        <div id="updateDiv">

            <span> <input class="add-section" type="button" value="Save" data-bind="click: updateData" /> </span>
        </div>
    </div>
<script>
    $(document).ready(function () {
        function validateNumber(event) {
            var key = window.event ? event.keyCode : event.which;

            if (event.keyCode == 8 || event.keyCode == 46
             || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            }
            else if (key < 48 || key > 57) {
                return false;
            }
            else return true;
        };
        $('[id^=inputDegreeYear]').keypress(validateNumber);

        var applicantVm = kendo.observable({         
            firstName: "",
            lastName: "",
            middleName: "",
            //PersonId: "",
            //ApplicantId: "",
            //doctoralLevel: "0",
            //id:"doctoralLevel",
            //dtItems:[
            //    {caption:"pre-doc", value:"1"},
            //    {caption:"post-doc", value:"2"}
       
            //],

            doctorallevel: "1",
            
            id: "doctorallevel",
            doctItems: [
                {caption:"Pre-doc", value:"1"},
                {caption:"Post-doc", value:"2"}

            ],
            IsTrainingGrantEligible: false,
           
            id: "IsTrainingGrantEligible",
            grantItems: [
                { caption: "Yes", value: "0" },
                { caption: "No", value: "1" }
            ],
            IsUnderrepresentedMinority: "0",
           
            id: "IsUnderrepresentedMinority",
            minorityItems: [             
                { caption: "Yes", value: "1" },
                { caption: "No", value: "2" },
                { caption: "Not Declared", value: "0" }
            ],
            IsIndividualWithDisabilities: "0",
            
            id: "IsIndividualWithDisabilities",
            disabilitiesItems: [             
                { caption: "Yes", value: "1" },
                { caption: "No", value: "2" },
                { caption: "Not Declared", value: "0" }
            ],
            IsFromDisadvantagedBkgd: "0",
            
            id: "IsFromDisadvantagedBkgd",
            bkgdItems: [              
                { caption: "Yes", value: "1" },
                { caption: "No", value: "2" },
                { caption: "Not Declared", value: "0" }
            ],
            updateData: function (e) {
                var self = this;
                $.ajax({
                    url: '@Url.Content("~/Applicant/CreateNewApplicant")',
                    data: JSON.stringify(self.toJSON()),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        toastr.error('Update failed!');
                    },
                    success: function (value) {
                        window.console && console.log(self);
                        window.console && console.log(value);
                        toastr.success('Update succeed!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
           
        });
        kendo.bind($("#applicant-view"), applicantVm);


    });
</script>

@* GOOD COPY  *@
@*<script>
    $(document).ready(function () {
        function validateNumber(event) {
            var key = window.event ? event.keyCode : event.which;

            if (event.keyCode == 8 || event.keyCode == 46
             || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            }
            else if ( key < 48 || key > 57 ) {
                return false;
            }
            else return true;
        };

        $('[id^=inputDegreeYear]').keypress(validateNumber);

        var applicantVm = @(Html.ToJson(Model));
        applicantVm.updateData = function() {
            //save view model to the database
            var self = this;
            //window.console && console.log(self);
            var updateData = {
                PersonId: self.personId,
                Id: self.selectedId,
                departments: self.departmentId,
                IsTrainingGrantEligible: self.IsTrainingGrantEligible,
                //doctoralLevel: self.DoctoralLevelId,
                //organization: self.organizationId,

                //departments: self.departmentId,
                //degreeyear: self.degreeEnteredYear,
                //doctoralLevel: self.DoctoralLevelId,
                
                //organizations: self.organizationId,
                // do change to EnteredYear
                //YearStarted: self.DegreeEnteredYear
                
                
                //IsTrainingGrantEligible: self.IsTrainingGrantEligible,
                //IsUnderrepresentedMinority: self.IsUnderrepresentedMinority,
                //IsIndividualWithDisabilities: selft.IsIndividualWithDisabilities,
                //IsFromDisadvantagedBkgd: self.IsFromDisadvantagedBkgd
            };
            window.console && console.log(updateData);
            $.ajax({
                url: '@Url.Content("~/Applicant/CreateNewApplicant")',
                data: JSON.stringify(self.toJSON()),
                contentType: "application/json, charset=utf-8",
                type: "POST",
                datatype: "json",
                
                error: function () {
                    toastr.error('Update failed!');
                },
                success: function (value) {
                    window.console && console.log(self);
                    window.console && console.log(value);
                    toastr.success('Update succeed!');
                },
                complete: function () {
                    window.console && console.log("completed");
                }
            });
        };
        window.console && console.log(applicantVm);
        kendo.bind($("#applicant-view"), applicantVm);
    })
</script>*@      
