﻿@*@using MVC5Framework.CommonUtility;*@
@using MVC5Framework.CommonUtility;

@using System.Configuration;
@using Microsoft.AspNet.Identity;
@using TraineeTrackingSystem.Common;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="http://www.osu.edu/assets/fonts/webfonts.css">*@
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Styles.Render("~/Content/css", "~/Content/kendo/styles/css", "~/Content/themes/OSUWMC/css")

    <!--[if lte IE 8]>
    @Scripts.Render("~/bundles/modernizr")
    <![endif]-->    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo", "~/bundles/osuwmc")
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <!-- jQuery JavaScript -->
    <script src="~/Scripts/Kendo/js/jquery.min.js"></script>

    <!-- Kendo UI combined JavaScript -->
    <script src="~/Scripts/Kendo/js/kendo.all.min.js"></script>

</head>
<body class="application">
    <header class="application">
        <div class="header">

            <div class="wrapper">
                @if (Html.CheckIfPatialViewExists("_TopNavigationBarBrand"))
                {
                    Html.RenderPartial("_TopNavigationBarBrand");
                }
                <a class="logo" href="@Url.Action("Index", "Home", null, "http", ConfigurationManager.AppSettings["TraineeTrackingSystemHostName"])"><img src="~/content/themes/OSUWMC/images/logo.png" alt="logo" /></a>
            </div>
            @if (Html.CheckIfPatialViewExists("_TopNavigationBar"))
            {
                Html.RenderPartial("_TopNavigationBar");
            }
        </div>
    </header>


    <section class="wrapper">
        @if (Html.CheckIfPatialViewExists("_LoginPartial"))
        {
            Html.RenderPartial("_LoginPartial");
        }

        @RenderBody()
    </section>



    <footer class="application">
        <p class="contact">Application specific footer stuff goes here.</p>
        <a class="leaf"><img src="~/Content/themes/OSUWMC/images/buckeye-leaf-red.png" alt="" /><br>Enterprise Custom Applications</a>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    <!--[if lte IE 8]>
    @Scripts.Render("~/bundles/respond")
    <![endif]-->
    @RenderSection("scripts", required: false)
</body>
</html>
