﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="user">
            <div class="wrapper">
                <span class="user-name"> Welcome back @(((System.Security.Claims.ClaimsPrincipal)User).Claims.Where(p => p.Type == ClaimTypes.GivenName).FirstOrDefault().Value) </span>
                <input class="logout" type="button" value="Log out" onclick="javascript:document.getElementById('logoutForm').submit()" />
            </div>
        </div>
    }
}
