﻿@using TraineeTrackingSystem.Web.Common;

@model TraineeTrackingSystem.Data.Mentee

<div id="contractinfo-view">

    <!--MENTEE ID-->
    <label class="control-label" for="StudentId">Mentee ID:</label>
    <input class="k-textbox" id="StudentId" name="StudentId" type="text" placeholder="xxxx00" validationmessage="Mentee ID is required" 
           data-bind="value: studentId, events: { change : setDataChanged }, disabled: isDisabled" required />
    <span class="k-invalid-msg" data-for="StudentId"></span>

</div>

<script>
    var menteeGenInfoViewModel = kendo.observable({
        homeUrl: "",
        menteeMasterId: "",
        studentId: "",
        @*amount: "0",
        expenses: "0",
        revenue: "0",
        startDate: "",
        endDate: "",
        completionDeadline: "",
        comments: "",
        reviewer: "",
        requestType: "",*@

        dataChanged: false,
        isDisabled: false,


        init: function (values) {
            this.set("homeUrl", values.homeUrl);
            this.set("requestMasterId", values.menteeMasterId);
            this.set("isDisabled", values.isDisabled);
            //this.set("requestType", values.requestType);

            this.set("studentId", '@Model.StudentId');
            @*this.set("amount", '@Model.ContractAmount');
            this.set("expenses", '@Model.Expenses');
            this.set("revenue", '@Model.Revenue');
            this.set("startDate", '@Model.StartDate');
            this.set("endDate", '@Model.EndDate');

            this.set("completionDeadline", '@Model.DesiredCompletionDate');
            this.set("comments", '@Model.Comments.JavaEscape()');
            this.set("reviewer", '@Model.Reviewer.JavaEscape()');*@

            this.createMenteeGenInfoAutoComplete();
            //this.applyValidator();

        },

        createMenteeGenInfoAutoComplete: function () {
            var homeUrl = menteeGenInfoViewModel.get("homeUrl");
            // create Curerncy NumericTextBox from input HTML element
            @*@$("#ContractAmount").kendoNumericTextBox({
                format: "c",
                min: 0
            });

            $("#ContractExpenses").kendoNumericTextBox({
                format: "c",
                min: 0
            });

            $("#ContractRevenue").kendoNumericTextBox({
                format: "c",
                min: 0
            });

            $("#TermStartDate").kendoDatePicker({});
            $("#TermEndDate").kendoDatePicker({});
            $("#CompletionDeadline").kendoDatePicker({});

            $("#RequestedReviewer").kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "Name",
                optionLabel: "- Previously worked with -",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: homeUrl + "/CommonData/GetReviewers",
                        }
                    }
                }
            });*@
        },

        saveChanges: function () {
            if (this.validate() == false) return false;

            if (this.get("dataChanged") == false) {
                return true;
            }

            var menteeMasterId = menteeGenInfoViewModel.get("menteeMasterId");
            var newMenteeGenInfo =
                      {
                          menteeMasterId: menteeGenInfoViewModel.get("menteeMasterId"),
                          StudentId: menteeGenInfoViewModel.get("studentId"),
                          @*ContractAmount: contractInfoViewModel.get("amount"),
                          Expenses: contractInfoViewModel.get("expenses"),
                          Revenue: contractInfoViewModel.get("revenue"),
                          StartDate: contractInfoViewModel.get("startDate"),
                          EndDate: contractInfoViewModel.get("endDate"),
                          DesiredCompletionDate: contractInfoViewModel.get("completionDeadline"),
                          Comments: contractInfoViewModel.get("comments"),
                          Reviewer: contractInfoViewModel.get("reviewer"),
                          requestType: contractInfoViewModel.get("requestType")*@
                      };


            return $.ajax({
                type: "POST",
                url: contractInfoViewModel.get("homeUrl") + "/Mentee/AddUpdateMenteeGenInfo",
                data: JSON.stringify(newMenteeGenInfo),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (typeof console !== "undefined" && typeof console.log !== "undefined") {
                        console.log("mentee " + result.ErrorCode);
                    }

                    if (result.ErrorCode === "0") {
                        //Hide save button
                        contractInfoViewModel.set("dataChanged", false);
                        //contractInfoViewModel.set("requestContractInfoID", result.ReturneId);
                        contractInfoViewModel.applyValidator();
                    }
                    else {
                        alert(result.ErrorCode);
                    }
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        },

        setDataChanged: function () {
            this.set("dataChanged", true);
        },


    });


</script>

@*}*@

