﻿

<div id="createRequest-view">


    <label class="control-label" for="firstName">First Name:</label>
    <input id="firstName" class="add listing" type="text" data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name" />
    <span class="k-invalid-msg" data-for="FirstName"></span>

    <label class="control-label" for="middleName">Middle Name:</label>
    <input id="middleName" class="add listing" type="text" data-bind="value: middleName, disabled:isDisabled" />
    <span class="k-invalid-msg" data-for="MiddleName"></span>

    <label class="control-label" for="lastName">Last Name:</label>
    <input id="lastName" class="add listing" type="text" data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name" />
    <span class="k-invalid-msg" data-for="LastName"></span>


    <label class="control-label" for="employeeId">EmployeeID:</label>
    <input id="employeeId" class="add listing" type="text" data-bind="value: employeeId, disabled: isDisabled" placeholder=" enter employeeID" />
    <span class="k-invalid-msg" data-for="EmployeeId"></span>

    <div data-bind="invisible: isDisabled">

        <input class="add button" type="button" value="Search Person" data-bind="click: searchPerson" />
    </div>

</div>

<script>

    $(document).ready(function(){
        
        var personViewMode = {};
        kendo.bind($("#createRequest-view"), personViewMode);
       
    });
</script>


