﻿@*@using TraineeTrackingSystem.Common;*@
@*@model IEnumerable<TraineeTrackingSystem.Data.FacultyResearchInterest>*@ 
@*@model TraineeTrackingSystem.Data.Faculty*@
@using TraineeTrackingSystem.Web.Common
@model FacultyGeneralViewMoel


<div id="researchInterest-view">
    <label class="control-label" for="researchInterest">Research Interest: </label>
    <input id="researchInterest" class="add listing" type="text" data-bind="value: researchInterest, disabled: isDisabled" placeholder="- enter research interest - " />
    <span class="k-invalid-msg" data-for="researchInterest"></span>




    <br />
    <br />
    <!-- GET DEPARTMENT-->
    <label class="control-label" for="FacultyResearchInterest_Organization">department: </label>
    <input id="FacultyResearchInterest_Organization" name="FacultyResearchInterest_Organization" placeholder="- select department -" validationmessage="please provide department"
           data-bind="value: department, events: {change: setDataChanged }"/>
    <span class="k-invalid-msg" data-for="FacultyResearchInterest_Organization"></span>

    <div class="k-select">
        <label>Department: </label>
        <input type="text" id="FacultyResearchInterest_Organization" />
    </div>
    <br />
    <br />    
    <span><input class="add-section" type="button" value="Add Research Interest" data-bind="click: addResearchInterest" /></span>

</div>

<script>
    var researchViewModel = kendo.observable({
        facultyUrl: "",
        personId: "",
        researchInterest: "",
        department: "",
        dataChanged: false,
        isDisabled: false,
        init: function (values) {
            this.set("facultyUrl", values.facultyUrl);
            this.set("personId", values.personId);
            this.set("isDisabled", values.isDisabled);
            this.set("researchInterest", values.researchInterest);
            this.set("department", values.department);
            this.get("researchDataSource").transport.options.read.url = values.facultyUrl + "CommonData/GetFCTYResearchInterest";
            this.createDepartmentDropDowns();
            $("#researchInterest-view").getKendoValidator({});

        },
        researchDataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: '',
                    dataType: "json",
                    type: "GET"
                }
            },



            error: function (e) {
                if (e.errors) {
                    alert(e.errors);
                }
            }
        }),

        createDepartmentDropDowns: function () {
            $("#FacultyResearchInterest_Organization").kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "DisplayName",
                dataValueField: "FacultyResearchInterest_Organization",
                dataSource: researchViewModel.get("researchDataSource"),
                optionLable: "- select Department -"
            });
        },
        saveChanges: function () {
            if (this.validate() == false) return false;

            if (this.get("dataChanged") == false) {
                return true;
            }

            var newModel = {
                PersonId: this.get("personId"),
                ResearchInterest: this.get("researchInterest"),
                DepartmentId: this.get("department")
            };

            return $.ajax({
                type: "POST",
                url: researchViewModel.get("facultyUrl") + "/Faculty/AddFCTYResearchInterest",
                data: JSON.stringify(newModel),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (typeof console !== "undefined" && typeof console.log !== "undefined") {
                        console.log("Title: " + result.ErrorCode);
                    }

                    if (result.ErrorCode === "0") {
                        //Hide save button
                        titleViewModel.set("dataChanged", false);

                    }
                    else {
                        //Show error message
                        alert(result.ErrorCode);
                    }
                },
                error: function (request, status, error) {

                    alert(error);
                }
            });
        },

        setDataChanged: function () {

            this.set("dataChanged", true);
        },

        validate: function () {
            var validator = $("#researchViewModel").kendoValidator({
                maxlength: function (input) {

                    var maxlength = input.data('maxlength');
                    // if the `data-maxlength attribute was found
                    if (maxlength) {

                        if (input.val() != null && (input.val().length) <= maxlength) {

                            // the fields legth OK
                            return true;

                        } else {

                            //validation fails
                            return false;

                        }
                    }

                    // don't perform any validation on the input
                    return true;

                }
            }).data("kendoValidator");
            if (!validator.validate()) {
                return false;
            }
            return true;
        }
    });

    $(document).ready(function () {

        var isDisabled = ('@ViewBag.isDisabled' == "True");



        var values = {
            personId: '@Model.PersonId',
            homeUrl: '@Url.Action("", "Faculty")',
            isDisabled: isDisabled,
            researchInterest:  '@Model.EmployeeId',

            department: "@Model.PrimaryOrganizationId"

        }

        researchViewModel.init(values);

        kendo.bind($("#researchInterest-view"), researchViewModel);

    });

</script>


