﻿@using System.Configuration;
@using Microsoft.AspNet.Identity;
@using TraineeTrackingSystem.Web.Models;

<nav class="app-nav">
    <div class="mobile-menu">
        <span class="mobile-icon"></span>
        <span class="respondCount" id="respondCount"></span>
    </div>

    <ul id="myTopicsList">          
        @if (SecurityControl.IsAdminUser(this.User)){
            <li> @Html.ActionLink("Training Grants", "Index", "TrainingGrant")</li>
            <li> @Html.ActionLink("Funding", "Index", "Funding")</li>
            <li> @Html.ActionLink("Applicants", "Index", "Applicant") </li>
            <li> @Html.ActionLink("Faculty", "Index", "Faculty") </li>
            <li> @Html.ActionLink("Mentees", "Index", "Mentee")</li>
            <li> @Html.ActionLink("Reports", "Index", "Report")</li>
            <li> @Html.ActionLink("Admin", "Index", "Admin")</li>
            <li> @Html.ActionLink("Users", "Index", "User")</li>
        }
        @if (SecurityControl.IsEditUser(this.User) && 
            !SecurityControl.IsAdminUser(this.User)){
            <li> @Html.ActionLink("Training Grants", "Index", "TrainingGrant")</li>
            <li> @Html.ActionLink("Funding", "Index", "Funding")</li>
            <li> @Html.ActionLink("Applicants", "Index", "Applicant") </li>
            <li> @Html.ActionLink("Faculty", "Index", "Faculty") </li>
            <li> @Html.ActionLink("Mentees", "Index", "Mentee")</li>
            <li> @Html.ActionLink("Reports", "Index", "Report")</li>
        }
        @if (SecurityControl.IsReaderUser(this.User) && !SecurityControl.IsAdminUser(this.User)&&!SecurityControl.IsEditUser(this.User)){
            <li> @Html.ActionLink("Reports", "Index", "Report")</li>
        }
    </ul>
</nav>

    @*<script>


        $(document).ready(function () {

        })
    </script>*@
@*}*@
@*<li> @Html.ActionLink("Training Grants", "Index","TrainingGrant")</li>
    <li> @Html.ActionLink("Funding", "Index", "Funding")</li>
    <li> @Html.ActionLink("Applicants", "Index", "Applicant" ) </li>
    <li> @Html.ActionLink("Faculty", "Index", "Faculty") </li>
    <li> @Html.ActionLink("Mentees", "Index", "Mentee")</li>
    <li> @Html.ActionLink("Reports", "Index", "Report")</li>
    <li> @Html.ActionLink("Admin", "Index", "Admin")</li>*@
@*<li> @Html.ActionLink("Non-NIH Support", "Index", "Support")</li>*@
