﻿@using TraineeTrackingSystem.Web.Common
@model MenteeTrainingPeriodsViewModel

<div id="trainingperiod-view">
    @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.LastUpdatedBy)) </p>*@ 
    <input id="trainingPeriodId" type="hidden" data-bind="value: selectedId" />

    @*<script type="text/x-kendo-template" id="trainingPeriodLink">
        <div>
            <span>
                <a href="\\#addTrainingPeriodButton">${ doctoralLevel }</a>
            </span>
        </div>
    </script>*@

    <script type="text/x-kendo-template" id="trainingperiod-removeLink">
        <div>
            <span>
                <a href="\\#addTrainingPeriodButton" class="trainingperiod-remove-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="trainingPeriodGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         @*data-columns="[
                { 'field': 'id'},
                {title:'Mentee Type','field': 'doctoralLevel','width': '125px', template:kendo.template($('#trainingPeriodLink').html() )},
                {title:'Institution','field': 'institutionName','width': '433px' },
                {title:'Degree','field': 'academicDegreeName','width': '100px' },
                {title:'Started','field': 'yearStarted','width': '75px' },
                {title:'Ended','field': 'yearEnded','width': '75px' },
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#trainingperiod-removeLink').html() ) }
         ]"*@
         data-columns="[
                { 'field': 'id'},
                {title:'Mentee Type','field': 'doctoralLevel','width': '120px'},
                {title:'Institution','field': 'institutionName' },
                {title:'Degree','field': 'academicDegreeName','width': '100px' },
                {title:'Started','field': 'yearStarted','width': '75px' },
                {title:'Ended','field': 'yearEnded','width': '75px' },
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '120px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '120px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#trainingperiod-removeLink').html() ) }
         ]"
         data-bind="source: menteeTrainingPeriods,
            events:{
                change:onSelectTrainingPeriod,
                dataBound: dataBoundTrainingPeriod
            }">
    </div>

    <div id="addTrainingPeriodButton" data-bind="visible:addTPButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addTrainingPeriodToPerson }">
            Add Training Period
        </button>
    </div>
    
    <!--EXPANDABLE SECTION -- TRAINING PERIOD -->
    <div class="expand" id="editTrainingPeriodSection" data-bind="visible:addTrainingPeriodSectionVisible">

        <label class="control-label osu-standard" for="doctoralLevelId">Mentee Type*:</label>
        <div class="radio-group">
            <input type="radio" name="doctoralLevelId" value="1" data-bind="checked: selectedDoctoralLevel" required validationmessage="This field is required" /><label>pre-doc</label>
            <input type="radio" name="doctoralLevelId" value="2" data-bind="checked: selectedDoctoralLevel" required validationmessage="This field is required" /><label>post-doc</label>
            <span class="help-inline"><span class="k-invalid-msg" data-for="doctoralLevelId"></span></span>
        </div>
       

        @*<label class="control-label osu-standard" for="programMultiSelect">Program(s):</label>*@
        @*<select id="programMultiSelect"
                data-role="multiselect"
                data-placeholder="select program(s)"
                data-value-primitive="true"
                data-text-field="value"
                data-value-field="key"
                data-bind="value: selectedProgram,source: programs">
        </select>*@
        <label class="control-label osu-standard">Program:</label>
        <div>
            <input id="programDropDown" data-role="dropdownlist"
                   data-option-label="select program"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedProgram,source: programs" />
            <span class="k-invalid-msg" data-for="programDropDown"></span>
        </div>

        <label class="control-label osu-standard" for="institutionAutoComplete">Institution where training occurred:</label>
        @*<input id="institutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type an institution name (at least three characters) "
               data-min-length="3"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedInstitution,
                        source: institutions,
                        events: {open: hideValidationMsgs}" />*@
        <input type="text"
               id="institutionAutoComplete"
               name="institutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedInstitution" />
        @*<button data-role="button"
                data-bind="events: { click: addNewTPInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION -->
        @*<div id="newTPInstitutionWindow" data-bind="visible:addNewTPInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newTPInstitutionNameField">Name*:</label>
                <input id="newTPInstitutionNameField" name="newTPInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newTPInstitutionName" placeholder="enter institution name" />
                <span class="k-invalid-msg" data-for="newTPInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newTPInstitutionCityField">City*:</label>
                <input id="newTPInstitutionCityField" name="newTPInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newTPInstitutionCityName" placeholder="enter institution city" />
                <span class="k-invalid-msg" data-for="newTPInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newTPInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select state"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newTPInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newTPInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newTPInstitutionCountryDropDown" name="newTPInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newTPInstitutionCountry,source: countries" />
                <span class="k-invalid-msg" data-for="newTPInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewTPInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewTPInstitution">Cancel</button>
            </div>

        </div>*@

        <div class="grid-note">
            <br /><br />
            This is a list of faculty who have been added in the faculty area. To add someone that you do not see on the list, go to the Faculty area.<br />         
        </div>

        <label class="control-label osu-standard" for="mentorMultiSelect">Mentor(s):</label>
        <select id="mentorMultiSelect"
                data-role="multiselect"
                data-placeholder="select mentor(s)"
                data-value-primitive="true"
                data-text-field="value"
                data-value-field="key"
                data-bind="value: selectedMentor,source: mentors"></select>
        @*Original code*@
        @*<label class="control-label" for="inputYearStarted">Start Year:</label>
        <input id="inputYearStarted" name="inputYearStarted" placeholder="YYYY" data-role="numerictextbox"

               data-format="####" data-spinners="false" data-bind="value:selectedYearStarted" size="4" maxlength="4"

               data-compares="#inputYearEnded" data-compares-msg="Start Year can't be later than the End Year." />
        <span class="k-invalid-msg" data-for="inputYearStarted"></span>
        
        <label class="control-label" for="inputYearEnded">End Year:</label>

        <input id="inputYearEnded" name="inputYearEnded" placeholder="YYYY" data-role="numerictextbox"

               data-format="####" data-spinners="false" data-bind="value:selectedYearEnded" size="4" maxlength="4"
               data-compares="#inputYearStarted" data-compares-msg="End Year can't be earlier than the Start Year." />
        <span class="k-invalid-msg" data-for="inputYearEnded"></span>*@

        <label class="control-label" for="inputYearStarted">Year Started:</label>
        <input name="inputYearStarted" id="inputYearStarted" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearStarted" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputYearStarted"></span>

        <label class="control-label" for="inputYearEnded">Year Ended:</label>
        <input name="inputYearEnded" id="inputYearEnded" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearEnded" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputYearEnded"></span>
       

        
        <label class="control-label osu-standard" for="degreeSoughtAutoComplete">Degree Sought:</label>
        @*<input id="degreeSoughtAutoComplete"
               data-role="autocomplete"
               data-placeholder="type a degree sought "
               data-min-length="1"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedTPDegreeSought,source: degreesSought" />*@
        <input type="text"
               id="degreeSoughtAutoComplete"
               name="degreeSoughtAutoComplete"
               placeholder="type a degree name "
               data-bind="value: selectedTPDegreeSought" />
        <label class="control-label osu-standard" for="degreeAutoComplete">Completed Degree:</label>
        @*<input id="degreeAutoComplete"
               data-role="autocomplete"
               data-placeholder="type a degree name "
               data-min-length="1"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedTPDegree,source: degrees"
                />*@
        <input type="text"
               id="degreeAutoComplete"
               name="degreeAutoComplete"
               placeholder="type a degree name "
               data-bind="value: selectedTPDegree" />

        @*<button data-role="button"
                data-bind="events: { click: addNewTPDegree }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW DEGREE -->
        @*<div id="newTPDegreeWindow" data-bind="visible:addNewTPDegreeSectionVisible">

            <div>
                <label class="control-label" for="newTPDegreeNameField">Name*:</label>
                <input id="newTPDegreeNameField" name="newTPDegreeNameField" class="add listing" type="text"
                       data-bind="value: newTPDegreeName" placeholder="enter degree name" />
                <span class="k-invalid-msg" data-for="newTPDegreeNameField"></span>
            </div>

            <div>
                <button class="add-section save" data-bind="click: saveNewTPDegree">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewTPDegree">Cancel</button>
            </div>

        </div>*@

        <label class="control-label osu-standard" for="selectedResearchProjectTitle">Research Project Title:</label>
        @*<input type="text" id="selectedResearchProjectTitle" name="selectedResearchProjectTitle" 
               placeholder=" enter the research project title" data-bind="value: selectedResearchProjectTitle" />*@
        <textarea id="researchExpPrjTitle" name="researchExpPrjTitle" rows="2" cols="20" wrap="hard"
                  data-maxlength="250"
                  data-maxlengthresearchexpprjtitle-msg="You have exceeded the maximum number of 250 characters in this field."
                  placeholder="enter the research project title"
                  data-bind="value: selectedResearchProjectTitle"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="researchExpPrjTitle"></span></span>

        <button class="add-section save" data-bind="click: saveTrainingPeriod">Save</button>
        <button class="add-section cancel" data-bind="click: cancelTrainingPeriod">Cancel</button>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Validate the maximum character allows
        $('#researchExpPrjTitle').on('keyup',function(){
            var characters = 250;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 250 characters in this field");
            }
        });
        $("#institutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        //url: '@Url.Action("GetInstitutionList", "CommonData")',
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#institutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#institutionAutoComplete").val("");                    
                } else {
                    $("#institutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete

        $("#degreeSoughtAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#degreeSoughtAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                if (!this.dataSource.view()[0]) {
                    toastr.warning("Degree not found, please contact Erica.");                
                }  
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#degreeSoughtAutoComplete").val("");                    
                } else {
                    $("#degreeSoughtAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        $("#degreeAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#degreeAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                if (!this.dataSource.view()[0]) {
                    toastr.warning("Degree not found, please contact Erica.");                
                }  
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#degreeAutoComplete").val("");                    
                } else {
                    $("#degreeAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete

        var trainingPeriodVm = kendo.observable($.extend({
            addTPButtonVisible: true,
            addTrainingPeriodSectionVisible: false,
            addNewTPInstitutionSectionVisible:false,
            addNewTrainingPeriodVisible:false,
            updated  : false,

            @*institutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@

            @*degrees: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#degreeAutoComplete").data("kendoAutoComplete").value();
                            }
                        },
                        /* ------------------------------ complete is the same as success ------------------------------ */
                        /* - However complete will always get called no matter if the ajax call was successfull or not - */
                        
                        // A pre-request callback function that can be used to modify the jqXHR object - XMLHTTPRequest 
                            complete: function (jqXHR, textStatus) {
                                //alert(JSON.stringify(jqXHR.responseText));
                                if (jqXHR.responseText != '') {
                               
                                    var data = jQuery.parseJSON(jqXHR.responseText);
                                    if(data.length === 0){
                                        //alert("no found");
                                        toastr.warning("Degree not found, please contact Erica.");
                                    }
                                    //alert(JSON.stringify(data));
                                }
                            },
                    }
                }
            }),*@
           
            /* ---------------------- MVN 10/29/2015 added this feature to validate matching words --------------------- */
            @*degreesSought: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#degreeSoughtAutoComplete").data("kendoAutoComplete").value();
                            }
                        },
                        /* ------------------------------ complete is the same as success ------------------------------ */
                        /* - However complete will always get called no matter if the ajax call was successfull or not - */
                        
                        // A pre-request callback function that can be used to modify the jqXHR object - XMLHTTPRequest 
                        complete: function (jqXHR, textStatus) {
                            //alert(JSON.stringify(jqXHR.responseText));
                            if (jqXHR.responseText != '') {
                               
                                var data = jQuery.parseJSON(jqXHR.responseText);
                                if(data.length === 0){
                                    //alert("no found");
                                    toastr.warning("Degree not found, please contact Erica.");
                                }
                                //alert(JSON.stringify(data));
                            }
                        },

                    }
                }
            }),*@
            hideValidationMsgs: function() {
                var validator = $("#editTrainingPeriodSection").kendoValidator().data("kendoValidator");   
                validator.hideMessages();
            },
            selectedProgram: null,
            selectedMentor: null,
            clearInputTrainingPeriod:function() {
                var self = this;
                self.set("selectedId", "");
                
                self.set("selectedProgram", "");
                self.set("selectedInstitution", "The Ohio State University");
                self.set("selectedMentor", "");
                self.set("selectedYearStarted", "");
                self.set("selectedYearEnded", "");
                self.set("selectedTPDegree", "");
                self.set("selectedTPDegreeSought", "");
                self.set("selectedResearchProjectTitle", "");
                self.set("selectedDoctoralLevel", "");
                self.set("doctoralLevel", "");
                $('input[name=doctoralLevelId]').removeAttr('checked');
            },
            //clearNewTPInstitutionInput:function() {
            //    var self = this;
            //    self.set("newTPInstitutionName", "");
            //    self.set("newTPInstitutionCityName", "");
            //    self.set("newTPInstitutionState", "");
            //    self.set("newTPInstitutionCountry", "");
            //},
            //clearNewTPDegreeInput:function() {
            //    var self = this;
            //    self.set("newTPDegreeName", "");
            //},
            onSelectTrainingPeriod : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#trainingPeriodGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);

                if (selected !== null) {
                    //alert(JSON.stringify(selected.doctoralLevelId));
                    //alert(JSON.stringify(selected.doctoralLevel));
                    self.set("selectedId",selected.id);
                    self.set("selectedDoctoralLevel",selected.doctoralLevelId);
                   
                    //alert(JSON.stringify(selected.programId));
                    self.set("selectedProgram", selected.programId);
                    //self.set("selectedProgram",selected.selectedPrograms);
                    self.set("selectedInstitution",selected.institutionName);
                    self.set("selectedMentor",selected.selectedMentors);
                    self.set("selectedYearStarted",selected.yearStarted);
                    self.set("selectedYearEnded",selected.yearEnded);
                    // These code set year field to zero.
                    //self.set("selectedYearStarted", (selected.yearStarted != null) ? new Date(selected.yearStarted) : null);
                    //self.set("selectedYearEnded", (selected.yearEnded != null) ? new Date(selected.yearEnded) : null);

                    // This should be set to id, instead of name -> commented out and add code below to compensate this
                    //alert(JSON.stringify(selected.academicDegreeName));
                    self.set("selectedTPDegree",selected.academicDegreeName);

                    //self.set("selectedTPDegree",selected.academicDegreeId);
                    //alert(JSON.stringify(selected.academicDegreeSoughtName));
                    self.set("selectedTPDegreeSought", selected.academicDegreeSoughtName);

                    self.set("selectedResearchProjectTitle",selected.researchProjectTitle);
                }
                self.set("addTrainingPeriodSectionVisible", true);
                self.set("addTPButtonVisible", false);
            },
            dataBoundTrainingPeriod:function(e) {
                var self = this;
                $(".trainingperiod-remove-link").click(function (event) {
                    event.preventDefault();

                    var kendoGrid = $("#trainingPeriodGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addTrainingPeriodSectionVisible", false);
                    self.set("addTPButtonVisible", true);
                    if (confirm("Do you want to remove this item?")) {

                        // retrieve the data record for the row
                        var removeItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Mentee/DeleteTrainingPeriod/")'+removeItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Training Period removed!');
                                kendoGrid.dataSource.remove(removeItem);
                            }
                        });
                    }
                    return false;
                });
            },
            addTrainingPeriodToPerson:function() {
                var self = this;
                //window.console && console.log("In add trainingPeriod");
                
                self.set("addTrainingPeriodSectionVisible", true);
                self.set("addTPButtonVisible", false);                
                var kendoGrid = $("#trainingPeriodGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearInputTrainingPeriod();
            },
            cancelTrainingPeriod:function() {
                var self = this;
                self.set("addTrainingPeriodSectionVisible", false);
                self.set("addTPButtonVisible", true);
                self.hideValidationMsgs();
            },
            saveTrainingPeriod: function() {
                var self = this;
                var programDpwnDSelection = $('#programDropDown').data("kendoDropDownList").text();
                var departmntDpwndSelection = $('#departmentDropDown').data("kendoDropDownList").text();
                var validationMsg = "The End Year should be after the Start Year.";
                //var validationMsg2 = "The Start Year should be before the End Year.";
                //var strtYear =  $("#inputYearStarted").kendoNumericTextBox();
                ////alert(JSON.stringify(strtYear));
                //var endYear = $("#inputYearEnded").kendoNumericTextBox();
                ////alert(JSON.stringify(endYear));
                var validator = $("#editTrainingPeriodSection").kendoValidator(
                    {
                        rules: {                     
                            inputyearended: function (input) {
                                if (input.is("[name=inputYearEnded]")&&(self.selectedYearEnded )){
                                    return (self.selectedYearEnded == null) || (self.selectedYearEnded > self.selectedYearStarted);
                                }
                                return true;
                            },
                            maxlengthresearchexpprjtitle: function (textarea) {
                                if (textarea.is("[data-maxlengthresearchexpprjtitle-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                        },

                        messages:{
                            inputyearended: validationMsg,
                            maxlengthresearchexpprjtitle:"You have exceeded the maximum number of 250 characters in this field."
                        }

                    }).data("kendoValidator");
               
                if (validator.validate() ){
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                        doctoralLevelId:  self.selectedDoctoralLevel,

                        //MVN Commented this out, we only need Doctoral Id =>doctoralLevel: self.menteeTrainingPeriods.doctoralLevel,

                        programId: self.selectedProgram != null ? self.selectedProgram.key : null,
                        institution: self.selectedInstitution,
                        trainingPeriodMentors: self.selectedMentor,

                        departmentId: self.departmentId,

                        yearStarted: self.selectedYearStarted != null ? self.selectedYearStarted : null,
                        yearEnded: self.selectedYearEnded != null ? self.selectedYearEnded : null,

                        academicDegree: self.selectedTPDegree,
                        academicDegreeSought: self.selectedTPDegreeSought,
                        researchProjectTitle: self.selectedResearchProjectTitle,
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy,
                        
                    };
                    //window.console && console.log("send to the server!!!!");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdateTrainingPeriod")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                           
                            //add to new grid if it's not existing
                            var trainingperiod= $.grep(self.menteeTrainingPeriods, function(e){ return e.id == value.id; });
                            // At the grid Selection
                            /* ++++++++++++ MVN note - Javascript comparision operator ==(compare value) vs === compare type "" */ 
                            if (trainingperiod.length === 0) {                        
                                self.menteeTrainingPeriods.push(kendo.observable(value));     
                                //alert(JSON.stringify(self.departmentId));
                                //alert(JSON.stringify(self.selectedProgram.value));
                                //window.console && console.log("I am in IF SAVE function");
                                //window.console && console.log(value);
                                /* -------------- if one is true, this whole statement will be true  ----------------- */
                                //if ((typeof self.departmentId === 0) && (typeof self.selectedProgram.value =='undefined' && value) ){
                                if ((self.departmentId === 0) && (typeof self.selectedProgram.value =='undefined' && value) ){
                                    toastr.warning('Warning: This mentee has a training period without a program and without a department');
                                }
                                toastr.success('Training Period added!');
                                
                            } else {//update the entry
                                //window.console && console.log("Hey I am here!!!");
                                var kendoGrid = $("#trainingPeriodGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                                // If the row somehow became de-selected (multi-value field selections do this),
                                // re-select the row so it's values can be updated
                                if(selectedDataRow == undefined) {
                                    var uid = kendoGrid.dataSource.get(self.selectedId).uid;
                                    kendoGrid.tbody.find("tr[data-uid='" + uid + "']").addClass("k-state-selected");
                                    selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                }                               
                                //window.console && console.log("MVN - I am in Else");
                                //window.console && console.log(self);
                                //alert(JSON.stringify(self.departmentId));
                                //alert(JSON.stringify(programDpwnDSelection));
                                //alert(JSON.stringify(self.departmentId));
                                //alert(JSON.stringify(self.selectedProgram.value));
                                //window.console && console.log("I am in IF SAVE function");
                                //window.console && console.log(value);

                                //window.console && console.log("So I need to know what is selectedDataRow!!! ");
                                //window.console && console.log(selectedDataRow);
                                //window.console && console.log("What about VALUE! ");
                                //window.console && console.log(value);
                                //alert(JSON.stringify(self.departmentId));
                                //alert(JSON.stringify(value.programId));
                                
                                /* -------------- if one is true, this whole statement will be true  ----------------- */
                                //if ((self.departmentId === 0) && (programX === null)){
                                //    toastr.warning('Warning: This mentee has a training period without a program and without a department');
                                //}
                                //var subscriptionId = "00000000-0000-0000-0000-000000000000"
                                /* ------------------------------ very important note ----------------------------------- */
                                // When the grid item is selected, ajax call to server, and the programId, sent back this
                                // 00000000-0000-0000-0000-000000000000 to the UI, which was generated by Guid.Empty 
                                if ((value.programId === "00000000-0000-0000-0000-000000000000") && (self.departmentId === 0)){
                                    toastr.warning('Warning: This mentee has a training period without a program and without a department');
                                }
                             
                                selectedDataRow.set("doctoralLevel", value.doctoralLevel);
                                selectedDataRow.set("institutionName", value.institutionName);
                                selectedDataRow.set("academicDegreeName", value.academicDegreeName);
                                selectedDataRow.set("academicDegreeSoughtName", value.academicDegreeSoughtName);
                                selectedDataRow.set("yearStarted", value.yearStarted);
                                selectedDataRow.set("yearEnded", value.yearEnded);
                                selectedDataRow.set("researchProjectTitle", value.researchProjectTitle);
                                selectedDataRow.set("programId", value.programId);
                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);

                                toastr.success('Training Period updated!');
                            }
                            self.set("addTrainingPeriodSectionVisible", false);
                            self.set("addTPButtonVisible", true);
                            /// MVN - THIS code gave a lot of time debugging issue with Trainining Period
                            /// This issue is this when field are save (without page refresh), clear function call, which has this code 
                            /// $('input[name=doctoralLevelId]').removeAttr('checked'); which essentially clear out the radio button
                            /// that is checked. The alert show that is value, but radio button never checked. 
                            //self.clearInputTrainingPeriod();
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                };

            },
            @*addNewTPInstitution:function() {
                var self = this;
                self.set("addNewTPInstitutionSectionVisible", true);
                var window = $('#newTPInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Institution ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewTPInstitution:function() {
                var window = $('#newTPInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewTPInstitution:function() {
                var self = this;

                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newTPInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newtpinstitutionname: function (input) {
                                if (input.is("[name=newTPInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newtpinstitutioncity: function (input) {
                                if (input.is("[name=newTPInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newtpinstitutioncountry: function (input) {
                                if (input.is("[name=newTPInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newtpinstitutionname: validationMsg,
                            newtpinstitutioncity: validationMsg,
                            newtpinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newTPInstitutionName,
                        City: self.newTPInstitutionCityName,
                        StateId: self.newTPInstitutionState != null ? self.newTPInstitutionState.key : null,
                        CountryId: self.newTPInstitutionCountry != null ? self.newTPInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newTPInstitutionName.length > 0) {
                                self.set("selectedInstitution", self.newTPInstitutionName);
                            }

                            self.clearNewTPInstitutionInput();
                            var window = $('#newTPInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            },
            addNewTPDegree:function() {
                var self = this;
                self.set("addNewTPDegreeSectionVisible", true);
                var window = $('#newTPDegreeWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Degree ",
                        width: "400px",
                        height: "200px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewTPDegree:function() {
                var window = $('#newTPDegreeWindow');
                window.data("kendoWindow").close();
            },
            saveNewTPDegree:function() {
                var self = this;

                // Validate the Degree Popup field here so it isn't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newTPDegreeWindow").kendoValidator(
                    {
                        rules: {
                            newtpdegreename: function (input) {
                                if (input.is("[name=newTPDegreeNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newtpdegreename: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newTPDegreeName
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewDegree")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Degree failed!');
                        },
                        success: function (value) {
                            toastr.success('New Degree added!');

                            // Transfer new Degree name to selected Degree field
                            if (self.newTPDegreeName.length > 0) {
                                self.set("selectedTPDegree", self.newTPDegreeName);
                            }



                            self.clearNewTPDegreeInput();
                            var window = $('#newTPDegreeWindow');
                            window.data("kendoWindow").close();

                        }
                    });
                }
            }*@
        },@(Html.ToJson(Model))));
        //window.console && console.log("MVN - What are sent from the model??")
        //window.console && console.log(trainingPeriodVm);
        kendo.bind($("#trainingperiod-view"), trainingPeriodVm);
        $("#trainingPeriodGrid").data("kendoGrid").hideColumn(0);
    })
</script>
