﻿@using TraineeTrackingSystem.Web.Common
@model MenteePublicationsViewModel
@*These are temporally solution*@ 
@*<style>
    .k-grid-header .k-header {
        overflow: visible;
        white-space: normal;
    }

    #result {
        margin-top: 0px;
        margin-left: 0px;
    }
    mark {
        background-color: yellow;
        color: black;
    } 
    
</style>*@



<div id="publication-view">
    <input id="publicationId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="publicationLink">
        <div>
            <span>
                <a href="\\#addPublicationButton">${ pmId }</a>
            </span>
        </div>
    </script>
    <script type="text/x-kendo-template" id="publication-deleteLink">
        <div>
            <span>
                <a href="\\#addPublicationButton" class="publication-delete-link">Remove</a>
            </span>
        </div>
    </script>
    
    @*<div id="publicationGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[

                { 'field': 'id'},
                { field: 'pmcId'},
                {title:'PMID','field': 'pmId','width': '250px', template:kendo.template($('#publicationLink').html() )},
                {title:'Citation',field:'citation', encoded:false},
                {title:'Action', 'width': '120px', template:kendo.template($('#publication-deleteLink').html() ) }
         ]"
         data-bind="source: menteePublications,
            events:{
                change:onSelectPublication,
                dataBound: dataBoundPublication
            }">
    </div>*@
    <div id="publicationGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Publication Year','field': 'yearPublished', 'width': '120px'},
                {title:'Citation',field:'citation', encoded:false},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '120px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '120px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#publication-deleteLink').html() ) }
         ]"
         data-bind="source: menteePublications,
            events:{
                change:onSelectPublication,
                dataBound: dataBoundPublication
            }">
    </div>

    <div id="addPublicationButton" data-bind="visible:addPublicationButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addPublicationToPerson }">
            Add Publications
        </button>
    </div>

    
    


    <div class="expand" id="editpublicationSection" data-bind="visible:addPublicationSectionVisible">
        <h2>Publication Information</h2>     
           @*<label class="control-label osu-standard" for="PMCId">PMCID:</label>
           <input type="text" placeholder=" enter pmcid " data-bind="value: selectedPmcid" />
        
            <label class="control-label osu-standard" for="PMId">PMID:</label>
            <input type="text" placeholder=" enter pmid " data-bind="value: selectedPmid" />

        <br />
        <br />*@
        
        @*<div id="pubMedSearch" name="pubMedSearch" method="GET" action="?" data-bind="visible:searchPubMedButtonVisible">
            <button data-role="button"
                    data-bind="events:{click: pubMedSearch}">
                Search

            </button>          
            <br />
        </div>
       
        <br />*@
        @*<br/>
        <label class="control-label">Mentee first author: </label>
       
        <div class="radio-group">
            <label><input type="radio" name="IsMenteeFirstAuthor" value=1 data-bind="checked: selectedIsMenteeFirstAuthor" />Yes</label>
            <label><input type="radio" name="IsMenteeFirstAuthor" value=2 data-bind="checked: selectedIsMenteeFirstAuthor" />No</label>
            <label><input type="radio" name="IsMenteeFirstAuthor" value=0 data-bind="checked: selectedIsMenteeFirstAuthor" />Unknown</label>
        </div>

        <label class="control-label">Advisor co-author: </label>
       
        <div class="radio-group">
            <label><input type="radio" name="IsAdvisorCoAuthor" value=1 data-bind="checked: selectedIsAdvisorCoAuthor" />Yes</label>
            <label><input type="radio" name="IsAdvisorCoAuthor" value=2 data-bind="checked: selectedIsAdvisorCoAuthor" />No</label>
            <label><input type="radio" name="IsAdvisorCoAuthor" value=0 data-bind="checked: selectedIsAdvisorCoAuthor" />Unknown</label>
        </div>

        <label class="control-label osu-standard">Authors:</label>
        <div class="box-col">
            <textarea id="authorsEditor" name="authorsEditor" data-bind="value:selectedAuthorList" style="width: 480px; height:200px;"></textarea>
        </div>

        <label class="control-label osu-standard">Title:</label>
        <div class="box-col">
            <textarea id="titleEditor" data-bind="value:selectedTitle" style="width: 480px; height:200px;"></textarea>
        </div>

        <label class="control-label osu-standard">Journal of Publication:</label>
        <div class="box-col">
            <textarea id="journalEditor" data-bind="value:selectedJournal" style="width: 480px; height:200px;"></textarea>
        </div>

        <label class="control-label osu-standard">Epub Date :</label>
        <input id="selectedDateEpub" name="selectedDateEpub" placeholder=" YYYY-MM-DD"
               data-role="datepicker" data-format="yyyy-MM-dd" data-bind="value:selectedDateEpub"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD"><br />
        <span class="k-invalid-msg" data-for="selectedDateEpub"></span>

        <label class="control-label osu-standard" for="Doi">DOI:</label>
        <input type="text" placeholder=" enter doi " data-bind="value: selectedDoi" />*@


        <label class="control-label" for="inputResidencyYearEnded">Publication Year*:</label>
        <input name="selectedYearPublished" id="selectedYearPublished" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearPublished" size="4" maxlength="4"
               required validationmessage="This field is required" />
        <span class="k-invalid-msg" data-for="selectedYearPublished"></span>

        @*<label class="control-label osu-standard" for="Volume">Volume:</label>
        <input type="text" placeholder=" enter volume " data-bind="value: selectedVolume" />

        <label class="control-label osu-standard" for="Issue">Issue:</label>
        <input type="text" placeholder=" enter issue " data-bind="value: selectedIssue" />

        <label class="control-label osu-standard" for="Pagination">Location (Pagination):</label>
        <input type="text" placeholder=" enter location " data-bind="value: selectedPagination" />*@

        @*<label class="control-label osu-standard">Citation (NIH format):</label>
        <div class="box-col">
            <textarea id="citationEditor" data-bind="value:selectedCitation" style="width: 480px; height:200px;"></textarea>
        </div>*@

        <label class="control-label osu-standard">Citation (NIH format):</label>
        <div class="box-col">
            <textarea id="citationEditorField" name="citationEditorField"
                      style="width:480px; height:200px"
                      data-bind="value:selectedCitation"
                      data-maxlength="4000"
                      data-maxtextlengthselectedcitation-msg="You have exceeded the maximum number of 4000 characters in this field.">
            </textarea>
        </div>

        @*<label class="control-label osu-standard">Abstract:</label>
        <div class="box-col">
            <textarea id="abstractEditor" data-bind="value:selectedAbstract" style="width: 480px; height:200px;"></textarea>
        </div>*@


        <button class="add-section save" data-bind="click: savePublication">Save</button>
        <button class="add-section cancel" data-bind="click: cancelPublication">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {     
        //$("#authorsEditor").kendoEditor({
        //    tools: [
        //        "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
        //        {
        //            name : "fontName",
        //            items: [
        //                { text: "Courier", value: "Courier" },
        //                { text: "Times New Roman", value: "Times New Roman" },
        //                { text: "Trebuchet MS", value: "Trebuchet MS" },
        //                { text: "Symbol", value: "Symbol" },
        //            ]
        //        },
        //        {
        //            name: "fontSize",
        //            items:[
        //                {text: "12px", value: "12px"},
        //                {text: "24px", value: "24px"}
        //            ]
        //        },
        //    ]
        //});

        //$("#titleEditor").kendoEditor({
        //    tools: [
        //        "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
        //        {
        //            name : "fontName",
        //            items: [
        //                { text: "Courier", value: "Courier" },
        //                { text: "Times New Roman", value: "Times New Roman" },
        //                { text: "Trebuchet MS", value: "Trebuchet MS" },
        //                { text: "Symbol", value: "Symbol" },
        //            ]
        //        },
        //        {
        //            name: "fontSize",
        //            items:[
        //                {text: "12px", value: "12px"},
        //                {text: "24px", value: "24px"}
        //            ]
        //        },
        //    ]
        //});
        //$("#journalEditor").kendoEditor({
        //    tools: [
        //        "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
        //        {
        //            name : "fontName",
        //            items: [
        //                { text: "Courier", value: "Courier" },
        //                { text: "Times New Roman", value: "Times New Roman" },
        //                { text: "Trebuchet MS", value: "Trebuchet MS" },
        //                { text: "Symbol", value: "Symbol" },
        //            ]
        //        },
        //        {
        //            name: "fontSize",
        //            items:[
        //                {text: "12px", value: "12px"},
        //                {text: "24px", value: "24px"}
        //            ]
        //        },
        //    ]
        //});


        $("#citationEditorField").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                },
            ],
            keyup: function() {
                wordCount();
            }
        });
        wordCount();
        function wordCount() {        
            var limitCharacters= 4000; 
            var editor = $("#citationEditorField").data("kendoEditor");            
            var html = editor.value();
            var text = $("<div>").html(html).text();
            var remainChars = text.length;
            if (remainChars > limitCharacters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field.");
            }
        }
        //$("#abstractEditor").kendoEditor({
        //    tools: [
        //        "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
        //        {
        //            name : "fontName",
        //            items: [
        //                { text: "Courier", value: "Courier" },
        //                { text: "Times New Roman", value: "Times New Roman" },
        //                { text: "Trebuchet MS", value: "Trebuchet MS" },
        //                { text: "Symbol", value: "Symbol" },
        //            ]
        //        },
        //        {
        //            name: "fontSize",
        //            items:[
        //                {text: "12px", value: "12px"},
        //                {text: "24px", value: "24px"}
        //            ]
        //        },
        //    ]
        //});

        var publicationVm = kendo.observable($.extend({
            addPublicationButtonVisible:true,
            addPublicationSectionVisible: false,
         
            updated  : false,
            hideValidationMsgs: function() {
                var validator = $("#editpublicationSection").kendoValidator().data("kendoValidator");   
                validator.hideMessages();
            },
            @*pubMedSearch: function(){
                var self = this;
                var id = self.selectedPmcid;
                var updateData = {
                    pmcid: id,
                    pmId:  self.selectedPmid,
                };
                $.ajax({
                    url: '@Url.Content("~/CommonData/GetPubDataByPMCId")',
                    // Object Serialization => converting stringification and passing in data object to string
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    //datatype: "xml",
                    error: function () {
                        toastr.error('PMCID Not Found!');
                    },
                    success: function (value) {
                        window.console && console.log(value);
                        toastr.success('Returned PMID');                    
                        var publication= $.grep(self.menteePublications, function(e){ return e.id == value.id; });
                        // check Empty record - Essentially create new publication
                        if ( publication.length === 0 ) {
                            self.menteePublications.push(kendo.observable(value));
                            toastr.success('Publication added!');
                        } 
                        self.set("addPublicationSectionVisible", false);
                        self.set("addPublicationButtonVisible", true);
                        self.clearInputPublication();
                    }
                });
            },*@
           
            clearInputPublication:function() {
                var self = this;
                self.set("selectedId", "");
                //self.set("selectedPmcid", "");
                //self.set("selectedPmid", "");
                //self.set("selectedIsMenteeFirstAuthor", "");
                //self.set("selectedIsAdvisorCoAuthor", "");
                //self.set("selectedAuthorList", "");
                //self.set("selectedTitle", "");
                //self.set("selectedJournal", "");
                //self.set("selectedDateEpub", "");
                //self.set("selectedDoi", "");

                self.set("selectedYearPublished", "");

                //self.set("selectedVolume", "");
                //self.set("selectedIssue", "");
                //self.set("selectedPagination", "");
                self.set("selectedCitation", "");
                //self.set("selectedAbstract", "");
                //$('input[name=IsMenteeFirstAuthor]').removeAttr('checked');
                //$('input[name=IsAdvisorCoAuthor]').removeAttr('checked');

                //WORKING - To only appear when the Add Publications is clicked
                //self.set("searchPubMedButtonVisible", true);
                
            },
            onSelectPublication : function(e) {
                e.preventDefault();
                var self = this;

                var kendoGrid = $("#publicationGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId", selected.id);
                    //self.set("selectedPmcid", selected.pmcId);
                    //self.set("selectedPmid", selected.pmId);
                    //self.set("selectedIsMenteeFirstAuthor", selected.isMenteeFirstAuthor);
                    //self.set("selectedIsAdvisorCoAuthor", selected.isAdvisorCoAuthor);
                    //self.set("selectedAuthorList", selected.authorList);
                    //self.set("selectedTitle", selected.title);
                    //self.set("selectedJournal", selected.journal);
                    //self.set("selectedDateEpub", (selected.dateEpub != null) ? new Date(selected.dateEpub) : null);
                    //self.set("selectedDoi", selected.doi);
                    self.set("selectedYearPublished", selected.yearPublished);
                    //self.set("selectedVolume", selected.volume);
                    //self.set("selectedIssue", selected.issue);
                    //self.set("selectedPagination", selected.pagination);
                    self.set("selectedCitation", selected.citation);
                    //self.set("selectedAbstract", selected.abstract);
                }
                self.set("addPublicationSectionVisible", true);
                self.set("addPublicationButtonVisible", false);

                //Testing logic
                //WORKING - To only appear when the Add Publications is clicked
                //self.set("searchPubMedButtonVisible", false);

            },
            dataBoundPublication:function(e) {
                var self = this;
                $(".publication-delete-link").click(function (event) {
                    event.preventDefault();

                    var kendoGrid = $("#publicationGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addPublicationSectionVisible", false);
                    self.set("addPublicationButtonVisible", true);
                    if (confirm("Do you want to delete this item?")) {

                        var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Mentee/DeletePublication/")'+deleteItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Publication removed!');
                                kendoGrid.dataSource.remove(deleteItem);
                            }
                        });
                    }
                    return false;
                });
            },

            addPublicationToPerson:function() {
                var self = this;
                self.set("addPublicationSectionVisible", true);
                self.set("addPublicationButtonVisible", false);

                self.set("selectedIsMenteeFirstAuthor", 0);
                self.set("selectedIsAdvisorCoAuthor", 0);

                //var kendoGrid = $("#publicationGrid").data("kendoGrid");
                //kendoGrid.clearSelection();
                //self.clearInputPublication();
            },
            cancelPublication:function() {
                var self = this;
                self.set("addPublicationSectionVisible", false);
                self.set("addPublicationButtonVisible", true);

                self.clearInputPublication();
                self.hideValidationMsgs();
                ////Testing logic
                //self.set("result","");
                ////WORKING - To only appear when the Add Publications is clicked
                //self.set("searchPubMedButtonVisible", false);
            },
            savePublication: function() {
                var self = this;

                //var validator = $("#editpublicationSection").kendoValidator().data("kendoValidator");
                var validator = $("#editpublicationSection").kendoValidator(
                   {
                       rules: {                                       
                           maxtextlengthselectedcitation: function (textarea) {
                               if (textarea.is("[data-maxtextlengthselectedcitation-msg]") && textarea.val() != "") {
                                   var maxlength = textarea.attr("data-maxlength");
                                   var value = textarea.data("kendoEditor").value();
                                   return value.replace(/<[^>]+>/g, "").length <= maxlength;
                               }

                               return true;
                           },
                       }
                   }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        PersonId: self.personId,
                        id: self.selectedId,
                        //AuthorId: self.personId,
                        //pmcId: self.selectedPmcid,
                        //pmId:  self.selectedPmid,
                        //isMenteeFirstAuthor: self.selectedIsMenteeFirstAuthor,
                        //isAdvisorCoAuthor: self.selectedIsAdvisorCoAuthor,
                        //AuthorList: self.selectedAuthorList,
                        //Title: self.selectedTitle,
                        //Journal: self.selectedJournal,
                        //DateEpub: self.selectedDateEpub,
                        //Doi: self.selectedDoi,
                        YearPublished: self.selectedYearPublished,
                        //Volume: self.selectedVolume,
                        //Issue: self.selectedIssue,
                        //Pagination: self.selectedPagination,
                        Citation: self.selectedCitation,
                        //Abstract: self.selectedAbstract,
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdatePublications")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            var publication= $.grep(self.menteePublications, function(e){ return e.id == value.id; });
                            // check Empty record - Essentially create new publication
                            if ( publication.length === 0 ) {
                                self.menteePublications.push(kendo.observable(value));
                                toastr.success('Publication added!');
                            } else { //Not empty - Essentially update the publication record

                                var kendoGrid = $("#publicationGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                //selectedDataRow.set("pmcId", value.pmcId);
                                //selectedDataRow.set("pmId", value.pmId);
                                //selectedDataRow.set("isMenteeFirstAuthor", value.isMenteeFirstAuthor);
                                //selectedDataRow.set("isAdvisorCoAuthor", value.isAdvisorCoAuthor);
                                //selectedDataRow.set("authorList", value.authorList);
                                //selectedDataRow.set("title", value.title);
                                //selectedDataRow.set("journal", value.journal);
                                //selectedDataRow.set("dateEpub", value.dateEpub);
                                //selectedDataRow.set("doi", value.doi);
                                selectedDataRow.set("yearPublished", value.yearPublished);
                                //selectedDataRow.set("volume", value.volume);
                                //selectedDataRow.set("issue", value.issue);
                                //selectedDataRow.set("pagination", value.pagination);
                                selectedDataRow.set("citation", value.citation);
                                selectedDataRow.set("abstract", value.abstract);
                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                toastr.success('Publication updated!');
                            }

                            self.set("addPublicationSectionVisible", false);
                            self.set("addPublicationButtonVisible", true);
                            self.clearInputPublication();

                        }
                    });
                }
            },
        },@(Html.ToJson(Model))));

        kendo.bind($("#publication-view"), publicationVm);
        $("#publicationGrid").data("kendoGrid").hideColumn(0);
    })
</script>
