﻿@using TraineeTrackingSystem.Web.Common
@model AppPreDocViewModel

<div id="applicantinfo-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <label class="control-label">Undergraduate GPA: </label>
    <input data-role="numerictextbox"
           value="gpa"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpa"
           required placeholder="Undergraduate GPA" />
    
    <label class="control-label">Undergraduate GPA Scale: </label>
    <input data-role="numerictextbox"
           value="gpaScale"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpaScale"
           required placeholder="Undergraduate GPA Scale" />

    <label class="control-label osu-standard">Test Scores:</label>
    <div id="addGREButton">
        <button data-role="button"
                data-bind="events:{click: addGRETestScores}">
            Add/Update GRE Scores
        </button>
    </div> 

    <!--EXPANDABLE SECTION -- GRE INFORMATION-->
    <div class="expand" id="greSection" data-bind="visible:addGRESectionVisible">

        <h2>GRE Information</h2>
        <label class="row-heading-1">Score</label>
        <label class="row-heading-2">Percentile</label>
        <label>GRE Verbal:</label>
        <input class="two-column-option" 
                data-role="text"
                value="greScoreVerbal"
                data-bind="value:greScoreVerbal"
                required placeholder="- 000.00 -" />
        <input class="two-column-option" 
                data-role="text"
                value="grePercentileVerbal"
                data-bind="value:grePercentileVerbal"
                required placeholder="- 000.00 -" />

        <label>GRE Quantitative:</label>
        <input class="two-column-option" 
                data-role="text"
                value="greScoreQuantitative"
                data-bind="value:greScoreQuantitative"
                required placeholder="- 000.00 -" />
        <input class="two-column-option" 
                data-role="text"
                value="grePercentileQuantitative"
                data-bind="value:grePercentileQuantitative"
                required placeholder="- 000.00 -" />

        <label>GRE Analytical:</label>
        <input class="two-column-option" 
                data-role="text"
                value="greScoreAnalytical"
                data-bind="value:greScoreAnalytical"
                required placeholder="- 000.00 -" />
        <input class="two-column-option" 
                data-role="text"
                value="grePercentileAnalytical"
                data-bind="value:grePercentileAnalytical"
                required placeholder="- 000.00 -" />

        <label>GRE Subject:</label>
        <input class="two-column-option" 
                data-role="text"
                value="greScoreSubject"
                data-bind="value:greScoreSubject"
                required placeholder="- 000.00 -" />
        <input class="two-column-option" 
                data-role="text"
                value="grePercentileSubject"
                data-bind="value:grePercentileSubject"
                required placeholder="- 000.00 -" />

        <div>
            <button class="add-section save" data-bind="click: saveGREtestScores">Save GRE Scores</button>
            <button class="add-section cancel" data-bind="click: cancelGRE"> Cancel</button>
        </div>               

    </div>


    <div id="addMCATButton">
        <button data-role="button"
                data-bind="events:{click: addMCATTestScores}">
            Add/Update MCAT Scores
        </button>
    </div> 

    <!--EXPANDABLE SECTION -- MCAT INFORMATION-->
    <div class="expand" id="mcatSection" data-bind="visible:addMCATSectionVisible">
        <h2>MCAT Information</h2>
        <label>MCAT Verbal Reasoning:</label>
        <input data-role="text"
                value="mcatScoreVerbalReasoning"
                data-bind="value:mcatScoreVerbalReasoning"
                required placeholder="- 000.00 -" />

        <label>MCAT Physical Sciences:</label>
        <input data-role="text"
                value="mcatScorePhysicalSciences"
                data-bind="value:mcatScorePhysicalSciences"
                required placeholder="- 000.00 -" />

        <label>MCAT Biologic Sciences:</label>
        <input data-role="text"
                value="mcatScoreBiologicalSciences"
                data-bind="value:mcatScoreBiologicalSciences"
                required placeholder="- 000.00 -" />

        <label>MCAT Writing Sample:</label>
        <input data-role="text"
                value="mcatScoreWriting"
                data-bind="value:mcatScoreWriting"
                required placeholder="- 000.00 -" />

        <label>MCAT Percentile:</label>
        <input data-role="text"
                value="mcatPercentile"
                data-bind="value:mcatPercentile"
                required placeholder="- 000.00 -" />

        <div>
            <button data-bind="click: saveMCATtestScores" class="add-section">Save MCAT Scores</button>
            <button class="add-section cancel" data-bind="click: cancelMCAT"> Cancel</button>
        </div>
               
    </div>

    <div id="updateBtn">
        <button class="add-section" data-bind="click: updateApplicantInfo">Save Section</button>
    </div>

</div>

<script>
    $(document).ready(function () {
        var applicantInfoVm = kendo.observable($.extend({        

            addGRESectionVisible: false,
            addMCATSectionVisible: false,
            updated: false,
            Id: self.selectedId,

            updateApplicantInfo: function(){
                var self = this;
                var updateData = {
                    Id: self.selectedId,
                    PersonId: self.personId,
                    
                    Gpa: self.gpa,
                    GpaScale: self.gpaScale
                };
                $.ajax({
                    url: '@Url.Content("~/Mentee/UpdateApplicantInfo")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Update failed!');
                    },
                    success: function (value) {
                        toastr.success('Applicant Information Updated!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
            addGRETestScores: function(){
                var self = this;
                self.set("addGRESectionVisible", true);
                self.clearInput();
            },
            saveGREtestScores: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,                    
                    GreScoreVerbal: self.greScoreVerbal,
                    GrePercentileVerbal: self.grePercentileVerbal,
                    GreScoreQuantitative: self.greScoreQuantitative,
                    GrePercentileQuantitative: self.grePercentileQuantitative,
                    GreScoreAnalytical: self.greScoreAnalytical,
                    GrePercentileAnalytical: self.grePercentileAnalytical,
                    GreScoreSubject: self.greScoreSubject,
                    GrePercentileSubject: self.grePercentileSubject,                 
                };
                $.ajax({
                    url: '@Url.Content("~/Mentee/SaveGREScores")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Save GRE Scores failed!');
                    },
                    success: function (value) {
                        toastr.success('GRE Scores saved!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
           
           
            addMCATTestScores: function(){
                var self = this;
                self.set("addMCATSectionVisible", true);
                self.clearInput();
            },

            saveMCATtestScores: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,                    
                    McatScoreVerbalReasoning: self.mcatScoreVerbalReasoning,
                    McatScorePhysicalSciences: self.mcatScorePhysicalSciences,
                    McatScoreBiologicalSciences: self.mcatScoreBiologicalSciences,
                    McatScoreWriting: self.mcatScoreWriting,                    
                    McatPercentile: self.mcatPercentile                  
                };
                $.ajax({
                    url: '@Url.Content("~/Mentee/SaveMCATScores")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Save MCAT Scores failed!');
                    },
                    success: function (value) {
                        toastr.success('MCAT Scores saved!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
            cancelMCAT: function(){
                var self = this;
                self.set("addMCATSectionVisible", false);
            },      
            cancelGRE: function(){
                var self = this;
                self.set("addGRESectionVisible", false);
            },   
        },@(Html.ToJson(Model))));

        //window.console && console.log(applicantInfoVm);
        kendo.bind($("#applicantinfo-view"), applicantInfoVm);
    })
</script>
