﻿@using TraineeTrackingSystem.Web.Common;
@model MenteeGeneralViewModel

<div id="menteegeninfo-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <!--MENTEE LAST NAME-->
    @*<label class="control-label" for="LastName">Last Name:</label>
    <input id="LastName" name="LastName" class="add listing" type="text"
           data-bind="value: lastName, disabled: true" readonly />*@
    @*<label class="control-label" for="LastName">Last Name*:</label>
    <input id="LastName" name="LastName" class="add listing" type="text"
           data-bind="value: lastName" />*@
    <label class="control-label" for="lastNameField">Last Name*:</label>
    <textarea id="lastNameField" name="lastNameField" rows="1" cols="1" wrap="hard"
              data-maxlength="75"
              data-maxlengthlastnamefield-msg="You have exceeded the maximum number of 75 characters in this field."
              data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="lastNameField"></span></span>

    <!--MENTEE FIRST NAME-->
    @*<label class="control-label" for="FirstName">First Name*:</label>
    <input id="FirstName" name="FirstName" class="add listing" type="text"
           data-bind="value: firstName" />*@
    <label class="control-label" for="firstNameField">First Name*:</label>
    <textarea id="firstNameField" name="firstNameField" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthfirstnamefield-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="firstNameField"></span></span>
    <!--MENTEE MIDDLE NAME-->
    @*<label class="control-label" for="MiddleName">Middle Name:</label>
    <input id="MiddleName" name="MiddleName" class="add listing" type="text"
           data-bind="value: middleName"/>*@
    <label class="control-label" for="middleNameField">Middle Name:</label>
    <textarea id="middleNameField" name="middleNameField" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthmiddlenamefield-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="middleNameField"></span></span>
    <!--MENTEE ID-->
    @*<label class="control-label" for="StudentId">Mentee ID:</label>
    <input id="StudentId" name="StudentId" class="add listing" type="text"
           placeholder="enter the mentee id" validationmessage="Please enter the Mentee ID"
           data-bind="value: studentId, events: { change : setAutoDataChanged }, disabled: isDisabled" required />*@
    <label class="control-label" for="menteeIdField">Mentee ID:</label>
    <textarea id="menteeIdField" name="menteeIdField" rows="1" cols="1" wrap="hard"
              data-maxlength="50"
              data-maxlengthmenteeidfield-msg="You have exceeded the maximum number of 50 characters in this field."
              data-bind="value: studentId, disabled: isDisabled" placeholder=" enter mentee id"></textarea>
    <span class="help-inline"><span class="k-invalid-msg" data-for="menteeIdField"></span></span>    
    <!--INSTITUTION ASSOCIATION-->
    <label class="control-label" for="InstitutionAssociationId">Institution Association:</label>
    <div class="radio-group">
        <input type="radio" name="InstitutionAssociationId" value="1" data-bind="checked: institutionAssociationId" /><label>OSU</label>
        <input type="radio" name="InstitutionAssociationId" value="2" data-bind="checked: institutionAssociationId" /><label>Non-OSU</label>
    </div>

    <!--DEPARTMENT-->
    <label class="control-label" for="DepartmentDropDown">Department:</label>
    <input id="departmentDropDown" data-role="dropdownlist"
           data-option-label="select department"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: departmentId,source: departments" />
    <span class="k-invalid-msg" data-for="departmentId"></span>

    
    @*<label class="control-label" for="EmailAddress1">Email Address 1:</label>
    <input id="EmailAddress1" name="EmailAddress1" placeholder="enter an email address" validationmessage="Please enter the primary Email Address"
           data-bind="value: emailAddress1, events: { change : setAutoDataChanged }, disabled: isDisabled" />
    <span class="k-invalid-msg" data-for="EmailAddress1"></span>

    
    <label class="control-label" for="EmailAddress2">Email Address 2:</label>
    <input id="EmailAddress2" name="EmailAddress2" placeholder="enter a secondary email address (if applicable)"
           data-bind="value: emailAddress2, events: { change : setAutoDataChanged }, disabled: isDisabled" />
    <span class="k-invalid-msg" data-for="EmailAddress2"></span>

   
    <label class="control-label" for="PhoneNumber">Phone Number:</label>
    <input id="PhoneNumber" name="PhoneNumber" placeholder="000-000-0000" validationmessage="Please enter a Phone Number"
           data-bind="value: phoneNumber, events: { change : setAutoDataChanged }, disabled: isDisabled" />
    <span class="k-invalid-msg" data-for="PhoneNumber"></span>

 
    <label class="control-label" for="MailingAddressLine1">Mailing Address:</label>
    <input id="MailingAddressLine1" name="MailingAddressLine1" placeholder="enter line 1 of the mailing address"
           data-bind="value: mailingAddressLine1, events: { change : setAutoDataChanged }, disabled: isDisabled" />

    <label class="control-label" for="MailingAddressLine2"></label>
    <input id="MailingAddressLine2" name="MailingAddressLine2" placeholder="enter line 2 of the mailing address"
           data-bind="value: mailingAddressLine2, events: { change : setAutoDataChanged }, disabled: isDisabled" />

    <label class="control-label" for="MailingAddressLine3"></label>
    <input id="MailingAddressLine3" name="MailingAddressLine3" placeholder="enter line 3 of the mailing address"
           data-bind="value: mailingAddressLine3, events: { change : setAutoDataChanged }, disabled: isDisabled" />

    <label class="control-label" for="MailingAddressCity">Mailing Address City:</label>
    <input id="MailingAddressCity" name="MailingAddressCity" placeholder="enter the city of the mailing address"
           data-bind="value: mailingAddressCity, events: { change : setAutoDataChanged }, disabled: isDisabled" />

    <label class="control-label" for="MailingAddressStateId">Mailing Address State/Province:</label>
    <input id="mailingAddressStateDropDown" data-role="dropdownlist"
           data-option-label="select state/province"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: mailingAddressStateId,source: addressStates" />
    <span class="k-invalid-msg" data-for="mailingAddressStateDropDown"></span>


    <label class="control-label" for="MailingAddressPostalCode">Mailing Address Postal Code:</label>
    <input id="MailingAddressPostalCode" name="MailingAddressPostalCode" placeholder="enter the postal code of the mailing address"
           data-bind="value: mailingAddressPostalCode, events: { change : setAutoDataChanged }, disabled: isDisabled" />

    <label class="control-label" for="MailingAddressCountryId">Mailing Address Country:</label>
    <input id="mailingAddressCountryDropDown" data-role="dropdownlist"
           data-option-label="select country"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: mailingAddressCountryId,source: addressCountries" />
    <span class="k-invalid-msg" data-for="mailingAddressCountryDropDown"></span>*@
    


    <!-- DEMOGRAPHICS SECTION -->
    <h1 class="section-title">Demographic Information</h1>

    <fieldset name="MenteeDemographics" id="MenteeDemographics" class="two-column-fields">
        <div id="demographics-view">

            <!-- TGE -->
            <label class="control-label" for="IsTrainingGrantEligible">Training Grant Eligible*:</label>
            <div class="radio-group">
                <input type="radio" name="IsTrainingGrantEligible" value="true" data-bind="checked: isTrainingGrantEligible" /><label>Yes</label>
                <input type="radio" name="IsTrainingGrantEligible" value="false" data-bind="checked: isTrainingGrantEligible" /><label>No</label>
            </div>

            <!-- UNDERREP MINORITY -->
            <label class="control-label" for="IsUnderrepresentedMinority">Underrepresented minority:</label>
            <div class="radio-group">
                <input type="radio" name="IsUnderrepresentedMinority" value="1" data-bind="checked: isUnderrepresentedMinority" /><label>Yes</label>
                <input type="radio" name="IsUnderrepresentedMinority" value="2" data-bind="checked: isUnderrepresentedMinority" /><label>No</label>
                <input type="radio" name="IsUnderrepresentedMinority" value="0" data-bind="checked: isUnderrepresentedMinority" /><label>Not declared</label>
            </div>

            <!-- DISABILITIES -->
            <label class="control-label" for="IsIndividualWithDisabilities">Individual with disability:</label>
            <div class="radio-group">
                <input type="radio" name="IsIndividualWithDisabilities" value="1" data-bind="checked: isIndividualWithDisabilities" /><label>Yes</label>
                <input type="radio" name="IsIndividualWithDisabilities" value="2" data-bind="checked: isIndividualWithDisabilities" /><label>No</label>
                <input type="radio" name="IsIndividualWithDisabilities" value="0" data-bind="checked: isIndividualWithDisabilities" /><label>Not declared</label>
            </div>

            <!-- DISADVANTAGED BKGD -->
            <label class="control-label" for="IsFromDisadvantagedBkgd">Individual from disadvantaged background:</label>

            <div class="radio-group">
                <input type="radio" name="IsFromDisadvantagedBkgd" value="1" data-bind="checked: isFromDisadvantagedBkgd" /><label>Yes</label>
                <input type="radio" name="IsFromDisadvantagedBkgd" value="2" data-bind="checked: isFromDisadvantagedBkgd" /><label>No</label>
                <input type="radio" name="IsFromDisadvantagedBkgd" value="0" data-bind="checked: isFromDisadvantagedBkgd" /><label>Not declared</label>
            </div>

        </div>
    </fieldset>

    <div id="updateDiv">
        <button class="add-section save" data-bind="click: save">Save Section</button>        
    </div>
</div>

<script>

    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#lastNameField').on('keyup', function () {
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });

        $('#firstNameField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleNameField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#menteeIdField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        //var self = this;
        var personVm =kendo.observable($.extend({
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,
            save : function() {
                var self = this;
                
                //var validator = $("#createRequest-view").kendoValidator().data("kendoValidator");
                var validateMSG = "This field is required.";       
                var validator = $("#menteegeninfo-view").kendoValidator(
                {
                    rules: {
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastNameField]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthlastNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstNameField]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstnamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddlenamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        //validation rule with html data tag 
                        maxTextLengthmenteeIdField: function (textarea) {
                            if (textarea.is("[data-maxlengthmenteeidfield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                    },
                    messages: {
                        //employeefield: validateMSG,
                        lastnamefield: validateMSG,
                        firstnamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthemployeeidfield: "You have exceeded the maximum number of 50 characters in this field."
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,                    
                        lastName: self.lastName,
                        firstName: self.firstName,
                        middleName: self.middleName,
                        studentId: self.studentId,
                        institutionAssociationId: self.institutionAssociationId,
                        departmentId: self.departmentId,     
                        //emailAddress1: self.emailAddress1,
                        //emailAddress2: self.emailAddress2,
                        //phoneNumber: self.phoneNumber,
                        //mailingAddressLine1: self.mailingAddressLine1,
                        //mailingAddressLine2: self.mailingAddressLine2,
                        //mailingAddressLine3: self.mailingAddressLine3,
                        //mailingAddressCity: self.mailingAddressCity,
                        //mailingAddressStateId: self.mailingAddressStateId,
                        //mailingAddressPostalCode: self.mailingAddressPostalCode,
                        //mailingAddressCountryId: self.mailingAddressCountryId,
                        isTrainingGrantEligible: self.isTrainingGrantEligible,
                        isUnderrepresentedMinority: self.isUnderrepresentedMinority,
                        isIndividualWithDisabilities: self.isIndividualWithDisabilities,
                        isFromDisadvantagedBkgd: self.isFromDisadvantagedBkgd
                    };
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdateMentee")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Update successful! Refreshing page...');
                            location.reload();
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));  
        //window.console && console.log(personVm);
        kendo.bind($("#menteegeninfo-view"), personVm);
        kendo.bind($("#demographics-view"), personVm);
    })

</script>
