﻿@using TraineeTrackingSystem.Web.Common
@model MenteeSupportsViewModel

<div id="menteesupport-view">
    <input id="menteeSupportId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="menteeSupportLink">
        <div>
            <span>
                <a href="\\#addMenteeSupportButton">${ id }</a>
            </span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="menteesupport-deleteLink">
        <div>
            <span>
                <a href="\\#addMenteeSupportButton" class="menteesupport-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="currentsupport-deleteLink">
        <div>
            <span>
                <a href="\\#addNewCurrentSupport" class="currentsupport-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="menteeSupportGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                {title:'Id','field': 'id', 'width': '50px', template:kendo.template($('#menteeSupportLink').html() )},
                {title:'Institution','field': 'institutionName' },
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '120px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '120px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#menteesupport-deleteLink').html() ) }
         ]"
         data-bind="source: menteeSupports,
            events:{
                change:onSelectMenteeSupport,
                dataBound: dataBoundMenteeSupport
            }">
    </div>

    <div id="addMenteeSupportButton" data-bind="visible:addMSButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addMenteeSupportToPerson }">
            Add Support
        </button>
    </div>

    <!--EXPANDABLE SECTION -- CURRENT SUPPORT -->
    <div class="expand" id="editMenteeSupportSection" data-bind="visible:addMenteeSupportSectionVisible">

        <label class="control-label osu-standard" for="msInstitutionAutoComplete">Institution*:</label>
        @*<input id="msInstitutionAutoComplete" name="msInstitutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type an institution name (at least three characters) "
               data-min-length="3"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedMSInstitution,
                        source: msInstitutions,
                        events: {open: hideValidationMsgs}" required validationmessage="This field is required" />
        <span class="k-invalid-msg" data-for="msInstitutionAutoComplete"></span>*@
        <input type="text"
               id="msInstitutionAutoComplete"
               name="msInstitutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedMSInstitution" required validationmessage="This field is required" />

        @*<button data-role="button"
                data-bind="events: { click: addNewMSInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION -->
        @*<div id="newMSInstitutionWindow" data-bind="visible:addNewMSInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newMsInstitutionNameField">Name*:</label>
                <input id="newMSInstitutionNameField" name="newMSInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newMSInstitutionName" placeholder="enter institution name" />
                <span class="k-invalid-msg" data-for="newMSInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newMSInstitutionCityField">City*:</label>
                <input id="newMSInstitutionCityField" name="newMSInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newMSInstitutionCityName" placeholder="enter institution city" />
                <span class="k-invalid-msg" data-for="newMSInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newMSInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select state"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newMSInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newMSInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newMSInstitutionCountryDropDown" name="newMSInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newMSInstitutionCountry,source: countries" />
                <span class="k-invalid-msg" data-for="newMSInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewMSInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewMSInstitution">Cancel</button>
            </div>

        </div>*@

        @*<div>
            <label class="control-label osu-standard" for="selectedSupportSourceText">Support Source(s):</label>
            <textarea id="selectedSupportSourceText" name="selectedSupportSourceText" rows="10" cols="20" wrap="hard" 
                      data-bind="value: selectedSupportSourceText"></textarea>
        </div>*@
        <label class="control-label osu-standard">Support Source(s):</label>
        <textarea id="supportSourceField" name="supportSourceField" rows="2" cols="20" wrap="hard"
                  data-maxlength="4000"
                  data-maxlengthsupportsourcefield-msg="You have exceeded the maximum number of 4000 characters in this field."
                  placeholder="enter support source"
                  data-bind="value: selectedSupportSourceText"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="supportSourceField"></span></span>

            <!-- ASSOCIATED SUPPORT SOURCE GRID -->
            @*<div id="currentSupportSection" data-bind="visible:currentSupportSectionVisible">

                <h2>Support Information</h2>

                <div id="currentSupportGrid" data-role="grid"
                     data-editable="false"
                     data-selectable="true"
                     data-scrollable="true"
                     data-sortable="true"
                     data-pageable="false"
                     data-columns="[
                {title:'Id','field': 'id', 'width': '75px' },
                {title:'Title of Support','field': 'supportTitle' },
                {title:'Action', 'width': '100px', template:kendo.template($('#currentsupport-deleteLink').html() ) }
                ]"
                     data-bind="source: currentSupports,
                events:{
                    change: onSelectCurrentSupport,
                    dataBound: dataBoundCurrentSupport
                }">
                </div>

                <div id="addNewDegreeButton" data-bind="visible:addCurrentSupportButtonVisible">
                    <button data-role="button"
                            data-bind="events: { click: addCurrentSupport }">
                        Add Support Source
                    </button>
                </div>

            </div>*@

            <!-- POPUP: ADD NEW SUPPORT SOURCE -->
            @*<div id="newCurrentSupportWindow" data-bind="visible:addNewCurrentSupportSectionVisible">

                <div>
                    <label class="control-label" for="currentSupportIdField">Id:</label>
                    <input id="currentSupportSourceIdField" class="add listing" type="text" readonly data-bind="value: currentSupportSourceId" />
                </div>

                <div>
                    <label class="control-label" for="currentSupportTitleField">Support Title:</label>
                    <input id="currentSupportTitleField" class="add listing" type="text" data-bind="value: currentSupportTitle" placeholder=" enter support title" />
                    <span class="k-invalid-msg" data-for="currentSupportTitleField"></span>
                </div>

                <div>
                    <button class="add-section save" data-bind="click: saveCurrentSupport">Save</button>
                    <button class="add-section cancel" data-bind="click: cancelCurrentSupport">Cancel</button>
                </div>

            </div>*@

            <!--EXPANDABLE SUB-SECTION -- SUPPORT SOURCE -->
            @*<div class="expand" id="editCurrentSupportSection" data-bind="visible:addNewCurrentSupportSectionVisible">

                <label class="control-label osu-standard" for="selectedCurrentSupportTitle">Support Title:</label>
                <input type="text" id="selectedCurrentSupportTitle" name="selectedCurrentSupportTitle"
                       placeholder=" enter the support title" data-bind="value: currentSupportTitle" />
                <span class="k-invalid-msg" data-for="selectedCurrentSupportTitle"></span>

                <button class="add-section save" data-bind="click: saveCurrentSupport">Save</button>
                <button class="add-section cancel" data-bind="click: cancelCurrentSupport">Cancel</button>

            </div>*@

                <button class="add-section save" data-bind="click: saveMenteeSupport">Save</button>
                <button class="add-section cancel" data-bind="click: cancelMenteeSupport">Cancel</button>

            </div>
</div>


<script>
    $(document).ready(function () {
        //supportSourceField
        // Validate the maximum character allows for Area of Study field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#supportSourceField').on('keyup',function(){
            var characters = 4000;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field");
            }
        });
        $("#msInstitutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#msInstitutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#msInstitutionAutoComplete").val("");                    
                } else {
                    $("#msInstitutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        var menteeSupportVm = kendo.observable($.extend({
            addMSButtonVisible: true,
            addMenteeSupportSectionVisible: false,
            addNewMSInstitutionSectionVisible:false,
            //currentSupportSectionVisible:false,
            //addNewCurrentSupportSectionVisible: false,
            //addCurrentSupportButtonVisible: false,
            updated  : false,
            @*msInstitutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#msInstitutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            hideValidationMsgs: function() {
                var validator = $("#editMenteeSupportSection").kendoValidator().data("kendoValidator");   
                validator.hideMessages();
            },
            clearMSInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedMSInstitution", "The Ohio State University");
                self.set("selectedSupportSourceText", "");
                //self.set("currentSupports", null);
            },
            //clearNewMSInstitutionInput:function() {
            //    var self = this;
            //    self.set("newMSInstitutionName", "");
            //    self.set("newMSInstitutionCityName", "");
            //    self.set("newMSInstitutionState", "");
            //    self.set("newMSInstitutionCountry", "");
            //},
            onSelectMenteeSupport : function(e) {

                e.preventDefault();
                var self = this;
                var kendoGrid = $("#menteeSupportGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);

                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedMSInstitution",selected.institutionName);
                    self.set("selectedSupportSourceText", selected.supportSourceText);
                    //self.set("currentSupports", selected.menteeCurrentSupports.currentSupportSources);
                }
                self.set("addMenteeSupportSectionVisible", true);
                //self.set("currentSupportSectionVisible", true);
                self.set("addMSButtonVisible", false);
                //self.set("addCurrentSupportButtonVisible", true);

            },
            dataBoundMenteeSupport:function(e) {
                var self = this;
                $(".menteesupport-delete-link").click(function (event) {
                    event.preventDefault();

                    //self.clearMSInput();
                    var kendoGrid = $("#menteeSupportGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addMenteeSupportSectionVisible", false);
                    self.set("addMSButtonVisible", true);
                    if (confirm("Do you want to remove this item?")) {

                        // retrieve the data record for the row
                        var deleteMSItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Mentee/DeleteMenteeSupport/")'+deleteMSItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Mentee Support removed!');
                                kendoGrid.dataSource.remove(deleteMSItem);
                            }
                        });
                    }
                    return false;
                });
            },
            addMenteeSupportToPerson:function() {
                var self = this;
                self.set("addMenteeSupportSectionVisible", true);
                self.set("addMSButtonVisible", false);

                var kendoGrid = $("#menteeSupportGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearMSInput();

                //self.set("currentSupportSectionVisible", false);
                //self.set("addNewCurrentSupportSectionVisible", false);
                //self.set("addCurrentSupportButtonVisible", false);
            },
            cancelMenteeSupport:function() {
                var self = this;
                self.set("addMenteeSupportSectionVisible", false);
                self.set("addMSButtonVisible", true);
                self.hideValidationMsgs();
            },
            saveMenteeSupport: function() {
                var self = this;

                //var validator = $("#editMenteeSupportSection").kendoValidator().data("kendoValidator");
                var validator = $("#editMenteeSupportSection").kendoValidator(
                   {
                       rules: {                                       
                           maxlengthsupportsourcefield: function (textarea) {
                               if (textarea.is("[data-maxlengthsupportsourcefield-msg]") && textarea.val() != "") {
                                   var maxlengthValue = textarea.attr("data-maxlength");
                                   var value = textarea.val();
                                   return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                               }

                               return true;
                           },
                       }
                   }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                        institution: self.selectedMSInstitution,
                        supportSourceText: self.selectedSupportSourceText,
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    //window.console && console.log("MVN in Save function>>>");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdateMenteeSupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            //window.console && console.log("MVN in Success>>>");
                            //window.console && console.log(self.menteeSupports);
                            //add to new grid if it's not existing
                            var menteesupport= $.grep(self.menteeSupports, function(e){ return e.id == value.id; });
                            if (menteesupport.length === 0) {
                                self.menteeSupports.push(kendo.observable(value));                            
                                toastr.success('Mentee Support added!');
                                
                            } else {//update the entry
                                var kendoGrid = $("#menteeSupportGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("institutionName", value.institutionName);
                                selectedDataRow.set("supportSourceText", value.supportSourceText);
                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);

                                toastr.success('Mentee Support updated!');
                            }
                            self.set("addMenteeSupportSectionVisible", false);
                            self.set("addMSButtonVisible", true);
                            //self.set("currentSupportSectionVisible", true);
                            //self.set("addCurrentSupportButtonVisible", true);
                            ////self.clearMSInput();

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }

            },
            @*addNewMSInstitution:function() {
                var self = this;
                self.set("addNewMSInstitutionSectionVisible", true);
                var window = $('#newMSInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Institution ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewMSInstitution:function() {
                var window = $('#newMSInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewMSInstitution:function() {
                var self = this;

                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newMSInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newmsinstitutionname: function (input) {
                                if (input.is("[name=newMSInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newmsinstitutioncity: function (input) {
                                if (input.is("[name=newMSInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newmsinstitutioncountry: function (input) {
                                if (input.is("[name=newMSInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newmsinstitutionname: validationMsg,
                            newmsinstitutioncity: validationMsg,
                            newmsinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {

                    var updateData = {
                        Name: self.newMSInstitutionName,
                        City: self.newMSInstitutionCityName,
                        StateId: self.newMSInstitutionState != null ? self.newMSInstitutionState.key : null,
                        CountryId: self.newMSInstitutionCountry != null ? self.newMSInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newMSInstitutionName.length != 0) {
                                self.set("selectedMSInstitution", self.newMSInstitutionName);
                            }

                            self.clearNewMSInstitutionInput();
                            var window = $('#newMSInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            },*@
            //clearCSInput:function() {
            //    var self = this;
            //    self.set("selectedSupportId", "");
            //    self.set("currentSupportTitle", "");
            //},
            //onSelectCurrentSupport : function(e) {

            //    e.preventDefault();
            //    var self = this;

            //    var kendoGrid = $("#currentSupportGrid").data("kendoGrid");
            //    var selectedRow = kendoGrid.select();
            //    var selected=kendoGrid.dataItem(selectedRow);
            //    //window.console && console.log(selected);
            //    if (selected !== null) {
            //        self.set("selectedSupportId",selected.id);
            //        self.set("currentSupportTitle",selected.supportTitle);
            //    }
            //    self.set("addNewCurrentSupportSectionVisible", true);
            //    self.set("addCurrentSupportButtonVisible", false);

            //},
            @*dataBoundCurrentSupport:function(e) {
                var self = this;
                $(".currentsupport-delete-link").click(function (event) {
                    event.preventDefault();

                    //self.clearMSInput();
                    var kendoGrid = $("#currentSupportGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addNewCurrentSupportSectionVisible", false);
                    self.set("addCurrentSupportButtonVisible", true);
                    if (confirm("Do you want to remove this item?")) {

                        // retrieve the data record for the row
                        var deleteCSItem = kendoGrid.dataItem($(this).closest("tr"));
                        window.console && console.log(deleteCSItem);
                        $.ajax({
                            url: '@Url.Content("~/Mentee/DeleteSupportSource/")'+deleteCSItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Support item removed!');
                                kendoGrid.dataSource.remove(deleteCSItem);
                            }
                        });
                    }
                    return false;
                });
            },*@
            @*addCurrentSupport:function() {
                var self = this;
                self.set("addNewCurrentSupportSectionVisible", true);
                self.set("addCurrentSupportButtonVisible", false);
                self.clearCSInput();
                //var window = $('#newCurrentSupportWindow');
                //if (!window.data("kendoWindowSupport")) {
                //    window.kendoWindow({
                //        title: "Add/Update Support Source",
                //        width: "800px",
                //        height: "400px",
                //        actions: [
                //            "Pin",
                //            "Minimize",
                //            "Maximize",
                //            "Close"
                //        ]
                //    });
                //}
                //if (!window.data("kendoWindowSupport").options.visible) {
                //    window.data("kendoWindowSupport").open().center();
                //} else {
                //    window.data("kendoWindowSupport").center();
                //}
            },
            cancelCurrentSupport:function() {
                var self = this;
                self.set("addNewCurrentSupportSectionVisible", false);
                self.set("addCurrentSupportButtonVisible", true);
                //var window = $('#newCurrentSupportWindow');
                //window.data("kendoWindowSupport").close();
            },
            saveCurrentSupport: function() {
                var self = this;

                // Validate the support title field here so it isn't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#editCurrentSupportSection").kendoValidator(
                    {
                        rules: {
                            newcurrentsupportname: function (input) {
                                if (input.is("[name=selectedCurrentSupportTitle]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newcurrentsupportname: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Id: self.selectedId,
                        PersonId: self.personId,
                        menteeSupportId: self.selectedId,
                        institution: self.selectedMSInstitution,
                        currentSupportSourceId: self.selectedSupportId,
                        currentSupportSourceTitle: self.currentSupportTitle,
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdateCurrentSupportSource")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            //add to new grid if it's not existing (if I can't find returned/added "value" in "self")
                            //window.console && console.log(self);
                            window.console && console.log('value:');
                            window.console && console.log(value);
                            //var currentsupport= $.grep(self.menteeSupports.menteeCurrentSupports.currentSupportSources, function(e){ return e.id == value.selectedSupportSourceId; }); 
                            //var currMenteeSupport = $.grep(self.menteeSupports, function(e){ return e.id == value.selectedId; });

                            //if (currMenteeSupport !== null) {
                            //    window.console && console.log('self currMenteeSupport:');
                            //    window.console && console.log(currMenteeSupport);
                            //    //var currentsupport= $.grep(currMenteeSupport.menteeCurrentSupports, function(e){ return e.id == value.selectedSupportSourceId; });
                            //    //window.console && console.log(currentsupport);
                            //    if (currMenteeSupport.menteeCurrentSupports === null) {

                            //        currMenteeSupport = $.grep(value.menteeSupports, function(e){ return e.id == value.selectedId; });
                            //        window.console && console.log('value currMenteeSupport:');
                            //        window.console && console.log(currMenteeSupport);

                            //        var currentsupport= $.grep(currMenteeSupport.menteeCurrentSupports.currentSupportSources, function(e){ return e.id == value.selectedSupportSourceId; });
                            //        window.console && console.log('currentsupport:');
                            //        window.console && console.log(currentsupport);

                            //        if (currentsupport.length !== 0) {
                            //            self.currentSupports.push(kendo.observable(currentsupport));
                            //            toastr.success('Support Source added!');
                            //        }
                                
                                    //var currentsupport= $.grep(self.currentSupports, function(e){ return e.id == value.id; });
                            if (self.currentSupports === null) {
                                    //if (currentsupport.length === 0) {
                                    //if (value.IsNew) {
                                    self.currentSupports.push(kendo.observable(value));
                                    toastr.success('Support Information added!');
                                } else {//update the entry
                                var kendoGrid = $("#currentSupportGrid").data("kendoGrid");
                                kendoGrid.R
                                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                    selectedDataRow.set("supportTitle", value.supportTitle);
                                    toastr.success('Support Source updated!');
                                }
                            //}
                            self.set("addNewCurrentSupportSectionVisible", false);
                            self.set("addCurrentSupportButtonVisible", true);
                            self.clearCSInput();

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                };

            },*@
        },@(Html.ToJson(Model))));
        //window.console && console.log("MVN out Side");
        //window.console && console.log(menteeSupportVm);
        kendo.bind($("#menteesupport-view"), menteeSupportVm);

    })
</script>
