﻿@model IEnumerable<Search_VwMenteeDemographics>

<div id="clientsDb">   
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.StudentId).Title("Mentee ID").Width(23);
            columns.Bound(c => c.FullName).ClientTemplate(@Html.ActionLink("#=FullName#", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Title("Name").Width(40);  
            columns.Bound(c => c.IsTrainingGrantEligible).Title("TGE").ClientTemplate("#= IsTrainingGrantEligible ? 'Yes' : 'No' #").Width(10);
            //columns.Bound(c => c.IsCurrentStudent).Title("Status").ClientTemplate("#= IsCurrentStudent ? 'Current' : 'Past' #").Width(20);
            columns.Bound(c => c.Department).Title("Department").Width(40);
            //columns.Template(model => null)
            //    .ClientTemplate("<a href='" + Url.RouteUrl("Default", new { controller = "Mentee", action = "Edit" }) + "/#= Id #'>Edit</a>");
        })
        //.ToolBar(toolbar => toolbar.Template("<a id='createOrderButton' class='k-button k-button-icontext k-grid-add' href='#'>Create order</a>"))
        .HtmlAttributes(new { style = "height: 375px;" })
        //.Filterable()
        .Scrollable(scrollable => scrollable.Height(375))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(settings => settings.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.StudentId))
            .Sort(sort =>
                {
                    sort.Add(sid => sid.StudentId).Descending(); // <-- intial sort expression
                    sort.Add(fullname => fullname.FullName).Descending();
                    sort.Add(isTGE => isTGE.IsTrainingGrantEligible).Descending();
                    sort.Add(dept => dept.Department).Descending();
                })
            .Read(read => read.Action("Mentees_Read", "Mentee"))
            //.ServerOperation(true)
            .PageSize(50)
        )
     )
    
</div>
<script>
    $(function () {
        // Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>
