﻿@using TraineeTrackingSystem.Web.Common
@model WorkHistoriesViewModel

<div id="traineeposition-view" data-role="validator" novalidate="novalidate">
    <input id="traineePositionId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="traineePositionLink">
        <div>
            <span>
                <a href="\\#addTraineePositionButton">${ id }</a>
            </span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="traineeposition-deleteLink">
        <div>
            <span>
                <a href="\\#addTraineePositionButton" class="traineeposition-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="traineePositionGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                {title:'Id','field': 'id', 'width': '50px', template:kendo.template($('#traineePositionLink').html() )},
                {title:'Position Title','field': 'positionTitle' },
                {title:'Institution','field': 'institutionName' },
                {title:'Date Started','field': 'dateStartedText', 'width': '130px' },
                {title:'Date Ended','field': 'dateEndedText', 'width': '135px' },
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '120px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '120px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#traineeposition-deleteLink').html() ) }
         ]"
         data-bind="source: traineePositions,
            events:{
                change: onSelectTraineePosition,
                dataBound: dataBoundTraineePosition
            }">
    </div>

    <div id="addTraineePositionButton" data-bind="visible:addTPosButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addTraineePositionToPerson }">
            Add Position
        </button>
    </div>

    <!--EXPANDABLE SECTION -- CURRENT SUPPORT -->
    <div class="expand" id="editTraineePositionSection" data-bind="visible:addTraineePositionSectionVisible">

        <h2>Position Information</h2>

        @*<label class="control-label osu-standard" for="selectedPositionTitle">Position Title*:</label>
        <input type="text" id="selectedPositionTitle" name="selectedPositionTitle"
               placeholder="enter the position title" data-bind="value: selectedPositionTitle"
               required validationmessage="This field is required" />
        <span class="k-invalid-msg" data-for="selectedPositionTitle"></span>*@
        <label class="control-label" for="positionTitleField">Position Title*:</label>
        <textarea id="positionTitleField" name="positionTitleField" rows="1" cols="1" wrap="hard"
                  data-maxlength="200"
                  data-maxlengthpositiontitlefield-msg="You have exceeded the maximum number of 200 characters in this field."
                  data-bind="value: selectedPositionTitle, disabled: isDisabled" placeholder=" enter the position title"
                  @*required validationmessage="This field is required"*@></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="positionTitleField"></span></span>



        <label class="control-label osu-standard" for="tposInstitutionAutoComplete">Institution:</label>
        @*<input id="tposInstitutionAutoComplete" name="tposInstitutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type an institution name (at least three characters) "
               data-min-length="3"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedTPosInstitution,
                        source: tposInstitutions,
                        events: {open: hideValidationMsgs}" />*@
        <input type="text"
               id="tposInstitutionAutoComplete"
               name="tposInstitutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedTPosInstitution" />

        @*<button data-role="button"
                data-bind="events: { click: addNewTPosInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION -->
        @*<div id="newTPosInstitutionWindow" data-bind="visible:addNewTPosInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newMsInstitutionNameField">Name*:</label>
                <input id="newTPosInstitutionNameField" name="newTPosInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newTPosInstitutionName" placeholder="enter institution name" />
                <span class="k-invalid-msg" data-for="newTPosInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newTPosInstitutionCityField">City*:</label>
                <input id="newTPosInstitutionCityField" name="newTPosInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newTPosInstitutionCityName" placeholder="enter institution city" />
                <span class="k-invalid-msg" data-for="newTPosInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newTPosInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select state"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newTPosInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newTPosInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newTPosInstitutionCountryDropDown" name="newTPosInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newTPosInstitutionCountry,source: countries" />
                <span class="k-invalid-msg" data-for="newTPosInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewTPosInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewTPosInstitution">Cancel</button>
            </div>

        </div>*@

        <label class="control-label" for="startDate">Start Date:</label>
        <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date" 
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDate' class='k-invalid-msg'></span>
               
        <label class="control-label" for="endDate">End Date:</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startDate" data-greaterdate-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>
        @*<div>
            <label class="control-label osu-standard" for="selectedSupportSourceText">Support Source(s):</label>
            <textarea id="selectedSupportSourceText" name="selectedSupportSourceText" rows="10" cols="20" wrap="hard"
                      data-bind="value: selectedSupportSourceText"></textarea>
        </div>*@
        <label class="control-label osu-standard">Support Source(s):</label>
        <textarea id="positionsupportSourceField" name="positionsupportSourceField" rows="2" cols="20" wrap="hard"
                  data-maxlength="4000"
                  data-maxlengthsupportsourcefield-msg="You have exceeded the maximum number of 4000 characters in this field."
                  placeholder="enter support source"
                  data-bind="value: selectedSupportSourceText"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="positionsupportSourceField"></span></span>

        <button class="add-section save" data-bind="click: saveTraineePosition">Save</button>
        <button class="add-section cancel" data-bind="click: cancelTraineePosition">Cancel</button>

    </div>
</div>


<script>
    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#positionTitleField').on('keyup',function(){
            var characters = 200;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 200 characters in this field");
            }
        });

        $('#positionsupportSourceField').on('keyup',function(){
            var characters = 4000;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field");
            }
        });
        $("#tposInstitutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        //url: '@Url.Action("GetInstitutionList", "CommonData")',
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            //name: function () { return $("#ahInstitutionAutoComplete").data("kendoAutoComplete").value() },
                            name: function () { return $("#tposInstitutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#tposInstitutionAutoComplete").val("");                    
                } else {
                    $("#tposInstitutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete
        //////// THIS -> validated the date fields to make sure that End Date should be after Start Date
        //////$(function () {
        //////    var container = $("#traineeposition-view");
        //////    kendo.init(container);
        //////    container.kendoValidator({
        //////        rules: {
        //////            greaterdate: function (input) {
        //////                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() < date.getTime();
        //////                }

        //////                return true;
        //////            },
        //////            lessdate: function (input) {
        //////                if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
        //////                    var date = input.data("kendoDatePicker").value(),
        //////                        otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
        //////                    return otherDate == null || otherDate.getTime() > date.getTime();
        //////                }

        //////                return true;
        //////            }
        //////        }
        //////    });
        //////});
        var traineePositionVm = kendo.observable($.extend({
            addTPosButtonVisible: true,
            addTraineePositionSectionVisible: false,
            //addNewTPosInstitutionSectionVisible:false,
            updated  : false,
            @*tposInstitutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#tposInstitutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            hideValidationMsgs: function() {
                var validator = $("#editTraineePositionSection").kendoValidator().data("kendoValidator");   
                validator.hideMessages();
            },
            clearTPosInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedTPosInstitution", "The Ohio State University");
                self.set("selectedPositionTitle", "");
                self.set("selectedDateStarted", "");
                self.set("selectedDateEnded", "");
                self.set("selectedSupportSourceText", "");
            },
            //clearNewTPosInstitutionInput:function() {
            //    var self = this;
            //    self.set("newTPosInstitutionName", "");
            //    self.set("newTPosInstitutionCityName", "");
            //    self.set("newTPosInstitutionState", "");
            //    self.set("newTPosInstitutionCountry", "");
            //},            
            onSelectTraineePosition : function(e) {

                e.preventDefault();
                var self = this;
                var kendoGrid = $("#traineePositionGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                //window.console && console.log(selected);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedTPosInstitution",selected.institutionName);
                    self.set("selectedPositionTitle", selected.positionTitle);
                    self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                    self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);
                    self.set("selectedSupportSourceText", selected.supportSourceText);
                }
                self.set("addTraineePositionSectionVisible", true);
                self.set("addTPosButtonVisible", false);
            },            
            dataBoundTraineePosition:function(e) {
                var self = this;
                $(".traineeposition-delete-link").click(function (event) {
                    event.preventDefault();

                    //self.clearTPosInput();
                    var kendoGrid = $("#traineePositionGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addTraineePositionSectionVisible", false);
                    self.set("addTPosButtonVisible", true);
                    if (confirm("Do you want to remove this item?")) {

                        // retrieve the data record for the row
                        var deleteTPosItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Mentee/DeleteTraineePosition/")'+deleteTPosItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Remove failed!');
                            },
                            success: function (id) {
                                toastr.success('Trainee Position removed!');
                                kendoGrid.dataSource.remove(deleteTPosItem);
                            }
                        });
                    }
                    return false;
                });
            },            
            addTraineePositionToPerson:function() {
                var self = this;
                self.set("addTraineePositionSectionVisible", true);
                self.set("addTPosButtonVisible", false);

                var kendoGrid = $("#traineePositionGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearTPosInput();
            },
            cancelTraineePosition:function() {
                var self = this;
                self.set("addTraineePositionSectionVisible", false);
                self.set("addTPosButtonVisible", true);
                self.hideValidationMsgs();
            },
            saveTraineePosition: function() {
                var self = this;
                var validateMSG = "This field is required.";
                //var validator = $("#editTraineePositionSection").kendoValidator().data("kendoValidator");
                var validator = $("#editTraineePositionSection").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                            // validation rule without html data tag
                            positiontitlefield: function (textarea) {
                                if (textarea.is("[name=positionTitleField]")) {
                                    return $.trim(textarea.val()) !== "";
                                }
                                return true;
                            },
                            // validation rule with html data tag
                            maxlengthpositiontitlefield: function (textarea) {
                                if (textarea.is("[data-maxlengthpositiontitlefield-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }
                                return true;
                            },  
                            // validation rule with html data tag
                            maxlengthsupportsourcefield: function (textarea) {
                                if (textarea.is("[data-maxlengthsupportsourcefield-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }
                                return true;
                            },  
                        },
                        messages:{
                            positiontitlefield: validateMSG,
                            maxlengthpositiontitlefield: "You have exceeded the maximum number of 200 characters in this field.",
                            maxlengthsupportsourcefield: "You have exceeded the maximum number of 4000 characters in this field."
                        }

                    }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                        institution: self.selectedTPosInstitution,
                        positionTitle: self.selectedPositionTitle,
                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,
                        supportSourceText: self.selectedSupportSourceText, 
                        // MVN added user tacking info
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/Mentee/UpdateTraineePosition")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {

                            //add to new grid if it's not existing
                            var traineeposition= $.grep(self.traineePositions, function(e){ return e.id == value.id; });
                            if (traineeposition.length === 0) {
                                self.traineePositions.push(kendo.observable(value));
                                toastr.success('Trainee Position added!');
                            } else {//update the entry
                                var kendoGrid = $("#traineePositionGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("institutionName", value.institutionName);
                                selectedDataRow.set("positionTitle", value.positionTitle);
                                selectedDataRow.set("dateStarted", value.dateStarted);
                                selectedDataRow.set("dateStartedText", value.dateStartedText);
                                selectedDataRow.set("dateEnded", value.dateEnded);
                                selectedDataRow.set("dateEndedText", value.dateEndedText);
                                selectedDataRow.set("supportSourceText", value.supportSourceText);

                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                toastr.success('Trainee Position updated!');
                            }
                            self.set("addTraineePositionSectionVisible", false);
                            self.set("addTPosButtonVisible", true);
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                };
            },
            @*addNewTPosInstitution:function() {
                var self = this;
                self.set("addNewTPosInstitutionSectionVisible", true);
                var window = $('#newTPosInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Institution ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewTPosInstitution:function() {
                var window = $('#newTPosInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewTPosInstitution:function() {
                var self = this;
                
                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newTPosInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newtposinstitutionname: function (input) {
                                if (input.is("[name=newTPosInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newtposinstitutioncity: function (input) {
                                if (input.is("[name=newTPosInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newtposinstitutioncountry: function (input) {
                                if (input.is("[name=newTPosInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newtposinstitutionname: validationMsg,
                            newtposinstitutioncity: validationMsg,
                            newtposinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newTPosInstitutionName,
                        City: self.newTPosInstitutionCityName,
                        StateId: self.newTPosInstitutionState != null ? self.newTPosInstitutionState.key : null,
                        CountryId: self.newTPosInstitutionCountry != null ? self.newTPosInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newTPosInstitutionName.length != 0) {
                                self.set("selectedTPosInstitution", self.newTPosInstitutionName);
                            }

                            self.clearNewTPosInstitutionInput();
                            var window = $('#newTPosInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            },*@
        },@(Html.ToJson(Model))));
        //window.console && console.log(traineePositionVm);
        kendo.bind($("#traineeposition-view"), traineePositionVm);
    })
</script>
