﻿@{
    ViewBag.Title = "Create Mentee";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Mentee Form</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        <div id="createRequest-view">

            <h1 class="section-title">Search Existing Mentee(s)</h1>

            <fieldset name="collectMenteeBasicInfo" id="collectMenteeBasicInfo" class="two-column-fields">
                <label class="control-label" for="lastNameField">Last Name*:</label>
                <textarea id="lastNameField" name="lastNameField" rows="1" cols="1" wrap="hard"
                          data-maxlength="75"
                          data-maxlengthlastnamefield-msg="You have exceeded the maximum number of 75 characters in this field."
                          data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="lastNameField"></span></span>
                
                <label class="control-label" for="firstNameField">First Name*:</label>
                <textarea id="firstNameField" name="firstNameField" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthfirstnamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="firstNameField"></span></span>
                
                <label class="control-label" for="middleNameField">Middle Name:</label>
                <textarea id="middleNameField" name="middleNameField" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthmiddlenamefield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="middleNameField"></span></span>
                
                <label class="control-label" for="menteeIdField">Mentee ID:</label>
                <textarea id="menteeIdField" name="menteeIdField" rows="1" cols="1" wrap="hard"
                          data-maxlength="50"
                          data-maxlengthmenteeidfield-msg="You have exceeded the maximum number of 50 characters in this field."
                          data-bind="value: studentId, disabled: isDisabled" placeholder=" enter mentee id"></textarea>
                <span class="help-inline"><span class="k-invalid-msg" data-for="menteeIdField"></span></span>     
            @*<label class="control-label" for="lastName">Last Name*:</label>
                <input id="lastName" name="lastName" class="add listing" type="text" data-bind="value: lastName, disabled: isDisabled" placeholder=" enter last name"
                       required validationmessage="This field is required" />
                <span class="help-inline"><span class="k-invalid-msg" data-for="LastName"></span></span>

                <label class="control-label" for="firstName">First Name*:</label>
                <input id="firstName" name="firstName" class="add listing" type="text" data-bind="value: firstName, disabled: isDisabled" placeholder=" enter first name"
                       required validationmessage="This field is required" />
                <span class="help-inline"><span class="k-invalid-msg" data-for="firstName"></span></span>

                <label class="control-label" for="middleName">Middle Name:</label>
                <input id="middleName" class="add listing" type="text" data-bind="value: middleName, disabled:isDisabled" placeholder=" enter middle name" />

                <label class="control-label" for="studentId">Mentee ID:</label>
                <input id="studentId" class="add listing" type="text" data-bind="value: studentId, disabled: isDisabled" placeholder=" enter mentee id" />
                <span class="k-invalid-msg" data-for="studentId"></span>*@

                <label class="control-label" for="IsTrainingGrantEligible">Training Grant Eligible*:</label>
                <div class="radio-group">
                    <input type="radio" name="IsTrainingGrantEligible" value="true" data-bind="checked: isTrainingGrantEligible" required validationmessage="This field is required" /><label>Yes</label>
                    <input type="radio" name="IsTrainingGrantEligible" value="false" data-bind="checked: isTrainingGrantEligible" required validationmessage="This field is required" /><label>No</label>
                    <span class="help-inline"><span class="k-invalid-msg" data-for="IsTrainingGrantEligible"></span></span>
                </div>

                <div data-bind="invisible: isDisabled">
                    <input class="add-section save" type="button" value="Search Mentees" data-bind="click: searchPerson" />
                </div>


                <div id="peopleSearchGrid" data-bind="visible: searchCount>0">
                </div>

                <div id="peopleFound" data-bind="visible: resultVisible">
                    <span>
                        If the Mentee is in the list, click the row to open and edit his/her information. <br /><br />
                        Otherwise, enter required fields above, and click 'Create' to make a new Mentee record. <br />
                        If Mentee ID is not entered, a Mentee ID will be automatically created and assigned.
                    </span>
                    <input class="add button" type="button" value="Create New Mentee" data-bind="click: createPerson" />
                </div>

                <div id="nopeopleFound" data-bind="visible: noResultVisible">
                    <span>
                        No matching Mentee records found.<br /><br />
                        Enter required fields above, and click 'Create' to make a new Mentee record.<br />
                        If Mentee ID is not entered, a Mentee ID will be automatically created and assigned.
                    </span>
                    <input class="add button" type="button" value="Create New Mentee" data-bind="click: createPerson" />
                </div>


            </fieldset>

        </div>
    </article>
</div>

<script>

    $(document).ready(function () {
        // Validate the maximum character allows for Other affiliations field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#lastNameField').on('keyup', function () {
            var characters = 75;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 75 characters in this field");
            }
        });

        $('#firstNameField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#middleNameField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });

        $('#menteeIdField').on('keyup', function () {
            var characters = 50;
            var maxChar = ($(this).val().length);
            if (maxChar > characters) {
                toastr.warning("You have exceeded the maximum number of 50 characters in this field");
            }
        });


        var personViewMode = kendo.observable({

            firstName: null,
            lastName: "",
            middleName: "",
            studentId: "",
            isTrainingGrantEligible: null,
            searchCount: -1,
            noResultVisible: false,
            resultVisible: false,
            createPerson: function (e) {
                e.preventDefault();
                var self = this;
                //var validator = $("#createRequest-view").kendoValidator().data("kendoValidator");
                var validateMSG = "This field is required.";       
                var validator = $("#createRequest-view").kendoValidator(
                {
                    rules: {
                        // validation rule without html data tag
                        lastnamefield: function (textarea) {
                            if (textarea.is("[name=lastNameField]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthlastnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthlastNameField-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule without html data tag
                        firstnamefield: function (textarea) {
                            if (textarea.is("[name=firstNameField]")) {
                                return $.trim(textarea.val()) !== "";
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthfirstnamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthfirstnamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        // validation rule with html data tag
                        maxTextLengthmiddlenamefield: function (textarea) {
                            if (textarea.is("[data-maxlengthmiddlenamefield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                        //validation rule with html data tag 
                        maxTextLengthmenteeIdField: function (textarea) {
                            if (textarea.is("[data-maxlengthmenteeidfield-msg]") && textarea.val() != "") {
                                var maxlengthValue = textarea.attr("data-maxlength");
                                var value = textarea.val();
                                return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                            }
                            return true;
                        },
                    },
                    messages: {
                        //employeefield: validateMSG,
                        lastnamefield: validateMSG,
                        firstnamefield: validateMSG,
                        maxTextLengthlastnamefield: "You have exceeded the maximum number of 75 characters in this field.",
                        maxTextLengthfirstnamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthmiddlenamefield: "You have exceeded the maximum number of 50 characters in this field.",
                        maxTextLengthemployeeidfield: "You have exceeded the maximum number of 50 characters in this field."
                    }
                }).data("kendoValidator");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Content("~/Mentee/CreateMentee")',
                        data: JSON.stringify(this.toJSON()),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Mentee could not be created!');
                        },
                        success: function (value) {
                            toastr.success('Mentee created!');
                            window.location = '@Url.Content("~/Mentee/Edit/")' + value;
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            searchPerson: function (e) {
                var self = this;
                //statusMsg.hidden = false;
                $.ajax({

                    url: '@Url.Content("~/CommonData/SearchMentee")',
                    data: JSON.stringify(this.toJSON()),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        window.console && console.log("error");
                    },
                    success: function (value) {
                        self.set("searchCount", value.length);
                        self.set("noResultVisible", value.length === 0);
                        self.set("resultVisible", value.length > 0);
                        //$("#peopleSearchGrid").kendoGrid({
                        //    columns: [{
                        //            field: "StudentId",
                        //            title: "ID"
                        //        }, {
                        //            field: "FullName",
                        //            template: '<a href="Edit/#=Id#">#=FullName#</a>',
                        //            title: "Name"
                        //        }, {
                        //            field: "MentorFullName",
                        //            title: "Mentor"
                        //        }, {
                        //            field: "MenteeType",
                        //            title: "Mentee Type"
                        //        }, {
                        //            field: "Program",
                        //            title: "Program"
                        //        }, {
                        //            field: "Department",
                        //            title: "Department"
                        //        }],
                        //    dataSource: {
                        //        data: value,
                        //        pageSize: 20
                        //    },
                        //    height: 250,
                        //    sortable: true,
                        //    pageable: {
                        //        refresh: true,
                        //        pageSizes: true,
                        //        buttonCount: 5
                        //    }
                        //});
                        $("#peopleSearchGrid").kendoGrid({
                            columns: [{
                                field: "StudentId",
                                title: "ID"
                            }, {
                                field: "FullName",
                                template: '<a href="Edit/#=Id#">#=FullName#</a>',
                                title: "Name"
                            }, {
                                field: "IsTrainingGrantEligible",
                                title: "TGE"                          
                            }, {
                                field: "Department",
                                title: "Department"
                            }],
                            dataSource: {
                                data: value,
                                pageSize: 20
                            },
                            height: 250,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            }
                        });
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
                //statusMsg.hidden = true;

            }

        });
        kendo.bind($("#createRequest-view"), personViewMode);

    });
</script>