﻿@using TraineeTrackingSystem.Web.Common;
@model EditMenteeViewModel
@{
    ViewBag.Title = "Edit Mentee";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Mentee Form</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @*MVN: Trickered edit file to refresh*@
        @*<p class="reminder">Please be sure to save each section as you make edits/updates.</p>*@
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        @*MVN*@
        <!--IN USE ALERT-->
        <!--DISPLAYS CONDITIONALLY-->
        @*<div class="page-alert in-use">This record is currently being edited by [username]</div>*@

        <!-- DISPLAY ID AND LAST EDITED -->
        @*<h1 class="section-title">
            Last updated <label class="control-label" for="DateLastUpdated" data-bind="value: dateLastUpdated" />
            by <label class="control-label" for="LastUpdatedBy" data-bind="value: lastUpdatedBy" />
        </h1>*@

        <!--DONE WITH FORM BUTTON-->
        @*<input class="submit done" type="submit" value="Done" />*@
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">General Information</h1>
        <div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeGeneralInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeGeneralInfo.StrLastUpdatedBy)) </p>
        </div>
            <fieldset name="collectMenteeGenInfo" id="collectMenteeGenInfo" class="two-column-fields">
                @{Html.RenderPartial("_MenteeGeneralInfo", Model.MenteeGeneralInfo);}
            </fieldset>
        
        @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeGeneralInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeGeneralInfo.StrLastUpdatedBy)) </p> 
        <fieldset name="collectMenteeGenInfo" id="collectMenteeGenInfo" class="two-column-fields">
            @{Html.RenderPartial("_MenteeGeneralInfo", Model.MenteeGeneralInfo);}
        </fieldset>*@

        @*<h1 class="section-title">Applicant Information</h1>
        <fieldset name="collectMenteeApplicantInfo" id="collectMenteeApplicantInfo" class="two-column-fields">
            @{Html.RenderPartial("_MenteeApplicantInfo", Model.ApplicantInformation);}
        </fieldset>*@

        <h1 class="section-title">Training Period Information</h1>

        @*<div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeTrainingPeriods.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeTrainingPeriods.LastUpdatedBy)) </p>
        </div>*@

            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeTrainingPeriods.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeTrainingPeriods.LastUpdatedBy)) </p>*@
            <fieldset name="MenteeTrainingPeriod" id="MenteeTrainingPeriod" class="two-column-fields">
                @{Html.RenderPartial("_MenteeTrainingPeriod", Model.MenteeTrainingPeriods);}
            </fieldset>

            <h1 class="section-title">Academic History</h1>
        @*<div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeAcademicHistories.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeAcademicHistories.LastUpdatedBy)) </p>
        </div>*@
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeAcademicHistories.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeAcademicHistories.LastUpdatedBy)) </p>*@
            <fieldset name="MenteeAcademicHistory" id="MenteeAcademicHistory" class="two-column-fields">
                @{Html.RenderPartial("_MenteeAcademicHistory", Model.MenteeAcademicHistories);}
            </fieldset>

            <h1 class="section-title">Current Mentee Current Support</h1>     
        @*<div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeSupports.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeSupports.LastUpdatedBy)) </p>
        </div>*@
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.MenteeSupports.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.MenteeSupports.LastUpdatedBy)) </p>*@
            <fieldset name="MenteeCurrentSupport" id="MenteeCurrentSupport" class="two-column-fields">
                @{Html.RenderPartial("_MenteeCurrentSupport", Model.MenteeSupports);}
            </fieldset>

            <h1 class="section-title">Past Trainee Current Position</h1>
        @*<div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.TraineePositions.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.TraineePositions.LastUpdatedBy)) </p>
        </div>*@
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.TraineePositions.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.TraineePositions.LastUpdatedBy)) </p>*@
            <fieldset name="PastTraineeCurrentPosition" id="PastTraineeCurrentPosition" class="two-column-fields">
                @{Html.RenderPartial("_TraineeCurrentPosition", Model.TraineePositions);}
            </fieldset>

            <h1 class="section-title">Publications</h1>
            <fieldset name="MenteePublications" id="MenteePublications" class="two-column-fields">
                @{Html.RenderPartial("_MenteePublication", Model.MenteePublications);}
            </fieldset>

            <!--DONE WITH FORM BUTTON-->
            @*<input class="submit done" type="submit" value="Done" />*@
            <button class="submit done" data-toggle="modal" data-target="#myModal">
                Done
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            This action will take you to the menu, and unsaved changes will be lost.
                        </div>
                        <div class="modal-footer">
                            <button class="add-section" onclick="window.location = '@Url.Content("~/Mentee/Index/")'">OK</button>
                            <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

</article>
</div>


