﻿@model IEnumerable<Search_VwMenteeDemographics>
@using TraineeTrackingSystem.Web.Models;
@{
    ViewBag.Title = "Mentee Index";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Mentees</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
       @*@if (SecurityControl.IsAdminUser(this.User) ||
                     SecurityControl.IsEditUser(this.User)){*@
        @if (SecurityControl.IsReaderUser(this.User))
        {
            <div class="section-admin">

                @using (Html.BeginForm("Create", "Mentee"))
                {
                    @*<button id="btnAddMentee" type="submit" class="add-item program" data-bind="visible:addMenteeButtonVisible">+ Add Mentee</button>*@
                    <button type="submit" class="add-item program">+ Add Mentee</button>
                }
            </div>

            <div class="wide-grid">
                <div id="clientsDb">
                    @{Html.RenderPartial("_MenteeLandingPage", Model);}
                </div>
            </div>
       }
    </article>
</div>

@*<script>
    $(document).ready(function () {
        var self = this;
        //self.test = Request.ServerVariables("SERVER_NAME");
        window.console && console.log(HttpContext.Current.Request.ServerVariables("SERVER_NAME"));

        if (HttpContext.Current.Request.ServerVariables("SERVER_NAME") === "http://test.osumc.edu/") {
            //self.set("addMenteeButtonVisible", false); 
            self.btnAddMentee.visible = false;
        } else {
            //self.set("addMenteeButtonVisible", true);
            self.btnAddMentee.visible = true;
        }
    })
</script>*@