﻿@model TraineeTrackingSystem.Web.ViewModels.LoginViewModel

@*@{
    ViewBag.Title = "Honey Badger";
}*@
@{
    ViewBag.Title = "Log in";
}

<!-- MVN - /Account/Login View -->
<div class="login">

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
        {
            @Html.AntiForgeryToken()
            //MVNTESTING
            @*@Html.ValidationSummary(true)*@
            <span style="white-space: pre-line">@Html.ValidationSummary(true)</span>
            <fieldset>
                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName)
                @*@Html.TextBoxFor(m => m.ExternalId, new { @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.ExternalId)*@
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
                <input class="submit" type="submit" value="Login" />
            </fieldset>
        }
    </section>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

