/* CSS crunched with Crunch - http://crunchapp.net/ */
/*RESET*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
dl
{
    margin: 10px 0;
    padding: 0;
    min-width: 0;
}
    
dt, dd
{
    float: left;
    margin-top: 10px;    
}
    
dt
{
    margin-top: 10px;    
    clear: left;
    text-align: right;
    opacity: 0.6;
    width: 80px;
    margin-right: 10px;        
}

.span4 {
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*SEMANTIC GRID*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*LOAD DEFAULTS*/
/*COLORS*/
/*IMAGE PATH FOR PRODUCTION*/
/*@base-url:"/Applications/RequestManager/Content/images";*/
/*IMAGE PATH FOR LOCAL DEV*/
/*MIXINS AND EXTENDS*/
.home-button-icon-margin {
  margin-top: -10px;
  margin-bottom: 10px;
}
.max-width,
.login,
header.application div.header,
.page-context,
div.content,
.user .wrapper {
  max-width: 1200px;
}
.row {
  width: 100%;
  float: left;
  margin: 0px;
}
/*LOAD KENDO OVERRIDES*/
/*Kendo UI Elements Overrides*/
.k-header {
  background: none;
}
article.content .k-dropdown input,
.sort-options .k-dropdown input {
  display: none !important;
}
article.content .k-dropdown,
.sort-options .k-dropdown,
article.content .k-datepicker,
.sort-options .k-datepicker {
  width: 85%;
  margin-bottom: 20px;
  text-align: left;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.content .k-dropdown .k-dropdown-wrap,
.sort-options .k-dropdown .k-dropdown-wrap,
article.content .k-datepicker .k-dropdown-wrap,
.sort-options .k-datepicker .k-dropdown-wrap,
article.content .k-dropdown .k-picker-wrap,
.sort-options .k-dropdown .k-picker-wrap,
article.content .k-datepicker .k-picker-wrap,
.sort-options .k-datepicker .k-picker-wrap {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-right: 2.3em;
  border-color: #999999;
  overflow: hidden;
  background: none;
}
article.content .k-dropdown .k-dropdown-wrap .k-input,
.sort-options .k-dropdown .k-dropdown-wrap .k-input,
article.content .k-datepicker .k-dropdown-wrap .k-input,
.sort-options .k-datepicker .k-dropdown-wrap .k-input,
article.content .k-dropdown .k-picker-wrap .k-input,
.sort-options .k-dropdown .k-picker-wrap .k-input,
article.content .k-datepicker .k-picker-wrap .k-input,
.sort-options .k-datepicker .k-picker-wrap .k-input {
  text-indent: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.05rem;
  margin: 0px !important;
  width: 100% !important;
}
article.content .k-dropdown .k-dropdown-wrap .k-select,
.sort-options .k-dropdown .k-dropdown-wrap .k-select,
article.content .k-datepicker .k-dropdown-wrap .k-select,
.sort-options .k-datepicker .k-dropdown-wrap .k-select,
article.content .k-dropdown .k-picker-wrap .k-select,
.sort-options .k-dropdown .k-picker-wrap .k-select,
article.content .k-datepicker .k-picker-wrap .k-select,
.sort-options .k-datepicker .k-picker-wrap .k-select {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 2.3em;
}
article.content .k-dropdown .k-dropdown-wrap .k-select .k-icon,
.sort-options .k-dropdown .k-dropdown-wrap .k-select .k-icon,
article.content .k-datepicker .k-dropdown-wrap .k-select .k-icon,
.sort-options .k-datepicker .k-dropdown-wrap .k-select .k-icon,
article.content .k-dropdown .k-picker-wrap .k-select .k-icon,
.sort-options .k-dropdown .k-picker-wrap .k-select .k-icon,
article.content .k-datepicker .k-picker-wrap .k-select .k-icon,
.sort-options .k-datepicker .k-picker-wrap .k-select .k-icon {
  background: #BB0000;
  height: 100%;
  width: 100%;
  background-image: url(images/sprite_osumc.png);
}
article.content .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s,
.sort-options .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s,
article.content .k-datepicker .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s,
.sort-options .k-datepicker .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s,
article.content .k-dropdown .k-picker-wrap .k-select .k-icon.k-i-arrow-s,
.sort-options .k-dropdown .k-picker-wrap .k-select .k-icon.k-i-arrow-s,
article.content .k-datepicker .k-picker-wrap .k-select .k-icon.k-i-arrow-s,
.sort-options .k-datepicker .k-picker-wrap .k-select .k-icon.k-i-arrow-s {
  background-size: 680px;
  background-position: -127px -62px;
}
article.content .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-calendar,
.sort-options .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-calendar,
article.content .k-datepicker .k-dropdown-wrap .k-select .k-icon.k-i-calendar,
.sort-options .k-datepicker .k-dropdown-wrap .k-select .k-icon.k-i-calendar,
article.content .k-dropdown .k-picker-wrap .k-select .k-icon.k-i-calendar,
.sort-options .k-dropdown .k-picker-wrap .k-select .k-icon.k-i-calendar,
article.content .k-datepicker .k-picker-wrap .k-select .k-icon.k-i-calendar,
.sort-options .k-datepicker .k-picker-wrap .k-select .k-icon.k-i-calendar {
  background-size: 580px;
  background-position: -112px -300px;
}
article.content .k-datepicker .k-picker-wrap input,
.sort-options .k-datepicker .k-picker-wrap input,
article.content .k-datepicker .k-picker-wrap .k-input,
.sort-options .k-datepicker .k-picker-wrap .k-input {
  margin-bottom: 0px !important;
  padding: 0px !important;
}
article.content .k-datepicker .k-picker-wrap .k-icon.k-i-calendar,
.sort-options .k-datepicker .k-picker-wrap .k-icon.k-i-calendar {
  vertical-align: baseline;
}
article.content .k-numerictextbox .k-numeric-wrap.k-state-default,
.sort-options .k-numerictextbox .k-numeric-wrap.k-state-default {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-right: 2.3em;
  border-color: #999999;
  overflow: hidden;
  background: none;
}
article.content .k-numerictextbox .k-numeric-wrap.k-state-default input.k-formatted-value.k-input,
.sort-options .k-numerictextbox .k-numeric-wrap.k-state-default input.k-formatted-value.k-input,
article.content .k-numerictextbox .k-numeric-wrap.k-state-default input.k-input,
.sort-options .k-numerictextbox .k-numeric-wrap.k-state-default input.k-input {
  height: auto;
  padding: 0px;
}
article.content .k-numerictextbox .k-numeric-wrap.k-state-default .k-icon,
.sort-options .k-numerictextbox .k-numeric-wrap.k-state-default .k-icon {
  margin-top: -5px;
}
article.content .k-autocomplete .k-input,
.sort-options .k-autocomplete .k-input {
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.05rem;
  margin: 0px !important;
  padding: 0px;
  width: 100% !important;
  height: auto;
}
article.content.intake .k-select .k-icon.k-i-arrow-s,
.sort-options.intake .k-select .k-icon.k-i-arrow-s {
  background-position: -127px -59px !important;
  background-size: 680px;
  opacity: 1.0;
}
article.content .k-warning,
.sort-options .k-warning {
  background-image: url(images/sprite_osumc.png);
  background-size: 400px;
  background-position: -228px -284px;
  opacity: 1.0;
}
article.content.admin-form .k-dropdown,
.sort-options.admin-form .k-dropdown {
  margin-bottom: 20px;
  text-align: left;
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
}
article.content.admin-form .k-dropdown .k-dropdown-wrap,
.sort-options.admin-form .k-dropdown .k-dropdown-wrap {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-right: 2.3em;
  border: 1px solid #999999;
}
article.content.admin-form .k-dropdown .k-dropdown-wrap .k-input,
.sort-options.admin-form .k-dropdown .k-dropdown-wrap .k-input {
  background: #f4e5b2;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.05rem;
}
article.content.admin-form .k-dropdown .k-dropdown-wrap .k-select,
.sort-options.admin-form .k-dropdown .k-dropdown-wrap .k-select {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 2.3em;
}
article.content.admin-form .k-dropdown .k-dropdown-wrap .k-select .k-icon,
.sort-options.admin-form .k-dropdown .k-dropdown-wrap .k-select .k-icon {
  background: #BB0000;
  height: 100%;
  width: 100%;
}
article.content.admin-form .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s,
.sort-options.admin-form .k-dropdown .k-dropdown-wrap .k-select .k-icon.k-i-arrow-s {
  background-image: url(images/sprite_osumc.png);
  background-size: 680px;
  background-position: -127px -61px;
}
article.content .k-upload,
.sort-options .k-upload {
  display: block;
  clear: both;
  overflow: hidden;
}
article.content.request-form .k-upload,
.sort-options.request-form .k-upload {
  display: inline !important;
  float: left !important;
  width: 97.91666667% !important;
  margin: 0 1.04166667% !important;
  padding-bottom: 40px !important;
  margin-bottom: 40px !important;
  /*border-bottom:1px solid @mediumgray;*/
}
article.content.request-form .k-upload .k-upload-button,
.sort-options.request-form .k-upload .k-upload-button {
  display: inline !important;
  float: left !important;
  width: 39.58333333% !important;
  margin: 0 1.04166667% !important;
  margin-left: 9.375% !important;
}
article.content.request-form .k-upload .k-upload-button.highlight,
.sort-options.request-form .k-upload .k-upload-button.highlight {
  background: #f4e5b2;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #999999;
}
article.content.request-form .k-upload.inline-option-button,
.sort-options.request-form .k-upload.inline-option-button {
  clear: none !important;
  display: inline !important;
  float: left !important;
  width: 22.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-left: 9.375% !important;
  margin-right: 9.375% !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.content.request-form .k-upload.inline-option-button .k-upload-button,
.sort-options.request-form .k-upload.inline-option-button .k-upload-button {
  width: 100% !important;
  margin: 0px !important;
  padding: 2px !important;
}
article.content.request-form fieldset .k-dropdown,
.sort-options.request-form fieldset .k-dropdown {
  display: inline;
  float: left;
  width: 64.58333333%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
}
article.content .k-textbox,
.sort-options .k-textbox,
article.content .k-autocomplete,
.sort-options .k-autocomplete {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
}
article.content .k-autocomplete,
.sort-options .k-autocomplete {
  height: auto !important;
}
article.content .k-invalid,
.sort-options .k-invalid,
article.content .k-widet,
.sort-options .k-widet,
article.content .k-tooltip-validation,
.sort-options .k-tooltip-validation {
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.content .highlight .k-dropdown-wrap .k-input,
.sort-options .highlight .k-dropdown-wrap .k-input {
  background: #f4e5b2;
}
article.content .btn-default,
.sort-options .btn-default {
  border: none;
}
article.content .btn,
.sort-options .btn,
article.content .k-button,
.sort-options .k-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
article.content .k-button,
.sort-options .k-button {
  background: #FFFFFF;
  border: 1px solid #999999;
}
.k-block,
.k-widget {
  background: none;
  border: none;
}
.k-autocomplete {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*KENDO GRID STYLE TEST*/
/*.grid-wrapper {
    max-width:1200px;
    padding:20px 0;
    margin:0 auto;
}
.k-grid-header {
    .k-grid-header-wrap {
        margin:0 20px;
        table {
            width:100%;
            col {
                width:25% !important;
            }
        }
    }
    display:none;
}
.k-grid-content {
    max-width:1200px;
    padding:20px 0;
    margin:0 auto;
    table {
        width:100%;
        tr {
            padding-bottom:20px;
            float:left;
        }
        col {
            width:25% !important;
        }
        td {
            width:100%;
            float:left;
        }
    }
}*/
.k-ie .k-autocomplete input.k-textbox {
  text-indent: 0px;
}
.k-ie input.k-textbox {
  text-indent: 10px;
}
@media (min-width: 401px) {
  .intake .k-dropdown {
    width: 50% !important;
  }
  .intake .k-dropdown .k-input {
    font-size: 1.2rem !important;
  }
}
/*LOAD STYLES*/
/*STYLES*/
/*RESPONSIVE*/
.status-indicator {
  width: 100%;
  height: 35px;
  text-align: left;
  background: #777777;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.status-indicator span {
  border-right: 3px solid #f0f0f0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  height: 35px;
  background: #FFFFFF;
}
.status-indicator span.active {
  border-right: 3px solid #f0f0f0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: none;
}
.status-indicator span:last-child {
  border-right: none;
}
.status-indicator.success {
  background: green;
  border-color: green;
}
.status-view.low .submission-details .status-indicator,
.status-view.low .request-details .status-indicator {
  background: #498981;
  border: none;
}
.status-view.low .submission-details .status-indicator span,
.status-view.low .request-details .status-indicator span {
  border-right: 3px solid #DFF0D8;
}
.status-view.low .submission-details .status-indicator span.active,
.status-view.low .request-details .status-indicator span.active {
  border-right: 3px solid #DFF0D8;
}
.status-view.low .submission-details .status-indicator span:last-child,
.status-view.low .request-details .status-indicator span:last-child {
  border-right: none;
}
.status-view.medium .submission-details .status-indicator,
.status-view.medium .request-details .status-indicator {
  background: #a37c00;
  border: none;
}
.status-view.medium .submission-details .status-indicator span,
.status-view.medium .request-details .status-indicator span {
  border-right: 3px solid #FFF1BF;
}
.status-view.medium .submission-details .status-indicator span.active,
.status-view.medium .request-details .status-indicator span.active {
  border-right: 3px solid #FFF1BF;
}
.status-view.medium .submission-details .status-indicator span:last-child,
.status-view.medium .request-details .status-indicator span:last-child {
  border-right: none;
}
.status-view.high .submission-details .status-indicator,
.status-view.high .request-details .status-indicator {
  background: #bb0000;
  border: none;
}
.status-view.high .submission-details .status-indicator span,
.status-view.high .request-details .status-indicator span {
  border-right: 3px solid #FFD6D6;
}
.status-view.high .submission-details .status-indicator span.active,
.status-view.high .request-details .status-indicator span.active {
  border-right: 3px solid #FFD6D6;
}
.status-view.high .submission-details .status-indicator span:last-child,
.status-view.high .request-details .status-indicator span:last-child {
  border-right: none;
}
.login {
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
}
.login fieldset {
  background: #FFFFFF;
  margin: 0 20px;
  border: none;
  border-bottom: 2px solid #BBBBBB;
}
.login label {
  height: 1px;
  width: 1px;
  text-indent: -500px;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.login input {
  display: block;
  width: 70%;
  margin: 15px auto;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #BBBBBB;
}
@media (min-width: 768px) {
  .login input {
    width: 55%;
    max-width: 600px;
  }
}
.login input.submit {
  width: 40%;
  background: #bb0000;
  color: #ffffff;
}
@media (min-width: 768px) {
  .login input.submit {
    width: 30%;
    max-width: 400px;
  }
}
header.application {
  background: #ffffff;
  border-bottom: 2px solid #D6D6D6;
  width: 100%;
  text-align: center;
}
header.application div.header {
  text-align: left;
  margin: 0 auto;
}
header.application div.header .wrapper {
  display: table;
  width: 100%;
  /*height:80px;*/
}
header.application div.header .wrapper h1.application-title {
  margin: 0;
  padding: 14px 0 14px 20px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  color: #bb0000;
  font-size: 1.5rem;
}
header.application div.header .wrapper h1.application-title a {
  text-decoration: none;
}
@media (min-width: 401px) {
  header.application div.header .wrapper h1.application-title {
    display: table-cell !important;
    font-size: 2.3rem !important;
  }
}
@media (min-width: 768px) {
  header.application div.header .wrapper h1.application-title {
    padding: 28px 0 20px 20px !important;
  }
}
header.application div.header .wrapper a.logo {
  vertical-align: middle;
  padding: 20px 20px 20px 0;
  display: none;
}
header.application div.header .wrapper a.logo img {
  height: 70px;
}
@media (min-width: 768px) {
  header.application div.header .wrapper a.logo {
    display: block !important;
    float: right;
    margin: 0px;
  }
}
nav.app-nav {
  height: auto !important;
}
nav.app-nav ul {
  margin: 0px;
  padding: 0px;
  display: none;
}
nav.app-nav ul li {
  display: block;
  margin: 0px;
  border-top: 1px solid #E4E4E4;
}
nav.app-nav ul li:last-child {
  border-bottom: none;
}
nav.app-nav ul li a {
  color: #777777;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: block;
}
nav.app-nav ul li a:hover,
nav.app-nav ul li a.active {
  text-decoration: underline;
  color: #bb0000;
}
@media (min-width: 401px) {
  nav.app-nav ul {
    display: block !important;
    margin: 0 0 20px 20px !important;
  }
  nav.app-nav ul li {
    display: inline !important;
    margin-right: 20px !important;
    border: none !important;
    text-align: left !important;
  }
  nav.app-nav ul li:last-child {
    margin-right: 0px;
  }
  nav.app-nav ul li a {
    display: inline !important;
  }
  nav.app-nav ul li a:hover,
  nav.app-nav ul li a .active {
    color: #bb0000 !important;
    background: none !important;
  }
}
.mobile-menu {
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.mobile-menu .mobile-icon {
  width: 33px;
  height: 18px;
  background: url("images/button-icons-sprite.png") no-repeat 0px -100px;
  background-size: 100px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 401px) {
  .mobile-menu {
    display: none !important;
  }
}
span#respondCount {
  display: inline-block;
  background: #bb0000;
  height: 26px;
  width: 26px;
  color: #FFFFFF;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  padding: 2px;
  margin-left: 5px;
  text-align: center;
  position: relative;
}
nav.app-nav span#respondCount {
  background: #777777;
  top: 2px;
}
#home-buttons ul li a:hover span#respondCount {
  background: #777777;
}
#home-buttons ul li a span#respondCount {
  height: 36px;
  width: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  padding: 5px 0 5px 2px;
  position: absolute;
  top: -13px;
  right: -13px;
  font-size: 19px;
}
section.wrapper {
  background: #f0f0f0;
  min-height: 100px;
  border-bottom: 2px solid #D6D6D6;
  padding: 20px 0;
}
#home-buttons {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0;
}
#home-buttons ul {
  margin: 0 auto;
  padding: 0px;
}
#home-buttons ul li {
  display: inline-block;
  position: relative;
  width: 118px;
  height: 133px;
  background: #777777;
  margin: 10px;
}
#home-buttons ul li a {
  display: table-cell;
  width: 118px;
  height: 133px;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
#home-buttons ul li a:hover {
  background: #bb0000;
}
#home-buttons ul li a .home-button-text {
  display: block;
  width: 65%;
  margin: 0 auto;
}
#home-buttons ul li a span {
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
#home-buttons ul li a span img {
  width: 100px;
}
#home-buttons ul li a span.make-request {
  width: 30px;
  height: 41px;
  margin-top: -10px;
  margin-bottom: 10px;
}
#home-buttons ul li a span.view-task {
  width: 44px;
  height: 41px;
  margin-top: -10px;
  margin-bottom: 10px;
}
#home-buttons ul li a span.view-task img {
  margin-left: -40px;
}
#home-buttons ul li a span.view-status {
  width: 44px;
  height: 41px;
  margin-top: -10px;
  margin-bottom: 10px;
}
#home-buttons ul li a span.view-status img {
  margin-top: -50px;
}
#home-buttons ul li a span.create-report {
  width: 46px;
  height: 39px;
  margin-top: -10px;
  margin-bottom: 10px;
}
#home-buttons ul li a span.create-report img {
  margin-top: -50px;
  margin-left: -50px;
}
.page-context {
  margin: 0 auto -30px auto;
}
.page-context .context-wrapper {
  margin: 0 20px;
}
@media (min-width: 401px) {
  .page-context .context-wrapper {
    margin: 30px 20px !important;
  }
}
.page-context .context-wrapper h1.page-title {
  font-weight: 300;
  color: #777777;
  font-size: 1.1em;
  display: inline-block;
  margin: 0px;
}
@media (min-width: 401px) {
  .page-context .context-wrapper h1.page-title {
    font-size: 1.7em !important;
    margin: 20px 0;
  }
}
@media (min-width: 650px) {
  .page-context .context-wrapper h1.page-title {
    max-width: 69% !important;
  }
}
.page-context .context-wrapper .change-request-type {
  background: #e4e4e4;
  color: #777777;
  padding: 10px 4px;
  border: 1px solid #BBBBBB;
  max-width: 160px;
  text-align: center;
  font-size: .8rem;
  display: block;
}
.page-context .context-wrapper .change-request-type:hover {
  background: #777777;
  color: #FFFFFF;
}
@media (min-width: 401px) {
  .page-context .context-wrapper .change-request-type {
    max-width: 200px !important;
  }
}
@media (min-width: 650px) {
  .page-context .context-wrapper .change-request-type {
    font-size: 1em !important;
    float: right;
    margin-top: 10px;
  }
}
div.content {
  margin: 40px auto;
}
div.sort-options {
  margin: 0 20px;
  overflow: hidden;
}
div.sort-options p.sort-title {
  font-size: 1.1em;
}
div.sort-options p.sort-title.advanced {
  background: #FFFFFF;
  width: auto;
  display: block;
  float: left;
  padding: 10px 35px 10px 10px;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  margin-bottom: 20px;
  z-index: 10;
  position: relative;
  background: #fdf5dc url("images/button-icons-sprite.png") no-repeat 107px -168px;
  background-size: 60px;
  cursor: pointer;
}
div.sort-options p.sort-title.advanced.open {
  border-bottom: none;
  margin-bottom: 21px;
  background-color: #FFFFFF;
  background-position: 147px -138px;
}
div.sort-options nav.sort-list ul {
  text-align: left;
  margin: 0px;
  padding: 0px;
}
div.sort-options nav.sort-list ul li {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin: 0 15px 20px 0;
  background: #FFFFFF;
  border: 1px solid #999999;
  cursor: pointer;
  background: #fdf5dc;
  /*&.advanced {
                    margin-bottom:-18px;
                    padding-bottom:16px;
                    border-top:1px solid @mediumdarkgray;
                    border-right:1px solid @mediumdarkgray;
                    //border-bottom:1px solid @focus;
                    border-bottom:2px solid #FFFFFF;
                    border-left:1px solid @mediumdarkgray;
                    background:#FFFFFF;
                }*/
}
div.sort-options nav.sort-list ul li span.sort {
  width: 15px;
  height: 11px;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}
div.sort-options nav.sort-list ul li:hover {
  color: #FFFFFF;
  background: #bb0000;
}
div.sort-options nav.sort-list ul li:hover span.sort.down-arrow {
  background: url("images/sprite_osumc.png") no-repeat -139px -74px;
  background-size: 680px;
}
div.sort-options .down-arrow,
div.sort-options .unsorted,
div.sort-options .up-arrow {
  background: url("images/sprite_osumc.png") no-repeat -9px -74px;
  background-size: 680px;
}
div.sort-options .unsorted {
  background-position: -198px -10px;
}
div.sort-options .up-arrow {
  background-position: -8px -10px;
}
div.sort-options .advanced-search {
  padding: 20px 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
  margin-top: -22px;
  border: 1px solid #999999;
  display: block;
  display: none;
  float: left;
  width: 100%;
  z-index: 0;
  position: relative;
}
div.sort-options .search-filter {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 10px !important;
}
@media (min-width: 500px) {
  div.sort-options .search-filter {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
  }
}
div.sort-options .search-filter .k-dropdown,
div.sort-options .search-filter .text-search,
div.sort-options .search-filter .k-autocomplete {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em !important;
}
div.sort-options .search-filter .k-dropdown .k-input,
div.sort-options .search-filter .text-search .k-input,
div.sort-options .search-filter .k-autocomplete .k-input {
  font-size: 1em !important;
}
div.sort-options .search-filter .text-search,
div.sort-options .search-filter .k-autocomplete {
  padding: 6px;
  border: 1px solid #999999;
  background: #fdf5dc;
}
div.sort-options .submit {
  padding: 10px;
  font-size: 1em;
  background: #bb0000;
  color: #FFFFFF;
  float: none !important;
  border: none;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  width: 20%;
  max-width: 200px;
}
article.content {
  background: #FFFFFF;
  margin: 0 20px;
  text-align: center;
  padding: 10px 0 40px 0;
  border-bottom: 2px solid #BBBBBB;
  position: relative;
}
article.content:before,
article.content:after {
  content: "";
  display: table;
}
article.content:after {
  clear: both;
}
h1.article-title {
  font-size: 1.3rem;
  padding: 20px 10px;
}
@media (min-width: 401px) {
  h1.article-title {
    font-size: 1.7rem !important;
  }
}
article.content.first-choice.intake h1.article-title {
  margin-bottom: 25px;
}
ul.request-type li {
  display: inline-block;
  height: 64px;
  width: 164px;
  margin: 7px 14px;
  background: #777777;
  background: #3CA89A;
  background: #D25D13;
}
ul.request-type li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 64px;
  width: 164px;
  color: #FFFFFF;
  line-height: 1.1em;
  font-size: 1.1em;
  font-weight: 300;
}
ul.request-type li a:hover {
  background: #bb0000;
}
.status-view,
.task-view {
  padding-bottom: 0px;
}
.status-view .request-details,
.task-view .request-details {
  background: #f0f0f0;
  padding: 10px;
  margin: 5px 15px;
  font-size: 1.1em;
}
@media (min-width: 401px) {
  .status-view .request-details,
  .task-view .request-details {
    margin: 10px 20px;
  }
}
.status-view .request-details:before,
.task-view .request-details:before,
.status-view .request-details:after,
.task-view .request-details:after {
  content: "";
  display: table;
}
.status-view .request-details:after,
.task-view .request-details:after {
  clear: both;
}
.status-view .request-details .status-display,
.task-view .request-details .status-display {
  float: right !important;
  padding: 0px;
}
@media (min-width: 401px) {
  .status-view .request-details .status-display,
  .task-view .request-details .status-display {
    padding: 40px 0 20px 0;
  }
}
.status-view .request-details dl,
.task-view .request-details dl {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  padding-top: 10px;
}
@media (min-width: 401px) {
  .status-view .request-details dl,
  .task-view .request-details dl {
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
  }
}
.status-view .request-details dl dt,
.task-view .request-details dl dt {
  display: block;
  float: none;
  text-align: left;
  font-weight: normal;
  font-size: .8em;
  position: relative;
  top: -2px;
  width: 100%;
}
@media (min-width: 401px) {
  .status-view .request-details dl dt,
  .task-view .request-details dl dt {
    float: left;
    width: 51px;
    text-align: right;
  }
}
.status-view .request-details dl dt:after,
.task-view .request-details dl dt:after {
  content: ':';
}
.status-view .request-details dl dd,
.task-view .request-details dl dd {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1em;
  padding-left: 0px;
}
@media (min-width: 401px) {
  .status-view .request-details dl dd,
  .task-view .request-details dl dd {
    padding-left: 56px;
  }
}
.status-view .request-info,
.task-view .request-info {
  margin: 20px 50px -40px 50px;
  text-align: left;
  overflow: hidden;
}
.status-view .request-info p,
.task-view .request-info p {
  float: left;
  width: auto;
  margin: 0 47px 25px 0;
  text-align: left;
  font-size: 1.1em;
  line-height: 1em;
}
.status-view .request-info p span,
.task-view .request-info p span {
  font-size: .7em;
  color: #777777;
}
.status-view .task-alert,
.task-view .task-alert {
  height: 25px;
  width: 25px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  background: url("images/button-icons-sprite.png") no-repeat -38px -77px;
  background-size: 82px;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .status-view .task-alert,
  .task-view .task-alert {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    height: 36px;
    width: 36px;
    background: url("images/button-icons-sprite.png") no-repeat -44px -92px;
    background-size: 100px;
    float: left !important;
  }
}
.status-view .task-text,
.task-view .task-text {
  text-align: left;
  padding-left: 45px;
  padding-top: 7px;
  font-weight: bolder;
  font-size: 1.1em;
}
@media (min-width: 401px) {
  .status-view .task-text,
  .task-view .task-text {
    position: relative;
  }
}
.status-view .task-text .task-title,
.task-view .task-text .task-title {
  line-height: 1.2em;
}
@media (min-width: 401px) {
  .status-view .task-text .task-title,
  .task-view .task-text .task-title {
    font-size: 1.4em;
  }
}
@media (min-width: 650px) {
  .status-view .task-text .task-title,
  .task-view .task-text .task-title {
    font-size: 1em;
  }
  .status-view .task-text .task-title strong,
  .task-view .task-text .task-title strong {
    font-size: 1.2em;
  }
}
.status-view .task-text .task-title.low,
.task-view .task-text .task-title.low {
  color: #498981;
}
.status-view .task-text .task-title.medium,
.task-view .task-text .task-title.medium {
  color: #a37c00;
}
.status-view .task-text .task-title.high,
.task-view .task-text .task-title.high {
  color: #bb0000;
}
.status-view.low .submission-details,
.task-view.low .submission-details,
.status-view.low .request-details,
.task-view.low .request-details {
  background: #DFF0D8;
}
.status-view.low .task-alert,
.task-view.low .task-alert {
  background-color: #498981;
}
.status-view.low .task-text,
.task-view.low .task-text {
  color: #498981;
}
.status-view.medium .submission-details,
.task-view.medium .submission-details,
.status-view.medium .request-details,
.task-view.medium .request-details {
  background: #FFF1BF;
}
.status-view.medium .task-alert,
.task-view.medium .task-alert {
  background-color: #a37c00;
}
.status-view.medium .task-text,
.task-view.medium .task-text {
  color: #a37c00;
}
.status-view.high .submission-details,
.task-view.high .submission-details,
.status-view.high .request-details,
.task-view.high .request-details {
  background: #FFD6D6;
}
.status-view.high .task-alert,
.task-view.high .task-alert {
  background-color: #bb0000;
}
.status-view.high .task-text,
.task-view.high .task-text {
  color: #bb0000;
}
.status-view .status-display,
.task-view .status-display {
  display: inline !important;
  float: left !important;
  width: 97.91666667% !important;
  margin: 0 1.04166667% !important;
  padding: 20px 0 10px 0;
}
@media (min-width: 401px) {
  .status-view .status-display,
  .task-view .status-display {
    display: inline !important;
    float: left !important;
    width: 22.91666667% !important;
    margin: 0 1.04166667% !important;
  }
}
.status-view .status-display .status-indicator,
.task-view .status-display .status-indicator {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.status-view .status-display p.indicator-title,
.task-view .status-display p.indicator-title {
  font-size: .8em;
  text-align: left;
  padding: 3px 0 0 3px;
  margin: 3px 0px;
  display: block;
  float: left;
}
@media (min-width: 401px) {
  .status-view .status-display p.indicator-title,
  .task-view .status-display p.indicator-title {
    font-size: .9em;
  }
}
.status-view div.task,
.task-view div.task {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
@media (min-width: 401px) {
  .status-view div.task,
  .task-view div.task {
    margin: 10px 20px 0px 20px;
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
  }
}
@media (min-width: 650px) {
  .status-view div.task,
  .task-view div.task {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
    margin-top: 20px !important;
    float: right;
    /*overflow:visible;
            margin-top:20px;
            margin-bottom:9px;*/
  }
}
@media (min-width: 1000px) {
  .status-view div.task,
  .task-view div.task {
    /*width:43%;*/
  }
}
.status-view .task-descr,
.task-view .task-descr {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  line-height: 1.2em;
  font-size: .8em;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.75;
}
.status-view.low .task,
.task-view.low .task {
  background: #DFF0D8;
}
.status-view .view-more,
.task-view .view-more {
  margin-bottom: -18px;
  top: 32px;
}
.task-view dl {
  display: inline !important;
  float: left !important;
  width: 56.25% !important;
  margin: 0 1.04166667% !important;
}
.task-view .task {
  display: inline !important;
  float: left !important;
  width: 39.58333333% !important;
  margin: 0 1.04166667% !important;
  float: right !important;
}
.request-submission h1.section-title,
.request-form h1.section-title,
.admin-form h1.section-title,
.reporting h1.section-title,
.request-submission h2,
.request-form h2,
.admin-form h2,
.reporting h2 {
  text-align: left;
  font-weight: 300;
  color: #999999;
  font-size: 1.7em;
  display: inline;
  float: left;
  width: 95.83333333%;
  margin: 0 1.04166667%;
}
.request-submission h1.section-title,
.request-form h1.section-title,
.admin-form h1.section-title,
.reporting h1.section-title {
  border-top: 1px solid #e4e4e4;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.request-submission h1.section-title.request-id,
.request-form h1.section-title.request-id,
.admin-form h1.section-title.request-id,
.reporting h1.section-title.request-id {
  border-top: none;
  padding-top: 0px;
}
.request-submission h2,
.request-form h2,
.admin-form h2,
.reporting h2 {
  margin-left: 0px;
}
.request-submission fieldset,
.request-form fieldset,
.admin-form fieldset,
.reporting fieldset {
  border: none;
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 30px;
  font-size: 1em;
  letter-spacing: 0.01rem;
  padding-bottom: 30px;
  /*border-bottom:1px solid @mediumgray;*/
}
.request-submission fieldset input,
.request-form fieldset input,
.admin-form fieldset input,
.reporting fieldset input {
  text-indent: 10px;
}
.request-submission .two-column-button,
.request-form .two-column-button,
.admin-form .two-column-button,
.reporting .two-column-button {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 30px 0px;
  background: #f4e5b2;
  color: #000000;
  border-bottom: 2px solid #999999;
}
.request-submission .two-column-button:hover,
.request-form .two-column-button:hover,
.admin-form .two-column-button:hover,
.reporting .two-column-button:hover {
  background: #bb0000;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .request-submission .two-column-button,
  .request-form .two-column-button,
  .admin-form .two-column-button,
  .reporting .two-column-button {
    display: inline !important;
    float: left !important;
    width: 39.58333333% !important;
    margin: 0 1.04166667% !important;
    margin-left: 1.04166667% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .request-submission .two-column-button.button-1,
  .request-form .two-column-button.button-1,
  .admin-form .two-column-button.button-1,
  .reporting .two-column-button.button-1,
  .request-submission .two-column-button.button-3,
  .request-form .two-column-button.button-3,
  .admin-form .two-column-button.button-3,
  .reporting .two-column-button.button-3 {
    margin-left: 9.375% !important;
  }
}
.request-submission .submit,
.request-form .submit,
.admin-form .submit,
.reporting .submit {
  padding: 20px;
  font-size: 1.2em;
  background: #bb0000;
  color: #FFFFFF;
  width: 20%;
  max-width: 200px;
  float: none !important;
}
.view-more {
  position: relative;
  display: block;
  clear: both;
  width: 200px;
  height: 50px;
  left: 50%;
  margin-left: -100px;
  margin-bottom: -30px;
  padding: 8px 12px 12px;
  background: #FFFFFF;
  border-bottom: 2px solid #999999;
  top: 20px;
  font-size: 1.2em;
}
.request-form label,
.request-submission label {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  text-align: left;
  font-weight: 300;
  padding-top: 5px;
}
@media (min-width: 650px) {
  .request-form label,
  .request-submission label {
    display: inline !important;
    float: left !important;
    width: 31.25% !important;
    margin: 0 1.04166667% !important;
    text-align: right !important;
    font-size: 1em !important;
    margin-bottom: 3px !important;
    margin-top: 4px !important;
  }
}
@media (min-width: 768px) {
  .request-form label,
  .request-submission label {
    display: inline !important;
    float: left !important;
    width: 22.91666667% !important;
    margin: 0 1.04166667% !important;
  }
  .request-form label.one-column,
  .request-submission label.one-column {
    display: inline !important;
    float: left !important;
    width: 14.58333333% !important;
    margin: 0 1.04166667% !important;
  }
}
.request-form input,
.request-submission input,
.request-form .k-autocomplete,
.request-submission .k-autocomplete {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
  text-indent: 0.33em;
  box-shadow: none;
}
@media (min-width: 650px) {
  .request-form input,
  .request-submission input,
  .request-form .k-autocomplete,
  .request-submission .k-autocomplete {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.04166667%;
    background: #FFFFFF;
    border: 1px solid #999999;
    padding: 5px;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .request-form input,
  .request-submission input,
  .request-form .k-autocomplete,
  .request-submission .k-autocomplete {
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
    margin-bottom: 10px !important;
  }
}
.request-form input.add-requestor,
.request-submission input.add-requestor,
.request-form .k-autocomplete.add-requestor,
.request-submission .k-autocomplete.add-requestor {
  display: inline;
  float: left;
  width: 64.58333333%;
  margin: 0 1.04166667%;
  margin-left: 17.70833333%;
  padding: 10px;
  border: 1px solid #999999;
  background: #f0f0f0;
}
@media (min-width: 650px) {
  .request-form input.add-requestor,
  .request-submission input.add-requestor,
  .request-form .k-autocomplete.add-requestor,
  .request-submission .k-autocomplete.add-requestor {
    display: inline !important;
    float: left !important;
    width: 22.91666667% !important;
    margin: 0 1.04166667% !important;
    margin-left: 34.375% !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .request-form input.add-requestor,
  .request-submission input.add-requestor,
  .request-form .k-autocomplete.add-requestor,
  .request-submission .k-autocomplete.add-requestor {
    margin-left: 26.04166667% !important;
    margin-right: 51.04166667% !important;
  }
}
.request-form input.inline-option,
.request-submission input.inline-option,
.request-form .k-autocomplete.inline-option,
.request-submission .k-autocomplete.inline-option {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .request-form input.inline-option,
  .request-submission input.inline-option,
  .request-form .k-autocomplete.inline-option,
  .request-submission .k-autocomplete.inline-option {
    display: inline !important;
    float: left !important;
    width: 39.58333333% !important;
    margin: 0 1.04166667% !important;
    margin-bottom: 10px !important;
  }
}
.request-form input.inline-option-button,
.request-submission input.inline-option-button,
.request-form .k-autocomplete.inline-option-button,
.request-submission .k-autocomplete.inline-option-button {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  /*background:@mediumgray;*/
  margin-bottom: 10px;
  padding: 6px;
}
@media (min-width: 650px) {
  .request-form input.inline-option-button,
  .request-submission input.inline-option-button,
  .request-form .k-autocomplete.inline-option-button,
  .request-submission .k-autocomplete.inline-option-button {
    display: inline !important;
    float: left !important;
    width: 56.25% !important;
    margin: 0 1.04166667% !important;
    margin-left: 34.375% !important;
    margin-bottom: 30px !important;
  }
}
@media (min-width: 768px) {
  .request-form input.inline-option-button,
  .request-submission input.inline-option-button,
  .request-form .k-autocomplete.inline-option-button,
  .request-submission .k-autocomplete.inline-option-button {
    display: inline !important;
    float: left !important;
    width: 22.91666667% !important;
    margin: 0 1.04166667% !important;
    background: #e4e4e4 !important;
    margin-bottom: 10px !important;
  }
}
.request-form input.two-column,
.request-submission input.two-column,
.request-form .k-autocomplete.two-column,
.request-submission .k-autocomplete.two-column {
  display: inline !important;
  float: left !important;
  width: 22.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-bottom: 10px !important;
}
.request-form input.two-column.clear-right,
.request-submission input.two-column.clear-right,
.request-form .k-autocomplete.two-column.clear-right,
.request-submission .k-autocomplete.two-column.clear-right {
  margin-right: 34.375% !important;
}
.request-form input.one-column,
.request-submission input.one-column,
.request-form .k-autocomplete.one-column,
.request-submission .k-autocomplete.one-column {
  display: inline !important;
  float: left !important;
  width: 14.58333333% !important;
  margin: 0 1.04166667% !important;
}
.request-form textarea,
.request-submission textarea {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  height: 50px !important;
  margin-bottom: 10px;
  border: 1px solid #999999;
}
@media (min-width: 650px) {
  .request-form textarea,
  .request-submission textarea {
    display: inline !important;
    float: left !important;
    width: 64.58333333% !important;
    margin: 0 1.04166667% !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .request-form textarea,
  .request-submission textarea {
    margin-bottom: 10px !important;
  }
}
.request-form .add,
.request-submission .add,
.request-form .edit,
.request-submission .edit {
  margin-bottom: 40px !important;
}
.request-form .add.label,
.request-submission .add.label,
.request-form .edit.label,
.request-submission .edit.label {
  color: #000000;
  font-size: 100%;
  font-weight: normal;
  text-align: right;
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
  padding: 9px 0 0;
}
.request-form .add.listing,
.request-submission .add.listing,
.request-form .edit.listing,
.request-submission .edit.listing {
  display: inline !important;
  float: left !important;
  width: 39.58333333% !important;
  margin: 0 1.04166667% !important;
  margin-left: 26.04166667% !important;
  margin-bottom: 30px !important;
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #999999;
}
.request-form .add.listing.hide,
.request-submission .add.listing.hide,
.request-form .edit.listing.hide,
.request-submission .edit.listing.hide {
  display: none !important;
}
.request-form .add.button,
.request-submission .add.button,
.request-form .edit.button,
.request-submission .edit.button {
  display: inline !important;
  float: left !important;
  width: 22.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-right: 9.375% !important;
  margin-bottom: 30px !important;
  background: #f4e5b2;
  padding: 5px;
  border: 1px solid #999999;
}
.request-form .add.button.hide,
.request-submission .add.button.hide,
.request-form .edit.button.hide,
.request-submission .edit.button.hide {
  display: none !important;
}
@media (min-width: 768px) {
  .request-form span.two-column,
  .request-submission span.two-column {
    display: inline !important;
    float: left !important;
    width: 22.91666667% !important;
    margin: 0 1.04166667% !important;
    margin-bottom: 0px !important;
  }
  .request-form span.two-column.clear-right,
  .request-submission span.two-column.clear-right {
    margin-right: 34.375% !important;
  }
}
.request-form span.inline-option,
.request-submission span.inline-option {
  display: inline !important;
  float: left !important;
  width: 56.25% !important;
  margin: 0 1.04166667% !important;
  margin-bottom: 10px !important;
}
@media (min-width: 768px) {
  .request-form span.inline-option,
  .request-submission span.inline-option {
    display: inline !important;
    float: left !important;
    width: 39.58333333% !important;
    margin: 0 1.04166667% !important;
    margin-bottom: 8px !important;
  }
}
.request-form span.inline-option input,
.request-submission span.inline-option input {
  display: none !important;
}
.request-form span.inline-option.single,
.request-submission span.inline-option.single {
  margin-right: 26.04166667% !important;
}
.request-form #outside-party {
  /*.k-autocomplete {
            padding:0px !important;
            input#OutsidePartyName {
                padding:5px 0 !important;
                text-indent:5px;
            }
        }*/
}
.request-form #outside-party .k-autocomplete,
.request-form #outside-party span#OutsidePartyName_validationMessage.k-widget.k-tooltip.k-tooltip-validation {
  display: inline !important;
  float: left !important;
  width: 39.58333333% !important;
  margin: 0 1.04166667% !important;
}
.request-form #outside-party span#OutsidePartyName_validationMessage.k-widget.k-tooltip.k-tooltip-validation {
  margin-left: 26.04166667% !important;
  margin-right: 34.375% !important;
  margin-top: -10px !important;
  margin-bottom: 10px !important;
}
.request-form #outside-party .buttonArea:last-child .add.button {
  margin-left: 26.04166667% !important;
}
#detail-fields div .k-numerictextbox {
  display: inline;
  float: left;
  width: 64.58333333%;
  margin: 0 1.04166667%;
  margin-bottom: 10px !important;
}
#detail-fields div .k-numerictextbox:before,
#detail-fields div .k-numerictextbox:after {
  content: "";
  display: table;
}
#detail-fields div .k-numerictextbox:after {
  clear: both;
}
#detail-fields div .k-numerictextbox.clear-right {
  margin-right: 34.375% !important;
}
#detail-fields div .k-numerictextbox .k-numeric-wrap.k-state-default .k-input {
  display: block;
}
#detail-fields div .k-numerictextbox .k-numeric-wrap.k-state-default .k-input.k-formatted-value {
  display: none;
}
#detail-fields div .k-numerictextbox .k-select {
  display: none;
}
#detail-fields div .k-numerictextbox ~ .k-numerictextbox {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
}
#detail-fields #ContractExpenses_validationMessage {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-left: 26.04166667%;
}
#detail-fields #ContractRevenue_validationMessage {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-right: 9.375%;
  float: right;
}
#detail-fields .k-datepicker {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
}
#detail-fields .k-datepicker input {
  padding: 2px !important;
}
#detail-fields .k-datepicker .k-picker-wrap.k-state-default {
  overflow: visible;
  height: auto;
  max-height: 34px;
}
#detail-fields .k-datepicker .k-picker-wrap.k-state-default:before,
#detail-fields .k-datepicker .k-picker-wrap.k-state-default:after {
  content: "";
  display: table;
}
#detail-fields .k-datepicker .k-picker-wrap.k-state-default:after {
  clear: both;
}
#detail-fields .k-datepicker .k-picker-wrap.k-state-default #TermStartDate_validationMessage,
#detail-fields .k-datepicker .k-picker-wrap.k-state-default #TermEndDate_validationMessage {
  margin: 4px 0 0 -1px !important;
  padding: 10px;
  width: 118%;
}
#checklist {
  /*input[type="text"] {
        .column(4) !important;
    }*/
}
#checklist div.question {
  display: block;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 10px 0;
}
#checklist p {
  display: inline !important;
  float: left !important;
  width: 47.91666667% !important;
  margin: 0 1.04166667% !important;
  text-align: left;
  padding-left: 20px;
}
#checklist p.note {
  display: inline !important;
  float: left !important;
  width: 97.91666667% !important;
  margin: 0 1.04166667% !important;
  padding: 20px;
  font-size: 1.3em;
}
#checklist p.note.hide {
  display: none !important;
}
#checklist p.note a {
  text-decoration: underline;
}
#checklist p.question {
  display: inline !important;
  float: left !important;
  width: 56.25% !important;
  margin: 0 1.04166667% !important;
  margin-left: 9.375% !important;
  margin-bottom: 10px !important;
  padding-left: 0 !important;
  padding-top: 5px;
}
#checklist p.question span.question-number {
  float: left;
  margin-right: 5px;
  display: inline-block;
}
#checklist p.question span.question-text {
  float: left;
  display: inline-block;
  width: 90%;
}
#checklist .question-option {
  display: inline !important;
  float: left !important;
  width: 22.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-right: 9.375% !important;
  /*background:@highlight;*/
  text-align: center;
  padding: 5px 10px 5px 0;
  margin-bottom: 10px !important;
}
#checklist .question-option label,
#checklist .question-option input[type="radio"] {
  display: inline-block !important;
  float: none !important;
  padding: 0px;
}
#checklist .question-option label {
  margin: 0px 0 0px 10px !important;
  width: auto !important;
}
#checklist .question-option input[type="radio"] {
  position: relative;
  margin: 0 !important;
  height: 20px !important;
  width: 20px !important;
}
#checklist textarea.question-comment {
  display: inline !important;
  float: left !important;
  width: 81.25% !important;
  margin: 0 1.04166667% !important;
  margin-left: 9.375% !important;
  margin-right: 9.375% !important;
  height: 35px;
  max-height: 35px;
  background: #FFFFFF;
  padding: 5px;
}
#checklist .note {
  display: block;
}
#checklist .field-validation-error {
  display: block;
  margin-top: 10px !important;
  width: 100% !important;
  margin: 10px 0 0 0 !important;
}
@media (min-width: 650px) {
  #documents {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.04166667%;
    margin-left: 9.375%;
  }
}
#documents .document-type {
  width: 100%;
  background: #f0f0f0;
  border: 1px solid #e4e4e4;
}
@media (min-width: 401px) {
  #documents .document-type {
    width: 100%;
    float: left;
  }
}
#documents .document-type h2 {
  font-size: 1.2em;
  color: #000000;
  display: inline;
  float: left;
  width: 89.58333333%;
  margin: 0 1.04166667%;
  margin: 10px 0 10px 10px;
}
#documents .document-type .inline-option-button {
  display: inline !important;
  float: left !important;
  width: 97.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-left: 1.04166667% !important;
  padding-bottom: 0px !important;
  margin-bottom: 10px !important;
}
#documents .document-type .inline-option-button div {
  background: #f4e5b2;
}
#documents .document-type .attached-documents {
  display: inline !important;
  float: left !important;
  width: 81.25% !important;
  margin: 0 1.04166667% !important;
  margin-left: 9.375% !important;
  padding: 20px 0px;
  list-style: none;
  overflow: hidden;
  border-top: 1px solid #FFFFFF;
  box-shadow: 0px -1px 0px #dddddd;
}
#documents .document-type .attached-documents:empty {
  border: none;
}
#documents .document-type .attached-documents:last-child {
  border-top: 2px solid #FFFFFF;
  box-shadow: 0px -1px 0px #cccccc;
  margin-bottom: 20px;
}
#documents .document-type a {
  text-decoration: underline;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  overflow: none;
}
#documents .document-type a span {
  text-decoration: underline;
}
#documents .document-type a:hover,
#documents .document-type a:hover span {
  text-decoration: none !important;
  color: #000000;
}
#documents .document-type a .document-text {
  width: 100%;
  float: left;
  text-align: left;
  overflow: hidden;
}
#documents .document-type input.delete-item {
  width: 26px !important;
  height: 26px !important;
  background: url("images/button-icons-sprite.png") no-repeat 0px -215px;
  background-size: 86px;
  float: right !important;
  border: none;
  margin: 8px 0 0 !important;
}
#documents .document-type .reject-attachment {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  float: left;
  text-align: center;
}
#documents .document-type .reject-attachment input.reject-attachment-button {
  background: #999999;
  color: #FFFFFF;
  border: none;
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  float: none;
}
#documents .document-type .reject-attachment textarea {
  padding: 5px;
  height: 90px;
  max-height: 90px;
  width: 70%;
  display: block;
  margin: 0 auto;
  float: none !important;
}
#documents .document-type .reject-attachment input.reject {
  width: 20%;
  min-width: 150px;
  background: #bb0000;
  border: none;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  float: none;
}
#documents .document-type.new {
  background: #f4e5b2;
}
#documents .document-type.new .inline-option-button div {
  background: #FFFFFF;
}
#documents .document-type.new input.reject-attachment-button {
  background: #a37c00;
  color: #FFFFFF;
  border: none;
}
#documents .document-type input[type="file"] {
  margin: 0px;
  white-space: normal;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  float: left;
  height: 107px;
  width: 107px;
}
#documents .document-type p input[type="button"] {
  width: 30%;
  min-width: 200px;
  margin: 0px auto;
  white-space: normal;
  position: relative;
  -webkit-appearance: none;
  border: none;
  height: 30px;
  float: none !important;
}
#documents .document-type .upload-button {
  display: inline-block;
  width: 107px;
  height: 107px;
  background: #FFFFFF;
  position: relative;
  margin: 5px;
}
#documents .document-type .upload-button:hover {
  background: #bb0000;
  color: #FFFFFF;
}
#documents .document-type .upload-button:before {
  position: relative;
  float: left;
  width: 107px;
  height: 107px;
  margin-top: 30px;
}
#documents .document-type .upload-button.general-doc:before {
  content: "General Document";
}
#documents .document-type .upload-button.client-doc:before {
  content: "Client Signature";
}
#documents .document-type .upload-button.internal-doc:before {
  content: "Internal Signature";
}
#documents .document-type .upload-button.execute-doc:before {
  content: "Executed Document";
}
#documents .document-type .upload-button input {
  opacity: 0;
}
#documents .document-type p {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 25px;
  text-align: center;
  /*&:before {
                content:"No file selected";
                position:absolute;
                width:100%;
                margin-top:-36px;
                left:0;
            }*/
  /*&.file-upload:before {
                content:attr(data-content);
            }*/
}
#documents .document-type p input[type="button"] {
  background: #bb0000;
  color: #FFFFFF;
  float: left;
}
#admin-tasks,
.response-action {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  margin-right: 9.375%;
  text-align: center !important;
}
#admin-tasks input,
.response-action input {
  padding: 20px;
  font-size: 1.2em;
  white-space: normal;
  margin: 10px;
  width: auto !important;
  float: none !important;
  text-indent: 0px;
}
#admin-tasks input.primary-action,
.response-action input.primary-action {
  background: #498981;
  color: #FFFFFF;
}
#admin-tasks input.secondary-action,
.response-action input.secondary-action {
  background: #a37c00;
  color: #FFFFFF;
}
#admin-tasks input.additional-action,
.response-action input.additional-action {
  background: #f0f0f0;
}
#admin-tasks input.repeat-action,
.response-action input.repeat-action {
  background: #777777;
  color: #FFFFFF;
}
#admin-tasks input:hover,
.response-action input:hover {
  background: #bb0000;
  color: #FFFFFF;
}
.response-action {
  text-align: left;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  margin-right: 9.375%;
}
.response-action .k-datepicker input[type="text"] {
  padding: 0px !important;
}
.response-action .k-dropdown {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
}
.response-action .comment-preface {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  text-align: left;
  margin-top: 30px;
  font-size: 1em;
  margin-bottom: 10px;
}
@media (min-width: 650px) {
  .response-action .comment-preface {
    font-size: 1.3em !important;
  }
}
.response-action .comment-date {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.response-action .comment-date label {
  padding-top: 5px;
  padding: 5px 0 0 0 !important;
  font-weight: 500;
  font-size: 1em;
  /*float:left;*/
  margin-right: 10px;
  margin-left: 0px !important;
  display: inline-block;
  text-align: left !important;
  width: auto !important;
}
.response-action .comment-date span.k-datepicker {
  float: left;
  display: inline-block;
  max-width: 300px;
  /*.column(4);*/
  margin: 0px;
}
.response-action .comment-date span.k-datepicker input[type="text"] {
  background: #f4e5b2;
}
.response-action .submit-comment {
  display: inline !important;
  float: left !important;
  width: 97.91666667% !important;
  margin: 0 1.04166667% !important;
  height: 100px !important;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.2em;
  resize: none;
}
.response-action input.primary-action,
.response-action input.secondary-action,
.response-action input.additional-action,
.response-action input.repeat-action {
  float: left !important;
  clear: both;
  margin-top: 10px !important;
}
.response {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  margin-right: 9.375%;
  text-align: left;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
@media (min-width: 650px) {
  .response {
    margin-bottom: 30px !important;
    font-size: 1.3em !important;
  }
}
.success-icon.large,
.alert-icon.large {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: block;
  float: none;
  margin-right: 0px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  margin-left: -20px;
}
.success-icon.large {
  background: #498981 url("images/button-icons-sprite.png") no-repeat 6px -202px;
  background-size: 100px;
}
@media (min-width: 650px) {
  .success-icon.large {
    display: inline !important;
    float: left !important;
    margin-right: 15px !important;
    margin-bottom: 20px !important;
    margin-left: 0px !important;
    position: auto !important;
    left: auto !important;
  }
}
.alert-icon.large {
  background: #bb0000 url("images/button-icons-sprite.png") no-repeat -72px -144px;
  background-size: 150px;
}
#requiredValuesMessage,
#requireAttachedDocumentsMessage {
  background: url("images/sprite_osumc.png") no-repeat -953px -921px;
  background-size: 1000px;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  font-size: 1.4em;
  text-align: left;
  margin-top: 30px;
  padding: 30px 0 30px 56px;
  border-top: 1px dotted #999999;
}
.new-requestor {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
  padding-top: 0px;
}
.new-requestor.hide {
  display: block !important;
  height: 1px;
  padding-top: 1px;
}
.new-requestor.hide.add {
  margin-bottom: 0px !important;
}
.new-requestor input[type="text"] {
  display: inline !important;
  float: left !important;
  width: 47.91666667% !important;
  margin: 0 1.04166667% !important;
  margin-left: 26.04166667% !important;
}
.new-requestor input[type="button"] {
  display: inline !important;
  float: left !important;
  width: 14.58333333% !important;
  margin: 0 1.04166667% !important;
  background: #f4e5b2;
}
/*ADMIN FORM STYLES*/
.admin-form h1:first-child,
.reporting h1:first-child {
  border: none !important;
}
.admin-form fieldset,
.reporting fieldset {
  /*border-bottom:1px solid @mediumgray;*/
  padding-bottom: 20px;
}
.admin-form fieldset#outside-party .add,
.reporting fieldset#outside-party .add,
.admin-form fieldset#categories .add,
.reporting fieldset#categories .add,
.admin-form fieldset#sub-categories .add,
.reporting fieldset#sub-categories .add,
.admin-form fieldset#outside-party .edit,
.reporting fieldset#outside-party .edit,
.admin-form fieldset#categories .edit,
.reporting fieldset#categories .edit,
.admin-form fieldset#sub-categories .edit,
.reporting fieldset#sub-categories .edit {
  margin-bottom: 40px !important;
}
.admin-form fieldset#outside-party .add.label,
.reporting fieldset#outside-party .add.label,
.admin-form fieldset#categories .add.label,
.reporting fieldset#categories .add.label,
.admin-form fieldset#sub-categories .add.label,
.reporting fieldset#sub-categories .add.label,
.admin-form fieldset#outside-party .edit.label,
.reporting fieldset#outside-party .edit.label,
.admin-form fieldset#categories .edit.label,
.reporting fieldset#categories .edit.label,
.admin-form fieldset#sub-categories .edit.label,
.reporting fieldset#sub-categories .edit.label {
  color: #000000;
  font-size: 100%;
  font-weight: normal;
  text-align: right;
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
  padding: 9px 0 0;
}
.admin-form fieldset#outside-party .add.listing,
.reporting fieldset#outside-party .add.listing,
.admin-form fieldset#categories .add.listing,
.reporting fieldset#categories .add.listing,
.admin-form fieldset#sub-categories .add.listing,
.reporting fieldset#sub-categories .add.listing,
.admin-form fieldset#outside-party .edit.listing,
.reporting fieldset#outside-party .edit.listing,
.admin-form fieldset#categories .edit.listing,
.reporting fieldset#categories .edit.listing,
.admin-form fieldset#sub-categories .edit.listing,
.reporting fieldset#sub-categories .edit.listing {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04166667%;
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #999999;
}
.admin-form fieldset#outside-party .add.button,
.reporting fieldset#outside-party .add.button,
.admin-form fieldset#categories .add.button,
.reporting fieldset#categories .add.button,
.admin-form fieldset#sub-categories .add.button,
.reporting fieldset#sub-categories .add.button,
.admin-form fieldset#outside-party .edit.button,
.reporting fieldset#outside-party .edit.button,
.admin-form fieldset#categories .edit.button,
.reporting fieldset#categories .edit.button,
.admin-form fieldset#sub-categories .edit.button,
.reporting fieldset#sub-categories .edit.button {
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
  background: #f4e5b2;
  padding: 5px;
  border: 1px solid #999999;
}
.admin-form fieldset#outside-party .edit,
.reporting fieldset#outside-party .edit,
.admin-form fieldset#categories .edit,
.reporting fieldset#categories .edit,
.admin-form fieldset#sub-categories .edit,
.reporting fieldset#sub-categories .edit {
  margin-bottom: 10px !important;
}
.admin-form fieldset#outside-party .new-word,
.reporting fieldset#outside-party .new-word,
.admin-form fieldset#categories .new-word,
.reporting fieldset#categories .new-word,
.admin-form fieldset#sub-categories .new-word,
.reporting fieldset#sub-categories .new-word {
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
  margin-left: 17.70833333%;
  margin-top: 10px !important;
  text-align: left;
}
.admin-form fieldset#outside-party .new-word .word-input,
.reporting fieldset#outside-party .new-word .word-input,
.admin-form fieldset#categories .new-word .word-input,
.reporting fieldset#categories .new-word .word-input,
.admin-form fieldset#sub-categories .new-word .word-input,
.reporting fieldset#sub-categories .new-word .word-input {
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #999999;
  width: 70%;
}
.admin-form fieldset#outside-party .new-word .word-submit,
.reporting fieldset#outside-party .new-word .word-submit,
.admin-form fieldset#categories .new-word .word-submit,
.reporting fieldset#categories .new-word .word-submit,
.admin-form fieldset#sub-categories .new-word .word-submit,
.reporting fieldset#sub-categories .new-word .word-submit {
  background: #f4e5b2;
  padding: 5px;
  border: 1px solid #999999;
  width: 30%;
  margin-left: -6px !important;
}
@media (min-width: 768px) {
  .admin-form fieldset#outside-party .new-word,
  .reporting fieldset#outside-party .new-word,
  .admin-form fieldset#categories .new-word,
  .reporting fieldset#categories .new-word,
  .admin-form fieldset#sub-categories .new-word,
  .reporting fieldset#sub-categories .new-word {
    display: inline !important;
    float: left !important;
    width: 47.91666667% !important;
    margin: 0 1.04166667% !important;
    margin-left: 17.70833333% !important;
    margin-top: 10px !important;
  }
}
.admin-form fieldset#outside-party .deactivate,
.reporting fieldset#outside-party .deactivate,
.admin-form fieldset#categories .deactivate,
.reporting fieldset#categories .deactivate,
.admin-form fieldset#sub-categories .deactivate,
.reporting fieldset#sub-categories .deactivate {
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
  margin-left: 17.70833333%;
  margin-top: 10px !important;
  border: none;
  background: #bb0000;
  color: #FFFFFF;
  padding: 5px;
}
@media (min-width: 768px) {
  .admin-form fieldset#outside-party .deactivate,
  .reporting fieldset#outside-party .deactivate,
  .admin-form fieldset#categories .deactivate,
  .reporting fieldset#categories .deactivate,
  .admin-form fieldset#sub-categories .deactivate,
  .reporting fieldset#sub-categories .deactivate {
    display: inline !important;
    float: left !important;
    width: 14.58333333% !important;
    margin: 0 1.04166667% !important;
    margin-left: 9.375% !important;
    margin-top: 10px !important;
  }
}
.request-submission .question-option {
  background: #FFFFFF;
}
.request-submission .submission-info {
  padding: 20px;
  margin: 10px 20px 20px;
  font-size: 1.2em;
  background: #f4e5b2;
}
.request-submission .submission-info:before,
.request-submission .submission-info:after {
  content: "";
  display: table;
}
.request-submission .submission-info:after {
  clear: both;
}
.request-submission .submission-info .cid {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  text-align: center;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .request-submission .submission-info .cid {
    display: inline !important;
    float: left !important;
    width: 47.91666667% !important;
    margin: 0 1.04166667% !important;
    text-align: left !important;
    border: none !important;
    padding: 0px !important;
  }
}
.request-submission .submission-info .current-status {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  text-align: center;
  color: #bb0000;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .request-submission .submission-info .current-status {
    display: inline !important;
    float: left !important;
    width: 47.91666667% !important;
    margin: 0 1.04166667% !important;
    text-align: right !important;
    padding: 0px !important;
  }
}
.request-submission,
.task-view,
.status-view {
  margin-bottom: 70px !important;
  padding-bottom: 0px !important;
}
.admin-options.rm .admin-button {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  background: #f4e5b2;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: left;
}
.admin-options.rm .admin-button .app-admin-title {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  padding: 10px 0;
  /*@media (min-width: 768px) {
                    .column(8) !important;
                }*/
}
@media (min-width: 650px) {
  .admin-options.rm .admin-button .app-admin-title {
    display: inline !important;
    float: left !important;
    width: 64.58333333% !important;
    margin: 0 1.04166667% !important;
  }
}
.admin-options.rm .admin-button .app-admin-link {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-bottom: 2px solid #999999;
  background: #FFFFFF;
  padding: 10px 0px;
  margin-right: 5px;
  position: relative;
  text-align: center;
}
@media (min-width: 650px) {
  .admin-options.rm .admin-button .app-admin-link {
    display: inline !important;
    float: left !important;
    width: 31.25% !important;
    margin: 0 1.04166667% !important;
  }
}
.admin-options.rm .admin-button .app-admin-link:hover {
  background: #bb0000;
  color: #FFFFFF;
}
.admin-options.rm .admin-button .app-admin-link:hover .link-arrow-icon {
  background: url("images/sprite_osumc.png") no-repeat -141px -39px;
  background-size: 680px;
}
.admin-options.rm .admin-button .app-admin-link .link-text {
  display: inline-block;
  position: relative;
}
.page-alert {
  padding: 10px;
  font-size: 1.3em;
  color: #FFFFFF;
  margin: 0 10px;
  display: none;
}
.page-alert.in-use {
  background: #a37c00;
  display: block;
}
.instructions {
  font-size: 1em;
  padding: 10px 20px;
  font-weight: 300;
  text-align: left;
  color: #a37c00;
}
@media (min-width: 768px) {
  .instructions {
    padding: 20px !important;
    font-size: 1.2em !important;
  }
}
.link-arrow-icon {
  display: inline-block;
  width: 12px;
  height: 18px;
  position: relative;
  background: url("images/sprite_osumc.png") no-repeat -10px -39px;
  background-size: 680px;
  top: 3px;
  margin-left: 5px;
}
.user {
  background: #E4E4E4;
  margin: -20px 0 10px 0;
  color: #555555;
}
.user:before,
.user:after {
  content: "";
  display: table;
}
.user:after {
  clear: both;
}
.user .wrapper {
  margin: 0 auto;
}
.user .wrapper .user-name {
  float: left;
  margin-left: 20px;
  width: auto;
  padding: 7px 0;
}
@media (min-width: 401px) {
  .user .wrapper .user-name {
    width: 70% !important;
  }
}
.logout {
  background: #ffffff;
  border: 1px solid #777777;
  padding: 4px 15px;
  float: right;
  margin: 5px 20px 6px 0;
  font-size: .8rem;
  position: absolute;
  top: 51px;
  right: 0px;
}
.logout:hover {
  background: #bb0000;
  color: #FFFFFF;
}
@media (min-width: 401px) {
  .logout {
    border: none !important;
    position: relative !important;
    top: 0px !important;
  }
}
.field-validation-valid,
.k-tooltip-validation,
.k-widget.k-tooltip-validation {
  float: left;
  padding: 10px;
  background: #C05511;
  color: #FFFFFF;
}
.field-validation-valid:empty,
.k-tooltip-validation:empty,
.k-widget.k-tooltip-validation:empty {
  display: none;
}
.fieldvalidationvalues {
  margin-top: -10px !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.request-form .field-validation-valid,
.request-form .k-tooltip-validation,
.request-form .k-widget.k-tooltip-validation {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-left: 1.04166667%;
  margin-right: 1.04166667%;
  margin-top: -10px !important;
  margin-bottom: 10px !important;
  text-align: left !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  /*margin-top:-10px;
        margin-bottom:10px;
        text-align:left;*/
}
@media (min-width: 650px) {
  .request-form .field-validation-valid,
  .request-form .k-tooltip-validation,
  .request-form .k-widget.k-tooltip-validation {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.04166667%;
    margin-left: 34.375%;
    margin-right: 9.375%;
  }
}
@media (min-width: 768px) {
  .request-form .field-validation-valid,
  .request-form .k-tooltip-validation,
  .request-form .k-widget.k-tooltip-validation {
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
    margin-left: 26.04166667%;
    margin-right: 9.375%;
  }
}
.request-form .field-validation-valid:empty,
.request-form .k-tooltip-validation:empty,
.request-form .k-widget.k-tooltip-validation:empty {
  display: none;
}
footer p.contact {
  text-align: center;
  padding: 0 20px;
  margin: 20px 0 !important;
}
footer a.logo {
  display: block;
  text-align: center;
}
footer a.logo img {
  height: 76px;
}
@media (min-width: 768px) {
  footer a.logo {
    display: none !important;
  }
}
footer a.leaf {
  text-align: center;
  display: block;
  margin: 20px 0 0;
  text-decoration: none;
  color: #bb0000;
}
footer a.leaf img {
  width: 51px;
}
.hide {
  display: none !important;
}
@media (min-width: 401px) {
  .hide {
    display: none !important;
  }
}
@media (min-width: 650px) {
  .hide {
    display: none !important;
  }
}
/*LOAD GLOBAL*/
/*GLOBAL PROPERTIES*/
html {
  font-size: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'proximanova', Arial, sans-serif;
  letter-spacing: .05rem;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
div,
select,
option,
section,
nav,
article,
aside,
footer,
header {
  font-family: 'proximanova', Arial, sans-serif;
}
img {
  border: none;
}
body.application {
  background: #e4e4e4;
  /*font-family:Arial, Helvetica, sans-serif;*/
  padding-bottom: 20px;
}
ul {
  margin: 0 auto;
  padding: 0px;
}
a:link {
  color: #bb0000;
}
a:visited {
  color: purple;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a:active {
  color: purple;
}
.wrapper {
  display: block;
}
article:before,
article:after {
  content: "";
  display: table;
}
article:after {
  clear: both;
}
/******************************************************/
/********* FORM FIELD HIGHLIGHTING/FORMATTING *********/
/******************************************************/
.content.submit-request input.highlight,
.content.submit-request textarea.highlight,
.content.submit-request .request-form fieldset input.highlight,
.content.submit-request .request-submission fieldset input.highlight,
.content.submit-request fieldset.highlight input,
.content.submit-request fieldset.highlight textarea,
.content.submit-request fieldset.highlight .k-dropdown-wrap .k-input,
.content.submit-request #requestor-fields input.preferred-phone,
.content.submit-request #outside-party input,
.content.submit-request #outside-party .k-input,
.content.submit-request #detail-fields input,
.content.submit-request #detail-fields .k-input,
.content.submit-request #detail-fields textarea,
.content.submit-request #approval input[type="text"],
.content.submit-request #checklist .question-option,
.content.submit-request #checklist textarea.question-comment,
.content.submit-request #documents .inline-option .k-input,
.content.submit-request #documents .inline-option-button .k-button {
  background-color: #f4e5b2 !important;
}
.content.submit-request #documents .inline-option-button .k-button {
  background: #f4e5b2 !important;
}
.content.submit-request #documents .inline-option-button input.delete-item {
  background: none !mportant;
}
.content.submit-request textarea.highlight {
  border: 1px solid #999999;
}
.content.submit-request #outside-party .inline-option-button {
  background: #e4e4e4 !important;
}
.content.submit-request #outside-party .k-autocomplete,
.content.submit-request #approval .k-autocomplete {
  background: #f4e5b2;
}
.content.submit-request #outside-party .k-autocomplete input,
.content.submit-request #approval .k-autocomplete input {
  background: none !important;
}
.content.submit-request #detail-fields .k-widget.k-numerictextbox {
  background: #f4e5b2 !important;
}
.content.submit-request #detail-fields .k-widget.k-numerictextbox input.k-input {
  background: none !important;
}
.content.read-only h1.section-title {
  background: url("images/button-icons-sprite.png") no-repeat right -282px;
  background-size: 100px;
  cursor: pointer;
}
.content.read-only h1.section-title.open {
  background: none;
}
.content.read-only h1.section-title.request-id {
  background-image: none;
  cursor: auto;
}
.content.read-only #requestor-fields,
.content.read-only #outside-party,
.content.read-only #detail-fields,
.content.read-only #approval,
.content.read-only #checklist,
.content.read-only #documents,
.content.read-only #request-title,
.content.read-only #request-category {
  display: none;
}
.content.read-only input.replace,
.content.read-only #outside-party input.replace.inline-option-button,
.content.read-only textarea.replace {
  border: 1px solid #FFFFFF !important;
  background: none !important;
}
.content.read-only #outside-party .k-dropdown.inline-option {
  display: inline !important;
  float: left !important;
  width: 64.58333333% !important;
  margin: 0 1.04166667% !important;
  margin-bottom: 10px !important;
}
.content.read-only #outside-party .inline-option-button {
  display: none !important;
}
.content.read-only #outside-party .k-select {
  display: none;
}
.content.read-only #detail-fields .k-select {
  display: none;
}
.content.read-only.accept #request-title input,
.content.read-only.accept #request-category .k-input {
  background-color: #f4e5b2 !important;
}
.content.read-only.accept #requestor-fields .add-requestor {
  display: none !important;
}
.content.read-only.accept #documents .inline-option-button .k-button {
  background: #FFFFFF;
}
.content.read-only.accept #requestor-fields,
.content.read-only.accept #outside-party,
.content.read-only.accept #detail-fields,
.content.read-only.accept #approval,
.content.read-only.accept #checklist,
.content.read-only.accept #documents,
.content.read-only.accept #request-title,
.content.read-only.accept #request-category {
  display: block;
}
.content.read-only.accept h1.section-title {
  background: none;
  cursor: auto;
}
.content.read-only.accept h1.section-title.open {
  background: none;
}
.content.read-only.accept h1.section-title.request-id {
  background-image: none;
  cursor: auto;
}
.push-3,
.inline-option.push-3,
.request-form fieldset span.inline-option.push-3 {
  margin-left: 26.04166667% !important;
}
