/*RESET*/
@import "../StandardFramework/reset.less";

/*SEMANTIC GRID*/
@import "../StandardFramework/grid.less";
@total-width:100%;

/*KENDO OVERRIDES*/
@import "../StandardFramework/app-kendo.less";

/*LOAD STANDARD COLORS*/
@import "../StandardFramework/app-colors.less";

/*LOAD STANDARD MIXINS*/
@import "../StandardFramework/app-mixins.less";

/*LOAD STANDARD DEFAULTS*/
@import "../StandardFramework/app-defaults.less";

/*LOAD STANDARD LOGIN*/
@import "../StandardFramework/app-login.less";

/*LOAD STANDARD HEADER*/
@import "../StandardFramework/app-header.less";

/*LOAD STANDARD USER BAR/LOGOUT*/
@import "../StandardFramework/app-user.less";

/*LOAD STANDARD CONTENT*/
@import "../StandardFramework/app-content.less";

/*LOAD STANDARD FOOTER*/
@import "../StandardFramework/app-footer.less";

/*LOAD STANDARD ELEMENTS*/
@import "../StandardFramework/app-elements.less";

/*LOAD STANDARD VALIDATION*/
@import "../StandardFramework/app-validation.less";


//APPLICATION SPECIFIC RULES ***********
//OVERRIDES
body {
    label {
        font-size:.9em;
    }
}
.k-datepicker {
    .k-picker-wrap {
        border:none !important;
    }
}
h1.section-title {
    &:nth-of-type(1) {
        border-top:none;
    }
}
//PUT BORDER ON H1 TAGS THAT MIGHT BE NESTED INSIDE DIVS WITHIN THE SAME FORM.
div.content.form {
    div h1.section-title,
    div h1.section-title:nth-of-type(1),
    div h1.section-title:first-child {
        border-top:1px solid @mediumgray;
    }
}

.updated {
    font-size:1.2em !important;
    color:@needsattention !important;
}
.two-column-fields, .two-column-fields .expand {
    input, .k-dropdown, .radio-group, .k-numerictextbox, .k-autocomplete {
        margin-bottom:10px;
        @media (min-width: 768px) {
            margin-bottom:20px;
        }
    }
    .k-dropdown-wrap {
        .k-input {
            text-indent:0 !important;
            margin:0 35px 0 10px !important;
            white-space:normal;
        }
    }
    .k-datepicker {
        margin-bottom:10px !important;
        @media (min-width: 768px) {
            margin-bottom:20px !important;
        }
    }
}
.expand {
    margin-bottom:40px;
    //background:@focus;
    display:block;
}
.radio-group {
    margin-top:2px !important;
    margin-bottom:8px !important;
    label {
        margin-bottom:20px !important;
    }
    input {
        width:25px !important;
    }
}
.row {
    .checkbox-options {
        .column(12);
        margin-bottom:10px;
        @media (min-width: 768px) {
            .column(8);
            margin-bottom:10px;
        }
        .checkbox-item {
            .row(12);
            input[type="checkbox"] {
                height:20px;
                width:20px;
                text-align:left;
                vertical-align:middle;
                margin-bottom:0px;
            }
            label {
                .column(11.2,12);
                text-align:left;
                margin-bottom:15px;
                vertical-align:middle;
                padding-top:3px;
            }
        }
    }
}
    
#home-buttons ul li a .home-button-text {
    width:75%;
}
.traineebuttons {
    width:44px;
    height:41px;
    margin-top:-10px !important;
    margin-bottom:10px !important;
}
.training-program:extend(.traineebuttons),
.training-grants:extend(.traineebuttons) {
    margin-top:-2px !important;
    margin-bottom:5px !important;
    img {
        margin-left:-47px;
        margin-top:-171px;
    }
}
.funding:extend(.traineebuttons) {
    img {
        margin-left:-39px;
        margin-top:-216px;
    }
}
.applicants:extend(.traineebuttons) {
    img {
        margin-left:7px;
        margin-top:0px;
    }
}
.faculty:extend(.traineebuttons) {
    img {
        margin-left:8px;
        margin-top:-408px;
    }
}
.mentees:extend(.traineebuttons) {
    width:53px;
    img {
        margin-left:-48px;
        margin-top:-408px;
    }
}
.reports:extend(.traineebuttons) {
    width:53px;
    img {
        margin-left:-48px;
        margin-top:-48px;
    }
}
.admin:extend(.traineebuttons) {
    width:53px;
    img {
        margin-left:-14px;
        margin-top:-479px;
    }
}

h1.section-title {
    text-align:left;
    font-weight:300;
    color:@mediumdarkgray;
    font-size:1.2em;
    .column(11.8);
    .push(.1);
    .pull(.1);
    padding-top:20px;
    margin-bottom:20px;
    //RESPONSIVE RULES
    @media (min-width: 650px) {
        font-size:1.7em;
    }
}
.lastUpdate {
    &:extend(.title-width);
    margin-top:-20px;
    margin-bottom:20px;
    font-weight:300;
    color:@attention;
    text-align:left;
}
#fundingBasicInfo-view {
    .k-autocomplete {
        .column(12);
        @media (min-width: 768px) {
            .column(5);
            margin-bottom:20px;
        }
    }
    button.k-button {
        .column(12);
        .push(0);
        margin-bottom:20px;
        background:@lightgray;
        &:hover {
            background:@osuwmcred;
            color:#FFFFFF;
        }
        @media (min-width: 768px) {
            .column(3);
            .push(0);
            margin-bottom:20px;
        }
    }
}
#addNewDegreeButton,
#addNewResearchInterest,
#addTrainingPeriodButton,
#addAcademicHistoryButton,
#addMenteeSupportButton,
#addTraineePositionButton,
#addPublicationButton,
#addFacultySuportButton,
#addDirectCostsButton,
#addTraineeDetailedButton,
#addFacultySupportButton,
#addPreDocTraineeSummaryButton,
#addPostDocTraineeSummaryButton,
#addInstSponsorButton {
    .column(12);
    .push(0);
    text-align:left;
    @media (min-width: 768px) {
        .column(10);
        .push(1);
    }
    .k-button {
        background:@lightgray;
        border:1px solid @mediumdarkgray;
        // .column(12);
        // .push(0);
        width:100%;
        // margin-top:-10px !important;
        margin-top:10px !important;
        margin-bottom:40px;
        padding:5px;
        @media (min-width: 768px) {
            .column(5);
            .push(0);
            margin-left:0px;
            margin-top:-20px !important;
            margin-bottom:40px;
        }
        &:hover {
            background:@osuwmcred;
            color:#FFFFFF;
        }
    }
}
.k-grid {
    table {
        width:100% !important;
        col {
            width:auto !important;
        }
    }
}
#degreeGrid + #addNewDegreeButton,
.k-grid + #addNewDegreeButton,
.k-grid + #addAcademicHistoryButton {
    .column(12);
    .push(0);
    @media (min-width: 768px) {
        .column(10);
        .push(1);
    }
    .k-button {
        width:100%;
        margin:10px 0 40px 0 !important;
        @media (min-width: 768px) {
            margin-top:-20px !important;
            .column(4);
            .push(0);
        }
    }
}
#FacultyAcademicDegree,
#FacultyResearchInterest,
.grid,
#MenteeTrainingPeriod,
#MenteePublications {
    .expand-next,
    .open-popup {
        .push(0) !important;
        margin-top:-10px !important;
        @media (min-width: 768px) {
            .push(1) !important;
            margin-top:-20px !important;
        }
    }
}
#statusMsg {
    .column(12);
    .push(0);
    margin-top:20px;
    text-align:left;
    @media (min-width: 401px) {
        .column(8);
        .push(3);
        margin-top:20px;
    }
}
#peopleSearchGrid {
    margin-top:20px;
}
#peopleFound {
    .column(10);
    .push(1);
    text-align:left;
    span {
        display:block;
    }
    .add.button {
        .column(4);
        .push(0);
        .pull(8);
        margin-left:0px;
        margin-top:5px;
        background:@warning;
    }
    button {
        .column(4);
        .push(0);
        margin-top:40px;
        margin-left:0px;
    }
}
#nopeopleFound {
    .row();
    margin-top:20px;
    text-align:left;
    padding-top:20px;
    border-top:1px solid @mediumgray;
    span {
        display:block;
        .column(9);
        .push(3);
    }
    .add.button {
        .column(3);
        .push(3);
        .pull(6);
        //margin-left:0px;
        margin-top:5px;
        background:@warning;
    }
    button {
        .column(3);
        .push(3);
        margin-top:40px;
    }
}
.add-section {
    background-color:@success !important;
    color:#FFFFFF;
    &:hover {
        background-color:@osuwmcred !important;
    }
    // &.save {
    //     background-color:@success !important;
    //     color:#FFFFFF;
    //     &:hover {
    //         background-color:@osuwmcred !important;
    //     }
    // }
    &.cancel, &:nth-of-type(2) {
        background-color:@lightgray !important;
        color:#000000;
        &:hover {
            background-color:@darkgray !important;
            color:#FFFFFF;
        }
    }
    &.save {
        background-color:@success !important;
        color:#FFFFFF;
        &:hover {
            background-color:@osuwmcred !important;
        }
    }
}
.field-options {
    position:relative;
    &:after {
        content:"";
        position:relative;
        top:0px;
        left:0px;
        height:1px;
        width:1px;
        float:left;
        margin-bottom:60px;
    }
    label {
        .column(2) !important;
        .push(3) !important;
    }
    .add-section {
        .push(0) !important;
        .pull(3) !important;
        margin-bottom:10px !important;
        background:@focus !important;
        &:nth-of-type(2) {
            .push(3) !important;
        }
        &:hover {
            background:@osuwmcred !important;
        }
    }
    .row-heading-1 {
        .column(3) !important;
        .push(5) !important;
        margin-bottom:10px !important;
        text-align:center !important;
    }
    .row-heading-2 {
        .column(3) !important;
        .push(0) !important;
        //.pull(1) !important;
        margin-bottom:10px !important;
        text-align:center !important;
    }
    .two-column-option {
        .column(3) !important;
        margin-bottom:10px !important;
    }
    .expand {
        .row();
        margin-bottom:50px !important;
        display:none;
        h2 {
            .column(8);
            .push(3) !important;
            margin-bottom:20px !important;
        }
        .add-section {
            .column(2.5) !important;
            .push(5) !important;
            .pull(2) !important;
            margin-bottom:10px !important;
        }
        input {
            .column(6);
            margin-bottom:10px;
        }
    }
}
#greSection, #mcatSection {
    &.expand {
        .row();
        margin-bottom:30px !important;
        h2 {
            .column(8);
            .push(3) !important;
            margin-bottom:10px !important;
        }
        .add-section {
            .column(2.5) !important;
            .push(5) !important;
            .pull(2) !important;
            margin-bottom:10px !important;
            &.cancel {
                .push(7);
            }
        }
        input {
            .column(6);
            margin-bottom:10px;
        }
    }
    position:relative;
    &:after {
        content:"";
        position:relative;
        top:0px;
        left:0px;
        height:1px;
        width:1px;
        float:left;
        //margin-bottom:60px;
    }
    label {
        .column(2) !important;
        .push(3) !important;
    }
    .add-section {
        .push(0) !important;
        .pull(3) !important;
        margin-bottom:10px !important;
    }
    .row-heading-1 {
        .column(3) !important;
        .push(5) !important;
        margin-bottom:10px !important;
        text-align:center !important;
    }
    .row-heading-2 {
        .column(3) !important;
        .push(0) !important;
        //.pull(1) !important;
        margin-bottom:10px !important;
        text-align:center !important;
    }
    .two-column-option {
        .column(3) !important;
        margin-bottom:10px !important;
    }
}
#mcatSection {
    margin-bottom:50px;
    margin-top:-20px !important;
}
#addGREButton {
    .column(12);
    .push(0) !important;
    .pull(0) !important;
    margin-bottom:10px !important;
    margin-left:0px;
    @media (min-width: 768px) {
        .column(4);
        .push(0) !important;
        .pull(5) !important;
    }
    button {
        width:100%;
        background:@focus !important;
        border:1px solid @mediumdarkgray;
        &:hover {
            background:@osuwmcred !important;
            color:#FFFFFF;
        }
    }
}
#addMCATButton {
    .column(12);
    .push(0) !important;
    .pull(0) !important;
    margin-bottom:10px !important;
    margin-left:0px;
    @media (min-width: 768px) {
        .column(4);
        .push(3) !important;
        .pull(5) !important;
    }
    button {
        width:100%;
        background:@focus !important;
        border:1px solid @mediumdarkgray;
        &:hover {
            background:@osuwmcred !important;
            color:#FFFFFF;
        }
    }
}
    
#MailingAddressLine1, #MailingAddressLine2 {
    margin-bottom:7px;
}
.submit {
    &:hover {
        background:@osuwmcred;
    }
}
.back {
    cursor:pointer;
    background:@mediumgray;
    border:none;
    margin-top:20px;
    padding:20px;
    margin-left:20px;
    &:hover {
        background:@darkgray;
        color:#FFFFFF;
    }
}
#updateDiv {
    button:nth-child(2) {
        margin-top:-30px;
    }
}
#myModal, #myModal1, .modal.fade {
    .modal-header {
        button.close {
            display:none !important;
        }
        .modal-title {
            text-align:center;
        }
    }
    .modal-body {
        text-align:center;
        overflow:hidden;
        textarea {
            border:none;
            width:100% !important;
            height:100px !important;
            display:block;
            margin-bottom:0px !important
        }
    }
    .modal-footer {
        //width:80%;
        margin:15px auto 0 auto;
        text-align:center;
        .add-section {
            display:inline-block;
            margin:0px;
            float:none;
            width:auto;
            min-width:150px;
            margin:10px;
        }
    }
}
#FacultyAcademicDegree #editDegreeSection,
#AcademicHistory #editAcademicHistorySection,
#AcademicHistory #editAcadmicHistorySection,
#MenteeTrainingPeriod #trainingperiod-view {
    .k-autocomplete {
        position:relative;
        margin-bottom:20px !important;
        &:after {
            content:"˅";
            position:absolute;
            right:0px;
            top:5px;
            width:20px;
            height:20px;
            //border-left:1px solid #CCCCCC;
            color:@mediumgray;
            //background:@mediumgray;
        }
    }
}
// #FacultyAcademicDegree #editDegreeSection {
//     position:relative;
//     .k-autocomplete:nth-of-type(1) {
//         .pull(3);
//     }
//     button:nth-of-type(1) {
//         .column(3);
//         margin-right:0px;
//         padding-bottom:3px;
//         position:absolute;
//         top:55px;
//         right:9.375%;
//     }
// }
#AcademicHistory {
    #editAcademicHistorySection, #editAcadmicHistorySection {
        position:relative;
        .k-autocomplete {
            .column(12);
            margin-bottom:20px;
            @media (min-width: 768px) {
                .column(8);
            }
        }
        // .k-autocomplete:nth-of-type(1) {
        //     .pull(4);
        // }
        .k-invalid-msg {
            .column(12);
            .push(0);
            margin-bottom:20px;
            margin-top:-20px;
            @media (min-width: 768px) {
                .column(8);
                .push(3);
                margin-bottom:20px;
                margin-top:-20px;
            }
        }
        .help-inline {
            display:block;
        }
        // button:nth-of-type(1) {
        //     .column(3);
        //     margin-right:0px;
        //     padding-bottom:3px;
        //     position:absolute;
        //     top:55px;
        //     right:9.375%;
        // }
        // .k-autocomplete + button {
        //     .column(3);
        //     .pull(1);
        //     margin-bottom:21px;
        // }
    }
    #addNewDegreeButton {
        .expand-next {
            margin-left:0px !important;
        }
    }
    #addNewAcademicHistoryButton {
        .column(10);
        .push(1);
        button {
            .column(5);
            margin-left:0px;
            margin-top:-20px;
            background:@lightgray;
        }
    }
    .box-col {
        margin-bottom:30px;
    }
    #editAcademicHistorySection {
        margin-top:20px;
    }
}
#MenteeAcademicHistory {
    #editAcademicHistorySection {
        position:relative;
        .k-autocomplete {
            // .column(5);
            margin-bottom:20px !important;
        }
        // .k-autocomplete:nth-of-type(1) {
        //     .pull(4);
        //     margin-bottom:20px !important;
        // }
        // button:nth-of-type(2),
        // button:nth-of-type(3){
        //     .column(3);
        //     margin-bottom:20px;
        // }
        .k-invalid-msg:empty {
            display:none;
        }
        .k-invalid-msg {
            .column(5);
            .push(3);
            .pull(4);
            margin-bottom:20px;
            margin-top:-10px;
            // &:nth-child(12), &:nth-child(41) {
            //     .column(8);
            //     .push(3);
            //     .pull(1);
            //     margin-top:-20px;
            //     margin-bottom:20px;
            // }
        }
        .k-numerictextbox + .k-invalid-msg {
            .column(8);
            .push(3);
            .pull(1);
            margin-top:-20px;
            margin-bottom:20px;
        }
        .help-inline {
            display:block;
        }
        // button:nth-of-type(1) {
        //     .column(3);
        //     margin-right:0px;
        //     padding-bottom:3px;
        //     position:absolute;
        //     top:55px;
        //     right:9.375%;
        // }
    }
}
#FacultyAcademicDegree {
    #editAcademicHistorySection, #editAcadmicHistorySection {
        .k-autocomplete:nth-of-type(1),
        .k-autocomplete:nth-of-type(2) {
            .column(5);
        }
        button:nth-of-type(1), button:nth-of-type(2) {
            .column(3);
            margin-bottom:20px;
            padding-bottom:3px;
        }
    }
    #editDegreeSection {
        position:relative;
        // .k-autocomplete:nth-of-type(1), .k-autocomplete:nth-of-type(3) {
        //     .column(5);
        // }
        // .k-autocomplete:nth-of-type(1) {
        //     .pull(3);
        // }
        // button:nth-of-type(1) {
        //     .column(12);
        //     margin-right:0px;
        //     padding-bottom:0px;
        //     margin-bottom:20px;
        //     position:relative;
        //     top:0px;
        //     right:0px;
        //     @media (min-width: 768px) {
        //         .column(3);
        //         margin-right:0px;
        //         padding-bottom:3px;
        //         position:absolute;
        //         top:0px;
        //         right:9.375%; 
        //     }
        // }
        //button:nth-of-type(1), 
        // button:nth-of-type(2) {
        //     .column(3);
        //     margin-bottom:20px;
        //     padding-bottom:3px;
        // }
        .help-inline .k-invalid-msg.field-validation-error {
            .column(5);
            .push(3);
            .pull(4);
            margin-top:-21px;
            margin-bottom:20px;
        }
        
    }
    #addNewDegreeButton {
        .expand-next {
            margin-left:0px !important;
        }
    }
    #degreeGrid {
        table {
            width:100% !important;
        }
        col {
            width:auto !important;
        }
    }
}
#MenteeTrainingPeriod {
    #editTrainingPeriodSection {
        .k-autocomplete {
            .column(8);
            margin-bottom:20px;
        }
        // button:nth-of-type(1), button:nth-of-type(2) {
        //     .column(3);
        //     margin-bottom:21px;
        // }
    }
}
#MenteeCurrentSupport {
    #editMenteeSupportSection {
        #currentSupportGrid {
            .column(8);
            .push(3);
            margin-bottom:30px;
        }
        #addNewDegreeButton {
            .push(3);
        }
        // .k-autocomplete:nth-of-type(1) {
        //     .column(5);
        // }
        // button:nth-of-type(1) {
        //     .column(3);
        //     margin-bottom:20px;
        //     padding-bottom:3px;
        // }
        #currentSupportSection {
            #addNewDegreeButton {
                .k-button {
                    margin-left:0px;
                }
            }
        }
        #editCurrentSupportSection {
            label {
                .column(4.5);
            }
            #selectedCurrentSupportTitle {
                .column(6.5);
                margin-bottom:10px;
            }
            .save {
                .column(2);
                .push(4.5);
                .pull(5.5);
                margin-bottom:10px;
            }
            .cancel {
                .column(2);
                .push(4.5);
                .pull(5.5);
                margin-bottom:50px;
            }
        }
    }
}
#editTraineePositionSection {
    // .k-autocomplete:nth-of-type(2) {
    //     .column(5);
    // }
    .k-button {
        .column(3);
        .push(0);
        margin-bottom:20px;
        padding-bottom:3px;
    }
    #positionSupportSection {
        #positionSupportGrid {
            .column(8);
            .push(3);
            margin-bottom:30px;
        }
        #addNewDegreeButton {
            .push(3);
            .k-button {
                margin-left:0px;
            }
        }
    }
    #editPositionSupportSection {
        label {
            .column(4.5);
        }
        #selectedPositionSupportTitle {
            .column(6.5);
            margin-bottom:10px;
        }
        .save {
            .column(2);
            .push(4.5);
            .pull(5.5);
            margin-bottom:10px;
        }
        .cancel {
            .column(2);
            .push(4.5);
            .pull(5.5);
            margin-bottom:50px;
        }
    }
}
#editFundingBasicInfo-view {
    .k-autocomplete {
        .column(5);
        margin-bottom:20px !important;
    }
    button {
        .column(3);
        margin-bottom:21px;
        background-color:@lightgray;
    }
}
#collectTrainingGrantBasicInfo {
    .k-dropdown {
        .k-dropdown-wrap {
            min-height:35px;
        }
    }
    .k-autocomplete {
        // .column(5);
        .column(8);
        margin-bottom:20px !important;
    }
    button {
        .column(3);
        margin-bottom:20px;
        background:@lightgray;
        &:hover {
            background:@osuwmcred;
            color:#FFFFFF;
        }
    }
    #trainingGrantSearchGrid {
        .column(8);
        .push(3);
        margin-top:40px;
    }
    #trainingGrantFound, #noTrainingGrantFound {
        .column(8);
        .push(3);
        text-align:left;
        margin-top:10px;
        span {
            display:block;
        }
        .add.button {
            .column(4);
            .push(0);
            margin-left:0px;
            margin-top:20px;
            background:@warning;
        }
        min-width:220px;
    }
    .box-col .field-validation-error {
        width:100%;
        margin-top:0px;
        margin-left:0px;
    }
}
#collectTrainingGrantGenInfo {
    .box-col {
        margin-bottom:20px;
        table {
            box-sizing:border-box;
        }
        .k-invalid-msg {
            width:100%;
            margin-left:0px;
            margin-top:0px;
        }
    }
    .k-autocomplete {
        // .column(5);
        .column(8);
        margin-bottom:20px !important;
    }
    .k-button {
        .column(3);
        margin-bottom:20px;
        background:@lightgray;
        &:hover {
            background:@osuwmcred;
            color:#FFFFFF;
        }
    }
    .k-multiselect.k-header {
        border-color:@mediumdarkgray;
    }
}
// #editFundingCostInfo {
//     #costInformationGrid {
//         .k-selectable {
//             tbody tr {
//                 td:nth-child(3), td:nth-child(4) {
//                     &:before {
//                         content:"$";
//                     }
//                 }
//             }
//         }
//     }
// }
#editFundingSupportInfo {
    #addFacultySupportSection {
        .k-dropdown .k-invalid-msg {
            width:100%;
            margin:0 0 10px 0;
        }
    }
}
//APPLICATION SPECIFIC KENDO OVERRIDES********
.k-window {
    background:#FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height:auto !important;
    .k-window-titlebar.k-header {
        height:auto;
    }
    .k-window-content.k-content {
        .row();
        label {
            .column(2);
            margin-bottom:10px;
            text-align:right;
        }
        input, .k-dropdown {
            .column(10);
            margin-bottom:10px;
            border:1px solid @mediumdarkgray;
            padding:5px;
            input {
                margin:0px;
                padding:0px;
                border:none;
                background:none;
            }
        }
        .k-numerictextbox {
            .k-numeric-wrap {
                input {
                    border:none;
                }
            }
        }
        .k-dropdown {
            padding:0px;
            .k-dropdown-wrap {
                border:none !important;
            }
        }
    }
    button {
        .column(4);
        .push(3);
        .pull(5);
        margin-bottom:40px;
        background:@lightgray;
        border:1px solid @mediumdarkgray;
        padding:10px 0;
        &.add-section {
            .column(4);
            .push(2);
            .pull(6);
            margin-bottom:10px;
        }
    }
    .k-tooltip.k-tooltip-validation.k-invalid-msg {
        .column(10);
        .push(2);
        margin-top:-10px;
        margin-bottom:20px;
        padding:6px 10px;
    }
}
.k-editor-widget {
    width:100% !important;
    border:1px solid @mediumdarkgray !important;
    .k-editor-toolbar-wrap {
        .k-editor-toolbar {
            .k-tool-group {
                width:auto !important;
                display:inline-block;
                overflow:hidden;
                .k-combobox.k-editor-widget {
                    width:auto !important;
                    .k-dropdown-wrap {
                        overflow:hidden !important;
                        input.k-input {
                            margin:0px !important;
                            background:none !important;
                            font-size:.8em !important;
                        }
                    }
                }
                .k-dropdown.k-editor-widget {
                    width:170px !important;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    margin:0 5px 0 0 !important;
                    .k-dropdown-wrap {
                        input.k-input {
                        }
                    }
                }
                &.k-button-group {
                    .k-tool.k-group-end {
                        .k-tool-icon {
                            border-right:1px solid @mediumdarkgray !important;
                        }
                    }
                    .k-tool {
                        padding-bottom:2px !important;
                    }
                }
            }
        }
    }
    .k-editable-area {
        iframe.k-content {
            height:auto;
        }
        .k-tooltip-validation.k-invalid-msg {
            width:100%;
            display:block;
            margin:0px;
            position:relative;
            float:none;
        }
    }
}
#piListDropDown_validationMessage {
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    
}
.k-multiselect {
    border:1px solid @mediumdarkgray;
    box-shadow:none;
    margin-bottom:20px !important;
}
.done, .submit.done {
    position:relative;
    float:right;
    margin:10px;
    padding:10px 30px;
    background-color:@light-blue;
    color:@blue;
    border-bottom:2px solid @blue;
    -webkit-border-radius: 15px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 15px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    &:nth-of-type(1) {
        margin-bottom:-50px;
    }
    &:nth-of-type(2) {
        margin-bottom:-30px;
    }
    &:hover {
        background-color:@blue;
        color:#FFFFFF;
    }
}
.modal-dialog {
    
}
#article-editor.modal.fade {
    width:800px;
    height:400px;
    background:#FFFFFF;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-400px;
    overflow:hidden;
    .modal-header {
        padding:0 15px;
        font-weight:700;
        color:#BB0000;
    }
    .modal-body {
        font-size:1.2em;
    }
    .modal-footer {
        text-align:center;
        a.btn, button.abtn.btn-primary {
            border:none;
            background:@highlight;
            color:@darkgray;
            border:1px solid @mediumdarkgray;
            padding:10px 20px;
            font-size:1em;
            min-width:100px;
            &:hover {
                background:#BB0000;
                color:#FFFFFF;
            }
        }
        a.btn, .secton-admin {
            display:inline-block;
        }
    }
}
#funding-view {
    #collectFundingBasicInfo {
        text-align:center;
        label {
            .column(12);
            margin-top:20px;
            margin-bottom:20px;
            font-size:1.2em;
            text-align:center;
        }
        a.btn, button.btn.btn-primary {
            font-size:1em;
            padding:10px 20px;
            background:@attention;
            min-width:100px;
            color:#FFFFFF;
            border:none;
            &:hover {
                background:#BB0000;
            }
        }
        a.btn, .section-admin {
            display:inline-block;
            margin:0 10px;
        }
        .section-admin {
            width:auto;
            float:none;
        }
        #article-editor.modal.fade {
            height:300px;
            margin-top:-150px;
        }
        #peopleSearchGrid {
            .column(8);
            .push(3);
        }
        #peopleFound {
            .column(8);
            .push(3);
        }
    }
}
#fundingBasicInfo-view {
    #collectFundingBasicInfo {
        #peopleSearchGrid {
            .column(8);
            .push(3);
            margin-top:40px;
        }
        #peopleFound {
            .column(8);
            .push(3);
            input.add.button {
                margin-top:20px;
            }
        }
    }
}
#FundingInformation, #OtherFundingInfo {
    h2 {
        margin-top:0px;
        padding-bottom:0px;
        margin-bottom:10px;
    }
}
#FundingInformation {
    //margin-bottom:0px;
    padding-bottom:0px;
}
#editFacultySupportSection {
    .k-dropdown {
        .k-invalid-msg {
            width:100%;
            margin-top:-1px;
            margin-left:0px;
            position:relative;
        }
    }
}
#associatedTrainingPeriodGrid + div {
    .field-validation-error {
        .column(10);
        .push(1);
        margin-top:-30px;
        margin-bottom:20px;
    }
}
#editTrainingPeriodPreSubSection, #editTrainingPeriodPostSubSection {
    .radio-group {
        label {
            display:block;
            clear:both;
        }
    }
    .box-col {
        textarea {
            width:100% !important;
            margin:0px !important;
            border:1px solid @mediumdarkgray;
        }
        .field-validation-error {
            width:100%;
            margin-top:0px;
            margin-left:0px;
        }
    }
}
// #fundingBasicInfo-view {
// }
// .trainingPeriod-select-link,
// .facultySupport-delete-link,
// .menteesupport-delete-link,
// .traineeposition-delete-link,
// .trainingperiod-remove-link,
// .academichistory-delete-link,
// .publication-delete-link,
// .previoustg_select_link {
//     display:inline-block;
//     padding:0 10px;
//     background:@osuwmcred;
//     color:#FFFFFF !important;
//     border-radius:10px;
//     -moz-border-radius:10px;
//     -webkit-border-radius:10px;
//     &:hover {
//         background:#000000;
//     }
// }
// .k-state-selected {
//     .trainingPeriod-select-link,
//     .facultySupport-delete-link,
//     .menteesupport-delete-link,
//     .traineeposition-delete-link,
//     .trainingperiod-remove-link,
//     .academichistory-delete-link,
//     .publication-delete-link {
//         background:#FFFFFF;
//         color:#000000 !important;
//     }
// }
.k-grid {
    .k-grid-header .k-header {
        overflow:visible;
        white-space:normal;
    }
    .k-grid-content {
        tbody {
            tr {
                td:last-child {
                    div {
                        span a {
                            display:inline-block;
                            padding:0 10px;
                            background:@osuwmcred;
                            color:#FFFFFF !important;
                            border-radius:10px;
                            -moz-border-radius:10px;
                            -webkit-border-radius:10px;
                            &:hover {
                                background:#000000;
                            }
                        }
                    }
                }
                &.k-state-selected {
                    td:last-child div span a {
                        background:#FFFFFF;
                        color:#000000 !important;
                    }
                }
            }
        }
    }
}

.k-numerictextbox {
    .k-select {
        display:none;
    }
}

// GRID NOTES/TOOLS
.grid-note, .grid-tool {
    margin-bottom:10px !important;
}
.grid-tool {
    padding-top:10px;
    border-top:1px dotted @mediumdarkgray;
    label {
        float:left;
        width:auto;
        vertical-align:middle;
        display:inline;
        margin:0px 5px 0 0;
        padding-top:9px;
    }
    #applicantPoolAcademicYear {
        color:@osuwmcred;
        font-weight:600 !important;
    }
    button {
        background-color:@success;
        color:#FFFFFF;
        border:none;
        float:left;
        margin-left:10px;
        &:hover {
            background-color:@osuwmcred;
        }
    }
}

.reminder:extend(.title-width) {
    color:@attention;
    text-transform:uppercase;
    font-weight:400;
    text-align:left;
    border-bottom:1px dotted @darkgray;
    padding:10px 0;
    margin-bottom:10px;
}

#editAddTraineePreDocSummarySection, #editAddTraineePostDocSummarySection {
    label {
        .column(5);
    }
    // input[type="text"], 
    .k-numerictextbox {
        .column(6);
        input {
            width:100%;
        }
        &:nth-of-type(odd) {
            margin-bottom:10px !important;
        }
        &:nth-of-type(even) {
            margin-bottom:40px !important;
        }
    }
    .k-datepicker {
        .column(6) !important;
        input:nth-of-type(odd) {
            margin-bottom:0px !important;
        }
        &:first-of-type {
            margin-bottom:10px !important;
        }
        &:nth-of-type(3) {
            margin-bottom:40px !important;
        }
    } 
    .save, .cancel {
        .push(5);
    }
    #endDate_validationMessage, #endDatePost_validationMessage {
        .column(6);
        .push(5);
        margin-top:-40px;
        margin-bottom:40px;
    }
}
#editAddTraineePostDocSummarySection {
    input[type="text"] {
        &:nth-of-type(4) {
            margin-bottom:10px !important;
        }
    }
}
//TEST*************
/*h1.section-title {
    .column(11.4);
    .push(.3);
    .pull(.3);
    margin-bottom:20px;
}
.two-column-fields, .two-column-fields .expand {
    label {
        .column(12);
        .push(0);
        margin-bottom:5px;
        text-align:left;
        @media (min-width: 768px) {
            .column(9);
            .push(1.5);
            .pull(1.5);
            margin-bottom:5px;
        }
    }
    input, .k-dropdown, .radio-group {
        .column(12);
        margin-bottom:10px;
        @media (min-width: 768px) {
            .column(9);
            .push(1.5);
            .pull(1.5);
            margin-bottom:15px;
        }
    }
    .radio-group {
        padding:10px;
        background:@lightgray;
    }
    .k-datepicker {
        .column(12) !important;
        margin-bottom:10px !important;
        @media (min-width: 768px) {
            .column(9) !important;
            .push(1.5) !important;
            .pull(1.5) !important;
            margin-bottom:15px !important;
        }
    }
}
div.content.form {
    h1.section-title {
        border-top:1px solid @mediumgray;
        &:first-child {
            border:none;
        }
    }
    .k-grid {
        .column(12);
        .push(0);
        //max-height:400px;
        margin-bottom:20px;
        @media (min-width: 768px) {
            .column(9);
            .push(1.5);
            .pull(1.5);
            margin-bottom:30px;
        }
    }
    .add-section {
        .column(12);
        .push(0);
        margin-bottom:40px;
        padding:5px;
        @media (min-width: 768px) {
            .column(4);
            .push(1.5) !important;
            .pull(6.5);
            margin-bottom:40px;
        }

    }
    .wide-grid {
        .column(11.4);
        .push(.3);
        .k-grid {
            width:100%;
            margin:0px;
        }
    }
    .section-admin {
        .column(11.4);
        .push(.3);
    }
}*/