﻿@using TraineeTrackingSystem.Web.Common
@model AcademicsHistoryViewModel

<div id="academichistory-view1">
    <input id="academicHistoryId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="academicHistoryLink">
        <div>
            <span>
                <a href="\\#addAcademicHistoryButton">${ institutionName }</a>
            </span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="academichistory-deleteLink">
        <div>
            <span>
                <a href="\\#addAcademicHistoryButton" class="academichistory-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="academicHistoryGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Institution','field': 'institutionName','width': '448px', template:kendo.template($('#academicHistoryLink').html() )},
                {title:'Degree','field': 'academicDegreeName','width': '100px' },
                {title:'Year Entered','field': 'yearStarted','width': '120px' },
                {title:'Year Ended', width: 140, field:'yearEnded'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '100px', template:kendo.template($('#academichistory-deleteLink').html() ) }
         ]"
         data-bind="source: academicHistoryInformations,
            events:{
                change:onSelectAcademicHistory,
                dataBound: dataBoundAcademicHistory
            }">
    </div>

    <div id="addAcademicHistoryButton" data-bind="visible:addAHButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addAcademicHistoryToPerson }">
            Add Academic History
        </button>
    </div>

    <!--EXPANDABLE SECTION -- TRAINING PERIOD -->
    <div class="expand" id="editAcademicHistorySection" data-bind="visible:addAcademicHistorySectionVisible">

        <h2>Institution and Degree Information</h2>

        <label class="control-label osu-standard" for="ahInstitutionAutoComplete">Institution*:</label>
        <input type="text"
               id="ahInstitutionAutoComplete"
               name="ahInstitutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedAHInstitution" required validationmessage="This field is required" />
        @*<input id="ahInstitutionAutoComplete" name="ahInstitutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type an institution name (at least four characters) "
               data-min-length="4"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedAHInstitution,source: ahInstitutions" required validationmessage="This field is required" />
        <span class="help-inline"><span class="k-invalid-msg" data-for="ahInstitutionAutoComplete"></span></span>*@

        @*<button data-role="button"
                data-bind="events: { click: addNewAHInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION -->
        @*MVN - these fields are not being used at the momennt, I am commented this out 3/28/2016
            To reduce confusion*@
        @*<div id="newAHInstitutionWindow" data-bind="visible:addNewAHInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newAHInstitutionNameField">Name*:</label>
                <input id="newAHInstitutionNameField" name="newAHInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newAHInstitutionName" placeholder="enter institution name" />
                <span class="k-invalid-msg" data-for="newAHInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newAHInstitutionCityField">City*:</label>
                <input id="newAHInstitutionCityField" name="newAHInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newAHInstitutionCityName" placeholder="enter institution city" />
                <span class="k-invalid-msg" data-for="newAHInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newAHInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select State"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newAHInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newAHInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newAHInstitutionCountryDropDown" name="newAHInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select Country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newAHInstitutionCountry,source: countries" />
                <span class="k-invalid-msg" data-for="newAHInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewAHInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewAHInstitution">Cancel</button>
            </div>

        </div>*@
        @*MVN - end*@

        <label class="control-label" for="inputYearStarted">Year Started:</label>
        <input name="inputYearStarted" id="inputYearStarted" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearStarted" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputYearStarted"></span>

        <label class="control-label" for="inputYearEnded">Year Ended:</label>
        <input name="inputYearEnded" id="inputYearEnded" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearEnded" size="4" maxlength="4"  />
        <span class="k-invalid-msg" data-for="inputYearEnded"></span>



        <label class="control-label osu-standard" for="ahDegreeAutoComplete">Degree:</label>
        <input type="text"
               id="ahDegreeAutoComplete"
               name="ahDegreeAutoComplete"
               placeholder="type a degree name "
               data-bind="value: selectedAHDegree" />
        @*<input id="ahDegreeAutoComplete"
               data-role="autocomplete"
               data-placeholder="type a degree name "
               data-min-length="1"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedAHDegree,source: ahDegrees" />*@

        @*<button data-role="button"
                data-bind="events: { click: addNewAHDegree }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW DEGREE -->
        @*MVN - these field are not being used, I am commented them out 3/28/2016 
            to reduce confusion
        *@ 
        @*<div id="newAHDegreeWindow" data-bind="visible:addNewAHDegreeSectionVisible">

            <div>
                <label class="control-label" for="newAHDegreeNameField">Name*:</label>
                <input id="newAHDegreeNameField" name="newAHDegreeNameField" class="add listing" type="text"
                       data-bind="value: newAHDegreeName" placeholder="enter degree name" />
                <span class="k-invalid-msg" data-for="newAHDegreeNameField"></span>
            </div>

            <div>
                <button class="add-section save" data-bind="click: saveNewAHDegree">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewAHDegree">Cancel</button>
            </div>

        </div>*@
        @*mvn - end here*@

        @*<label class="control-label osu-standard" for="selectedAreaOfStudy">Area of Study:</label>
        <input type="text" id="selectedAreaOfStudy" name="selectedAreaOfStudy"
               placeholder="enter the area of study" data-bind="value: selectedAreaOfStudy" />*@
        <label class="control-label osu-standard">Area of Study:</label>
        <textarea id="areaOfStudy" name="areaOfStudy" rows="2" cols="20" wrap="hard"
                  data-maxlength="150"
                  data-maxlengthareastudy-msg="You have exceeded the maximum number of 150 characters in this field."
                  placeholder="enter area of study"
                  data-bind="value: selectedAreaOfStudy"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="areaOfStudy"></span></span>


        <label class="control-label" for="inputYearDegreeCompleted">Year Degree Completed:</label>
        <input name="inputYearDegreeCompleted" id="inputYearDegreeCompleted" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedYearDegreeCompleted" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputYearDegreeCompleted"></span>


        <h2>Research Information</h2>
        <label class="control-label osu-standard">Research Experience:</label>
        <textarea id="researchExpPrjTitle" name="researchExpPrjTitle" rows="2" cols="20" wrap="hard"
                  data-maxlength="500"
                  data-maxlengthresearchtitle-msg="You have exceeded the maximum number of 500 characters in this field."
                  placeholder="enter research experience"
                  data-bind="value: selectedResearchProjectTitle"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="researchExpPrjTitle"></span></span>

        <label class="control-label osu-standard">Thesis:</label>
        <textarea id="researchDoctoralThesis" name="researchDoctoralThesis" rows="2" cols="20" wrap="hard"
                  data-maxlength="500"
                  data-maxlengthresearchthesis-msg="You have exceeded the maximum number of 500 characters in this field."
                  placeholder="enter research thesis"
                  data-bind="value: selectedResearchDoctoralThesis"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="researchDoctoralThesis"></span></span>

        <label class="control-label osu-standard">Research Advisor:</label>
        <textarea id="researchAdvisor" name="researchAdvisor" rows="2" cols="20" wrap="hard"
                  data-maxlength="250"
                  data-maxlengthresearchadvisor-msg="You have exceeded the maximum number of 250 characters in this field."
                  placeholder="enter research advisor"
                  data-bind="value: selectedResearchAdvisor"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="researchAdvisor"></span></span>

        @*<label class="control-label osu-standard" for="selectedResearchProjectTitle">Research Experience:</label>
        <input type="text" id="selectedResearchProjectTitle" name="selectedResearchProjectTitle"
               placeholder="enter research experience" data-bind="value: selectedResearchProjectTitle" />

        <label class="control-label osu-standard" for="selectedResearchDoctoralThesis">Thesis:</label>
        <input type="text" id="selectedResearchDoctoralThesis" name="selectedResearchDoctoralThesis"
               placeholder="enter research thesis" data-bind="value: selectedResearchDoctoralThesis" />

        <label class="control-label osu-standard" for="selectedResearchAdvisor">Research Advisor:</label>
        <input type="text" id="selectedResearchAdvisor" name="selectedResearchAdvisor"
               placeholder="enter research advisor" data-bind="value: selectedResearchAdvisor" />*@


        <h2>Professional Information</h2>

        <label class="control-label osu-standard" for="residencyInstitutionAutoComplete">Residency Training Institution:</label>
        <input type="text"
               id="residencyInstitutionAutoComplete"
               name="residencyInstitutionAutoComplete"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedResidencyInstitution" />
        @*<input id="residencyInstitutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type an institution name (at least four characters) "
               data-min-length="4"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedResidencyInstitution,source: residencyInstitutions" />*@

        @*<button data-role="button"
                data-bind="events: { click: addNewResidencyInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION (RESIDENCY) -->
        @*<div id="newResidencyInstitutionWindow" data-bind="visible:addNewResidencyInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newResidencyInstitutionNameField">Name*:</label>
                <input id="newResidencyInstitutionNameField" name="newResidencyInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newResidencyInstitutionName" placeholder="enter institution name" />
                <span class="k-invalid-msg" data-for="newResidencyInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newResidencyInstitutionCityField">City*:</label>
                <input id="newResidencyInstitutionCityField" name="newResidencyInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newResidencyInstitutionCityName" placeholder="enter institution city" />
                <span class="k-invalid-msg" data-for="newResidencyInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newResidencyInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select state"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newResidencyInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newResidencyInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newResidencyInstitutionCountryDropDown" name="newResidencyInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newResidencyInstitutionCountry,source: countries" />
                <span class="k-invalid-msg" data-for="newResidencyInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewResidencyInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewResidencyInstitution">Cancel</button>
            </div>

        </div>*@

        @*<label class="control-label osu-standard" for="selectedResidencyAdvisor">Advisor:</label>
        <input type="text" id="selectedResidencyAdvisor" name="selectedResidencyAdvisor"
               
               placeholder="enter residency advisor" data-bind="value: selectedResidencyAdvisor" />*@

        @*data-maxlength="250"
    data-maxlengthresidencyadvisor-msg="You have exceeded the maximum number of 250 characters in this field."*@

        <label class="control-label osu-standard">Advisor:</label>
        <textarea id="residencyAdvisor" name="residencyAdvisor" rows="2" cols="20" wrap="hard"
                  data-maxlength="250"
                  data-maxlengthresidencyadvisor-msg="You have exceeded the maximum number of 250 characters in this field."
                  placeholder="enter research advisor"
                  data-bind="value: selectedResidencyAdvisor"></textarea>
        <span class="help-inline"><span class="k-invalid-msg" data-for="residencyAdvisor"></span></span>

        <label class="control-label" for="inputResidencyYearStarted">Year Started:</label>
        <input name="inputResidencyYearStarted" id="inputResidencyYearStarted" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedResidencyYearStarted" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputResidencyYearStarted"></span>

        <label class="control-label" for="inputResidencyYearEnded">Year Ended:</label>
        <input name="inputResidencyYearEnded" id="inputResidencyYearEnded" placeholder=" YYYY" data-role="numerictextbox"
               data-format="####" data-spinners="false" data-bind="value:selectedResidencyYearEnded" size="4" maxlength="4" />
        <span class="k-invalid-msg" data-for="inputResidencyYearEnded"></span>


        <h2>Miscellaneous Information</h2>

        @*<label class="control-label osu-standard" for="inputComments">Comments:</label>
        <div class="box-col">
            <textarea id="inputComments" name="inputComments" data-bind="value:selectedComments"
                      style="width: 480px; height:200px;"></textarea>
        </div>*@

        <label class="control-label osu-standard">Comments:</label>
        <div class="box-col">
            <textarea id="inputComments" name="inputComments"
                      style="width:480px; height:200px"
                      data-bind="value:selectedComments"
                      data-maxtextlength="4000"
                      data-maxtextlength-msg="You have exceeded the maximum number of 4000 characters in this field."></textarea>
        </div>


        <button class="add-section save" data-bind="click: saveAcademicHistory">Save</button>
        <button class="add-section cancel" data-bind="click: cancelAcademicHistory">Cancel</button>
    </div>
</div>


<script>
    $(document).ready(function () {

        // Validate the maximum character allows for Area of Study field
        // The substring() method extracts the characters from a string, between two specified indices, and returns the new sub string.
        // This method extracts the characters in a string between "start" and "end", not including "end" itself.
        $('#areaOfStudy').on('keyup',function(){
            var characters = 150;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 150 characters in this field");
                //var totalAllowsChars = $(this).val().substring(0, characters);
                //$('#areaOfStudy').val(totalAllowsChars);
            }
        });
        // Validate the maximum character allows
        $('#researchExpPrjTitle').on('keyup',function(){
            var characters = 500;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 500 characters in this field");
            }
        });

        // Validate the maximum character allows 
        $('#researchDoctoralThesis').on('keyup',function(){
            var characters = 500;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 500 characters in this field");
            }
        }); 
        // Validate the maximum character allows 
        $('#researchAdvisor').on('keyup',function(){
            var characters = 250;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 250 characters in this field");
            }
        }); 
        // Validate the maximum character allows 
        $('#residencyAdvisor').on('keyup',function(){
            var characters = 250;
            var maxChar = ($(this).val().length);
            if (maxChar > characters){
                toastr.warning("You have exceeded the maximum number of 250 characters in this field");
            }
        }); 
        $("#inputComments").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                },
                // More tools can be added here...
            ],
            keyup: function() {
                wordCount();
            }
        });
        wordCount();
        function wordCount() {        
            var limitCharacters= 4000; 
            var editor = $("#inputComments").data("kendoEditor");            
            var html = editor.value();
            var text = $("<div>").html(html).text();
            var remainChars = text.length;
            if (remainChars > limitCharacters){
                toastr.warning("You have exceeded the maximum number of 4000 characters in this field.");
            }
        }
        $("#ahInstitutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#ahInstitutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#ahInstitutionAutoComplete").val("");                    
                } else {
                    $("#ahInstitutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete

        $("#residencyInstitutionAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found, please contact Erica.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#residencyInstitutionAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#residencyInstitutionAutoComplete").val("");                    
                } else {
                    $("#residencyInstitutionAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete

        $("#ahDegreeAutoComplete").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#ahDegreeAutoComplete").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                if (!this.dataSource.view()[0]) {
                    toastr.warning("Degree not found, please contact Erica.");                
                }  
            },    
            change: function(e) {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    $("#ahDegreeAutoComplete").val("");                    
                } else {
                    $("#ahDegreeAutoComplete").data("kendoAutoComplete").value();
                }   
            }
        });//kendoAutoComplete

        var academicHistoryVm = kendo.observable($.extend({
            addAHButtonVisible: true,
            addAcademicHistorySectionVisible: false,
            addNewAHInstitutionSectionVisible:false,
            addNewAHDegreeSectionVisible:false,
            //addNewResidencyInstitutionSectionVisible:false,
            updated  : false,

            @*ahInstitutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#ahInstitutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            @*ahDegrees: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#ahDegreeAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            @*residencyInstitutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#residencyInstitutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),*@
            clearInputAcademicHistory:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedAHInstitution", "");
                self.set("selectedYearStarted", "");
                self.set("selectedYearEnded", "");
                self.set("selectedAHDegree", "");
                self.set("selectedAreaOfStudy", "");
                $("#areaOfStudy").val("");              //This enforces the clearing field, especially past document text that has reach the static maximum length set. 
                self.set("selectedYearDegreeCompleted", "");

                self.set("selectedResearchProjectTitle", "");
                self.set("selectedResearchDoctoralThesis", "");
                self.set("selectedResearchAdvisor", "");

                self.set("selectedResidencyInstitution", "");
                self.set("selectedResidencyAdvisor", "");
                self.set("selectedResidencyYearStarted", "");
                self.set("selectedResidencyYearEnded", "");

                self.set("selectedComments", "");
            },
            clearNewAHInstitutionInput:function() {
                var self = this;
                self.set("newAHInstitutionName", "");
                self.set("newAHInstitutionCityName", "");
                self.set("newAHInstitutionState", "");
                self.set("newAHInstitutionCountry", "");
            },
            clearNewAHDegreeInput:function() {
                var self = this;
                self.set("newAHDegreeName", "");
            },
            clearNewResidencyInstitutionInput:function() {
                var self = this;
                self.set("newResidencyInstitutionName", "");
                self.set("newResidencyInstitutionCityName", "");
                self.set("newResidencyInstitutionState", "");
                self.set("newResidencyInstitutionCountry", "");
            },
            onSelectAcademicHistory : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#academicHistoryGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);

                if (selected !== null) {
                    self.set("selectedId",selected.id);

                    self.set("selectedAHInstitution",selected.institutionName);
                    self.set("selectedYearStarted",selected.yearStarted);
                    self.set("selectedYearEnded",selected.yearEnded);
                    self.set("selectedAHDegree",selected.academicDegreeName);
                    self.set("selectedAreaOfStudy", selected.areaOfStudy);
                    self.set("selectedYearDegreeCompleted", selected.yearDegreeCompleted);

                    self.set("selectedResearchProjectTitle", selected.researchProjectTitle);
                    self.set("selectedResearchDoctoralThesis", selected.doctoralThesis);
                    self.set("selectedResearchAdvisor", selected.researchAdvisor);

                    self.set("selectedResidencyInstitution", selected.residencyTrainingInstName);
                    self.set("selectedResidencyAdvisor", selected.residencyAdvisor);
                    self.set("selectedResidencyYearStarted", selected.residencyYearStarted);
                    self.set("selectedResidencyYearEnded", selected.residencyYearEnded);

                    self.set("selectedComments", selected.comments);
                }
                self.set("addAcademicHistorySectionVisible", true);
                self.set("addAHButtonVisible", false);
            },
            dataBoundAcademicHistory:function(e) {
                var self = this;
                $(".academichistory-delete-link").click(function (event) {
                    event.preventDefault();

                    //self.clearInputAcademicHistory();
                    var kendoGrid = $("#academicHistoryGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                    self.set("addAcademicHistorySectionVisible", false);
                    self.set("addAHButtonVisible", true);
                    if (confirm("Do you want to delete this item?")) {

                        // retrieve the data record for the row
                        var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                        $.ajax({
                            url: '@Url.Content("~/Applicant/DeleteAcademicHistory/")'+deleteItem.id,
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Delete failed!');
                            },
                            success: function (id) {
                                toastr.success('Training Period successfully deleted!');
                                kendoGrid.dataSource.remove(deleteItem);
                            }
                        });
                    }
                    return false;
                });
            },
            addAcademicHistoryToPerson:function() {
                var self = this;
                self.set("addAcademicHistorySectionVisible", true);
                self.set("addAHButtonVisible", false);

                var kendoGrid = $("#academicHistoryGrid").data("kendoGrid");
                kendoGrid.clearSelection();

                self.clearInputAcademicHistory();
            },
            cancelAcademicHistory:function() {
                var self = this;
                self.set("addAcademicHistorySectionVisible", false);
                self.set("addAHButtonVisible", true);
            },
            saveAcademicHistory: function() {
                var self = this;
                //var validationMsg = "The End Year should be after the Start Year";
                //var validationMsg2 = "The Start Year should be before the End Year.";
                var yearsViladtionMsg = "The End Year should be after the Start Year.";
                var validator = $("#editAcademicHistorySection").kendoValidator(
                    {
                        rules: {
                            inputyearended: function (input) {
                                if (input.is("[name=inputYearEnded]")&&(self.selectedYearEnded )){
                                    return (self.selectedYearEnded == null) || (self.selectedYearEnded > self.selectedYearStarted);
                                }
                                return true;
                            },
                            
                            inputresidencyyearended: function (input) {
                                if (input.is("[name=inputResidencyYearEnded]")&&(self.selectedResidencyYearEnded )){
                                    return (self.selectedResidencyYearEnded == null) || (self.selectedResidencyYearEnded > self.selectedResidencyYearStarted);
                                }
                                return true;
                            },
                            maxTextLengthstudyarea: function (textarea) {
                                if (textarea.is("[data-maxlengthareaStudy-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                            maxTextLength: function (textarea) {
                                if (textarea.is("[data-maxtextlength-msg]") && textarea.val() != "") {
                                    var maxlength = textarea.attr("data-maxtextlength");
                                    var value = textarea.data("kendoEditor").value();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlength;
                                }

                                return true;
                            },
                            maxlengthresearchtitle: function (textarea) {
                                if (textarea.is("[data-maxlengthresearchtitle-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                            maxlengthresearchthesis: function (textarea) {
                                if (textarea.is("[data-maxlengthresearchthesis-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                            maxlengthresearchadvisor: function (textarea) {
                                if (textarea.is("[data-maxlengthresearchadvisor-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                            maxlengthresidencyadvisor: function (textarea) {
                                if (textarea.is("[data-maxlengthresidencyadvisor-msg]") && textarea.val() != "") {
                                    var maxlengthValue = textarea.attr("data-maxlength");
                                    var value = textarea.val();
                                    return value.replace(/<[^>]+>/g, "").length <= maxlengthValue;
                                }

                                return true;
                            },
                        },
                        messages: {
                            inputyearended: yearsViladtionMsg,
                            inputresidencyyearended: yearsViladtionMsg,
                            maxTextLengthstudyarea: "You have exceeded the maximum number of 150 characters in this field.",
                            maxlengthresearchtitle: "You have exceeded the maximum number of 500 characters in this field.",
                            maxlengthresearchthesis: "You have exceeded the maximum number of 500 characters in this field.",
                            maxlengthresearchadvisor: "You have exceeded the maximum number of 250 characters in this field.",
                            maxlengthresidencyadvisor: "You have exceeded the maximum number of 250 characters in this field."
                        }
                    }).data("kendoValidator");
               
                if (validator.validate()) {

                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                        institution: self.selectedAHInstitution,
                        academicDegree: self.selectedAHDegree,
                        yearStarted: self.selectedYearStarted,
                        yearEnded: self.selectedYearEnded,
                        areaOfStudy: self.selectedAreaOfStudy,
                        yearDegreeCompleted: self.selectedYearDegreeCompleted,
                        researchProjectTitle: self.selectedResearchProjectTitle,
                        doctoralThesis: self.selectedResearchDoctoralThesis,
                        researchAdvisor: self.selectedResearchAdvisor,
                        residencyInstitution: self.selectedResidencyInstitution,
                        residencyAdvisor: self.selectedResidencyAdvisor,
                        residencyYearStarted: self.selectedResidencyYearStarted,
                        residencyYearEnded: self.selectedResidencyYearEnded,
                        comments: self.selectedComments,
                    };

                    $.ajax({
                        url: '@Url.Content("~/Applicant/UpdateAcadmicHistory")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {

                            //add to new grid if it's not existing
                            var academichistory= $.grep(self.academicHistoryInformations, function(e){ return e.id == value.id; });
                            if (academichistory.length === 0) {
                                self.academicHistoryInformations.push(kendo.observable(value));
                                toastr.success('Academic History added!');
                            } else {//update the entry
                                var kendoGrid = $("#academicHistoryGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("institutionName", value.institutionName);
                                selectedDataRow.set("academicDegreeName", value.academicDegreeName);
                                selectedDataRow.set("yearStarted", value.yearStarted);
                                selectedDataRow.set("yearEnded", value.yearEnded);

                                selectedDataRow.set("areaOfStudy", value.areaOfStudy);
                                selectedDataRow.set("residencyYearStarted", value.residencyYearStarted);
                                selectedDataRow.set("residencyYearEnded", value.residencyYearEnded);
                                
                                selectedDataRow.set("researchProjectTitle", value.researchProjectTitle);
                                selectedDataRow.set("doctoralThesis", value.doctoralThesis);
                                selectedDataRow.set("researchAdvisor", value.researchAdvisor);
                                //residencyTrainingInstName
                                selectedDataRow.set("residencyTrainingInstName", value.residencyTrainingInstName);
                                selectedDataRow.set("residencyAdvisor", value.residencyAdvisor);
                                selectedDataRow.set("comments", value.comments);
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                toastr.success('Academic History updated!');
                            }
                            self.set("addAcademicHistorySectionVisible", false);
                            self.set("addAHButtonVisible", true);
                            self.clearInputAcademicHistory();

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }
            },
            addNewAHInstitution:function() {
                var self = this;
                self.set("addNewAHInstitutionSectionVisible", true);
                var window = $('#newAHInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Institution ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }

                self.clearNewAHInstitutionInput();
            },
            cancelNewAHInstitution:function() {
                var window = $('#newAHInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewAHInstitution:function() {
                //get the binding value, and make the ajax call
                var self = this;

                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newAHInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newahinstitutionname: function (input) {
                                if (input.is("[name=newAHInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newahinstitutioncity: function (input) {
                                if (input.is("[name=newAHInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newahinstitutioncountry: function (input) {
                                if (input.is("[name=newAHInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newahinstitutionname: validationMsg,
                            newahinstitutioncity: validationMsg,
                            newahinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {

                    var updateData = {
                        Name: self.newAHInstitutionName,
                        City: self.newAHInstitutionCityName,
                        StateId: self.newAHInstitutionState != null ? self.newAHInstitutionState.key : null,
                        CountryId: self.newAHInstitutionCountry != null ? self.newAHInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newAHInstitutionName.length != 0) {
                                self.set("selectedAHInstitution", self.newAHInstitutionName);
                            }

                            self.clearNewAHInstitutionInput();
                            var popupwindow = $('#newAHInstitutionWindow');
                            popupwindow.data("kendoWindow").close();
                        }
                    });
                }
            },
            addNewAHDegree:function() {
                var self = this;
                self.set("addNewAHDegreeSectionVisible", true);
                var window = $('#newAHDegreeWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Degree ",
                        width: "400px",
                        height: "200px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }

                self.clearNewAHDegreeInput();
            },
            cancelNewAHDegree:function() {
                var window = $('#newAHDegreeWindow');
                window.data("kendoWindow").close();
            },
            saveNewAHDegree:function() {
                var self = this;

                // Validate the Degree Popup field here so it isn't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newAHDegreeWindow").kendoValidator(
                    {
                        rules: {
                            newahdegreename: function (input) {
                                if (input.is("[name=newAHDegreeNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newahdegreename: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {

                    var updateData = {
                        Name: self.newAHDegreeName
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewDegree")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Degree failed!');
                        },
                        success: function (value) {
                            toastr.success('New Degree added!');

                            // Transfer new Degree name to selected Degree field
                            if (self.newAHDegreeName.length != 0) {
                                self.set("selectedAHDegree", self.newAHDegreeName);
                            }

                            self.clearNewAHDegreeInput();
                            var window = $('#newAHDegreeWindow');
                            window.data("kendoWindow").close();

                        }
                    });
                }
            },
            //addNewResidencyInstitution:function() {
            //    var self = this;
            //    self.set("addNewResidencyInstitutionSectionVisible", true);
            //    var window = $('#newResidencyInstitutionWindow');
            //    if (!window.data("kendoWindow")) {
            //        window.kendoWindow({
            //            title: "Add New Institution ",
            //            width: "800px",
            //            height: "400px",
            //            actions: [
            //                "Pin",
            //                "Minimize",
            //                "Maximize",
            //                "Close"
            //            ]
            //        });
            //    }
            //    if (!window.data("kendoWindow").options.visible) {
            //        window.data("kendoWindow").open().center();
            //    } else {
            //        window.data("kendoWindow").center();
            //    }

            //    self.clearNewResidencyInstitutionInput();
            //},
            cancelNewResidencyInstitution:function() {
                var window = $('#newResidencyInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewResidencyInstitution:function() {
                var self = this;

                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newResidencyInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newresinstitutionname: function (input) {
                                if (input.is("[name=newResidencyInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newresinstitutioncity: function (input) {
                                if (input.is("[name=newResidencyInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newresinstitutioncountry: function (input) {
                                if (input.is("[name=newResidencyInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newresinstitutionname: validationMsg,
                            newresinstitutioncity: validationMsg,
                            newresinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {

                    var updateData = {
                        Name: self.newResidencyInstitutionName,
                        City: self.newResidencyInstitutionCityName,
                        StateId: self.newResidencyInstitutionState != null ? self.newResidencyInstitutionState.key : null,
                        CountryId: self.newResidencyInstitutionCountry != null ? self.newResidencyInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Institution failed!');
                        },
                        success: function (value) {
                            toastr.success('New Institution added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newResidencyInstitutionName.length != 0) {
                                self.set("selectedResidencyInstitution", self.newResidencyInstitutionName);
                            }

                            self.clearNewResidencyInstitutionInput();
                            var window = $('#newResidencyInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));

        //window.console && console.log(academicHistoryVm);
        kendo.bind($("#academichistory-view1"), academicHistoryVm);
        $("#academicHistoryGrid").data("kendoGrid").hideColumn(0);
    })
</script>
