﻿@model IEnumerable<Search_VwApplicantDemographics>

<div id="clientsDb">
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ApplicantId).ClientTemplate(@Html.ActionLink("#=ApplicantId#", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Title("ID").Width(20);
            columns.Bound(c => c.ApplicantType).Title("Type").Width(50);
            columns.Bound(c => c.Department).Title("Department").Width(50);
            columns.Bound(c => c.YearEntered).Title("Entering Year").Width(25);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable(scrollable => scrollable.Height(357))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(selectItem => selectItem.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.ApplicantId))
                    .Sort(sort =>
                    {
                        sort.Add(appl => appl.ApplicantId).Descending(); // <-- intial sort expression
                        sort.Add(title => title.ApplicantType).Descending();
                        sort.Add(depart => depart.Department).Descending();
                        sort.Add(yearEntered => yearEntered.YearEntered).Descending();
                    })
                    .Read(read => read.Action(/* action */"Applicants_Read", /* controller */ "Applicant"))
            .PageSize(50)
        )
    )
</div>
<script>
    $(function () {
        // Notice that the Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>

