﻿@using TraineeTrackingSystem.Web.Common
@model ApplicantsGeneralViewModel
<div id="applicant-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />         
    <label class="control-label">Applicant Type*: </label>
    <div class="radio-group">
        <input type="radio" name="DoctoralLevelId" value=1 data-bind="checked: doctoralLevelId" required validationmessage="This field is required" /><label>Pre-doc</label>
        <input type="radio" name="DoctoralLevelId" value=2 data-bind="checked: doctoralLevelId" required validationmessage="This field is required" /><label>Post-doc</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="DoctoralLevelId" validationmessage="This field is required"></span>
        </span>
    </div>

    <label class="control-label osu-standard" for="programMultiSelect">Program(s):</label>
    <select id="programMultiSelect" name="programMultiSelect"
            data-role="multiselect"
            data-placeholder="select program(s)"
            data-value-primitive="true"
            data-text-field="value"
            data-value-field="key"
            data-bind="value: programId,source: programs"></select>
    @*<select id="programMultiSelect" name="programMultiSelect"
            data-role="multiselect"
            data-placeholder="select program(s)"
            data-value-primitive="true"
            data-text-field="value"
            data-value-field="key"
            data-bind="value: selectedPrograms,source: programs"></select>*@

        <label class="control-label">Department:</label>
        <input id="departmentDropDown" data-role="dropdownlist"
               data-option-label="select department"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: departmentId, source: departments">
        <span class="k-invalid-msg" data-for="departmentId"></span>

        <label for="inputDegreeYear">Entering Year:</label>
        <input data-role="numerictextbox" name="EnteringYear" value="yearEntered" data-format="####" data-spinners="false" data-bind="value:yearEntered" placeholder=" YYYY" size="4" maxlength="4" />

        <label class="control-label">Training Grant Eligible*: </label>
        <div class="radio-group">
            <input type="radio" name="IsTrainingGrantEligible" value="true" data-bind="checked: isTrainingGrantEligible" required validationmessage="This field is required" /><label>Yes</label>
            <input type="radio" name="IsTrainingGrantEligible" value="false" data-bind="checked: isTrainingGrantEligible" required validationmessage="This field is required" /><label>No</label>  
            <span class="help-inline">
                <span class="k-invalid-msg" data-for="IsTrainingGrantEligible" validationmessage="This field is required"></span>
            </span>
        </div>

    
        <label class="control-label">Underrepresented minority: </label>
        <div class="radio-group">
            <input type="radio" name="IsUnderrepresentedMinority" value=1 data-bind="checked: isUnderrepresentedMinority" /><label>Yes</label>
            <input type="radio" name="IsUnderrepresentedMinority" value=2 data-bind="checked: isUnderrepresentedMinority" /><label>No</label>
            <input type="radio" name="IsUnderrepresentedMinority" value=0 data-bind="checked: isUnderrepresentedMinority" /><label>Not Declared</label>
        </div>
        <label class="control-label">Individual with disability: </label>
        <div class="radio-group">
            <input type="radio" name="IsIndividualWithDisabilities" value=1 data-bind="checked: isIndividualWithDisabilities" /><label>Yes</label>
            <input type="radio" name="IsIndividualWithDisabilities" value=2 data-bind="checked: isIndividualWithDisabilities" /><label>No</label>
            <input type="radio" name="IsIndividualWithDisabilities" value=0 data-bind="checked: isIndividualWithDisabilities" /><label>Not Declared</label>
        </div>
        <label class="control-label">Individual from disadvantaged background: </label>
        <div class="radio-group">
            <input type="radio" name="IsFromDisadvantagedBkgd" value=1 data-bind="checked: isFromDisadvantagedBkgd" /><label>Yes</label>
            <input type="radio" name="IsFromDisadvantagedBkgd" value=2 data-bind="checked: isFromDisadvantagedBkgd" /><label>No</label>
            <input type="radio" name="IsFromDisadvantagedBkgd" value=0 data-bind="checked: isFromDisadvantagedBkgd" /><label>Not Declared</label>
        </div>
        <div id="updateDiv">
            <button class="add-section" data-bind="click: createApplicant">Save</button>
            <button class="add-section" data-toggle="modal" data-target="#myModal">
                Cancel
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Cancel Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you would like to cancel this operation?
                        </div>
                        <div class="modal-footer">
                            <button class="add-section" data-bind="click: cancelCreateApplicant">Yes</button>
                            <button type="button" class="add-section" data-dismiss="modal">No</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
</div>
<script>
    $(document).ready(function () {
        var applicantVm = kendo.observable($.extend({
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,
            selectedPrograms: null,
            cancelCreateApplicant: function () {
                var self = this;
                window.location = '@Url.Content("~/Applicant/Index/")';
            },
            createApplicant: function () {
                var self = this;
                var validator = $("#applicant-view").kendoValidator().data("kendoValidator");

                if ((self.isTrainingGrantEligible === null)) {
                    validator.validate();
                    //alert("Training Grant Eligible selected is required to create an Applicant!");
                }else{ 
                    var updateData = {                  
                        Id: self.id,
                        PersonId: self.personId,              
                        doctoralLevelId: self.doctoralLevelId,
                        programsCollection: self.programId,
                        //programsCollection: self.selectedPrograms, 
                        /************** these codes fix the foriegn key column, NULL issue ***/                   
                        //departmentId: self.departmentId,
                        departmentId: self.departmentId != null ?
                            self.departmentId : null,

                        yearEntered: self.yearEntered,
                        //yearEntered: self.yearEntered != null?
                        //    self.yearEntered : null,
                        isTrainingGrantEligible: self.isTrainingGrantEligible,
                        isUnderrepresentedMinority: self.isUnderrepresentedMinority,
                        isIndividualWithDisabilities: self.isIndividualWithDisabilities,
                        isFromDisadvantagedBkgd: self.isFromDisadvantagedBkgd
                    };

                    $.ajax({
                        url: '@Url.Content("~/Applicant/CreateNewApplicant")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Applicant could not be created!');
                        },
                        success: function (value) {
                            @*
                                MVN We decided that we are not going to validate the department and program at point in time
                                window.console && console.log(self);
                            //window.console && console.log(self.selectedPrograms);
                            //var prgrm = $.grep(self.programsCollection, function(e){ return e.id == value.id; });
                            //alert
                            if (self.departmentId === 0){
                                toastr.warning('Either program or department must have a value prior to saving');                               
                            }else{
                                toastr.success('Update successful!');
                                window.location ='@Url.Content("~/Applicant/Edit/")' + value;
                            }*@
                            toastr.success('Applicant created!');
                            window.location ='@Url.Content("~/Applicant/Edit/")' + value;
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));
        //window.console && console.log(applicantVm);
        kendo.bind($("#applicant-view"), applicantVm);
    })
</script>

   