﻿@using TraineeTrackingSystem.Web.Common
@model ApplicantsPredDocViewModel

<div id="applicant-pre-doc-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <label class="control-label">Undergraduate GPA: </label>
    <input data-role="numerictextbox"
           value="gpa"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpa"
           style="width:750px;margin-left:auto" size="4" maxlength="4"
           required placeholder="undergraduate GPA" />

    <label class="control-label">Undergraduate GPA Scale: </label>
    <input data-role="text"
           value="gpaScale"
           data-bind="value:gpaScale"
           required placeholder="undergraduate GPA scale" />

    <label class="control-label">Interviewed: </label>
    <div class="radio-group">
        <div class="radio-group">
            <input type="radio" name="wasInterviewed" value="true" data-bind="checked: wasInterviewed" /><label>Yes</label>
            <input type="radio" name="wasInterviewed" value="false" data-bind="checked: wasInterviewed" /><label>No</label>
        </div>
    </div> 

    <label class="control-label">Accepted: </label>
    <div class="radio-group">
        <input type="radio" name="wasAccepted" value="true" data-bind="checked: wasAccepted" /><label>Yes</label>
        <input type="radio" name="wasAccepted" value="false" data-bind="checked: wasAccepted" /><label>No</label>
    </div>
 
    <label class="control-label">Enrolled: </label>
    <div class="radio-group">
        <input type="radio" name="wasEnrolled" value="true" data-bind="checked: wasEnrolled" /><label>Yes</label>
        <input type="radio" name="wasEnrolled" value="false" data-bind="checked: wasEnrolled" /><label>No</label>
    </div>
    
    <div id="updatePred">

        <button class="add-section" data-bind="click: createPredApplicant">Save</button>

        <button class="add-section" type="reset" data-bind="click: cancelPred" style="margin-top:-30px;">Cancel</button>

    </div>

</div>
<script>
    $(document).ready(function () {
        var applicantVm = kendo.observable($.extend({          
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,
           
            createPredApplicant: function(){
                var self = this;   
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,    

                    gpa: self.gpa,
                    gpaScale: self.gpaScale,
                    wasInterviewed: self.wasInterviewed,
                    wasAccepted: self.wasAccepted,
                    wasEnrolled: self.wasEnrolled,            
                };
                $.ajax({
                    url: '@Url.Content("~/Applicant/UpdateApplicantPredoc")',       
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Info - Update failed!');
                    },
                    success: function (value) {
                        window.console && console.log(self);
                        window.console && console.log(value);
                        toastr.success('Info - Update succeeded!');

                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            }

        },@(Html.ToJson(Model))));

        window.console && console.log(applicantVm);
        kendo.bind($("#applicant-pre-doc-view"), applicantVm);
    })
</script>
