﻿@using TraineeTrackingSystem.Web.Common
@model ApplicantGeneralViewModel

<div id="applicant-info-view">   
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <label class="control-label">Applicant Type*: </label>
    <div class="radio-group">        
        <label><input type="radio" name="DoctoralLevelId" value=1 data-bind="checked: doctoralLevelId" />Pre-doc</label>
        <label><input type="radio" name="DoctoralLevelId" value=2 data-bind="checked: doctoralLevelId" />Post-doc</label>
    </div>

    <label class="control-label osu-standard" for="programMultiSelect">Program(s):</label>
    <select id="programMultiSelect"
            data-role="multiselect"
            data-placeholder="select program(s)"
            data-value-primitive="true"
            data-text-field="value"
            data-value-field="key"
            data-bind="value: selectedPrograms,source: programs"></select>

    <label class="control-label">Department:</label>
    <input id="departmentDropDown" data-role="dropdownlist"
           data-option-label="select department"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: departmentId, source: departments">
    <span class="k-invalid-msg" data-for="departmentId"></span>
       
    <label for="inputDegreeYear">Entering Year:</label>
    <input data-role="numerictextbox" name="EnteringYear" value="yearEntered" data-format="####" data-spinners="false" id="inputDegreeYear" data-bind="value:yearEntered" required placeholder=" YYYY" size="4" maxlength="4" />
    

    <label class="control-label">Training Grant Eligible*: </label>
    <div class="radio-group">
        <input type="radio" name="IsTrainingGrantEligible" value="true" data-bind="checked: isTrainingGrantEligible" /><label>Yes</label>
        <input type="radio" name="IsTrainingGrantEligible" value="false" data-bind="checked: isTrainingGrantEligible" /><label>No</label>
    </div>

    <label class="control-label">Underrepresented minority: </label>
    <div class="radio-group">
        <input type="radio" name="IsUnderrepresentedMinority" value=1 data-bind="checked: isUnderrepresentedMinority" /><label>Yes</label>
        <input type="radio" name="IsUnderrepresentedMinority" value=2 data-bind="checked: isUnderrepresentedMinority" /><label>No</label>
        <input type="radio" name="IsUnderrepresentedMinority" value=0 data-bind="checked: isUnderrepresentedMinority" /><label>Not Declared</label>
    </div>

    <label class="control-label">Individual with disability: </label>
    <div class="radio-group">
        <input type="radio" name="IsIndividualWithDisabilities" value=1 data-bind="checked: isIndividualWithDisabilities" /><label>Yes</label>
        <input type="radio" name="IsIndividualWithDisabilities" value=2 data-bind="checked: isIndividualWithDisabilities" /><label>No</label>
        <input type="radio" name="IsIndividualWithDisabilities" value=0 data-bind="checked: isIndividualWithDisabilities" /><label>Not Declared</label>
    </div>

    <label class="control-label">Individual from disadvantaged background: </label>
    <div class="radio-group">
        <input type="radio" name="IsFromDisadvantagedBkgd" value=1 data-bind="checked: isFromDisadvantagedBkgd" /><label>Yes</label>
        <input type="radio" name="IsFromDisadvantagedBkgd" value=2 data-bind="checked: isFromDisadvantagedBkgd" /><label>No</label>
        <input type="radio" name="IsFromDisadvantagedBkgd" value=0 data-bind="checked: isFromDisadvantagedBkgd" /><label>Not Declared</label>
    </div>

    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: updateApplicant" /> </span>
    </div>
</div>


<script>
    $(document).ready(function () {

        var applicantVm =kendo.observable($.extend({
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,
           
            updateApplicant : function() {
                var self = this;
                var updateData ={
                    PersonId: self.personId,
                    Id: self.id,
                    doctoralLevelId: self.doctoralLevelId,
                    //departmentId: self.departmentId,
                    departmentId: self.departmentId != null?
                        self.departmentId : null,
                    programsCollection: self.selectedPrograms,
                    yearEntered: self.yearEntered,
                    //yearEntered: self.yearEntered != null?
                    //    self.yearEntered : null,
                    isTrainingGrantEligible: self.isTrainingGrantEligible,
                    isUnderrepresentedMinority: self.isUnderrepresentedMinority,
                    isIndividualWithDisabilities: self.isIndividualWithDisabilities,
                    isFromDisadvantagedBkgd: self.isFromDisadvantagedBkgd
                };
                //window.console && console.log("tracking down Id in this object: "+updateData);
                $.ajax({
                    url: '@Url.Content("~/Applicant/UpdateApplicant")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        toastr.error('Info - Update failed!');
                    },
                    success: function (value) {
                        //window.console && console.log(self);
                        //window.console && console.log(value);
                        toastr.success('Update successful! Refreshing page...');
                        location.reload();
                        //toastr.success('Info - Update succeeded!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            }
        },@(Html.ToJson(Model))));
        //window.console && console.log(applicantVm);
        kendo.bind($("#applicant-info-view"), applicantVm);
    })
</script>
