﻿@using TraineeTrackingSystem.Web.Common
@model AppPreDocViewModel
<div id="applicant-pre-doc-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <label class="control-label">Undergraduate GPA: </label>
    <input data-role="numerictextbox"
           value="gpa"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpa"
           placeholder="undergraduate GPA" />

    <label class="control-label">Undergraduate GPA Scale: </label>
    <input data-role="numerictextbox"
           value="gpaScale"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpaScale"
           placeholder="undergraduate GPA scale" />

    <label class="control-label osu-standard">Add Test Scores:</label>
            <div id="addGREButton">
                <button data-role="button"
                        data-bind="events:{click: addGRETestScores}, visible:hideGRETestScoresButton">
                    Add GRE Scores
                </button>
            </div> 
            <div class="expand" id="greSection" data-bind="visible:addGRESectionVisible">

                <h2>GRE Information</h2>
                <label class="row-heading-1">Score</label>
                <label class="row-heading-2">Percentile</label>
                <label>GRE Verbal:</label>
                <input class="two-column-option" 
                       data-role="text"
                       value="greScoreVerbal"
                       data-bind="value:greScoreVerbal"
                       placeholder="000.00" />
                <input class="two-column-option" 
                       data-role="text"
                       value="grePercentileVerbal"
                       data-bind="value:grePercentileVerbal"
                       placeholder="000.00" />

                <label>GRE Quantitative:</label>
                <input class="two-column-option" 
                       data-role="text"
                       value="greScoreQuantitative"
                       data-bind="value:greScoreQuantitative"
                       required placeholder="000.00" />
                <input class="two-column-option" 
                       data-role="text"
                       value="grePercentileQuantitative"
                       data-bind="value:grePercentileQuantitative"
                       placeholder="000.00" />

                <label>GRE Analytical:</label>
                <input class="two-column-option" 
                       data-role="text"
                       value="greScoreAnalytical"
                       data-bind="value:greScoreAnalytical"
                       placeholder="000.00" />
                <input class="two-column-option" 
                       data-role="text"
                       value="grePercentileAnalytical"
                       data-bind="value:grePercentileAnalytical"
                       placeholder="000.00" />

                <label>GRE Subject:</label>
                <input class="two-column-option" 
                       data-role="text"
                       value="greScoreSubject"
                       data-bind="value:greScoreSubject"
                       placeholder="000.00" />
                <input class="two-column-option" 
                       data-role="text"
                       value="grePercentileSubject"
                       data-bind="value:grePercentileSubject"
                       placeholder="000.00" />

                <div>
                    <button class="add-section save" data-bind="click: saveGREtestScores">Save GRE Scores</button>
                    <button class="add-section cancel" data-bind="click: cancelGRE"> Cancel</button>
                </div>
               

            </div>

            <div id="addMCATButton">
                <button data-role="button"
                        data-bind="events:{click: addMCATTestScores}, visible:hideMCATTestScoresButton ">
                    Add MCAT Scores
                </button>
            </div> 
            <div class="expand" id="mcatSection" data-bind="visible:addMCATSectionVisible">
                <h2>MCAT Information</h2>
                <label>MCAT Verbal Reasoning:</label>
                <input data-role="text"
                       value="mcatScoreVerbalReasoning"
                       data-bind="value:mcatScoreVerbalReasoning"
                       placeholder="000.00" />

                <label>MCAT Physical Sciences:</label>
                <input data-role="text"
                       value="mcatScorePhysicalSciences"
                       data-bind="value:mcatScorePhysicalSciences"
                       placeholder="000.00" />

                <label>MCAT Biologic Sciences:</label>
                <input data-role="text"
                       value="mcatScoreBiologicalSciences"
                       data-bind="value:mcatScoreBiologicalSciences"
                       placeholder="000.00" />

                <label>MCAT Writing Sample:</label>
                <input data-role="text"
                       value="mcatScoreWriting"
                       data-bind="value:mcatScoreWriting"
                       placeholder="000.00" />

                <label>MCAT Percentile:</label>
                <input data-role="text"
                       value="mcatPercentile"
                       data-bind="value:mcatPercentile"
                       placeholder="000.00" />

                <div>
                    <button data-bind="click: saveMCATtestScores" class="add-section">Save MCAT Scores</button>
                    <button class="add-section cancel" data-bind="click: cancelMCAT"> Cancel</button>
                </div>
               
            </div>

    <label class="control-label">Interviewed*: </label>
    <div class="radio-group">
        <input type="radio" name="wasInterviewed" value="true" data-bind="checked: wasInterviewed" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="wasInterviewed" value="false" data-bind="checked: wasInterviewed" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="wasInterviewed" validationmessage="This field is required"></span>
        </span>
    </div>

    <label class="control-label">Accepted*: </label>
    <div class="radio-group">
        <input type="radio" name="wasAccepted" value="true" data-bind="checked: wasAccepted" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="wasAccepted" value="false" data-bind="checked: wasAccepted" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="wasAccepted" validationmessage="This field is required"></span>
        </span>
    </div>

    <label class="control-label">Enrolled*: </label>
    <div class="radio-group">
        <input type="radio" name="wasEnrolled" value="true" data-bind="checked: wasEnrolled" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="wasEnrolled" value="false" data-bind="checked: wasEnrolled" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="wasEnrolled" validationmessage="This field is required"></span>
        </span>
    </div>

    <div id="updatePred">
        <button class="add-section" data-bind="click: updatePreDocApplicant">Save Section</button>
    </div>

</div>
<script>
    $(document).ready(function () {
        var applicantVm = kendo.observable($.extend({          
            addAcademicHistorySectionVisible: false,            
            addGRESectionVisible: false,
            hideGRETestScoresButton: true,
            addMCATSectionVisible: false,
            hideMCATTestScoresButton: true,
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,

            updatePreDocApplicant: function(){
                var self = this;
                var validator = $("#applicant-pre-doc-view").kendoValidator().data("kendoValidator");
                if ((self.wasInterviewed === null || self.wasAccepted === null || self.wasEnrolled === null)) {
                    validator.validate();
                    //alert("Training Grant Eligible selected is required to create an Applicant!");
                }else{
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,

                        Gpa: self.gpa,
                        GpaScale: self.gpaScale,
                        WasInterviewed: self.wasInterviewed,
                        WasAccepted: self.wasAccepted,
                        WasEnrolled: self.wasEnrolled
                    };
                    $.ajax({
                        url: '@Url.Content("~/Applicant/UpdateApplicantPredoc")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Info - Update failed!');
                        },
                        success: function (value) {
                            //window.console && console.log(self);
                            //window.console && console.log(value);
                            toastr.success('Info – Update succeeded!');
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            addGRETestScores: function(){
                var self = this;
                self.set("addGRESectionVisible", true);
                self.set("hideGRETestScoresButton", false);
                self.clearInput();
            },
            saveGREtestScores: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,                    
                    GreScoreVerbal: self.greScoreVerbal,
                    GrePercentileVerbal: self.grePercentileVerbal,
                    GreScoreQuantitative: self.greScoreQuantitative,
                    GrePercentileQuantitative: self.grePercentileQuantitative,
                    GreScoreAnalytical: self.greScoreAnalytical,
                    GrePercentileAnalytical: self.grePercentileAnalytical,
                    GreScoreSubject: self.greScoreSubject,
                    GrePercentileSubject: self.grePercentileSubject,                 
                };
                $.ajax({
                    url: '@Url.Content("~/Applicant/SaveGREScores")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Save GRE Scores failed!');
                    },
                    success: function (value) {
                        //window.console && console.log(self);
                        //window.console && console.log(value);
                        toastr.success('Save GRE Scores succeeded!');

                        self.set("hideGRETestScoresButton", true);
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
           
           
            addMCATTestScores: function(){
                var self = this;
                self.set("addMCATSectionVisible", true);
                self.set("hideMCATTestScoresButton", false);
                self.clearInput();
            },

            saveMCATtestScores: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,                    
                    McatScoreVerbalReasoning: self.mcatScoreVerbalReasoning,
                    McatScorePhysicalSciences: self.mcatScorePhysicalSciences,
                    McatScoreBiologicalSciences: self.mcatScoreBiologicalSciences,
                    McatScoreWriting: self.mcatScoreWriting,                    
                    McatPercentile: self.mcatPercentile                  
                };
                $.ajax({
                    url: '@Url.Content("~/Applicant/SaveMCATScores")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Save MCAT Scores failed!');
                    },
                    success: function (value) {
                        window.console && console.log(self);
                        window.console && console.log(value);
                        toastr.success('Save MCAT Scores succeeded!');

                        self.set("hideMCATTestScoresButton", true);
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
            cancelMCAT: function(){
                var self = this;
                self.set("addMCATSectionVisible", false);

                self.set("hideMCATTestScoresButton", true);
            },      
            cancelGRE: function(){
                var self = this;
                self.set("addGRESectionVisible", false);

                self.set("hideGRETestScoresButton", true);
            },   
        },@(Html.ToJson(Model))));

        //window.console && console.log(applicantVm);
        kendo.bind($("#applicant-pre-doc-view"), applicantVm);
    })
</script>
