﻿@using TraineeTrackingSystem.Web.Common
@model AppPostDocViewModel
<div id="applicant-post-doc-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
   
    <label class="control-label">Offered Position*: </label>
    <div class="radio-group">
        <input type="radio" name="wasOfferedPosition" value="true" data-bind="checked: wasOfferedPosition" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="wasOfferedPosition" value="false" data-bind="checked: wasOfferedPosition" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="wasOfferedPosition" validationmessage="This field is required"></span>
        </span>
    </div>

    <label class="control-label">Accepted*: </label>
    <div class="radio-group">
        <input type="radio" name="acceptedOffer" value="true" data-bind="checked: acceptedOffer" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="acceptedOffer" value="false" data-bind="checked: acceptedOffer" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="acceptedOffer" validationmessage="This field is required"></span>
        </span>
    </div>

    <label class="control-label">Entered Programs*: </label>
    <div class="radio-group">
        <input type="radio" name="enteredProgram" value="true" data-bind="checked: enteredProgram" required validationmessage="This field is required" /><label>Yes</label>
        <input type="radio" name="enteredProgram" value="false" data-bind="checked: enteredProgram" required validationmessage="This field is required" /><label>No</label>
        <span class="help-inline">
            <span class="k-invalid-msg" data-for="enteredProgram" validationmessage="This field is required"></span>
        </span>
    </div>

    <div id="updatePred">
        <button class="add-section" data-bind="click: updatePostDocApplicant">Save Section</button>
    </div>

</div>
<script>
    $(document).ready(function () {
       
        var applicantVm = kendo.observable($.extend({
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,

            updatePostDocApplicant: function(){
                var self = this;
                var validator = $("#applicant-post-doc-view").kendoValidator().data("kendoValidator");
                if ((self.wasOfferedPosition === null || self.acceptedOffer === null || self.enteredProgram === null)) {
                    validator.validate();
                }else{
                    var updateData = {
                        PersonId: self.personId,
                        Id: self.selectedId,
                   
                        WasOfferedPosition: self.wasOfferedPosition,
                        AcceptedOffer: self.acceptedOffer,
                        EnteredProgram: self.enteredProgram

                    };
                    $.ajax({
                        url: '@Url.Content("~/Applicant/UpdateApplicantPostdoc")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Info - Update failed!');
                        },
                        success: function (value) {
                            //window.console && console.log(self);
                            //window.console && console.log(value);
                            toastr.success('Info - Update succeeded!');

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));

        //window.console && console.log(applicantVm);
        kendo.bind($("#applicant-post-doc-view"), applicantVm);
    })
</script>
