﻿@*NO LONGER NEEDED, as PersonId has to be generated during the inital Applicant information form collection,
    where the personId and applicantId, are created in the all the database tables: Applicant, GradeRecord, OSUTimeLine etc..*@
@*@using TraineeTrackingSystem.Web.Common
@model AppSPreDocViewModel

<div id="createapplicantPreDoc-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <br />
    <label class="control-label">Undergraduate GPA: </label>
    <input data-role="numerictextbox"
           value="gpa"
           data-decimals="2"
           data-format="n2"
           data-step="0.01"
           data-spinners="false"
           data-bind="value:gpa"
           style="width:750px;margin-left:auto" size="4" maxlength="4"
           required placeholder="Undergraduate GPA" />
    <br />
    <br />

    <label class="control-label">Undergraduate GPA Scale: </label>
    <input data-role="text"
           value="gpaScale"
           data-bind="value:gpaScale"
           required placeholder="Undergraduate GPA Scale" />
    <br />
    <br />
   
    <label class="control-label">Interviewed: </label>
    <div class="radio-group">
        <div data-bind="source:interviewItems" data-template="WasInterviewed"></div>
        <script id="WasInterviewed" type="text/x-kendo-template">
            <div>
                <input type="radio" name="WasInterviewed" data-bind="attr:{value:value}, checked:WasInterviewed" />
                <label data-bind="text:caption"></label>
            </div>
        </script>

    </div>
    <br />
    <br />
   
    <label class="control-label">Accepted: </label>
    <div class="radio-group">
        <div data-bind="source:acceptedItems" data-template="AcceptedOffer"></div>
        <script id="AcceptedOffer" type="text/x-kendo-template">
            <div>
                <input type="radio" name="AcceptedOffer" data-bind="attr:{value:value}, checked:AcceptedOffer" />
                <label data-bind="text:caption"></label>
            </div>
        </script>

    </div>
    <br />
   
    <label class="control-label">Enrolled: </label>
    <div class="radio-group">
        <div data-bind="source:enrolledItems" data-template="WasEnrolled"></div>
        <script id="WasEnrolled" type="text/x-kendo-template">
            <div>
                <input type="radio" name="WasEnrolled" data-bind="attr:{value:value}, checked:WasEnrolled" />
                <label data-bind="text:caption"></label>
            </div>
        </script>

    </div>
    <br />
    <div id="updatePred">
        <button class="add-section" data-bind="click: createPredApplicant">Save</button>
        <button class="add-section" type="reset" data-bind="click: cancelPred" style="margin-top:-30px;">Cancel</button>

    </div>
    <br />
    <br />
</div>
<script>
    $(document).ready(function () {
        var applicantVm = kendo.observable($.extend({
            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,

            WasInterviewed: "false",
            name: "WasInterviewed",
            interviewItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            AcceptedOffer: "false",
            name: "AcceptedOffer",
            acceptedItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            WasEnrolled: "false",
            name: "WasEnrolled",
            enrolledItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            createPredApplicant: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,

                    gpa: self.gpa,
                    gpaScale: self.gpaScale,
                    WasInterviewed: self.WasInterviewed,
                    AcceptedOffer: self.AcceptedOffer,
                    WasEnrolled: self.WasEnrolled,
                };
                $.ajax({
                    url: '@Url.Content("~/Applicant/CreateNewPredoc")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Save failed!');
                    },
                    success: function (value) {
                        window.console && console.log(self);
                        window.console && console.log(value);
                        toastr.success('Save succeed!');
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            }

        },@(Html.ToJson(Model))));

        window.console && console.log(applicantVm);
        kendo.bind($("#createapplicantPreDoc-view"), applicantVm);
    })
</script>*@

