﻿@*@using TraineeTrackingSystem.Web.Common
@model ApplicantsOSUTimeLineViewModel
<div id="applicant-OSUTimeLine-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <br />
    <label class="control-label">Interviewed: </label>
    <div class="radio-group">
        <div data-bind="source:interviewedItems" data-template="wasInterviewed"></div>
        <script id="wasInterviewed" type="text/x-kendo-template">
            <div>
                <input type="radio" name="wasInterviewed" data-bind="attr:{value:value}, checked:wasInterviewed" />
                <label data-bind="text:caption"></label>
            </div>
        </script>
    </div>

    <br />
    <br />
    <label class="control-label">Accepted: </label>
    <div class="radio-group">
        <div data-bind="source:offerItems" data-template="acceptedOffer"></div>
        <script id="acceptedOffer" type="text/x-kendo-template">
            <div>
                <input type="radio" name="acceptedOffer" data-bind="attr:{value:value}, checked:acceptedOffer" />
                <label data-bind="text:caption"></label>
            </div>
        </script>
    </div>
    <br />
    <br />
    <label class="control-label">Enrolled: </label>
    <div class="radio-group">
        <div data-bind="source:enrolledItems" data-template="wasEnrolled"></div>
        <script id="wasEnrolled" type="text/x-kendo-template">
            <div>
                <input type="radio" name="wasEnrolled" data-bind="attr:{value:value}, checked:wasEnrolled" />
                <label data-bind="text:caption"></label>
            </div>
        </script>
    </div>
    
    <div id="updatePred">
        <button class="add-section" data-bind="click: createOSUTimeLine">Save</button>
        <button class="add-section" type="reset" data-bind="click: cancelPred" style="margin-top:-30px;">Cancel</button>

    </div>
    <br />
    <br />
</div>
<script>
    $(document).ready(function () {
        var applicantVm = kendo.observable($.extend({

            updated: false,
            PersonId: self.personId,
            Id: self.selectedId,

            
            wasInterviewed: "",
            name: "wasInterviewed",
            interviewedItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            acceptedOffer: "",
            name: "acceptedOffer",
            offerItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            wasEnrolled: "",
            name: "wasEnrolled",
            enrolledItems: [
                { caption: "Yes", value: "true" },
                { caption: "No", value: "false" },
            ],
            
            createOSUTimeLine: function(){
                var self = this;
                var updateData = {
                    PersonId: self.personId,
                    Id: self.selectedId,
                  
                    wasInterviewed: self.wasInterviewed,
                    acceptedOffer: self.acceptedOffer,
                    wasEnrolled: self.wasEnrolled,
                };
                $.ajax({
                    url: '@Url.Content("~/Applicant/CreateApplicantOsuTimeLine")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",
                    error: function () {
                        toastr.error('Update failed!');
                    },
                    success: function (value) {
                        window.console && console.log(self);
                        window.console && console.log(value);
                        toastr.success('Update succeed!');


                        self.set("addDegreeSectionVisible", false);
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            }

        },@(Html.ToJson(Model))));

        window.console && console.log(applicantVm);
        kendo.bind($("#applicant-OSUTimeLine-view"), applicantVm);
    })
</script>*@
