﻿@using TraineeTrackingSystem.Web.Common;
@model EditApplicantViewModel

@{
    ViewBag.Title = "Create Applicant";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Applicant Form</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        <h1 class="section-title">Applicant Information</h1>
        <fieldset name="applicantGeneralInfo" id="applicantGeneralInfo" class="two-column-fields">
            @{Html.RenderPartial("_ApplicantInformation", Model.ApplicantInformations);}
        </fieldset>    
    </article>
</div>

