﻿@model EditApplicantViewModel
@{
    ViewBag.Title = "Edit Applicant";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Applicant Form</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">Applicant Information</h1>
        <div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
            <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.ApplicantGeneralViewModel.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.ApplicantGeneralViewModel.StrLastUpdatedBy)) </p>
        </div>
            <fieldset name="applicantInfo" id="applicantInfo" class="two-column-fields">
                @{Html.RenderPartial("_AutoPopulateApplicantInfo", Model.ApplicantGeneralViewModel);}
            </fieldset>
            <h1 class="section-title">Pre-doc Applicant Information</h1>
            <fieldset name="pre-docApplicantInfo" id="docApplicantInfo" class="two-column-fields">
                @{Html.RenderPartial("_AutoPopulateApplicantPreDocInfo", Model.AppPreViewModel);}
            </fieldset>
            <h1 class="section-title">Post-doc/Professional Applicant Information</h1>
            <fieldset name="pre-docApplicantInfo" id="docApplicantInfo" class="two-column-fields">
                @{Html.RenderPartial("_AutoPopulateApplicantPostDocInfo", Model.AppPostDocViewModel);}
            </fieldset>
            <h1 class="section-title">Academic History</h1>
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.AcademicHistoryInformations.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.AcademicHistoryInformations.LastUpdatedBy)) </p>*@
            <fieldset name="AcademicHistory" id="AcademicHistory" class="two-column-fields">
                @{Html.RenderPartial("_AcademicHistory", Model.AcademicHistoryInformations);}
            </fieldset>

            <button class="submit done" data-toggle="modal" data-target="#myModal">
                Done
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            This action will take you to the menu, and unsaved changes will be lost.
                        </div>
                        <div class="modal-footer">
                            <button class="add-section" onclick="window.location = '@Url.Content("~/Applicant/Index/")'">OK</button>
                            <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
</article>
</div>
