﻿@model IEnumerable<Search_VwApplicantDemographics>
@using TraineeTrackingSystem.Web.Models;
@{
    ViewBag.Title = "Applicant Index";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Applicant</h1>
    </div>
</div>
<div class="content form">
    <article class="content">
        @if (SecurityControl.IsReaderUser(this.User)){
            <div class="section-admin">
                @using (Html.BeginForm("Create", "Applicant"))
                {
                    <button type="submit" class="add-item program">+ Add Applicant</button>
                }
            </div>
            <div class="wide-grid">
                <div id="clientsDb">
                    @{Html.RenderPartial("_ApplicantLandingPage", Model);}
                </div>
            </div>
        }
    </article>
</div>