﻿@using TraineeTrackingSystem.Web.Common
@model TraineesSummaryInformationViewModel


<div id="traineePreDocSummaryInfo-view" data-role="validator" novalidate="novalidate">
    <input id="traineeSummaryInfoId" type="hidden" data-bind="value: selectedId" />


    <h2 class="section-title">Pre-doc Summary</h2>
    <div id="traineePreDocSummaryInfoGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable="false"
         data-columns="[
                { 'field': 'traineeSummaryId','width':'240px'},
                { 'field': 'trainingGrantId','width':'240px'},
                {title:'Start Date','field': 'dateStartedText', 'width': '125px' },
                {title:'End Date','field': 'dateEndedText', 'width': '125px' },
                {title:'#Positions Awarded', 'field':'positionsAwarded'},
                {title:'#Trainees Appointed', 'field':'traineesAppointed'},
                {title:'#URM Traunees Appointed', 'field':'urmTraineesAppointed'},
                {title:'#Trainees with Disabilities Appointed', 'field':'disabilitiesTraineesAppointed'},
                {title:'#Trainees from Disadvantaged Background', 'field':'disadvantagedTraineesAppointed'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' }
         ]"
         data-bind="source: traineeSummaryInformationGridView,
            events:{
                change: onSelectPredDocSummary
            }">
    </div>

    <div id="addPreDocTraineeSummaryButton" data-bind="visible:addPreDocSummaryButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addTraineePreDocSummary }">
            Add Pre-doc Trainee Summary Information
        </button>
    </div>

    <!--EXPANDABLE SECTION -- CURRENT SUPPORT -->
    <div class="expand" id="editAddTraineePreDocSummarySection" data-bind="visible:addTraineePreDocSummarySectionVisible">
        <label class="control-label" for="startDate">Start Date:</label>
        <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date"
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDate' class='k-invalid-msg'></span>

        <label class="control-label" for="endDate">End Date:</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startDate" data-greaterdate-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>
        
        @*Grid item*@
        <label class="control-label osu-standard">Number of Pre-doc Positions Awarded Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc positions awarded per year" data-bind="value:positionsAwarded" />
       
        <label class="control-label osu-standard">Number of Months of Support per Pre-doc Position Awarded:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc position awarded" data-bind="value:supportMonthsAwarded" />
        <br />

        @*Grid item*@
        <label class="control-label osu-standard">Number of Pre-doc Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees appointed per year" data-bind="value:traineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support used by Pre-doc Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support used by Pre-doc trainees appointed per year" data-bind="value:supportMonthsUsed" />
        <br />

        <label class="control-label osu-standard">Number of Pre-doc URM Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc URM trainees appointed per year" data-bind="value:urmTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Pre-doc URM Trainee:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc URM trainee" data-bind="value:urmSupportMonthsUsed" />
        <br />

        @*Grid item*@
        <label class="control-label osu-standard">Number of Pre-doc Trainees with Disabilities Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees with disabilities appointed per year" data-bind="value:disabilitiesTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Pre-doc Trainee with Disabilities:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc trainee with disabilities" data-bind="value:disabilitiesSupportMonthsUsed" />
        <br />

        @*Grid item*@
        <label class="control-label osu-standard">Number of Pre-doc Trainees from Disadvantaged Background Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees from disadvantaged background appointed per year" data-bind="value:disadvantagedTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Pre-doc Trainee from Disadvantaged Background:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months support per Pre-doc trainee from disadvantaged background" data-bind="value:disadvantagedSupportMonthsUsed" />
        <br />


        <button class="add-section save" data-bind="click: saveTraineePreDocSummary">Save</button>
        <button class="add-section cancel" data-bind="click: cancelTraineePreDocSummary">Cancel</button>

    </div>
</div>


<script>
    $(document).ready(function () {
        // THIS -> validated the date fields to make sure that End Date should be after Start Date
        //$(function () {
        //    var container = $("#traineePreDocSummaryInfo-view");
        //    kendo.init(container);
        //    container.kendoValidator({
        //        rules: {
        //            greaterdate: function (input) {
        //                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
        //                    var date = input.data("kendoDatePicker").value(),
        //                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
        //                        //window.console && console.log("Field: EndDate");
        //                        //window.console && console.log(date);
        //                        //window.console && console.log(otherDate);
        //                    return otherDate == null || otherDate.getTime() < date.getTime();
        //                }

        //                return true;
        //            },
        //            //lessdate: function (input) {
        //            //    if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
        //            //        var date = input.data("kendoDatePicker").value(),
        //            //            otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
        //            //            //window.console && console.log("Field: Start Date");
        //            //            //window.console && console.log(date);
        //            //            //window.console && console.log(otherDate);
        //            //        return otherDate == null || otherDate.getTime() > date.getTime();
        //            //    }

        //            //    return true;
        //            //}
        //        }
        //    });
        //});

       
        var traineePreDocSummaryInfoVm = kendo.observable($.extend({

            addPreDocSummaryButtonVisible: true,
            addTraineePreDocSummarySectionVisible: false,
            updated  : false,

            clearPreDocSummaryFieldsInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedDateStarted", "");
                self.set("selectedDateEnded", "");
               
                self.set("positionsAwarded", "");       
                self.set("traineesAppointed", "");              
                self.set("urmTraineesAppointed", ""); 
                self.set("disabilitiesTraineesAppointed", "");   
                self.set("disadvantagedTraineesAppointed", "");  


                self.set("supportMonthsAwarded", "");
                self.set("supportMonthsUsed", "");                           
                self.set("urmSupportMonthsUsed", "");                            
                self.set("disabilitiesSupportMonthsUsed", "");                                 
                self.set("disadvantagedSupportMonthsUsed", "");
            },

            onSelectPredDocSummary : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#traineePreDocSummaryInfoGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);

                if (selected !== null) {
                    self.set("selectedId", selected.traineeSummaryId);
                    self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                    self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);

                    self.set("positionsAwarded", (selected.positionsAwarded != null) ? selected.positionsAwarded : null);
                    self.set("traineesAppointed", (selected.traineesAppointed != null)? selected.traineesAppointed: null);
                    self.set("urmTraineesAppointed", (selected.urmTraineesAppointed != null) ? selected.urmTraineesAppointed: null);
                    self.set("disabilitiesTraineesAppointed", (selected.disabilitiesTraineesAppointed != null) ? selected.disabilitiesTraineesAppointed: null);
                    self.set("disadvantagedTraineesAppointed", (selected.disadvantagedTraineesAppointed != null) ? selected.disadvantagedTraineesAppointed: null);

                    self.set("supportMonthsAwarded", (selected.supportMonthsAwarded != null) ? selected.supportMonthsAwarded: null);
                    self.set("supportMonthsUsed", (selected.supportMonthsUsed != null) ? selected.supportMonthsUsed: null);                    
                    self.set("urmSupportMonthsUsed", (selected.urmSupportMonthsUsed != null) ? selected.urmSupportMonthsUsed: null);                    
                    self.set("disabilitiesSupportMonthsUsed", (selected.disabilitiesSupportMonthsUsed != null) ? selected.disabilitiesSupportMonthsUsed: null);                   
                    self.set("disadvantagedSupportMonthsUsed", (selected.disadvantagedSupportMonthsUsed != null) ? selected.disadvantagedSupportMonthsUsed: null);
                }
                self.set("addTraineePreDocSummarySectionVisible", true);
                self.set("addPreDocSummaryButtonVisible", false);

            },

            addTraineePreDocSummary:function() {
                var self = this;
                self.set("addTraineePreDocSummarySectionVisible", true);
                self.set("addPreDocSummaryButtonVisible", false);

                var kendoGrid = $("#traineePreDocSummaryInfoGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearPreDocSummaryFieldsInput();
            },
            cancelTraineePreDocSummary:function() {
                var self = this;
                self.set("addTraineePreDocSummarySectionVisible", false);
                self.set("addPreDocSummaryButtonVisible", true);
            },
            saveTraineePreDocSummary: function() {
                var self = this;

                //var validator = $("#editAddTraineePreDocSummarySection").kendoValidator().data("kendoValidator");                
                var validator = $("#editAddTraineePreDocSummarySection").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                        }

                    }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        traineeSummaryId: self.selectedId,
                        trainingGrantId: this.trainingGrantId,
                        
                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,

                        positionsAwarded: self.positionsAwarded,
                        supportMonthsAwarded: self.supportMonthsAwarded,
                        supportMonthsUsed: self.supportMonthsUsed,           
                        traineesAppointed: self.traineesAppointed,
                        urmTraineesAppointed:self.urmTraineesAppointed,
                        urmSupportMonthsUsed:self.urmSupportMonthsUsed,                    
                        disabilitiesTraineesAppointed: self.disabilitiesTraineesAppointed,
                        disabilitiesSupportMonthsUsed: self.disabilitiesSupportMonthsUsed,
                        disadvantagedTraineesAppointed: self.disadvantagedTraineesAppointed,
                        disadvantagedSupportMonthsUsed: self.disadvantagedSupportMonthsUsed,
                        //MVN added 9/18/2015
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SaveUpdateTraineeSummaryInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {

                            var traineeSummary = $.grep(self.traineeSummaryInformationGridView, function(e){ return e.traineeSummaryId == value.traineeSummaryId; });
                            if (traineeSummary.length === 0) {
                                self.traineeSummaryInformationGridView.push(kendo.observable(value));

                                toastr.success('Trainee Pre-doc summary added!');
                            } else {
                                var kendoGrid = $("#traineePreDocSummaryInfoGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("dateStarted", value.dateStarted);
                                selectedDataRow.set("dateStartedText", value.dateStartedText);
                                selectedDataRow.set("dateEnded", value.dateEnded);
                                selectedDataRow.set("dateEndedText", value.dateEndedText);

                                selectedDataRow.set("positionsAwarded", value.positionsAwarded);       
                                selectedDataRow.set("traineesAppointed", value.traineesAppointed);
                                selectedDataRow.set("urmTraineesAppointed", value.urmTraineesAppointed); 
                                selectedDataRow.set("disabilitiesTraineesAppointed", value.disabilitiesTraineesAppointed);   
                                selectedDataRow.set("disadvantagedTraineesAppointed", value.disadvantagedTraineesAppointed);  

                                selectedDataRow.set("supportMonthsAwarded", self.supportMonthsAwarded);
                                selectedDataRow.set("supportMonthsUsed", self.supportMonthsUsed);                           
                                selectedDataRow.set("urmSupportMonthsUsed", self.urmSupportMonthsUsed);                            
                                selectedDataRow.set("disabilitiesSupportMonthsUsed", self.disabilitiesSupportMonthsUsed);                                 
                                selectedDataRow.set("disadvantagedSupportMonthsUsed", self.disadvantagedSupportMonthsUsed);

                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);

                                toastr.success('Trainee Pre-doc summary updated!');
                            }
                            self.set("addTraineePreDocSummarySectionVisible", false);
                            self.set("addPreDocSummaryButtonVisible", true);
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                };
            },
        },@(Html.ToJson(Model))));
        kendo.bind($("#traineePreDocSummaryInfo-view"), traineePreDocSummaryInfoVm);
        $("#traineePreDocSummaryInfoGrid").data("kendoGrid").hideColumn(0);
        $("#traineePreDocSummaryInfoGrid").data("kendoGrid").hideColumn(1);
    })
</script>


@*<div id="editTraineePredocInfo-view">
        <input id="researchId" type="hidden" data-bind="value:selectedId" />
        <h2 class="section-title">Pre-doc Summary</h2>
        <div id="traineeSummaryGrid" data-role="grid"
             data-editable="false"
             data-selectable="true"
             data-scrollable="true"
             data-sortable="true"
             data-pageable="false"
             data-columns="[
                    { 'field': 'traineeSummaryId','width':'240px'},
                    { 'field': 'trainingGrantId','width':'240px'},
                    {title:'Start Date','field': 'dateStartedText', 'width': '125px' },
                    {title:'End Date','field': 'dateEndedText', 'width': '125px' },
                    {title:'#Positions Awarded', 'field':'positionsAwarded'},
                    {title:'#Trainees Appointed', 'field':'traineesAppointed'},
                    {title:'#URM Traunees Appointed', 'field':'urmTraineesAppointed'},
                    {title:'#Trainees with Disabilities Appointed', 'field':'disabilitiesTraineesAppointed'},
                    {title:'#Trainees from Disadvantaged Background', 'field':'disadvantagedTraineesAppointed'}
             ]"
             data-bind="source: traineeSummaryInformationGridView,
                        events:{
                             change:gridRowSelection,
                        }">
        </div>
        <div id="addPreDocTraineeSummaryButton">
            <button data-role="button"
                    data-bind="events: {click: addPredDoc}, visible:hideAddPreDocSummaryButton">
                Add Pre-doc Trainee Summary Information
            </button>
        </div>

        <div class="expand" id="editPreDocTraineeSummarySection" data-bind="visible:addPredDocTraineeSummarySectionVisible">
            <label class=" control-label" for="startedDate">Start Date:</label>
            <input type="text" data-role='datepicker' id="startedDate" name="startedDate" data-type="date" data-lessdate-field="endDate" data-lessdate-msg='Start Date should be before End Date.'
                   data-kiui-date placeholder=" YYYY-MM-DD"
                   data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted" validationmessage="This field is required in the following format: YYYY-MM-DD" />
            <span data-for='startedDate' class='k-invalid-msg'></span>


            <label class="control-label" for="endDate">End Date:</label>
            <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startedDate" data-greaterdate-msg='End Date should be after Start Date.'
                   data-kiui-date placeholder=" YYYY-MM-DD" data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded" validationmessage="This field is required in the following format: YYYY-MM-DD" />
            <span data-for='endDate' class='k-invalid-msg'></span>




            <label class="control-label osu-standard">Number of Pre-doc Positions Awarded Per Year:</label>
            <input type="text" placeholder="enter number of Pre-doc positions awarded per year" data-bind="value:positionsAwarded" />

            <label class="control-label osu-standard">Number of Months of Support per Pre-doc Position Awarded:</label>
            <input type="text" placeholder="enter number of months of support per Pre-doc position awarded" data-bind="value:supportMonthsAwarded" />


            <label class="control-label osu-standard">Number of Pre-doc Trainees Appointed Per Year:</label>
            <input type="text" placeholder="enter number of Pre-doc trainees appointed per year" data-bind="value:traineesAppointed" />





            <label class="control-label osu-standard">Number of Months of Support used by Pre-doc Trainees Appointed Per Year:</label>
            <input type="text" placeholder="enter number of months of support used by Pre-doc trainees appointed per year" data-bind="value:supportMonthsUsed" />

            <label class="control-label osu-standard">Number of Pre-doc URM Trainees Appointed Per Year:</label>
            <input type="text" placeholder="enter number of Pre-doc URM trainees appointed per year" data-bind="value:urmTraineesAppointed" />




            <label class="control-label osu-standard">Number of Months of Support per Pre-doc URM Trainee:</label>
            <input type="text" placeholder="enter number of months of support per Pre-doc URM trainee" data-bind="value:urmSupportMonthsUsed" />

            <label class="control-label osu-standard">Number of Pre-doc Trainees with Disabilities Appointed Per Year:</label>
            <input type="text" placeholder="enter number of Pre-doc trainees with disabilities appointed per year" data-bind="value:disabilitiesTraineesAppointed" />

            <label class="control-label osu-standard">Number of Months of Support per Pre-doc Trainee with Disabilities:</label>
            <input type="text" placeholder="enter number of months of support per Pre-doc trainee with disabilities" data-bind="value:disabilitiesSupportMonthsUsed" />

            <label class="control-label osu-standard">Number of Pre-doc Trainees from Disadvantaged Background Appointed Per Year:</label>
            <input type="text" placeholder="enter number of Pre-doc trainees from disadvantaged background appointed per year" data-bind="value:disadvantagedTraineesAppointed" />

            <label class="control-label osu-standard">Number of Months of Support per Pre-doc Trainee from Disadvantaged Background:</label>
            <input type="text" placeholder="enter number of months support per Pre-doc trainee from disadvantaged background" data-bind="value:disadvantagedSupportMonthsUsed" />



            <button class="add-section save" data-bind="click: saveUpdateTraineeInfo">Save</button>
            <button class="add-section cancel" data-bind="click: cancelAddPreDocTraineeSummary">Cancel</button>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $(function () {
                var container = $("#editTraineePredocInfo-view");
                kendo.init(container);
                container.kendoValidator({
                    rules: {
                        greaterdate: function (input) {
                            if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                                var date = input.data("kendoDatePicker").value(),
                                    otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                return otherDate == null || otherDate.getTime() < date.getTime();
                            }

                            return true;
                        },
                        lessdate: function (input) {
                            if (input.is("[data-lessdate-msg]") && input.val() != "") {
                                var date = input.data("kendoDatePicker").value(),
                                    otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
                                return otherDate == null || otherDate.getTime() > date.getTime();
                            }

                            return true;
                        }
                    }
                });
            });


            var traineeInfoVm = kendo.observable($.extend({
                updated  : false,
                hideAddPreDocSummaryButton: true,
                addPredDocTraineeSummarySectionVisible: false,
                hideAddPreDocSummaryButton: true,
                saveUpdateTraineeInfo: function() {
                    var self = this;

                    var validator = $("#editPreDocTraineeSummarySection").kendoValidator().data("kendoValidator");

                    if (validator.validate()) {
                        var updateData = {
                            traineeSummaryId: self.selectedId,
                            trainingGrantId: this.trainingGrantId,
                            dateStarted: self.selectedDateStarted,
                            dateEnded: self.selectedDateEnded,

                            positionsAwarded: self.positionsAwarded,
                            supportMonthsAwarded: self.supportMonthsAwarded,
                            supportMonthsUsed: self.supportMonthsUsed,
                            traineesAppointed: self.traineesAppointed,
                            urmTraineesAppointed:self.urmTraineesAppointed,
                            urmSupportMonthsUsed:self.urmSupportMonthsUsed,
                            disabilitiesTraineesAppointed: self.disabilitiesTraineesAppointed,
                            disabilitiesSupportMonthsUsed: self.disabilitiesSupportMonthsUsed,
                            disadvantagedTraineesAppointed: self.disadvantagedTraineesAppointed,
                            disadvantagedSupportMonthsUsed: self.disadvantagedSupportMonthsUsed
                        };

                        $.ajax({
                            url: '@Url.Content("~/TrainingGrant/SaveUpdateTraineeSummaryInfo")',
                            data: JSON.stringify(updateData),
                            contentType: "application/json, charset=utf-8",
                            type: "POST",
                            datatype: "json",

                            error: function () {
                                toastr.error('Update failed!');
                            },
                            success: function (value) {
                                var traineeInfo = $.grep(self.traineeSummaryInformationGridView,
                                        function(e){
                                            return e.traineeSummaryId == value.traineeSummaryId;
                                        });
                                if (traineeInfo.length === 0) {
                                    self.traineeSummaryInformationGridView.push(kendo.observable(value));
                                    toastr.success('Pre-doc Trainee Summary added');
                                }else{
                                    var kendoGrid = $("#traineeSummaryGrid").data("kendoGrid");
                                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                                    selectedDataRow.set("positionsAwarded", value.positionsAwarded);
                                    selectedDataRow.set("traineesAppointed", value.traineesAppointed);
                                    selectedDataRow.set("dateStarted", value.dateStarted);
                                    selectedDataRow.set("dateStartedText", value.dateStartedText);
                                    selectedDataRow.set("dateEnded", value.dateEnded);
                                    selectedDataRow.set("dateEndedText", value.dateEndedText);
                                    selectedDataRow.set("urmTraineesAppointed", value.urmTraineesAppointed);
                                    selectedDataRow.set("disabilitiesTraineesAppointed", value.disabilitiesTraineesAppointed);
                                    selectedDataRow.set("disadvantagedTraineesAppointed", value.disadvantagedTraineesAppointed);

                                    selectedDataRow.set("supportMonthsAwarded", self.supportMonthsAwarded);
                                    selectedDataRow.set("supportMonthsUsed", self.supportMonthsUsed);
                                    selectedDataRow.set("urmSupportMonthsUsed", self.urmSupportMonthsUsed);
                                    selectedDataRow.set("disabilitiesSupportMonthsUsed", self.disabilitiesSupportMonthsUsed);
                                    selectedDataRow.set("disadvantagedSupportMonthsUsed", self.disadvantagedSupportMonthsUsed);

                                    toastr.success('Info - Update succeeded!');
                                }
                                self.clearPreDocInput();
                                self.set("addPredDocTraineeSummarySectionVisible", false);
                                self.set("hideAddPreDocSummaryButton", true);
                            },
                            complete: function () {
                                window.console && console.log("completed");
                            }
                        });
                    }
                },

                gridRowSelection : function(e) {
                    e.preventDefault();
                    var self = this;
                    var kendoGrid = $("#traineeSummaryGrid").data("kendoGrid");
                    var selectedRow = kendoGrid.select();
                    var selected = kendoGrid.dataItem(selectedRow);

                    if (selected !== null) {

                        self.set("selectedId", selected.traineeSummaryId);
                        self.set("selectedDateStarted",(selected.dateStartedText != null) ? new Date(selected.dateStartedText) : null);
                        self.set("selectedDateEnded",(selected.dateEndedText != null) ? new Date(selected.dateEndedText) : null);

                        self.set("positionsAwarded", selected.positionsAwarded);
                        self.set("traineesAppointed", selected.traineesAppointed);
                        self.set("urmTraineesAppointed", selected.urmTraineesAppointed);
                        self.set("disabilitiesTraineesAppointed", selected.disabilitiesTraineesAppointed);
                        self.set("disadvantagedTraineesAppointed", selected.disadvantagedTraineesAppointed);

                        self.set("supportMonthsAwarded", selected.supportMonthsAwarded);
                        self.set("supportMonthsUsed", selected.supportMonthsUsed);
                        self.set("urmSupportMonthsUsed", selected.urmSupportMonthsUsed);
                        self.set("disabilitiesSupportMonthsUsed", selected.disabilitiesSupportMonthsUsed);
                        self.set("disadvantagedSupportMonthsUsed", selected.disadvantagedSupportMonthsUsed);
                    }


                    self.set("addPredDocTraineeSummarySectionVisible", true);
                    self.set("hideAddPreDocSummaryButton", false);
                },

                addPredDoc: function(){
                    var self = this;
                    window.console && console.log("In addPredDoc");
                    window.console && console.log(self);
                    self.set("addPredDocTraineeSummarySectionVisible", true);
                    self.set("hideAddPreDocSummaryButton", false);

                    var kendoGrid = $("#traineeSummaryGrid").data("kendoGrid");
                    kendoGrid.clearSelection();

                    self.clearPreDocInput();
                },
                clearPreDocInput:function() {
                    var self = this;
                    self.set("selectedId", "");
                    self.set("selectedDateStarted","");
                    self.set("selectedDateEnded","");

                    self.set("positionsAwarded", "");
                    self.set("traineesAppointed", "");

                    self.set("dateStartedText", "");

                    self.set("dateEndedText", "");
                    self.set("urmTraineesAppointed", "");
                    self.set("disabilitiesTraineesAppointed", "");
                    self.set("disadvantagedTraineesAppointed", "");


                    self.set("supportMonthsAwarded", "");
                    self.set("supportMonthsUsed", "");
                    self.set("urmSupportMonthsUsed", "");
                    self.set("disabilitiesSupportMonthsUsed", "");
                    self.set("disadvantagedSupportMonthsUsed", "");
                    self.set("doctoralLevelId", "");






                },
                cancelAddPreDocTraineeSummary:function() {
                    var self = this;
                    self.set("addPredDocTraineeSummarySectionVisible", false);
                    self.set("hideAddPreDocSummaryButton", true);
                    self.clearPreDocInput();
                },
            },@(Html.ToJson(Model))));

            kendo.bind($("#editTraineePredocInfo-view"), traineeInfoVm);
            $("#traineeSummaryGrid").data("kendoGrid").hideColumn(0);
            $("#traineeSummaryGrid").data("kendoGrid").hideColumn(1);
        })
    </script>*@