﻿@using TraineeTrackingSystem.Web.Common
@model FacultySupportsViewModel

<div id="tgfaculty-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    @*<script type="text/x-kendo-template" id="participatingFacultyLink">
        <div>
            <span>
                <a href="\\#addFacultySupportButton">${ facultyFullName }</a>
            </span>
        </div>
    </script>*@

    <script type="text/x-kendo-template" id="facultySupport-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultySupportButton" class="facultySupport-delete-link">Remove</a>
            </span>
        </div>
    </script>

    @*<div id="facultySupportGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Name','field': 'facultyFullName','width': '250px', template:kendo.template($('#participatingFacultyLink').html() )},
                {title:'Department','field': 'facultyPrimaryOrg','width': '150px'},
                {title:'Primary Role in Training', 'field':'facultyRole'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '120px', template:kendo.template($('#facultySupport-deleteLink').html() )}
         ]"*@
    <div id="facultySupportGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Name','field': 'facultyFullName','width': '250px'},
                {title:'Department','field': 'facultyPrimaryOrg','width': '150px'},
                {title:'Primary Role in Training', 'field':'facultyRole'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' },
                {title:'Action', 'width': '120px', template:kendo.template($('#facultySupport-deleteLink').html() )}
         ]"
         data-bind="source: facultySupportGridView,
                    events:{
                         change:gridRowSelection,
                         dataBound: removeFtySupport,
                        open: hideValidationMsgs
                    }">
    </div>

    <div id="addFacultySupportButton">
        <button data-role="button"
                data-bind="events: {click: addFacultySupportBtn},visible:hideAddFacultyButton">
            Add Faculty to Training Grant
        </button>

    </div>
    
    <div class="expand" id="editFacultySupportSection" data-bind="visible:addFacultySupportSectionVisible">

        <h2>Add Faculty to Training Grant</h2>

        <label class="control-label" for="newFacultyDropDown">Name*:</label>
        @*<input id="newFacultyDropDown" name="newFacultyDropDown" required
               data-role="dropdownlist"
               data-option-label="select faculty"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: selectedFacultyId,source: fundingFacultiesList,enabled:facultyNameEnabled, events: {change: getResearchInterests}"
               validationmessage="This field is required" />*@
        @*MVN - commented the above code out as we want validation to kick in during save button is clicked*@
        <input id="newFacultyDropDown" name="newFacultyDropDown" 
               data-role="dropdownlist"
               data-option-label="select faculty"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: selectedFacultyId,source: fundingFacultiesList,enabled:facultyNameEnabled, events: {change: getResearchInterests}"/>
        <span class="k-invalid-msg" data-for="newFacultyDropDown"></span>

        <label class="control-label" for="newRoleDropDown">Primary Role in Training Grant*:</label>
        @*<input id="newRoleDropDown" name="newRoleDropDown" required data-role="dropdownlist"
                data-option-label="select role"
                data-auto-bind="true"
                data-text-field="value"
                data-value-field="key"
                data-bind="value: selectedFacultyRoleId,source: roleList" validationmessage="This field is required" />*@
        <input id="newRoleDropDown" name="newRoleDropDown" data-role="dropdownlist"
               data-option-label="select role"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: selectedFacultyRoleId,source: roleList" />
        <span class="k-invalid-msg" data-for="newRoleDropDown"></span>

        <label class="control-label" for="newSecondaryRoleDropDown">Secondary Role in Training Grant:</label>
        <input id="newSecondaryRoleDropDown" name="newSecondaryRoleDropDown" data-role="dropdownlist"
                data-option-label="select role"
                data-auto-bind="true"
                data-text-field="value"
                data-value-field="key"
                data-bind="value: selectedFacultySecondaryRoleId,source: roleList" />

        <label class="control-label osu-standard" for="researchInterestMultiSelect">Research Interest(s) for Training Grant:</label>
        <select id="researchInterestMultiSelect"
                data-role="multiselect"
                data-placeholder="select Research Interest(s)"
                data-value-primitive="true"
                data-text-field="Name"
                data-value-field="ResearchId"
                data-bind="value: selectedResearchInterests,source: facultyInterests,enabled:facultyInterestsEnabled"></select>

        <button class="add-section save" data-bind="click: saveFacultyInformation">Save</button>
        <button class="add-section cancel" data-bind="click: cancel">Cancel</button>

    </div>
</div>

<script>
    function getPromise() {
        var deferred = $.Deferred();

        setTimeout(function(){
            deferred.resolve();
        }, 1000);

        return deferred.promise();
    }

    $(document).ready(function () {
        var currInterests = null;

        var editTrainingGrantVm = kendo.observable($.extend({
            hideAddFacultyButton: true,
            addFacultySupportSectionVisible: false,
            selectedResearchInterests:null,
            update: false,
            
            facultyNameEnabled: true,
            facultyInterestsEnabled: true,
         
            saveFacultyInformation: function() {
                var self = this;

                var facultyDropdownSelection = $('#newFacultyDropDown').data("kendoDropDownList").text();
                var roleDropdownSelection = $('#newRoleDropDown').data("kendoDropDownList").text();
                var role2DropdownSelection = $('#newSecondaryRoleDropDown').data("kendoDropDownList").text();
                var researchInterestSelection = $('#researchInterestMultiSelect').data("kendoMultiSelect").value();

                // MVN - modified this function for task 10631
                var validationMsg = "This field is required";
                //var validator = $("#tgfaculty-view").kendoValidator().data("kendoValidator");
                var validator = $("#tgfaculty-view").kendoValidator(
                    { 
                        rules:{
                            newfacultydropdown: function (input) {
                                if (input.is("[name=newFacultyDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
 
                            newroledropdown: function (input) {
                                if (input.is("[name=newRoleDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                        },
                        messages: {
                            newfacultydropdown: validationMsg,
                            newroledropdown: validationMsg
                        }
                    }).data("kendoValidator");
               
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        fundingId: self.fundingId,

                        facultyId: self.selectedFacultyId,
                        facultyFullName: facultyDropdownSelection,
                        
                        facultyRoleId: self.selectedFacultyRoleId,
                        facultyRole: roleDropdownSelection,
                        
                        facultySecondaryRoleId: self.selectedFacultySecondaryRoleId,
                        facultySecondaryRole: role2DropdownSelection,                      
                        
                        researchInterests: researchInterestSelection,
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy,
                    };
                    //window.console && console.log("I am in Save 2!!!");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/UpdateFacultySupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Participating Faculty update failed!');
                        },
                        success: function (value) {
                            window.console && console.log("I am in Success Save 2a!!!");
                            window.console && console.log(value);
                            var facultySupport = $.grep(self.facultySupportGridView, 
                                function(e){ 
                                    return e.id == value.id; 
                                });
                            if (facultySupport.length === 0) {
                                /* ------------------ MVN - update the grid ---------------- */
                                self.facultySupportGridView.push(kendo.observable(value));
                                self.set("selectedId", value.id);
                                
                                // MVN => syntax array.splice(index, howmany, item, ..., itemX)
                                self.fundingFacultiesList.splice(0, value.fundingFacultiesList.length)           // Clean the array 


                                // ***********************************************************************************************************************************            
                                // Push key and value the grid slection values back to the Dropdown          
                                // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                                // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                                for (var i = 0; i < value.length; i++) {
                                    value.fundingFacultiesList.push({
                                        key: value[i].key,
                                        //value: value[i].value                                
                                    });                             
                                }
                           
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                self.fundingFacultiesList.push({
                                    key: value.facultyId,               // Value from GRID
                                    value: value.facultyFullName        // Value from GRID                           
                                });                             
                                self.set("selectedFacultyId", value.facultyId);              // SET faculty ID from GRID
                                self.set("selectedFacultyRoleId", value.facultyRoleId);      // SET faculty role from GRID
                                self.set("selectedFacultySecondaryRoleId", value.facultySecondaryRoleId);
                                self.set("facultyInterests", self.getResearchInterests());                               
                                self.set("fundingFacultiesList", value.fundingFacultiesList); // SET the Faculty Dropdown object 
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */

                                
                                // Update data in related Training Grant grids
                                self.refreshFacultyMentees();
                                self.refreshSupportGrants();
                                self.refreshSupportFunds();
                                toastr.success('Participating Faculty added');  
                            } else{  //UPDATE the GRID Selection
                                /* ------------------ MVN - push data field attributed to grid ------------------- */
                                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");

                                //console.log(kendoGrid);
                                //console.log(kendoGrid.select());

                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());        
                                //alert(JSON.stringify(value.facultyRole));
                                //console.log(selectedDataRow);
                                //console.log(value.facultyRole);
                                selectedDataRow.set("facultyRole", value.facultyRole);       // SET faculty Role from server Grid                                                               
                                selectedDataRow.set("facultySecondaryRole", value.facultySecondaryRole);       // SET faculty Role from server Grid    
                                //console.log("ooo0");
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);        //Push to Grid
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);            //Push to Grid

                                self.set("selectedId", value.id);                                
                                // MVN => syntax array.splice(index, howmany, item, ..., itemX)
                                self.fundingFacultiesList.splice(0, value.fundingFacultiesList.length);           // Clean the array 
                                console.log("ooo0");

                                // ***********************************************************************************************************************************            
                                // Push key and value the grid slection values back to the Dropdown          
                                // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                                // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                                for (var i = 0; i < value.length; i++) {
                                    value.fundingFacultiesList.push({
                                        key: value[i].key,
                                        //value: value[i].value                                
                                    });                             
                                }
                           
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */
                                self.fundingFacultiesList.push({
                                    key: value.facultyId,               // Value from GRID
                                    value: value.facultyFullName        // Value from GRID                           
                                });                                                       
                                self.set("selectedFacultyId", value.facultyId);              // SET faculty ID from server to Dropdown List   
                                self.set("selectedFacultyRoleId", value.facultyRoleId);      // SET faculty role from server to Dropdown List                               
                                self.set("selectedFacultySecondaryRoleId", value.facultySecondaryRoleId);
                                
                                self.set("facultyInterests", self.getResearchInterests());
                                currInterests = value.selectedResearchInterests;  
                                
                                self.set("fundingFacultiesList", value.fundingFacultiesList); // SET the Faculty Dropdown object 
                                /* +++++++++++++++++++++++++++++++++++ add values from grid back to the dropdown list ++++++++++++++++ */

                                // Update data in related Training Grant grids
                                self.refreshFacultyMentees();
                                self.refreshSupportGrants();
                                self.refreshSupportFunds();
                                toastr.success('Participating Faculty updated');
                            }
                            self.set("addFacultySupportSectionVisible", false);
                            self.set("hideAddFacultyButton", true);                          
                            self.clearFacultySupportInput();
                        }
                    });
                }
            },

            //This event handled the GRID ROW seledtion
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected = kendoGrid.dataItem(selectedRow);

                var roleDropdownSelection = $('#newRoleDropDown').data("kendoDropDownList").text();
                var role2DropdownSelection = $('#newSecondaryRoleDropDown').data("kendoDropDownList").text();
                
                if (selected !== null) {
                    var updateData = {
                        id: selected.id,                                // PostModel - FundingFaculty Id
                        fundingId: self.fundingId,                          // Postmodel - fundingId
                        facultyId: selected.facultyId,
                        
                        facultyFullName: selected.facultyFullName,          // Allows dropdown selection  
                        facultyRoleId : self.selectedFacultyRoleId,
                        facultyRole: roleDropdownSelection,


                        facultySecondaryRoleId: self.selectedFacultySecondaryRoleId,
                        facultySecondaryRole: role2DropdownSelection
                       
                    };
                    //window.console && console.log("Grid Selection 1!!!");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/AddBackToDropDownListFacultySupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",             
                        success: function (value) {
                            //window.console && console.log("Success Grid Selection 1a!!!");
                            //window.console && console.log(value);
                            self.set("selectedId", selected.id);
                            self.fundingFacultiesList.splice(0, self.fundingFacultiesList.length)           // Clean the array    
                            // ***********************************************************************************************************************************            
                            // Push key and value the grid slection values back to the Dropdown          
                            // var getFacultyFullname = commonRepository.GetFacultyList().ToList().Select(f => new KeyValuePair<Guid?, string>(f.Id, f.FullName));
                            // ******************************* THIS => keyValuePari<Guid?, string> what pass from the controllter ********************************
                            for (var i = 0; i < value.length; i++) {
                                self.fundingFacultiesList.push({
                                    key: value[i].key,
                                    value: value[i].value                                
                                });                             
                            }
                            //alert("I am here1");
                            //Add the person that you select back into tho the dropdown list
                            self.fundingFacultiesList.push({
                                key: selected.facultyId,
                                value: selected.facultyFullName                                   
                            }); 
                            self.set("selectedFacultyId", selected.facultyId);                              //SET back to dropdownList
                            self.set("selectedFacultyRoleId", value.facultyRoleId);                      //SET back to dropdownList                           
                            self.set("selectedFacultySecondaryRoleId", value.facultySecondaryRoleId);    //SET back to dropdownList

                            self.set("facultyInterests", self.getResearchInterests());                      ////SET back to dropdownList
                            currInterests = selected.selectedResearchInterests;                             ////SET back to dropdownList                           
                        } 
                    });
                    self.set("facultyNameEnabled", false);
                    self.set("addFacultySupportSectionVisible", true);
                    self.set("hideAddFacultyButton", false);
                }     
            },


            //This event handled the remove ACTION
            removeFtySupport:function(e) {
                var self = this;
                $(".facultySupport-delete-link").click(function (event) {
                    event.preventDefault();

                    var kendoGrid = $("#facultySupportGrid").data("kendoGrid");
                    kendoGrid.clearSelection();
                   

                    //window.console && console.log(self);
                    var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                    //window.console && console.log(deleteItem.facultyRoleId);
                    if (deleteItem.facultyRoleId == 6){
                        toastr.error("Must have at least one PD associated with this training grant");
                    }else{
                        if (confirm("Do you want to remove this item?")) {
                            // retrieve the data record from the row
                            //9/3/2015 var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/TrainingGrant/RemoveFtySupport/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function (data) {
                                    //toastr.error(data.responseText);
                                    toastr.error('Delete failed!');
                                },
                                //WORK stop here -> there is an issue here =>remove 
                                success: function (id) {
                                    if (id=="true"){
                                        toastr.success("Participating Faculty removed");
                                        kendoGrid.dataSource.remove(deleteItem);
                                        self.refreshFacultyMentees();
                                        self.refreshSupportGrants();
                                        self.refreshSupportFunds();

                                    }else{
                                       toastr.error("Must have at least one PD associated with this training grant");
                                    }
                                },
                                complete: function () {
                                    window.console && console.log("completed");
                                }

                            });
                            self.set("addFacultySupportSectionVisible", false);
                            self.set("hideAddFacultyButton", true);
                        }
                        return false;
                    }
                });
            },

            addFacultySupportBtn: function(){
                var self = this;
                self.set("facultyNameEnabled", true);                
                self.set("addFacultySupportSectionVisible", true);             
                self.set("hideAddFacultyButton", false);
                self.set("facultyInterestsEnabled", false);
                var kendoGrid = $("#facultySupportGrid").data("kendoGrid");               
                kendoGrid.clearSelection();
                self.callFundingFty();
                self.clearFacultySupportInput();
            },
            callFundingFty: function() {
                var self = this;
                var updateData = {
                    fundingId: self.fundingId,                          // Postmodel - fundingId
                };
                $.ajax({
                    url: '@Url.Content("~/TrainingGrant/AjaxRequestForAddFtyBtn")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",            
                    success: function (value) {  
                        self.set("fundingFacultiesList", value); // SET the Faculty Dropdown object                                          
                    }
                });
            },
            cancel:function() {
                var self = this;
                self.set("addFacultySupportSectionVisible", false);
                self.set("hideAddFacultyButton", true);
                var validator = $("#tgfaculty-view").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultySupportSection").kendoValidator().data("kendoValidator");
                validator.hideMessages();
            },
            clearFacultySupportInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedFacultyId", "");

                self.set("selectedFacultyRoleId", "");
                self.set("selectedFacultySecondaryRoleId", "");
                self.set("selectedResearchInterests", "");
                self.set("facultyInterests", "");
                self.hideValidationMsgs();
            },

            getResearchInterests:function(e) {
                var self = this;
                event.preventDefault();

                var getData = {
                    facultyId: self.selectedFacultyId
                };

                $.ajax({
                    url: '@Url.Content("~/CommonData/getFacultyResearchInterestsByFacultyId/")',
                    data: JSON.stringify(getData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function (data) {
                        toastr.error(data.responseText);
                    },
                    success: function (value) {
                        //window.console && console.log("Hey MVN is here!!");
                        //window.console && console.log(value);
                        self.set("facultyInterests", value);
                        //alert(JSON.stringify(currInterests));
                        self.set("selectedResearchInterests", currInterests);
                        if ((value === null) || (value.length === 0)) {
                            self.set("facultyInterestsEnabled", false);
                        } else {
                            self.set("facultyInterestsEnabled", true);
                        }

                        currInterests = null;
                    }
                });
            },
                     
            refreshFacultyMentees:function(e) {
                var self = this;
                event.preventDefault();

                var getData = {
                    Id: self.id
                };
                $.ajax({
                    url: '@Url.Content("~/TrainingGrant/RefreshFacultyMentees/")',
                    data: JSON.stringify(getData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function (data) {
                        toastr.error(data.responseText);
                    },
                    success: function (value) {
                        var dataSource = new kendo.data.DataSource({ data: value.facultyMentees });
                        var grid = $('#facultyMenteesGrid').data("kendoGrid");
                        dataSource.read();
                        dataSource.pageSize(5);
                        grid.setDataSource(dataSource);
                    }

                });
            },
            refreshSupportGrants:function(e) {
                var self = this;
                event.preventDefault();

                var getData = {
                    Id: self.id
                };
                $.ajax({
                    url: '@Url.Content("~/TrainingGrant/RefreshSupportGrants/")',
                    data: JSON.stringify(getData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function (data) {
                        toastr.error(data.responseText);
                    },
                    success: function (value) {
                        var dataSource = new kendo.data.DataSource({ data: value.fundingGridView });
                        var grid = $('#fundingInstGrid').data("kendoGrid");
                        dataSource.read();
                        dataSource.pageSize(5);
                        grid.setDataSource(dataSource);
                    }

                });
            },
            refreshSupportFunds:function(e) {
                var self = this;
                event.preventDefault();

                var getData = {
                    Id: self.id
                };
                $.ajax({
                    url: '@Url.Content("~/TrainingGrant/RefreshSupportFunds/")',
                    data: JSON.stringify(getData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function (data) {
                        toastr.error(data.responseText);
                    },
                    success: function (value) {
                        var dataSource = new kendo.data.DataSource({ data: value.otherGridView });
                        var grid = $('#otherGrid').data("kendoGrid");
                        dataSource.read();
                        dataSource.pageSize(5);
                        grid.setDataSource(dataSource);
                    }
                });
            },
        },@(Html.ToJson(Model))));
        kendo.bind($("#tgfaculty-view"), editTrainingGrantVm);
        $("#facultySupportGrid").data("kendoGrid").hideColumn(0);
    })
</script>