﻿@using TraineeTrackingSystem.Web.Common
@model OtherFundingsInfo

<div id="other-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Other</h2>

    <script type="text/x-kendo-template" id="otherfund-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")/Funding/Edit/#= id #'>
                    View Fund^
                </a>
            </span>
        </div>
    </script>

    <div class="grid-note">
        These are Pending and Active Funds that are associated with Participating Faculty Members on this Training Grant.
        To Add, go to <a href='@Url.Action("", "")/Funding/'>Funding</a>
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="otherGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                        { 'field': 'id'},
                        {title:'PI','field':'piFullName'},
                        {title:'Sponsor','field':'sponsorName'},
                        {title:'Title','field': 'title'},
                        {title:'Status','field':'fundingStatus'},
                        {title:'Action', 'width': '130px', template:kendo.template($('#otherfund-viewLink').html() ) }
         ]"
         data-bind="source: otherGridView">
    </div>
    
</div>
<script>
    $(document).ready(function () {
        var otherFundingVM = kendo.observable($.extend({

        },@(Html.ToJson(Model))));

        kendo.bind($("#other-view"), otherFundingVM);
        $("#otherGrid").data("kendoGrid").hideColumn(0);
    })
</script>
