﻿@using TraineeTrackingSystem.Web.Common
@model TraineesDetailedInformationViewModel
<div id="editTraineeDetailedInfo-view">
    <input id="researchId" type="hidden" data-bind="value: selectedId" /> @*Define selectedId in the TraineesDetailedInformationViewModel*@
    <div id="traineeDetailedInformationGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                {'field': 'trainingGrantTraineeId'},
                { 'field': 'trainingGrantId'},
                { 'field': 'menteeId'},
                { 'field': 'selectedTrainingPeriodId','width':'240px'},
                {title:'Name','field': 'menteeFullName'},
                {title:'Institution Association', 'field':'institutionAssociation'},
                {title:'Research Experience', 'field':'researchProjectTitle'},
                {title:'Program Status', 'field':'traineeStatus'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' }
         ]"
         data-bind="source: traineeDetailedInformationView,
                    events:{
                         change:onChangeSelectedTrainee,
                    }">
    </div>
    <div id="addTraineeDetailedButton">
        <button data-role="button"
                data-bind="events: {click: onChangeAddNewTrainee}, visible:hideAddTraineeDetailedButton">
            Add Trainee
        </button>
    </div>
    @*<div id="editTraineeDetailedSection-view" data-role="validatir" novalidate="novalidate" data-bind="visible:addTraineeDetailedSectionVisible">*@
    <div class="expand" id="editTraineeDetailedSection" data-bind="visible:addTraineeDetailedSectionVisible" data-role="validatir" nonvalidate="novalidate">
        <div>
            <label class="control-label">Name*:</label>
            <input id="newMenteeDropDown" name="newMenteeDropDown" data-role="dropdownlist"
                   data-toggle="modal"
                   data-target="dialogMsg"
                   data-option-label="select mentee"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedMenteeId,source: menteeListDropdown, events: {change: onChangeSelectMenteeDropdown}" />
            <span class="k-invalid-msg" data-for="newMenteeDropDown"></span>
        </div>
        <div class="modal fade" id="dialogMsg" tabindex="-1" role="dialog" aria-labelledby="msgDialogLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="msgDialogLabel">Cancel Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <textarea id="dialogMsgId" data-bind="value:dialogMsgContents" name="dialogMsgName" style="width: 380px; height:120px;" readonly></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="add-section" data-dismiss="modal">OK</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
           
        <label class="control-label" for="startedDate">T32 Appointment Start Date:</label>
        <input type="text" data-role='datepicker' id="startedDate" name="startedDate" data-type="date" data-lessdate-field="endDate" data-lessdate-msg='T32 Appointment Start Date should be before T32 Appointment End Date.'
               data-kiui-date placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:dateStarted" validationmessage="This field is required in the following format: YYYY-MM-DD" />
        <span data-for='startedDate' class='k-invalid-msg'></span>
        

        <label class="control-label" for="endDate">T32 Appointment End Date:</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" data-greaterdate-field="startedDate" data-greaterdate-msg='T32 Appointment End Date should be after T32 Appointment Start Date.'
               data-kiui-date placeholder=" YYYY-MM-DD" data-format="yyyy-MM-dd" data-bind="value:dateEnded" validationmessage="This field is required in the following format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>
 
        <h2>Associated Training Period Information*</h2>
        <script type="text/x-kendo-template" id="trainingPeriod-selectLink">
            <div>
                <span>
                    <a href="\\#addTraineeDetailedButton" id="priviousTrainingPeriodSelected" class="trainingPeriod-select-link">Select</a>
                </span>
            </div>
        </script>

        <div id="associatedTrainingPeriodGrid" data-role="grid"
             data-editable="false"
             data-selectable="true"
             data-scrollable="true"
             validation="true"
             data-sortable="true"
             data-columns="[
                {'field': 'id','width':'200px'},
                {title:'Mentee Type','field': 'doctoralLevel'},
                {title:'Institution', 'field':'institutionName'},
                {title:'Degree','field':'academicDegreeName'},
                {title:'Year Entered', 'field':'yearStarted'},
                {title:'Year Completed', 'field':'yearEnded'},
                {title:'Action', 'width': '100px', template:kendo.template($('#trainingPeriod-selectLink').html() )}
             ]"
             data-bind="source: menteeTrainingPeriods,
                        events:{
                                    change: onChangeSelectedTrainingPeriod
                        }">
        </div>
        <div>
            <input name="trainingPeriodIdName" data-bind="value:selectedTrainingPeriodId" type="hidden" />
            @*<input name="trainingPeriodIdName" data-bind="value:selectedTrainingPeriodId" />*@
            <span class="k-invalid-msg" data-for="trainingPeriodIdName"></span>
        </div>

        <div class="expand" id="editTrainingPeriodPreSubSection" data-bind="visible:predDocSectionVisible">
            <h2>Pre-Doc Information</h2>
            <label class="control-label">Program Status: </label>
            <div class="radio-group">
                <label><input type="radio" name="programstatusField" value=1 data-bind="checked: predocTraineeStatusId" />Still in Program</label>
                <label><input type="radio" name="programstatusField" value=2 data-bind="checked: predocTraineeStatusId" />Completed Program Earned PhD or MD/PhD</label>
                <label><input type="radio" name="programstatusField" value=3 data-bind="checked: predocTraineeStatusId" />Left Program Earned Other Degree</label>
                <label><input type="radio" name="programstatusField" value=4 data-bind="checked: predocTraineeStatusId" />Left Program Without Degree</label>
            </div>

            <label class="control-label osu-standard">Reason for Leaving Program (if training was not completed)</label>
            <div class="box-col">
                <textarea id="preDocReasonEditor" name="preDocReasonEditor" data-bind="value:predocReasonForLeaving, visible:giveReasonPre" style="width: 480px; height:200px;"></textarea>
                <span class="k-invalid-msg" data-for="preDocReasonEditor"></span>
            </div>
        </div>

        <div class="expand" id="editTrainingPeriodPostSubSection" data-bind="visible:postDocSectionVisible">
            <h2>Post-Doc Information</h2>
            <label class="control-label">Program Status: </label>
            <div class="radio-group">
                <label><input type="radio" name="programstatusField" value=5 data-bind="checked: postdocTraineeStatusId" />Still in Program</label>
                <label><input type="radio" name="programstatusField" value=6 data-bind="checked: postdocTraineeStatusId" />Completed Program</label>
                <label><input type="radio" name="programstatusField" value=7 data-bind="checked: postdocTraineeStatusId" />Left Program</label>
            </div>

            <label class="control-label osu-standard">Reason for Leaving Program (if training was not completed)</label>
            <div class="box-col">
                <textarea id="postDocReasonEditor" name="postDocReasonEditor" data-bind="value:postdocReasonForLeaving, visible:giveReasonPost" style="width: 480px; height:200px;"></textarea>
                <span class="k-invalid-msg" data-for="postDocReasonEditor"></span>
            </div>
        </div>

        <button class="add-section save" data-bind="click: saveTraineeDetailedInformation">Save</button>
        <button class="add-section cancel" data-bind="click: cancel">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {

        // THIS -> validated the date fields to make sure that T32 Appointment End Date should be after T32 Appointment Start Date
        $(function () {
            var container = $("#editTraineeDetailedSection");
            kendo.init(container);
            container.kendoValidator({
                rules: {
                    greaterdate: function (input) {
                        if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                            var date = input.data("kendoDatePicker").value(),
                                otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                            return otherDate == null || otherDate.getTime() < date.getTime();
                        }

                        return true;
                    },
                    lessdate: function (input) {
                        if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
                            var date = input.data("kendoDatePicker").value(),
                                otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
                            return otherDate == null || otherDate.getTime() > date.getTime();
                        }

                        return true;
                    }
                }
            });
        });

        var traineeDetailedInfoVM = kendo.observable($.extend({
            addTraineeDetailedSectionVisible: false,
            hideAddTraineeDetailedButton: true,
            predDocSectionVisible: false,
            postDocSectionVisible: false,
            giveReasonPre: true,
            giveReasonPost: true,
            update: false,
            saveTraineeDetailedInformation: function() {
                var self = this;
                var validationMsg = "This field is required";
                var progValidMsg = "Reason for Leaving is required";
                var trainingValidMsg ="Please select a training period prior to continuing";
                //TO BE USED for 2nd grid valition
                var newTraineeDropdownSelection = $('#newMenteeDropDown').data("kendoDropDownList").text();
                var menteeDataBind =$('#newMenteeDropDown').data("kendoDropDownList").value();
                var trainingPeriodGrid = $("#associatedTrainingPeriodGrid").data("kendoGrid");
                var selectedTrainingPeriodRow = trainingPeriodGrid.select();
                var selectedTrainingPeriod = trainingPeriodGrid.dataItem(selectedTrainingPeriodRow);

                var validateMenteeDropDown = $("#editTraineeDetailedInfo-view").kendoValidator().data("kendoValidator");                
                var validator = $("#editTraineeDetailedSection").kendoValidator(
                   {
                       rules: {
                           newmenteedropdown: function (input) {
                               if (input.is("[name=newMenteeDropDown]")) {
                                   return $.trim(input.val()) !== "";
                               }
                               return true;
                           },
                           predocreasoneditor: function (input){

                               if (input.is("[name=preDocReasonEditor]") && (self.predocTraineeStatusId === "3" || self.predocTraineeStatusId === "4")) {
                                   return $.trim(input.val()) !== "";
                               }
                               return true;
                           },
                           postdocreasoneditor: function (input){

                               if (input.is("[name=postDocReasonEditor]") && self.postdocTraineeStatusId === "7") {
                                   return $.trim(input.val()) !== "";
                               }
                               return true;
                           },
                           trainingperiodidname:function (input) {
                               //window.console && console.log(self.selectedTrainingPeriodId);
                               if (input.is("[name=trainingPeriodIdName]") && self.selectedMenteeId !== "" ) {
                                   return $.trim(input.val()) !== "";
                               }
                               return true;
                           },
                       },
                       messages: {
                           newmenteedropdown: validationMsg,
                           predocreasoneditor: progValidMsg,
                           postdocreasoneditor: progValidMsg,
                           trainingperiodidname: trainingValidMsg,
                       }
                   }).data("kendoValidator");    
                if(validator.validate()){
                    var updateData = {
                        trainingGrantTraineeId : self.selectedTraineeId,
                        trainingGrantId: self.trainingGrantId,
                        menteeId: menteeDataBind,
                        menteeFullName: newTraineeDropdownSelection,          // Allows dropdown selection
                        dateStarted: self.dateStarted,
                        dateEnded: self.dateEnded,
                        
                        /* ***************  To be posted back to the TrainingGrantTrainee table *************** */
                        trainingPeriodId: self.selectedTrainingPeriodId,
                        
                        doctoralLevelId: self.doctoralLevelId,
                        institutionAssociationId: (selectedTrainingPeriod != null) ? selectedTrainingPeriod.institutionAssociationId: null,
                        institutionAssociation: (selectedTrainingPeriod != null) ? selectedTrainingPeriod.institutionAssociation: null,
                        researchProjectTitle: (self.researchProjectTitle != null) ? self.researchProjectTitle : null,
                        predocTraineeStatusId: self.predocTraineeStatusId,
                        postdocTraineeStatusId: self.postdocTraineeStatusId,
                        traineeStatus: (self.traineeDetailedInformationView != null) ? self.traineeDetailedInformationView.traineeStatus: null ,
                        traineeStatu_PredocTraineeStatusId: self.predocTraineeStatusId,
                        traineeStatu_PostdocTraineeStatusId: self.postdocTraineeStatusId,

                        predocReasonForLeaving: self.predocReasonForLeaving,
                        postdocReasonForLeaving: self.postdocReasonForLeaving,

                        /*********************** MVN added =>tracking user activity 9/10/2015 ***** */
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy,
                        // mvn - added 9/29/2015
                        //doctoralLevel: (self.doctoralLevelId != null) ? self.doctoralLevelId : nu
                    };    
                    //window.console && console.log("MVN is here in Save");
                    //window.console && console.log(updateData);
                    //window.console && console.log(self);
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SaveUpdateTraineeDetailedInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Info - Update failed!');
                        },
                        success: function (value) {
                            //window.console && console.log(value);
                            //WRITE TO =>TrainingGrantTrainee table
                            var traineeInfo = $.grep(self.traineeDetailedInformationView,
                                function(e){
                                    return e.trainingGrantTraineeId == value.trainingGrantTraineeId;
                                });
                            if (traineeInfo.length === 0) {
                                self.traineeDetailedInformationView.push(kendo.observable(value));
                                location.reload();
                                toastr.success('Trainee added');
                                /* ************* MVN - add these codes to resolve grid not refresh issue 9/10/2015 */
                                // MVN - Commented out 9/28/2015
                                //////var dataSource = new kendo.data.DataSource({ data: value.traineeDetailedInformationView });
                                //////var grid = $('#traineeDetailedInformationGrid').data("kendoGrid");
                                //////dataSource.read();
                                //////dataSource.pageSize(5); 
                                //////grid.setDataSource(dataSource);
                                //////grid.refresh();
                            } else{  //UPDATE TO =>TrainingGrantTrainee table
                                //window.console && console.log("MVN in save Else statement!!!");
                                //window.console && console.log(value);
                               

                                // SET values to Trainee Grid ***********************************************/
                                var kendoGrid = $("#traineeDetailedInformationGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("menteeId", value.menteeId);                        // updates top grid
                                selectedDataRow.set("menteeFullName", value.menteeFullName);            // updates top grid
                                selectedDataRow.set("traineeStatus", value.traineeStatus);              // Updates top grid                                                                
                                selectedDataRow.set("dateStarted", value.dateStarted);                  // updates top expanded field
                                selectedDataRow.set("dateEnded", value.dateEnded);                      // updates top expanded field
                                selectedDataRow.set("institutionAssociationId", self.institutionAssociationId); 
                                selectedDataRow.set("institutionAssociation", self.institutionAssociation);
                                selectedDataRow.set("researchProjectTitle", value.researchProjectTitle);   
                                
                                selectedDataRow.set("doctoralLevel", value.doctoralLevel); 
                                selectedDataRow.set("doctoralLevelId", value.doctoralLevelId);

                                selectedDataRow.set("predocTraineeStatusId", value.predocTraineeStatusId);
                                selectedDataRow.set("postdocTraineeStatusId", value.postdocTraineeStatusId);
                                selectedDataRow.set("traineeStatu_PredocTraineeStatusId", value.predocTraineeStatusId);
                                selectedDataRow.set("traineeStatu_PostdocTraineeStatusId", value.postdocTraineeStatusId); 
                                selectedDataRow.set("predocReasonForLeaving", value.predocReasonForLeaving);
                                selectedDataRow.set("postdocReasonForLeaving", value.postdocReasonForLeaving);    
                                

                                //MVN - next is to set the grid 2 items to the first grid =>selectedDataRow
                                //window.console && console.log("WORKing Here!!!");
                                //window.console && console.log(value.menteeTrainingPeriods);
                                //selectedDataRow.set("menteeTrainingPeriods", value.menteeTrainingPeriods);                                
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);       // updates top grid
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);            // updates top grid
                                location.reload();
                                toastr.success('Trainee updated');
                                
                            }
                            self.clearTraineeDetailedInputFields(); 
                            self.set("addTraineeDetailedSectionVisible", false);
                            self.set("hideAddTraineeDetailedButton", true);
                        },                            
                        complete: function () {
                            window.console && console.log("completed");                        
                        }
                    });
                }
                //}
            },

            // EVENT:  This handles the Trainee on Grid selection
            //  THIS => set the meteeTrainingPeriod
            onChangeSelectedTrainee : function(e) {
                e.preventDefault();
                var self = this;
                //debugger;
                // 1st GRID
                var traineeGrid = $("#traineeDetailedInformationGrid").data("kendoGrid");
                var selectedRow = traineeGrid.select();
                var selectedTrainee = traineeGrid.dataItem(selectedRow);

                if (selectedTrainee !== null){
                    // CHECK Pre Doc
                    if(selectedTrainee.doctoralLevelId === 1){
                        self.set("predDocSectionVisible", true); 
                        self.set("postDocSectionVisible", false);
                        self.set("predocTraineeStatusId", selectedTrainee.predocTraineeStatusId);
                        self.set("predocReasonForLeaving", selectedTrainee.predocReasonForLeaving);
                    }else{ //CHECK Post Doc
                        self.set("postDocSectionVisible", true); 
                        self.set("predDocSectionVisible", false); 
                        self.set("postdocTraineeStatusId", selectedTrainee.postdocTraineeStatusId);
                        self.set("postdocReasonForLeaving", selectedTrainee.postdocReasonForLeaving);  
                    }    
                    self.set("selectedTraineeId", selectedTrainee.trainingGrantTraineeId);
                    self.set("selectedMenteeId", selectedTrainee.menteeId);            // SET the mentee Dropdown 
                    /* *********************************************************************************** */
                    self.set("dateStarted", selectedTrainee.dateStarted);              // SET T32 Appointment State Date
                    self.set("dateEnded", selectedTrainee.dateEnded);                  // SET T32 Appointment End Date

                    self.set("institutionAssociationId", selectedTrainee.institutionAssociationId);  
                    self.set("institutionAssociation", selectedTrainee.institutionAssociation);
                    self.set("researchProjectTitle", selectedTrainee.researchProjectTitle);
                    //window.console && console.log("MVN in onChangeSelectedTrainee function");
                    //window.console && console.log(selectedTrainee);
                    // SET these data properties to Training Period Grid
                    self.set("menteeTrainingPeriods", selectedTrainee.menteeTrainingPeriods);  //SET the 2nd Grid 
                    self.set("selectedTrainingPeriodId", selectedTrainee.selectedTrainingPeriodId);         //Settings trainingPerid Id
                    self.set("doctoralLevelId", selectedTrainee.doctoralLevelId);    
                    //alert(JSON.stringify(selectedTrainee.doctoralLevelId));
                    // THIS => CACHING the row selection from the Trainee Grid
                    if (selectedTrainee.selectedTrainingPeriodId != null){          
                        var trainingPeriodGrid = $("#associatedTrainingPeriodGrid").data("kendoGrid");
                        var selectTrainingPeriodDataRowItem = trainingPeriodGrid.dataItem(trainingPeriodGrid.select());
                        var trainingPeriodMsgValidation = $ ("#trainingPeriodIdName");
                        if ((selectTrainingPeriodDataRowItem == undefined) && (selectedTrainee.selectedTrainingPeriodId != null)) {                          
                            var uid = trainingPeriodGrid.dataSource.get(selectedTrainee.selectedTrainingPeriodId).uid;
                            trainingPeriodGrid.tbody.find("tr[data-uid='" + uid + "']").addClass("k-state-selected");
                            // SET the selectedTrainingPeriod to the Grid
                            selectTrainingPeriodDataRowItem = trainingPeriodGrid.dataItem( trainingPeriodGrid.select());                                                  
                        }
                    }              
                }
                
                self.set("addTraineeDetailedSectionVisible", true);
                self.set("hideAddTraineeDetailedButton", false);             
            },

            //EVENT: this handles the ASSOCIATED TRAINING PERIOD-mentee Grid selection # 2 
            onChangeSelectedTrainingPeriod : function(e) {
                e.preventDefault();
                var self = this;
                //Preparing to load the second Grid => the TrainingPeriod 
                var trainingPeriodGrid = $("#associatedTrainingPeriodGrid").data("kendoGrid");
                var selectedRow = trainingPeriodGrid.select();
                var selectedTrainingPeriod = trainingPeriodGrid.dataItem(selectedRow);

                var traineeGrid = $("#traineeDetailedInformationGrid").data("kendoGrid");
                var selectedRow = traineeGrid.select();
                var selectedTrainee = traineeGrid.dataItem(selectedRow);


                //WHEN the Training Period is selected >>>>>>>
                if (selectedTrainingPeriod !== null ) {
                    if (selectedTrainingPeriod.doctoralLevelId === 1){
                        self.set("postDocSectionVisible", "");
                        self.set("postdocReasonForLeaving", "");
                        self.set("postDocSectionVisible", false);
                        self.set("predDocSectionVisible", true);
                    }else{
                        self.set("predDocSectionVisible","");
                        self.set("predocReasonForLeaving", "");
                        self.set("predDocSectionVisible", false);
                        self.set("postDocSectionVisible", true);
                    }
                    self.set("isTrainingGrantEligible", selectedTrainingPeriod.isTrainingGrantEligible);
                    self.set("doctoralLevelId", selectedTrainingPeriod.doctoralLevelId);    
                         
                    self.set("institutionAssociationId", selectedTrainingPeriod.institutionAssociationId);
                    self.set("institutionAssociation", selectedTrainingPeriod.institutionAssociation);
                    self.set("researchProjectTitle", selectedTrainingPeriod.researchProjectTitle);        
                
                    self.set("selectedTrainingPeriodId", selectedTrainingPeriod.id);                // Settings trainingPeriod Id 
                }
                self.set("addTraineeDetailedSectionVisible", true);
                self.set("hideAddTraineeDetailedButton", false);
            },

            //DropdownList EVENT: this handles the DropDownList selection
            onChangeSelectMenteeDropdown: function(){
                var self = this;
                var menteeDataBind = $('#newMenteeDropDown').data("kendoDropDownList").value();
                var newTraineeDropdownSelection = $('#newMenteeDropDown').data("kendoDropDownList").text();
                var updateData = {
                    menteeId: menteeDataBind,                               //Assigned Select MenteeID
                    menteeFullName: newTraineeDropdownSelection,
                    institutionAssociationId: self.institutionAssociationId,
                    institutionAssociation: self.institutionAssociation,
                    researchProjectTitle: self.researchProjectTitle,
                    isTrainingGrantEligible: self.isTrainingGrantEligible
                };
                $.ajax({
                    url: '@Url.Content("~/TrainingGrant/GetMenteeTrainingPeriods")',
                    data: JSON.stringify(updateData),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    error: function () {
                        toastr.error('Info - Update failed!');
                    },
                    success: function (value) {
                        if (value.menteeTrainingPeriods.length === 0){
                            var trainingPeriodMsg = ""+kendo.stringify(newTraineeDropdownSelection)+" has no known training period.  Please update the Mentee information in the Mentee section prior to selecting them here.";
                            self.set("dialogMsgContents", trainingPeriodMsg);
                            $('#dialogMsg').modal();
                            self.clearTraineeDetailedInputFields();

                        }else{
                            if(value.isTrainingGrantEligible === true){
                                self.clearDateInputFields();
                                //SET TO the grid
                                self.set("menteeTrainingPeriods", value.menteeTrainingPeriods);
                            }else{
                                var TGEDialogMsg = "The training grant eligibility (TGE) for "+kendo.stringify(newTraineeDropdownSelection)+" is either No or Unknown.  Please update the Mentee information in the Mentee section prior to selecting them here.";
                                self.set("dialogMsgContents", TGEDialogMsg);
                                $('#dialogMsg').modal();
                                self.clearTraineeDetailedInputFields();
                            }
                        }
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
            },
            // This function specifically handling clearing the Start and End date fields
            clearDateInputFields:function() {
                var self = this;
                self.set("dateStarted", "");
                self.set("dateEnded", "");
                //var datepicker = $("#startDate").data("kendoDatePicker");
                //datepicker.value(new Date());                 
                //$("#startDate").val("");

                //var datepicker = $("#endDate").data("kendoDatePicker");
                //datepicker.value(new Date());                 
                //$("#endDate").val("");

            },

            // EVENT:  This handles the Add New Trainee detailed button
            onChangeAddNewTrainee: function(){
                var self = this;
                self.set("addTraineeDetailedSectionVisible", true);
                self.set("hideAddTraineeDetailedButton", false);

                var trainingPiriodGrid = $("#associatedTrainingPeriodGrid").data("kendoGrid");
                trainingPiriodGrid.clearSelection();
                var traineeGrid = $("#traineeDetailedInformationGrid").data("kendoGrid");
                traineeGrid.clearSelection();

                self.clearTraineeDetailedInputFields();
            },
            
            // EVENT:  This handles the cancel button
            cancel:function() {
                var self = this;
                $('input[name=programstatusField]').removeAttr('checked');       // Clear radio button-data value
                self.clearTraineeDetailedInputFields();
              
                self.set("addTraineeDetailedSectionVisible", false);
                self.set("hideAddTraineeDetailedButton", true);

            },
            // This function clear ALL input fields
            clearTraineeDetailedInputFields:function() {
                var self = this;
                var traineeKendoGrid = $("#traineeDetailedInformationGrid").data("kendoGrid");
                traineeKendoGrid.clearSelection();

                var trainingPeriodKendoGrid = $("#associatedTrainingPeriodGrid").data("kendoGrid");
                trainingPeriodKendoGrid.clearSelection();
                self.set("selectedTraineeId", "");
                self.set("selectedId", "");
                self.set("selectedMenteeId", "");           //Mentee Dropdown
                self.set("dateStarted", "");                // T32 Appointment Start date
                self.set("dateEnded", "");                  // T32 Appointment End date
                //var datepicker = $("#startDate").data("kendoDatePicker");
                //datepicker.value(new Date());                 
                //$("#startDate").val("");

                //var datepicker = $("#endDate").data("kendoDatePicker");
                //datepicker.value(new Date());                 
                //$("#endDate").val("");
                
                self.set("menteeTrainingPeriods", "");      // Training Period Grid
                
                self.set("predDocSectionVisible", "");
                self.set("postDocSectionVisible", "");
                
                self.set("predocTraineeStatusId","");
                //$('input[name=programstatusField]').removeAttr('checked');
                self.set("predocReasonForLeaving", "");               
                
                self.set("postdocTraineeStatusId","");
                self.set("postdocReasonForLeaving", "");
                self.set("selectedTrainingPeriodId", "");    
            },

        },@(Html.ToJson(Model))));
        kendo.bind($("#editTraineeDetailedInfo-view"), traineeDetailedInfoVM);
        $("#traineeDetailedInformationGrid").data("kendoGrid").hideColumn(0);
        $("#traineeDetailedInformationGrid").data("kendoGrid").hideColumn(1);
        $("#traineeDetailedInformationGrid").data("kendoGrid").hideColumn(2);
        $("#traineeDetailedInformationGrid").data("kendoGrid").hideColumn(3);
        $("#associatedTrainingPeriodGrid").data("kendoGrid").hideColumn(0);
    })
</script>
