﻿@using TraineeTrackingSystem.Web.Common;
@model TrainingGrantViewModel

<div id="createRequest-view">

    <h1 class="section-title">Search Existing Training Grant(s)</h1>

    <fieldset name="collectTrainingGrantBasicInfo" id="collectTrainingGrantBasicInfo" class="two-column-fields">

        <label class="control-label" for="pdListDropDown">Program Director* :</label>
        <input id="pdListDropDown" name="pdListDropDown" data-role="dropdownlist"
               data-option-label="select program director"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: pdFullName, source:facultyList" required validationmessage="This field is required">
        <span class="k-invalid-msg" data-for="pdListDropDown" validationmessage="This field is required"></span>

        <label class="control-label osu-standard" for="institutionAutoComplete">Sponsor: </label>
        @*<input id="institutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="Type a sponsor name (at least four characters) "
               data-min-length="4"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: sponsorName,source: institutions" />*@
        <input id="institutionAutoComplete"
               data-role="autocomplete"
               data-placeholder="type a sponsor name (at least three characters) "
               data-min-length="3"
               data-filter="contains"
               data-value-primitive="true"
               data-text-field="Name"
               data-bind="value: selectedInstitution,source: institutions" />


        @*<button data-role="button"
                data-bind="events: { click: addNewInstitution }">
            Add New
        </button>*@

        <!-- POPUP: ADD NEW INSTITUTION -->
        <div id="newInstitutionWindow" data-bind="visible:addNewInstitutionSectionVisible">

            <div>
                <label class="control-label" for="newInstitutionNameField">Name*:</label>
                <input id="newInstitutionNameField" name="newInstitutionNameField" class="add listing" type="text"
                       data-bind="value: newInstitutionName" placeholder="enter sponsor name"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="newInstitutionNameField"></span>
            </div>

            <div>
                <label class="control-label" for="newInstitutionCityField">City*:</label>
                <input id="newInstitutionCityField" name="newInstitutionCityField" class="add listing" type="text"
                       data-bind="value: newInstitutionCityName" placeholder="enter sponsor's city"
                       required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="newInstitutionCityField"></span>
            </div>

            <div>
                <label class="control-label">State/Province:</label>
                <input id="newInstitutionStateDropDown" data-role="dropdownlist"
                       data-option-label="select state/province"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newInstitutionState,source: states" />
                <span class="k-invalid-msg" data-for="newInstitutionStateDropDown"></span>
            </div>

            <div>
                <label class="control-label">Country*:</label>
                <input id="newInstitutionCountryDropDown" name="newInstitutionCountryDropDown" data-role="dropdownlist"
                       data-option-label="select country"
                       data-auto-bind="true"
                       data-text-field="value"
                       data-value-field="key"
                       data-bind="value: newInstitutionCountry,source: countries" required validationmessage="This field is required" />
                <span class="k-invalid-msg" data-for="newInstitutionCountryDropDown"></span>
            </div>
            <div>
                <button class="add-section save" data-bind="click: saveNewInstitution">Save</button>
                <button class="add-section cancel" data-bind="click: cancelNewInstitution">Cancel</button>
            </div>
        </div>

        <label class="control-label osu-standard">Title*:</label>
        <div class="box-col">
            <textarea id="editor" name="title" data-bind="value:title" style="width: 480px; height:200px;" 
                      required validationmessage="This field is required"></textarea>
            <span class="k-invalid-msg" data-for="title" validationmessage="This field is required"></span>
        </div>

        <div data-bind="invisible: isDisabled">
            <input class="add button" type="button" value="Search Training Grants" data-bind="click: searchTrainingGrant" />
        </div>

        <div id="trainingGrantSearchGrid" data-bind="visible: searchCount>0">
        </div>
        <div id="trainingGrantFound" data-bind="visible: resultVisible">
            <span>
                If the Training Grant is in the list, click the row to open and edit it's information. <br /><br />
                Otherwise, enter required fields above, and click 'Create' to make a new Training Grant record.
            </span>
            <input class="add button" type="button" value="Create New Training Grant" data-bind="click: createTrainingGrant" />
        </div>

        <br />
        <br />
        <div id="noTrainingGrantFound" data-bind="visible: noResultVisible">
            <span>
                No matching Training Grant records found.<br /><br />
                Enter required fields above, and click 'Create' to make a new Training Grant record.
            </span>
            <input class="add button" type="button" value="Create New Training Grant" data-bind="click: createTrainingGrant" />
        </div>


    </fieldset>

</div>


<script>

    $(document).ready(function () {
        $("#editor").kendoEditor({
            tools: [
                "bold", "italic", "subscript", "superscript", "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                {
                    name: "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items: [
                        { text: "12px", value: "12px" },
                        { text: "24px", value: "24px" }
                    ]
                },
                // More tools can be added here...
            ]
        });

        var trainingGrantViewModel = kendo.observable($.extend({

            addNewInstitutionSectionVisible: false,
            //updated: false,
            searchCount: -1,
            noResultVisible: false,
            resultVisible: false,
            institutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype: "json",
                        data: {
                            name: function () {
                                return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),
            clearInput: function () {
                var self = this;
                self.set("selectedId", "");
                self.set("pdFullName", "");
                self.set("sponsorName", "");
                self.set("title", "");
                self.set("selectedInstitution", "");
            },
            clearNewInstitutionInput: function () {
                var self = this;
                self.set("newInstitutionName", "");
                self.set("newInstitutionCityName", "");
                self.set("newInstitutionState", "");
                self.set("newInstitutionCountry", "");
            },
            createTrainingGrant: function (e) {
                var self = this;
                
                var validator = $("#collectTrainingGrantBasicInfo").kendoValidator().data("kendoValidator");
                if ((self.title === null) || (self.pdFullName === null)) {
                    validator.validate();
                } else {
                //if (validator.validate()) {
                    var updateData = {
                        Id: self.selectedId,
                        pdFacultyId: (self.pdFullName != null) ? self.pdFullName.key : null,
                        pdFullName: (self.pdFullName != null) ? self.pdFullName.value : null,
                        //institutionId: self.sponsorName != null ?
                        //    self.sponsorName.key : null,

                        institutionId: self.selectedInstitution != null?
                                            self.selectedInstitution : null,

                        //sponsorName: self.sponsorName != null ?
                        //    self.sponsorName : null,

                        sponsorName: self.selectedInstitution != null?
                                            self.selectedInstitution : null,

                        //sponsorName: self.sponsorName,
                        title: self.title
                    };
                    window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/CreateTrainingGrant")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            window.console && console.log("error");
                        },
                        success: function (value) {
                            window.location = '@Url.Content("~/TrainingGrant/Edit/")' + value;
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            searchTrainingGrant: function (e) {
                var self = this;
                var updateData = {
                    Id: self.selectedId,
                    pdFacultyId: (self.pdFullName != null) ? self.pdFullName.key : null,
                    pdFullName: (self.pdFullName != null) ? self.pdFullName.value : null,
                    //sponsorId: self.sponsorName != null ?
                    //    self.sponsorName : null,

                    //sponsorName: self.sponsorName != null ?
                    //    self.sponsorName : null,
                    //sponsorName: self.sponsorName,
                    sponsorName: self.selectedInstitution,
                    title: self.title
                };
                $.ajax({

                    url: '@Url.Content("~/CommonData/SearchTrainingGrants")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",

                    error: function () {
                        window.console && console.log("error");
                    },
                    success: function (value) {
                        self.set("searchCount", value.length);
                        self.set("noResultVisible", value.length === 0);
                        self.set("resultVisible", value.length > 0);
                        $("#trainingGrantSearchGrid").kendoGrid({
                            columns: [{
                                field: "PdFullName",
                                template: '<a href="Edit/#=Id#">#=PdFullName#</a>',
                                title: "Program Director"
                            }, {
                                field: "SponsorName",
                                title: "Sponsor"
                            }, {
                                field: "Title",
                                template: '<a href="Edit/#=Id#">#=Title#</a>',
                                title: "Title"
                            }],
                            dataSource: {
                                data: value,
                                pageSize: 10
                            },
                            height: 100,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            }
                        });
                    },
                    complete: function () {
                        window.console && console.log("completed");
                    }
                });
                //statusMsg.hidden = true;

            },
            addNewInstitution: function () {
                var self = this;
                self.set("addNewInstitutionSectionVisible", true);
                var window = $('#newInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Sponsor ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewInstitution: function () {
                var window = $('#newInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewInstitution: function () {
                var self = this;

                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newinstitutionname: function (input) {
                                if (input.is("[name=newInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncity: function (input) {
                                if (input.is("[name=newInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncountry: function (input) {
                                if (input.is("[name=newInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newinstitutionname: validationMsg,
                            newinstitutioncity: validationMsg,
                            newinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newInstitutionName,
                        City: self.newInstitutionCityName,
                        StateId: self.newInstitutionState != null ? self.newInstitutionState.key : null,
                        CountryId: self.newInstitutionCountry != null ? self.newInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Sponsor failed!');
                        },
                        success: function (value) {
                            toastr.success('New Sponsor added!');

                            // Transfer new Institution name to selected Institution field
                            if (self.newInstitutionName.length > 0) {
                                self.set("selectedInstitution", self.newInstitutionName);
                            }

                            self.clearNewInstitutionInput();
                            var window = $('#newInstitutionWindow');
                            window.data("kendoWindow").close();
                        }
                    });
                }
            }

        },@(Html.ToJson(Model))));

        console.log(trainingGrantViewModel);

        kendo.bind($("#createRequest-view"), trainingGrantViewModel);

    })
</script>

