﻿@using TraineeTrackingSystem.Web.Common
@model TrainingGrantApplicantsViewModel

<div id="applicantpool-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    
    <script type="text/x-kendo-template" id="applicant-editLink">
        <div>
            <span>
                <a href='@Url.Action("", "")Applicant/Edit/#= applicantGuid #'>
                    View Applicant^
                </a>
            </span>
        </div>
    </script>

    <div class="grid-note">
        These are Applicants that are in Program(s) and/or Department(s), and have the same Applicant Type, as those selected on this Training Grant.
        To add, go to <a href='@Url.Action("", "")/Applicant/'>Applicants</a>
</div>

    <div id="applicantPoolAcademicYearButton" class="grid-tool">
        <label>For Academic Year </label>
        <label id="applicantPoolAcademicYear" data-bind="source:applicantPoolAcademicYear, visible:applicantPoolAcademicYearVisible"></label>

        <button id="btnSelectAcademicYear" data-role="button"
                data-bind="events: {click: selectAcademicYear}">
            Select Academic Year
        </button>

        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

        <!-- POPUP: UPDATE ACADEMIC YEAR -->
        <div id="selectAcademicYearWindow" data-bind="visible:selectAcademicYearWindowVisible">

            <div>
                <label class="control-label" for="applicantPoolAcademicYearField">Academic Year*:</label>
                <input id="applicantPoolAcademicYearField" name="applicantPoolAcademicYearField" placeholder=" YYYY"
                       data-role="numerictextbox" data-format="####" data-spinners="false" data-bind="value:selectedApplicantPoolAcademicYear" 
                       size="4" maxlength="4" style="width:100px;" />
                <span class="k-invalid-msg" data-for="applicantPoolAcademicYearField"></span>
            </div>

            <div>
                <button class="add-section save" data-bind="click: saveAcademicYear">Save</button>
                <button class="add-section cancel" data-bind="click: cancelAcademicYear">Cancel</button>
            </div>

        </div>
    
    <div id="applicantPoolGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'AppID','field': 'applicantId', width:'75px'},
                {title:'Applicant Type','field': 'doctoralLevel', width:'100px'},
                {title:'Program(s)','field': 'programListFlat'},
                {title:'Department','field': 'departmentName', width:'250px'},
                {title:'Entering Year', 'field':'yearEntered', width:'100px'},
                {title:'Action', 'width': '100px', template:kendo.template($('#applicant-editLink').html() ) }
         ]"
         data-bind="source: trainingGrantApplicants">
    </div>

</div>

<script>

    $(document).ready(function () {

        var editApplicantPoolVm = kendo.observable($.extend({
            selectAcademicYearWindowVisible: false,
            applicantPoolAcademicYearVisible: (this.applicantPoolAcademicYear == 0) ? false : true,
            selectAcademicYear:function() {
                var self = this;
                self.set("selectAcademicYearWindowVisible", true);
                var window = $('#selectAcademicYearWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Select Academic Year",
                        width: "500px",
                        height: "200px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }

                if (self.applicantPoolAcademicYear === null) {
                    self.set("selectedApplicantPoolAcademicYear", "");
                } else {
                    self.set("selectedApplicantPoolAcademicYear", self.applicantPoolAcademicYear);
                }
            },
            cancelAcademicYear:function() {
                var window = $('#selectAcademicYearWindow');
                var validator = $("#selectAcademicYearWindow").kendoValidator().data("kendoValidator");
                validator.hideMessages();
                window.data("kendoWindow").close();
            },
            saveAcademicYear:function() {
                var self = this;

                // Validate the Academic Year Popup field here so it isn't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#selectAcademicYearWindow").kendoValidator(
                    {
                        rules: {
                            newacademicyear: function (input) {
                                if (input.is("[name=applicantPoolAcademicYearField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newacademicyear: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {

                    var updateData = {
                        Id: self.trainingGrantId,
                        ApplicantPoolAcademicYear: self.selectedApplicantPoolAcademicYear
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/UpdateApplicantPoolAcademicYear")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Academic Year Update failed!');
                        },
                        success: function(value) {
                            toastr.success('Academic Year saved');                           

                            //window.console && console.log(value);
                             //Transfer updated year to label
                            if (self.selectedApplicantPoolAcademicYear.length != 0) {
                                self.set("applicantPoolAcademicYear", self.selectedApplicantPoolAcademicYear);
                            }

                            self.set("selectedApplicantPoolAcademicYear", "");
                            var academicYrWindow = $('#selectAcademicYearWindow');
                            academicYrWindow.data("kendoWindow").close();

                            var dataSource = new kendo.data.DataSource({ data: value.trainingGrantApplicants });
                            var grid = $('#applicantPoolGrid').data("kendoGrid");
                            dataSource.read();
                            dataSource.pageSize(5); 
                            grid.setDataSource(dataSource);
                            grid.refresh();

                        }
                    });
                }
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#applicantpool-view"), editApplicantPoolVm);
        $("#applicantPoolGrid").data("kendoGrid").hideColumn(0);
    })
</script>