﻿@using TraineeTrackingSystem.Web.Common;
@model TrainingGrantViewModel

@*<div id="tgrantgeninfo-view">*@ 
<div id="tgrantgeninfo-view" data-role="validatir" novalidate="novalidate">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />

    <label class="control-label osu-standard" for="titleEditor">Title*:</label>
    <div class="box-col">
        <textarea id="titleEditor" name="title" data-bind="value:title" style="width: 480px; height:100px;"
                  required validationmessage="This field is required"></textarea>
        <span class="k-invalid-msg" data-for="title" validationmessage="This field is required"></span>
    </div>

    <label class="control-label osu-standard" for="institutionAutoComplete">Sponsor: </label>
    <input id="institutionAutoComplete"
           data-role="autocomplete"
           data-placeholder="type a sponsor name (at least three characters) "
           data-min-length="3"
           data-filter="contains"
           data-value-primitive="true"
           data-text-field="Name"
           data-bind="value: sponsorName,source: institutions" />

    @*<button data-role="button"
            data-bind="events: { click: addNewInstitution }">
        Add New
    </button>*@

    <!-- POPUP: ADD NEW INSTITUTION -->
    <div id="newInstitutionWindow" data-bind="visible:addNewInstitutionSectionVisible">

        <div>
            <label class="control-label" for="newInstitutionNameField">Name*:</label>
            <input id="newInstitutionNameField" name="newInstitutionNameField" class="add listing" type="text"
                   data-bind="value: newInstitutionName" placeholder="enter sponsor name" />
            <span class="k-invalid-msg" data-for="newInstitutionNameField"></span>
        </div>

        <div>
            <label class="control-label" for="newInstitutionCityField">City*:</label>
            <input id="newInstitutionCityField" name="newInstitutionCityField" class="add listing" type="text"
                   data-bind="value: newInstitutionCityName" placeholder="enter sponsor's city" />
            <span class="k-invalid-msg" data-for="newInstitutionCityField"></span>
        </div>

        <div>
            <label class="control-label">State/Province:</label>
            <input id="newInstitutionStateDropDown" data-role="dropdownlist"
                   data-option-label="select state/province"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionState,source: states" />
            <span class="k-invalid-msg" data-for="newInstitutionStateDropDown"></span>
        </div>

        <div>
            <label class="control-label">Country*:</label>
            <input id="newInstitutionCountryDropDown" name="newInstitutionCountryDropDown" data-role="dropdownlist"
                   data-option-label="select country"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: newInstitutionCountry,source: countries" />
            <span class="k-invalid-msg" data-for="newInstitutionCountryDropDown"></span>
        </div>
        <div>
            <button class="add-section save" data-bind="click: saveNewInstitution">Save</button>
            <button class="add-section cancel" data-bind="click: cancelNewInstitution">Cancel</button>
        </div>
    </div>


    <label class="control-label">Status:</label>
    <input id="statusDropDown" name="statusDropDown" data-role="dropdownlist"
           data-option-label="select status"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: trainingGrantStatusId, source: trainingGrantStatusName">
    <span class="k-invalid-msg" data-for="statusDropDown"></span>

    <label class="control-label" for="inputProjectedStartDate">Projected Start Date*:</label>
    <input type="text" data-role='datepicker' data-bind="value:dateProjectedStart" id="inputProjectedStartDate" name="inputProjectedStartDate" data-type="date" data-lessdate-field="inputProjectedEndDate" data-lessdate-msg='Projected Start Date should be before Projected End Date.' required="required"
           placeholder="  YYYY-MM-DD" data-format="yyyy-MM-dd" data-kiui-date="yyyy-MM-dd" validationmessage="This field is required in the following format: YYYY-MM-DD" />
        <span data-for='inputProjectedStartDate' class='k-invalid-msg'></span>
   
    
    <label class="control-label" for="inputProjectedEndDate">Projected End Date*:</label>
    <input type="text" data-role='datepicker' data-bind="value:dateProjectedEnd" id="inputProjectedEndDate" name="inputProjectedEndDate" data-type="date" required="required"
           placeholder="  YYYY-MM-DD" data-format="yyyy-MM-dd" data-kiui-date="yyyy-MM-dd" validationmessage="This field is required in the following format: YYYY-MM-DD"
           data-greaterdate-field="inputProjectedStartDate" data-greaterdate-msg='Projected End Date should be after Projected Start Date' />
    <span data-for='inputProjectedEndDate' class='k-invalid-msg'></span>
 




    <label class="control-label osu-standard">GRT Number:</label>
    <input type="text" placeholder="enter grt number" data-bind="value:grtNumber" />

    <label class="control-label osu-standard">Sponsor Reference Number <br />(if known):</label>
    <input type="text" placeholder="enter reference number" data-bind="value:sponsorReferenceNumber" />


    <label class="control-label" for="programMultiSelect">Program(s):</label>
    <select id="programMultiSelect"
            data-role="multiselect"
            data-placeholder="select program(s)"
            data-value-primitive="true"
            data-text-field="value"
            data-value-field="key"
            data-bind="value: selectedPrograms,source: programs"></select>

    <label class="control-label" for="departmentMultiSelect">Department(s):</label>
    <select id="departmentMultiSelect"
            data-role="multiselect"
            data-placeholder="select department(s)"
            data-value-primitive="true"
            data-text-field="value"
            data-value-field="key"
            data-bind="value: selectedDepartments,source: departments"></select>

    <label class="control-label" for="doctoralLevelId">Type of Training Grant: </label>
    <div class="radio-group">
        <input type="radio" name="doctoralLevelId" value="1" data-bind="checked: doctoralLevelId" /><label>pre-doc</label>
        <input type="radio" name="doctoralLevelId" value="2" data-bind="checked: doctoralLevelId" /><label>post-doc</label>
        <input type="radio" name="doctoralLevelId" value="3" data-bind="checked: doctoralLevelId" /><label>both</label>
    </div>

    <label class="control-label" for="IsRenewal">Training Grant Renewal*: </label>
    <div class="radio-group">
        <input type="radio" name="IsRenewal" value="true" data-bind="checked: isRenewal" /><label>Yes</label>
        <input type="radio" name="IsRenewal" value="false" data-bind="checked: isRenewal" /><label>No</label>
    </div>

    <label class="control-label" for="inputPredocPositionsRequested">Number of Pre-doc Positions Requested Per Year:</label>
    <input id="inputPredocPositionsRequested" name="inputPredocPositionsRequested" data-role="numerictextbox"
           data-format="#####" data-spinners="false" data-bind="value:numPredocPositionsRequested" size="5" maxlength="5" />

    <label class="control-label" for="inputPostdocPositionsRequested">Number of Post-doc Positions Requested Per Year:</label>
    <input id="inputPostdocPositionsRequested" name="inputPostdocPositionsRequested" data-role="numerictextbox"
           data-format="#####" data-spinners="false" data-bind="value:numPostdocPositionsRequested" size="5" maxlength="5" />

    <div id="updateDiv">
        <button class="add-section save" data-bind="click: updateGeneralInfo">Save Section</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#titleEditor").kendoEditor({
            tools: [
                "bold","italic","subscript","superscript","justifyLeft","justifyCenter","justifyRight","justifyFull",
                {
                    name : "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items:[
                        {text: "12px", value: "12px"},
                        {text: "24px", value: "24px"}
                    ]
                },
                // More tools can be added here...
            ]
        });

        // THIS -> validated the date fields to make sure that Projected End Date should be after Projected Start Date
        $(function () {
            var container = $("#tgrantgeninfo-view");
            kendo.init(container);
            container.kendoValidator({
                rules: {
                    greaterdate: function (input) {
                        if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                            var date = input.data("kendoDatePicker").value(),
                                otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                            return otherDate == null || otherDate.getTime() < date.getTime();
                        }

                        return true;
                    },
                    lessdate: function (input) {
                        if (input.is("[data-lessdate-msg]") && input.val() != "") {                                    
                            var date = input.data("kendoDatePicker").value(),
                                otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
                            return otherDate == null || otherDate.getTime() > date.getTime();
                        }

                        return true;
                    }
                }
            });
        });


        var trainingGrantVm =kendo.observable($.extend({
            addNewInstitutionSectionVisible:false,
            //trainingGrantExtendedInfoSectionVisible: ViewBag.IsNew,
            updated: false,
            Id: self.selectedId,

            institutions: new kendo.data.DataSource({
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        datatype:"json",
                        data: {
                            name: function(){
                                return $("#institutionAutoComplete").data("kendoAutoComplete").value();
                            }
                        }
                    }
                }
            }),
            clearNewInstitutionInput:function() {
                var self = this;
                self.set("newInstitutionName", "");
                self.set("newInstitutionCityName", "");
                self.set("newInstitutionState", "");
                self.set("newInstitutionCountry", "");
            },
            addNewInstitution:function() {
                var self = this;
                self.set("addNewInstitutionSectionVisible", true);
                var window = $('#newInstitutionWindow');
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        title: "Add New Sponsor ",
                        width: "800px",
                        height: "400px",
                        actions: [
                            "Pin",
                            "Minimize",
                            "Maximize",
                            "Close"
                        ]
                    });
                }
                if (!window.data("kendoWindow").options.visible) {
                    window.data("kendoWindow").open().center();
                } else {
                    window.data("kendoWindow").center();
                }
            },
            cancelNewInstitution:function() {
                var window = $('#newInstitutionWindow');
                window.data("kendoWindow").close();
            },
            saveNewInstitution:function() {
                var self = this;
                // Validate the Institution Popup fields here so they aren't validated when still hidden
                var validationMsg = "This field is required";
                var validator = $("#newInstitutionWindow").kendoValidator(
                    {
                        rules: {
                            newinstitutionname: function (input) {
                                if (input.is("[name=newInstitutionNameField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncity: function (input) {
                                if (input.is("[name=newInstitutionCityField]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            },
                            newinstitutioncountry: function (input) {
                                if (input.is("[name=newInstitutionCountryDropDown]")) {
                                    return $.trim(input.val()) !== "";
                                }
                                return true;
                            }
                        },
                        messages: {
                            newinstitutionname: validationMsg,
                            newinstitutioncity: validationMsg,
                            newinstitutioncountry: validationMsg
                        }
                    }).data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Name: self.newInstitutionName,
                        City: self.newInstitutionCityName,
                        StateId: self.newInstitutionState != null ? self.newInstitutionState.key : null,
                        CountryId: self.newInstitutionCountry != null ? self.newInstitutionCountry.key : null
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/AddNewInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add New Sponsor failed!');
                        },
                        success: function (value) {
                            toastr.success('New Sponsor added!');

                            if (self.newInstitutionName.length > 0) {
                                self.set("sponsorName", self.newInstitutionName);
                            }

                            self.clearNewInstitutionInput();
                            var window = $('#newInstitutionWindow');
                            window.data("kendoWindow").close();
 
                        }
                    });
                }
            },
            
           
            updateGeneralInfo : function() {
                //save view model to the database
                var self = this;   
                var validator = $("#tgrantgeninfo-view").kendoValidator().data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        Id: self.id,
                        fundingId: self.fundingId,
                        title: self.title,    
                        sponsorName: self.sponsorName,
                        trainingGrantStatusId: self.trainingGrantStatusId,
                        dateProjectedStart: self.dateProjectedStart,
                        dateProjectedEnd: self.dateProjectedEnd,
                        grtNumber: self.grtNumber,
                        sponsorReferenceNumber: self.sponsorReferenceNumber,
                        trainingGrantPrograms: self.selectedPrograms,
                        trainingGrantDepartments: self.selectedDepartments,
                        //doctoralLevelId: self.doctoralLevelId != null ? self.doctoralLevelId.value : null,
                        doctoralLevelId: self.doctoralLevelId,
                        //doctoralLevel: self.doctoralLevelId,
                        isRenewal: self.isRenewal,
                        numPredocPositionsRequested: self.numPredocPositionsRequested,
                        numPostdocPositionsRequested: self.numPostdocPositionsRequested
                    
                    };
                    //window.console && console.log('updateData General b4 save:');
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/UpdateGeneralInformation")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Update successful! Refreshing page...');
                            location.reload();
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));
        //window.console && console.log(trainingGrantVm);
        kendo.bind($("#tgrantgeninfo-view"), trainingGrantVm);
    })

</script>

@*<script type="text/javascript">
    $(function () {
        var container = $("#employeeForm");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                greaterdate: function (input) {
                    if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                        var date = kendo.parseDate(input.val()),
                            otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                        return otherDate == null || otherDate.getTime() < date.getTime();
                    }

                    return true;
                }
            }
        });
    });

    function save(e) {
        var validator = $("#employeeForm").data("kendoValidator");
        if (validator.validate()) {
            alert("Employee Saved");
        }
    }

</script>*@



