﻿@using TraineeTrackingSystem.Web.Common
@model AwardInformationViewModel

<div id="editTrainingGrantAwardInfo-view">
    <input id="researchId" type="hidden" data-bind="value:selectedId" />

    <label class="control-label osu-standard">Sponsor Award Number:</label>
    <input type="text" placeholder="enter sponsor award number" data-bind="value:sponsorAwardNumber" />

    <label class="control-label" for="inputDateStarted">Start Date:</label>
    <input name="inputDateStarted" id="inputDateStarted" placeholder=" YYYY-MM-DD"
           data-role="datepicker" data-format="yyyy-MM-dd" data-bind="value:dateStarted"
           data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
    <span class="k-invalid-msg" data-for="inputDateStarted"></span>

    <label class="control-label" for="inputDateEnded">End Date:</label>
    <input name="inputDateEnded" id="inputDateEnded" placeholder=" YYYY-MM-DD"
           data-role="datepicker" data-format="yyyy-MM-dd" data-bind="value:dateEnded"
           data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
    <span class="k-invalid-msg" data-for="inputDateEnded"></span>

    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: saveUpdateAwardtInfo" /> </span>
    </div>

</div>
<script>
    $(document).ready(function () {
        
        var awardInfoVm = kendo.observable($.extend({
            updated  : false,
            saveUpdateAwardtInfo: function() {
                var self = this;
                
                var validator = $("#editTrainingGrantAwardInfo-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        fundingId: self.fundingId,                      //Post Model Funding Id
                        id: self.id,                                    // Post Model
                        sponsorAwardNumber: self.sponsorAwardNumber,    //Post Model
                        dateStarted: self.dateStarted,                  //Post Model
                        dateEnded: self.dateEnded,                       //Post Model

                        //dateLastUpdated: self.dateLastUpdated,
                        //lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SaveUpdateAwardInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Info - Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Info - Update succeeded! Refreshing page...');
                            // MVN - added 9/18/2015 this code so that the last update is refresh in the UI
                            location.reload();
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                }
            },
        },@(Html.ToJson(Model))));

        //window.console && console.log(awardInfoVm);
        kendo.bind($("#editTrainingGrantAwardInfo-view"), awardInfoVm);
    })
</script>