﻿@using TraineeTrackingSystem.Web.Common
@model TrainingGrantsViewModel

<div id="tgrenewal-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Previous Training Grant</h2>

    <script type="text/x-kendo-template" id="previousTG-selectLink">
        <div>
            <span style="cursor: pointer;">
                <a href="\\#tgRenewalGrid" id="linkPreviousTGSelect" class="previoustg_select_link" data-bind="source:selectLinkText"></a>
            </span>
        </div>
    </script>

    <div id="tgRenewalGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 10 }'
         data-columns="[
                        { 'field': 'id'},
                        {title:'PD','field':'pdFullName'},
                        {title:'Sponsor','field':'sponsorName'},
                        {title:'Title','field': 'title'},
                        {title:'Sponsor Award','field': 'sponsorAwardNumber'},
                        {title:'Action', 'width': '120px', template:kendo.template($('#previousTG-selectLink').html() ) }
         ]"
         data-bind="source: previousTrainingGrants,
                    events:{
                         dataBound: dataBoundPreviousTrainingGrant
                    }">
    </div>

</div>

<script>
    $(document).ready(function () {
        var tgRenewalVM = kendo.observable($.extend({
            selectLinkText: "Select",
            selectedLinkText: "Selected",
            dataBoundPreviousTrainingGrant:function(e) {
                var self = this;

                // if there's already a previous training grant selection saved, show that row
                // in the grid as selected
                var kendoGrid = $("#tgRenewalGrid").data("kendoGrid");
                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                
                if ((selectedDataRow == undefined) && (self.selectedId != null)) {
                    var uid = kendoGrid.dataSource.get(self.selectedId).uid;
                    kendoGrid.tbody.find("tr[data-uid='" + uid + "']").addClass("k-state-selected");
                    selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                } 
                
                // action for when a "Select" link is clicked
                $(".previoustg_select_link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#tgRenewalGrid").data("kendoGrid");
                    var selectedRow = kendoGrid.select();
                    var selected=kendoGrid.dataItem(selectedRow);

                    var updateData = {
                        Id: self.id,
                        previousTrainingGrantId: selected.id
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SavePreviousTrainingGrant")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Previous Training Grant selection saved!');
                            selected.set("linkPreviousTGSelect").bind(selectedLinkText);
                            self.selectedId = selected.Id;                      

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })

                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#tgrenewal-view"), tgRenewalVM);
        $("#tgRenewalGrid").data("kendoGrid").hideColumn(0);
    })
</script>