﻿@using TraineeTrackingSystem.Web.Common
@model InstitutionTrainingGrants

<div id="funding_Inst_view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Institutional Training Grants</h2>

    <script type="text/x-kendo-template" id="tgrant-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")/TrainingGrant/Edit/#= trainingGrantId #'>
                    View Grant^
                </a>
            </span>
        </div>
    </script>

    <div class="grid-note">
        These are Pending and Active Training Grants that are associated with Participating Faculty Members on this Training Grant.  
        To Add, go to <a href='@Url.Action("", "")/TrainingGrant/'>Training Grants</a>
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="fundingInstGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                        { 'field': 'trainingGrantId'},
                        {title:'PD','field':'pdFullName'},
                        {title:'Sponsor','field':'sponsorName'},
                        {title:'Title','field': 'title'},
                        {title:'Status','field':'trainingGrantStatus'},
                        {title:'Action', 'width': '130px', template:kendo.template($('#tgrant-viewLink').html() ) }
         ]"
         data-bind="source: fundingGridView">
    </div>
</div>

<script>
    $(document).ready(function () {
        var fundingInstVM = kendo.observable($.extend({

        },@(Html.ToJson(Model))));

        kendo.bind($("#funding_Inst_view"), fundingInstVM);
        $("#fundingInstGrid").data("kendoGrid").hideColumn(0);
    })
</script>