﻿@using TraineeTrackingSystem.Web.Common
@model TraineesSummaryInformationViewModel

<div id="traineePostDocSummaryInfo-view" data-role="validator" novalidate="novalidate">
    <input id="traineeSummaryInfoId" type="hidden" data-bind="value: selectedId" />


    <h2 class="section-title">Post-doc Summary</h2>
    <div id="traineePostDocSummaryInfoGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable="false"
         data-columns="[
                { 'field': 'traineeSummaryId','width':'240px'},
                { 'field': 'trainingGrantId','width':'240px'},
                {title:'Start Date','field': 'dateStartedText', 'width': '125px' },
                {title:'End Date','field': 'dateEndedText', 'width': '125px' },
                {title:'#Positions Awarded', 'field':'positionsAwarded'},
                {title:'#Trainees Appointed', 'field':'traineesAppointed'},
                {title:'#URM Traunees Appointed', 'field':'urmTraineesAppointed'},
                {title:'#Trainees with Disabilities Appointed', 'field':'disabilitiesTraineesAppointed'},
                {title:'#Trainees from Disadvantaged Background', 'field':'disadvantagedTraineesAppointed'},
                {title:'Last Updated','field': 'strDateLastUpdated', 'width': '125px' },
                {title:'Updated By','field': 'strLastUpdatedBy', 'width': '125px' }
         ]"
         data-bind="source: traineeSummaryInformationGridView,
            events:{
                change: onSelectPostDocSummary
            }">
    </div>

    <div id="addPostDocTraineeSummaryButton" data-bind="visible:addPostDocSummaryButtonVisible">
        <button data-role="button"
                data-bind="events: { click: addTraineePostDocSummary }">
            Add Post-doc Trainee Summary Information
        </button>
    </div>

    <!--EXPANDABLE SECTION -- CURRENT SUPPORT -->
    @*<div class="expand" id="editAddTraineePostDocSummarySection" data-bind="visible:addTraineePostDocSummarySectionVisible">*@
    <div class="expand" id="editAddTraineePostDocSummarySection" data-bind="visible:addTraineePostDocSummarySectionVisible">
        <label class="control-label" for="startDatePost">Start Date:</label>
        <input type="text" data-role='datepicker' id="startDatePost" name="startDatePost" data-type="date"
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDatePost' class='k-invalid-msg'></span>

        <label class="control-label" for="endDatePost">End Date:</label>
        <input type="text" data-role='datepicker' id="endDatePost" data-type="date" name="endDatePost" data-greaterdatepost-field="startDatePost" data-greaterdatepost-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:selectedDateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDatePost' class='k-invalid-msg'></span>
        @*Grid item*@

        <label class="control-label osu-standard">Number of Post-doc Positions Awarded Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc positions awarded per year" data-bind="value:positionsAwarded" />
        <label class="control-label osu-standard">Number of Months of Support per Post-doc Position Awarded:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc position awarded" data-bind="value:supportMonthsAwarded" />
        <br />
        <br />
        <label class="control-label osu-standard">Post-doc Trainees with MD Appointed:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter post-doc trainees with MD appointed" data-bind="value:numMdAppointed" />
        <label class="control-label osu-standard">Post-doc Trainees with MD/PhD Appointed:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter post-doc trainees with MD/PhD appointed" data-bind="value:numMdPhDAppointed" />

        <label class="control-label osu-standard">Post-doc Trainees with PhD Appointed:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter post-doc trainees with PhD appointed" data-bind="value:numPhDAppointed" />
        <label class="control-label osu-standard">Post-doc Trainees with Other Degree Appointed:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter post-doc trainees with other degree appointed" data-bind="value:numOtherDegreeAppointed" />
        <br />



        @*Grid item*@
        <label class="control-label osu-standard">Number of Post-doc Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees appointed per year" data-bind="value:traineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support used by Post-doc Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support used by Pre-doc trainees appointed per year" data-bind="value:supportMonthsUsed" />
        <br />
        <br />

        <label class="control-label osu-standard">Number of Post-doc URM Trainees Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc URM trainees appointed per year" data-bind="value:urmTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Post-doc URM Trainee:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc URM trainee" data-bind="value:urmSupportMonthsUsed" />
        <br />
        <br />

        @*Grid item*@
        <label class="control-label osu-standard">Number of Post-doc Trainees with Disabilities Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees with disabilities appointed per year" data-bind="value:disabilitiesTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Post-doc Trainee with Disabilities:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months of support per Pre-doc trainee with disabilities" data-bind="value:disabilitiesSupportMonthsUsed" />
        <br />
        <br />

        @*Grid item*@
        <label class="control-label osu-standard">Number of Post-doc Trainees from Disadvantaged Background Appointed Per Year:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of Pre-doc trainees from disadvantaged background appointed per year" data-bind="value:disadvantagedTraineesAppointed" />
        <label class="control-label osu-standard">Number of Months of Support per Post-doc Trainee from Disadvantaged Background:</label>
        <input data-role="numerictextbox" data-format="####" data-spinners="false" placeholder="enter number of months support per Pre-doc trainee from disadvantaged background" data-bind="value:disadvantagedSupportMonthsUsed" />
        <br />
        <br />


        <button class="add-section save" data-bind="click: saveTraineePostDocSummary">Save</button>
        <button class="add-section cancel" data-bind="click: cancelTraineePostDocSummary">Cancel</button>

    </div>
</div>


<script>
    $(document).ready(function () {
        ////////// THIS -> validated the date fields to make sure that End Date should be after Start Date
        ////////$(function () {
        ////////    var container = $("#editAddTraineePostDocSummarySection");
        ////////    kendo.init(container);
        ////////    container.kendoValidator({
        ////////        rules: {
        ////////            greaterdate: function (input) {
        ////////                if (input.is("[data-greaterdate-msg]") && input.val() != "") {
        ////////                    var date = input.data("kendoDatePicker").value(),
        ////////                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
        ////////                        window.console && console.log("Field: EndDate");
        ////////                        window.console && console.log(date);
        ////////                        window.console && console.log(otherDate);
        ////////                    return otherDate == null || otherDate.getTime() < date.getTime();
        ////////                }

        ////////                return true;
        ////////            },
        ////////            lessdate: function (input) {
        ////////                if (input.is("[data-lessdate-msg]") && input.val() != "") {
        ////////                    var date = input.data("kendoDatePicker").value(),
        ////////                        otherDate = $("[name='" + input.data("lessdateField") + "']").data("kendoDatePicker").value();
        ////////                        window.console && console.log("Field: Start Date");
        ////////                        window.console && console.log(date);
        ////////                        window.console && console.log(otherDate);
        ////////                    return otherDate == null || otherDate.getTime() > date.getTime();
        ////////                }

        ////////                return true;
        ////////            }
        ////////        }
        ////////    });
        ////////});


        var traineePostDocSummaryInfoVm = kendo.observable($.extend({

            addPostDocSummaryButtonVisible: true,
            addTraineePostDocSummarySectionVisible: false,
            updated  : false,

            clearPostDocSummaryFieldsInput:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedDateStarted", "");
                self.set("selectedDateEnded", "");

                self.set("positionsAwarded", "");
                self.set("traineesAppointed", "");
                self.set("urmTraineesAppointed", "");
                self.set("disabilitiesTraineesAppointed", "");
                self.set("disadvantagedTraineesAppointed", "");


                self.set("numMdAppointed", "");
                self.set("numMdPhDAppointed", "");
                self.set("numPhDAppointed", "");
                self.set("numOtherDegreeAppointed", "");

                self.set("supportMonthsAwarded", "");
                self.set("supportMonthsUsed", "");
                self.set("urmSupportMonthsUsed", "");
                self.set("disabilitiesSupportMonthsUsed", "");
                self.set("disadvantagedSupportMonthsUsed", "");
            },

            onSelectPostDocSummary : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#traineePostDocSummaryInfoGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);

                if (selected !== null) {
                    self.set("selectedId", selected.traineeSummaryId);
                    self.set("selectedDateStarted", (selected.dateStarted != null) ? new Date(selected.dateStarted) : null);
                    self.set("selectedDateEnded", (selected.dateEnded != null) ? new Date(selected.dateEnded) : null);

                    self.set("positionsAwarded", selected.positionsAwarded);
                    self.set("traineesAppointed", selected.traineesAppointed);
                    self.set("urmTraineesAppointed", selected.urmTraineesAppointed);
                    self.set("disabilitiesTraineesAppointed", selected.disabilitiesTraineesAppointed);
                    self.set("disadvantagedTraineesAppointed", selected.disadvantagedTraineesAppointed);

                    self.set("supportMonthsAwarded", selected.supportMonthsAwarded);
                    self.set("supportMonthsUsed", selected.supportMonthsUsed);
                    self.set("urmSupportMonthsUsed", selected.urmSupportMonthsUsed);
                    self.set("disabilitiesSupportMonthsUsed", selected.disabilitiesSupportMonthsUsed);
                    self.set("disadvantagedSupportMonthsUsed", selected.disadvantagedSupportMonthsUsed);

                    self.set("numMdAppointed", selected.numMdAppointed);
                    self.set("numMdPhDAppointed", selected.numMdPhDAppointed);
                    self.set("numPhDAppointed", selected.numPhDAppointed);
                    self.set("numOtherDegreeAppointed", selected.numOtherDegreeAppointed);

                }
                self.set("addTraineePostDocSummarySectionVisible", true);
                self.set("addPostDocSummaryButtonVisible", false);

            },

            addTraineePostDocSummary:function() {
                var self = this;
                self.set("addTraineePostDocSummarySectionVisible", true);
                self.set("addPostDocSummaryButtonVisible", false);

                var kendoGrid = $("#traineePostDocSummaryInfoGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearPostDocSummaryFieldsInput();
            },
            cancelTraineePostDocSummary:function() {
                var self = this;
                self.set("addTraineePostDocSummarySectionVisible", false);
                self.set("addPostDocSummaryButtonVisible", true);
            },
            saveTraineePostDocSummary: function() {
                var self = this;

                //var validator = $("#editAddTraineePostDocSummarySection").kendoValidator().data("kendoValidator");
                var validator = $("#editAddTraineePostDocSummarySection").kendoValidator(
                    {
                        rules: {
                            greaterdatePost: function (input) {
                                if (input.is("[data-greaterdatePost-msg]") && input.val() != "") {                                    
                                    var datePost = input.data("kendoDatePicker").value(),
                                        otherDatePost = $("[name='" + input.data("greaterdatepostField") + "']").data("kendoDatePicker").value();
                                    return otherDatePost == null || otherDatePost.getTime() < datePost.getTime();
                                }

                                return true;
                            },
                        }

                    }).data("kendoValidator");
                if (validator.validate()) {
                    var updateData = {
                        traineeSummaryId: self.selectedId,
                        trainingGrantId: this.trainingGrantId,

                        dateStarted: self.selectedDateStarted,
                        dateEnded: self.selectedDateEnded,

                        positionsAwarded: self.positionsAwarded,
                        supportMonthsAwarded: self.supportMonthsAwarded,
                        supportMonthsUsed: self.supportMonthsUsed,
                        traineesAppointed: self.traineesAppointed,
                        urmTraineesAppointed:self.urmTraineesAppointed,
                        urmSupportMonthsUsed:self.urmSupportMonthsUsed,
                        disabilitiesTraineesAppointed: self.disabilitiesTraineesAppointed,
                        disabilitiesSupportMonthsUsed: self.disabilitiesSupportMonthsUsed,
                        disadvantagedTraineesAppointed: self.disadvantagedTraineesAppointed,
                        disadvantagedSupportMonthsUsed: self.disadvantagedSupportMonthsUsed,
                        numMdAppointed : self.numMdAppointed,
                        numMdPhDAppointed : self.numMdPhDAppointed,
                        numPhDAppointed : self.numPhDAppointed,
                        numOtherDegreeAppointed : self.numOtherDegreeAppointed,
                        
                        dateLastUpdated: self.dateLastUpdated,
                        lastUpdatedBy: self.lastUpdatedBy
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SaveUpdateTraineeSummaryPostDocInfo")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {

                            var traineeSummary = $.grep(self.traineeSummaryInformationGridView, function(e){ return e.traineeSummaryId == value.traineeSummaryId; });
                            if (traineeSummary.length === 0) {
                                self.traineeSummaryInformationGridView.push(kendo.observable(value));

                                toastr.success('Trainee Post-doc summary added!');
                            } else {
                                var kendoGrid = $("#traineePostDocSummaryInfoGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("dateStarted", value.dateStarted);
                                selectedDataRow.set("dateStartedText", value.dateStartedText);
                                selectedDataRow.set("dateEnded", value.dateEnded);
                                selectedDataRow.set("dateEndedText", value.dateEndedText);

                                selectedDataRow.set("positionsAwarded", value.positionsAwarded);
                                selectedDataRow.set("traineesAppointed", value.traineesAppointed);
                                selectedDataRow.set("urmTraineesAppointed", value.urmTraineesAppointed);
                                selectedDataRow.set("disabilitiesTraineesAppointed", value.disabilitiesTraineesAppointed);
                                selectedDataRow.set("disadvantagedTraineesAppointed", value.disadvantagedTraineesAppointed);

                                selectedDataRow.set("supportMonthsAwarded", self.supportMonthsAwarded);
                                selectedDataRow.set("supportMonthsUsed", self.supportMonthsUsed);
                                selectedDataRow.set("urmSupportMonthsUsed", self.urmSupportMonthsUsed);
                                selectedDataRow.set("disabilitiesSupportMonthsUsed", self.disabilitiesSupportMonthsUsed);
                                selectedDataRow.set("disadvantagedSupportMonthsUsed", self.disadvantagedSupportMonthsUsed);

                                selectedDataRow.set("numMdAppointed", self.numMdAppointed);
                                selectedDataRow.set("numMdPhDAppointed", self.numMdPhDAppointed);
                                selectedDataRow.set("numPhDAppointed", self.numPhDAppointed);
                                selectedDataRow.set("numOtherDegreeAppointed", self.numOtherDegreeAppointed); 

                                // MVN - added 9/17/2015
                                selectedDataRow.set("strDateLastUpdated", value.strDateLastUpdated);
                                selectedDataRow.set("strLastUpdatedBy", value.strLastUpdatedBy);
                                toastr.success('Trainee Post-doc summary updated!');
                            }
                            self.set("addTraineePostDocSummarySectionVisible", false);
                            self.set("addPostDocSummaryButtonVisible", true);
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                };
            },
        },@(Html.ToJson(Model))));
        kendo.bind($("#traineePostDocSummaryInfo-view"), traineePostDocSummaryInfoVm);
        $("#traineePostDocSummaryInfoGrid").data("kendoGrid").hideColumn(0);
        $("#traineePostDocSummaryInfoGrid").data("kendoGrid").hideColumn(1);
    })
</script>