﻿@using TraineeTrackingSystem.Web.Common
@model TrainingGrantMenteesViewModel

<div id="facultymentees-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    
    <script type="text/x-kendo-template" id="mentee-viewLink">
        <div>
            <span>
                <a href='@Url.Action("", "")Mentee/Edit/#= menteeId #'>
                    View Mentee^
                </a>
            </span>
        </div>
    </script>

    <div class="grid-note">
        These are Mentees that are associated with Participating Faculty Members on this Training Grant, were
        mentored within 10 years of the Projected Start Date of this grant, and Mentee Type = Training Grant Type.<br />
        Mentees are associated with Faculty (Mentors) through the Training Periods on the <a href='@Url.Action("", "")/Mentee/'>Mentee</a> screen.
        <br /><br />
        <b>^</b> = <small>Clicking this link will take you off this page -- you may lose unsaved changes.</small>
    </div>

    <div id="facultyMenteesGrid" data-role="grid"
         data-editable="false"
         data-selectable="false"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Name','field': 'menteeFullName'},
                {title:'Mentee Type','field': 'doctoralLevel', width:'130px'},
                {title:'Mentor','field': 'mentorFullName'},
                {title:'Start Year','field': 'yearStarted', width:'120px'},
                {title:'End Year', 'field':'yearEnded', width:'120px'},
                {title:'Action', 'width': '130px', template:kendo.template($('#mentee-viewLink').html() ) }
         ]"
         data-bind="source: facultyMentees">
    </div>

</div>

<script>

    $(document).ready(function () {

        var editFacultyMenteesVm = kendo.observable($.extend({

        },@(Html.ToJson(Model))));

        kendo.bind($("#facultymentees-view"), editFacultyMenteesVm);
        $("#facultyMenteesGrid").data("kendoGrid").hideColumn(0);
    })
</script>