﻿@model IEnumerable<Search_VwTrainingGrantGeneralData>

<div id="clientsDb">   
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Title).Title("Title").ClientTemplate(@Html.ActionLink("#=Title#", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Width(20);
            columns.Bound(c => c.PdFullName).Title("Program Director").Width(20);
            columns.Bound(c => c.TrainingGrantStatus).Title("Status").Width(15);
            columns.Bound(c => c.DisplayStartDate).Format("{0:MM/dd/yyyy}").Title("Start Date").Width(60);
            columns.Bound(c => c.DisplayEndDate).Format("{0:MM/dd/yyyy}").Title("End Date").Width(60);
            //columns.Bound(c => c.DateTimeGrantStarted).Format("{0:MM/dd/yyyy}").Title("Start Date").Width(15);
            //columns.Bound(c => c.DateTimeGrantEnded).Format("{0:MM/dd/yyyy}").Title("End Date").Width(30);
            
            //columns.Template(model => null)
            //    .ClientTemplate("<a href='" + Url.RouteUrl("Default", new { controller = "Mentee", action = "Edit" }) + "/#= Id #'>Edit</a>");
        })
        //.ToolBar(toolbar => toolbar.Template("<a id='createOrderButton' class='k-button k-button-icontext k-grid-add' href='#'>Create order</a>"))
        .HtmlAttributes(new { style = "height: 375px;" })
        //.Filterable()
        .Scrollable(scrollable => scrollable.Height(375))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(settings => settings.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.Id))
            .Sort(sort =>
                {
                    sort.Add(tg => tg.Title).Descending(); // <-- intial sort expression
                    sort.Add(tg => tg.PdFullName).Descending();
                    sort.Add(tg => tg.TrainingGrantStatus).Descending();
                    sort.Add(tg => tg.DateTimeGrantStarted).Descending();
                    sort.Add(tg => tg.DateTimeGrantEnded).Descending();
                })
            .Read(read => read.Action("TrainingGrants_Read", "TrainingGrant"))
            //.ServerOperation(true)
            .PageSize(50)
        )
     )
    
</div>
<script>
    $(function () {
        // Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>
