﻿@using TraineeTrackingSystem.Web.Common
@model TrainingGrantsViewModel

<div id="tgPreviousApplicants-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />
    <h2 class="section-title">Selected Supported Applicants from Previous Training Grant</h2>

    <script type="text/x-kendo-template" id="previousApplicants-selectLink">
        <div>
            <span style="cursor: pointer;">
                <a href="\\#tgPreviousApplicantsGrid" id="linkPreviousAppSelect" class="previousapp_select_link" data-bind="source:selectLinkText"></a>
            </span>
        </div>
    </script>

    <div id="tgPreviousApplicantsGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="true"
         data-sortable="true"
         data-pageable='{ "pageSize": 10 }'
         data-columns="[
                        { 'field': 'id'},
                        {title:'PD','field':'pdFullName'},
                        {title:'Sponsor','field':'sponsorName'},
                        {title:'Title','field': 'title'},
                        {title:'Sponsor Award','field': 'sponsorAwardNumber'},
                        {title:'Action', 'width': '120px', template:kendo.template($('#previousApplicants-selectLink').html() ) }
         ]"
         data-bind="source: previousTrainingGrants,
                    events:{
                         dataBound: dataBoundPreviousApplicants
                    }">
    </div>

</div>

<script>
    $(document).ready(function () {
        var tgPreviousApplicantsVM = kendo.observable($.extend({
            selectLinkText: "Select",
            selectedLinkText: "Selected",
            dataBoundPreviousApplicants:function(e) {
                var self = this;

                // if there's already previous applicant selections saved, show those rows
                // in the grid as selected
                var kendoGrid = $("#tgPreviousApplicantsGrid").data("kendoGrid");
                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());

                if ((selectedDataRow == undefined) && (self.selectedId != null)) {
                    var uid = kendoGrid.dataSource.get(self.selectedId).uid;
                    kendoGrid.tbody.find("tr[data-uid='" + uid + "']").addClass("k-state-selected");
                    selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                }

                // action for when a "Select" link is clicked
                $(".previousapp_select_link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#tgPreviousApplicantsGrid").data("kendoGrid");
                    var selectedRow = kendoGrid.select();
                    var selected=kendoGrid.dataItem(selectedRow);

                    var updateData = {
                        Id: self.id,
                        previousTrainingGrantId: selected.id
                    };
                    $.ajax({
                        url: '@Url.Content("~/TrainingGrant/SavePreviousGrantApplicant")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Previous Grant Applicant selection saved!');
                            selected.set("linkPreviousApplicantSelect").bind(selectedLinkText);
                            self.selectedId = selected.Id;

                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })

                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#tgPreviousApplicants-view"), tgPreviousApplicantsVM);
        $("#tgPreviousApplicantsGrid").data("kendoGrid").hideColumn(0);
    })
</script>