﻿@using TraineeTrackingSystem.Web.Common;
@model EditTrainingGrantViewModel
@{
    ViewBag.Title = "Create Training Grant";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Training Grant Form</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @{Html.RenderPartial("_TrainingGrantCreatePage", Model.TrainingGrantGeneralInfo);}
    </article>
</div>