﻿@using TraineeTrackingSystem.Web.Common;
@model EditTrainingGrantViewModel
@{
    ViewBag.Title = "Edit Training Grant";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Training Grant Form</h1>
    </div>
</div>

<div id="tgrant-view" class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">General Information</h1>
            <div id="hideLastUpdateInfo" hidden="@ViewBag.LastUpdated">
                <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.TrainingGrantGeneralInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.TrainingGrantGeneralInfo.StrLastUpdatedBy)) </p> 
            </div>
        @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.TrainingGrantGeneralInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.TrainingGrantGeneralInfo.LastUpdatedBy)) </p>*@ 
        <fieldset name="collectTrainingGrantGenInfo" id="collectTrainingGrantGenInfo" class="two-column-fields">
            @{ Html.RenderPartial("_TrainingGrantGeneralInfo", Model.TrainingGrantGeneralInfo);}
        </fieldset>

        <div id="TrainingGrantExtendedInfoSection" hidden="@ViewBag.IsNew">

            <div id="PreviousTrainingGrantSection" hidden="@ViewBag.IsPreviousHidden">
                <div id="HideTGRenewalInformationSection" hidden="@ViewBag.IsRenewal">
                    <h1 class="section-title">Training Grant Renewal Information</h1>
                    <fieldset name="PreviousTrainingGrant" id="PreviousTrainingGrant" class="two-column-fields">
                        @{ Html.RenderPartial("_TrainingGrantPreviousGrant", Model.PreviousTrainingGrant);}
                    </fieldset>
                </div>
                @*<h1 class="section-title">Training Grant Renewal Information</h1>
                <fieldset name="PreviousTrainingGrant" id="PreviousTrainingGrant" class="two-column-fields">
                    @{ Html.RenderPartial("_TrainingGrantPreviousGrant", Model.PreviousTrainingGrant);}
                </fieldset>*@

            </div>

            <h1 class="section-title">Participating Faculty and Their Roles</h1>
            <fieldset name="TrainingGrantFaculty" id="TrainingGrantFaculty" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantParticipatingFaculty", Model.ParticipatingFaculty);}
            </fieldset>

            <h1 class="section-title">Mentees of Participating Faculty</h1>
            <fieldset name="TrainingGrantMentees" id="TrainingGrantMentees" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantMentees", Model.FacultyMentees);}
            </fieldset>

            <h1 class="section-title">Applicant Pool</h1>
            <fieldset name="TrainingGrantApplicants" id="TrainingGrantApplicants" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantApplicants", Model.ApplicantPool);}
            </fieldset>

            <h1 class="section-title">Selected Support</h1>
            <fieldset name="SelectedSupportGrants" id="SelectedSupportGrants" class="two-column-fields">
                @{Html.RenderPartial("_TrainingGrantSupportGrants", Model.TrainingGrantSupportGrants);}
            </fieldset>

            <fieldset name="SelectedSupportOther" id="SelectedSupportOther" class="two-column-fields">
                @{Html.RenderPartial("_TrainingGrantSupportOther", Model.TrainingGrantSupportOther);}
            </fieldset>

            <div id="AwardInformationSection" hidden="@ViewBag.IsAwardInfoHidden">

                <h1 class="section-title">Award Information</h1>
                <div id="hideLastUpdateInfo" hidden="@ViewBag.AwardLastUpdated">
                    <p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.AwardInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.AwardInfo.StrLastUpdatedBy)) </p>
                </div>            
                <fieldset name="TrainingGrantAwardInfo" id="TrainingGrantAwardInfo" class="two-column-fields">
                    @{ Html.RenderPartial("_TrainingGrantAwardInfo", Model.AwardInfo);}
                </fieldset>

            </div>

            <div id="CostInformationSection" hidden="@ViewBag.IsCostInfoHidden">

                <h1 class="section-title">Cost Information</h1>
                @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.CostInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.CostInfo.LastUpdatedBy)) </p>*@ 
                <fieldset name="TrainingGrantCostInfo" id="TrainingGrantCostInfo" class="two-column-fields">
                    @{ Html.RenderPartial("_TrainingGrantCostInfo", Model.CostInfo);}
                </fieldset>

            </div>

            <h1 class="section-title">Trainee Detailed Information</h1>
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.TraineeDetailedInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.TraineeDetailedInfo.LastUpdatedBy)) </p>*@ 
            <fieldset name="TrainingGrantTraineeDetailedInfo" id="TrainingGrantTraineeDetailedInfo" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantTraineeDetailedInfo", Model.TraineeDetailedInfo);}
            </fieldset>

            <h1 class="section-title">Trainee Summary Information</h1>
            @*<p class="lastUpdate">Last Updated @Html.DisplayFor(m => m.PreDocTraineeSummaryInfo.StrDateLastUpdated)  by @(Html.DisplayFor(m => m.PreDocTraineeSummaryInfo.LastUpdatedBy)) </p>*@ 
            <fieldset name="TrainingGrantTrainees" id="TrainingGrantTrainees" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantTraineeSummaryInfo", Model.PreDocTraineeSummaryInfo);}
            </fieldset>

            <fieldset name="TrainingGrantTraineesPostDoc" id="TrainingGrantTraineesPostDoc" class="two-column-fields">
                @{ Html.RenderPartial("_TrainingGrantTraineeSummaryPostDoc", Model.PostDocTraineeSummaryInfo);}
            </fieldset>
        </div>

        @*<input class="deactivate" type="submit" value="Save" id="SaveBtn" name="buttonName" />*@

        <!--DONE WITH FORM BUTTON-->
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        This action will take you to the menu, and unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button class="add-section" onclick="window.location = '@Url.Content("~/TrainingGrant/Index/")'">OK</button>
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

</article>
</div>
