﻿@model IEnumerable<Search_VwTrainingGrantGeneralData>
@using TraineeTrackingSystem.Web.Models;
@{
    ViewBag.Title = "Training Grants Index";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Training Grants</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @*@if (SecurityControl.IsAdminUser(this.User) ||
             SecurityControl.IsEditUser(this.User)){*@
        @if (SecurityControl.IsEditUser(this.User)){
            <div class="section-admin">
                @using (Html.BeginForm("Create", "TrainingGrant"))
                {
                    @*<button id="btnAddTrainingGrant" type="submit" class="add-item program"
                            data-bind="visible:addTrainingGrantButtonVisible">
                        + Add Training Grant
                    </button>*@
                    <button type="submit" class="add-item program">+ Add Training Grant</button>
                }
            </div>
            <div class="wide-grid">
                <div id="clientsDb">
                    @{Html.RenderPartial("_TrainingGrantLandingPage", Model);}
                </div>
            </div>
        }
    </article>
</div>