﻿@using TraineeTrackingSystem.Web.Common
@model AdminOrganizations

<div id="theAdminOrganizationsSection-view">
    <input id="orgntn" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="organization-deleteLink">
        <div>
            <span>
                <a href="\\#addOrganizationsButton" class="organization-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="organizationsGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Organization ID','field': 'organizationId','width': '100px' },
                {title:'Organization Type','field': 'organizationType','width': '100px' },
                {title:'Name','field': 'displayName','width': '100px' },
                {title:'HR Name','field': 'hrName','width': '100px' },
                {title:'In Use', 'field':'totalOrganizationUsage', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#organization-deleteLink').html() ) }
         ]"
         @*
            Make sure the totalOrganizationUsage datasource defines the number 
            field type correctly (as number) in the model as is shown here
            MVN - 1/5/2015    
         *@
         data-bind="source: adminOrganizationInformation,
            events:{
                change:onSelectorganization,
                dataBound: removedOrgntn
            }">
    </div>

    <div id="addOrganizationsButton" data-bind="visible:addOrganizationBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addOrganization }">
            Add Department/Org
        </button>
    </div>


    <div class="expand" id="editOrganizationsSection" data-bind="visible:addOrganizationsSectionVisible">
        <label class="control-label osu-standard" for="adminOrgIDInputField">Organization ID*:</label>
        <input type="text"
               id="adminOrgIDInputField"
               name="adminOrgIDInputField"
               placeholder="enter organization id "
               data-bind="value: selectedOrganization, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />

        
        <div>
            <label class="control-label">Organization Type*:</label>
            <input id="newOrganizationTypeDropDown" name="newOrganizationTypeDropDown"
                   data-role="dropdownlist"
                   data-option-label="select organization type"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedOrganizationType, source: organizationTypes, events: {open: hideValidationMsgs}" required validationmessage="This field is required" />
            <span class="k-invalid-msg" data-for="newOrganizationTypeDropDown"></span>
        </div>

        <label class="control-label osu-standard" for="adminOrgDisplayNameInputField">Name*:</label>
        <input type="text"
               id="adminOrgDisplayNameInputField"
               name="adminOrgDisplayNameInputField"
               placeholder="enter organization name "
               data-bind="value: selectedDisplayName, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />
        
        <label class="control-label osu-standard" for="adminHRNameInputField">HR Name:</label>
        <input type="text"
               id="adminHRNameInputField"
               name="adminHRNameInputField"
               placeholder="enter peoplesoft organization name "
               data-bind="value: selectedOrganizationHRName, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveOrganization">Save</button>
        <button class="add-section cancel" data-bind="click: cancelOrganization">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminOrgDisplayNameInputField").kendoAutoComplete({
            dataTextField: "DisplayName",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: DisplayName #</span>',
            headerTemplate: '<div class="noDataMessage">Organization type not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetOrganizationTypeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminOrgDisplayNameInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminOrgDisplayNameInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminOrganizationsInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        $("#adminHRNameInputField").kendoAutoComplete({
            dataTextField: "HrName",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: HrName #</span>',
            headerTemplate: '<div class="noDataMessage">Organization id not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetOrganizationHRName")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminHRNameInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminHRNameInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminOrganizationsInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminOrganizationsInfoVm = kendo.observable($.extend({
            addOrganizationBtnVisible: true,
            addOrganizationsSectionVisible: false,

            updated  : false,
            saveOrganization: function(){
                var self = this;
                var validator = $("#editOrganizationsSection").kendoValidator().data("kendoValidator"); 

                var organizationTypeDropdownSelection = $('#newOrganizationTypeDropDown').data("kendoDropDownList").text();
                var organizationDropdownId = $('#newOrganizationTypeDropDown').data("kendoDropDownList").value();

                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        organizationId: self.selectedOrganization,
                        organizationTypeId: organizationDropdownId,
                        organizationType: organizationTypeDropdownSelection,
                        displayName: self.selectedDisplayName,
                        hrName:self.selectedOrganizationHRName,
                        totalOrganizationUsage: self.totalOrganizationUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateOrganization")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add/Update new department/Org failed!');
                            toastr.warning('Department/Org is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminOrganizationInformation,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (modelObject.length === 0) {
                                self.adminOrganizationInformation.push(kendo.observable(value));

                                /* ------------------ country dropdown is handled here ----- */
                                self.organizationTypes.splice(0, value.organizationTypes.length);           // Clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.organizationTypes.push({
                                        key: value[i].key,
                                    });
                                }
                                self.organizationTypes.push({
                                    key: value.organizationTypeId,               // Value from GRID
                                    value: value.organizationType        // Value from GRID
                                });
                                self.set("selectedOrganizationType", value.organizationTypeId);
                                self.set("organizationTypes", value.organizationTypes); // SET state back to Dropdown object

                                toastr.success('Department/Org added!');
                            } else {//update the entry
                                var kendoGrid = $("#organizationsGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                /* ------------------- put back to the Grid ---------------------- */
                                selectedDataRow.set("organizationId", value.organizationId);
                                selectedDataRow.set("displayName", value.displayName);
                                selectedDataRow.set("hrName", value.hrName);

                                selectedDataRow.set("organizationTypeId", value.organizationTypeId);
                                selectedDataRow.set("organizationType", value.organizationType);
                                /* -------------------         end         ----------------------- */

                                /* ------------------ country dropdown is handled here ----- */
                                self.organizationTypes.splice(0, value.organizationTypes.length);           // Clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.organizationTypes.push({
                                        key: value[i].key,
                                    });
                                }
                                self.organizationTypes.push({
                                    key: value.organizationTypeId,               // Value from GRID
                                    value: value.organizationType        // Value from GRID
                                });
                                self.set("selectedOrganizationType", value.organizationTypeId);
                                self.set("organizationTypes", value.organizationTypes); // SET state back to Dropdown object

                                toastr.success('Department/Org updated!');
                            }
                            self.set("addOrganizationsSectionVisible", false);
                            self.set("addOrganizationBtnVisible", true);
                        }
                    });
                }
            },
            addOrganization:function() {
                var self = this;
                self.set("addOrganizationsSectionVisible", true);
                self.set("addOrganizationBtnVisible", false);

                var kendoGrid = $("#organizationsGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                /* --------------------  Development NOTES  ------------------ */
                // When the Admin Index page load, the UI make once Ajax called to the server
                // as a result, when the value is updated, i.e new type of organization is added, 
                // the change will not show up in the organization dropdown list
                // To combatant this, we need another ajax called to the server to refresh the organization dropdown list
                /* ----------------------  MVN 12_31_2015  ------------------- */
                self.callAddOrg();
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedOrganization", "");
                self.set("selectedOrganizationType","");
                self.set("selectedDisplayName", "");
                self.set("selectedOrganizationHRName", "");
            },
            removedOrgntn:function(e) {
                var self = this;
                $(".organization-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#organizationsGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addOrganizationsSectionVisible", false);
                    self.set("addOrganizationBtnVisible", true);

                    if(selectedDataRow.totalOrganizationUsage === 0 || selectedDataRow.totalOrganizationUsage === null || selectedDataRow.totalOrganizationUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveOrganization/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Department/Org removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Department/Org is in use and cannot be removed!');
                    return false;
                });
            },
            onSelectorganization : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#organizationsGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedOrganization",selected.organizationId);
                    self.set("selectedOrganizationType", selected.organizationTypeId);
                    self.set("selectedDisplayName",selected.displayName);
                    self.set("selectedOrganizationHRName", selected.hrName);
                }
                self.set("addOrganizationsSectionVisible", true);
                self.set("addOrganizationBtnVisible", false);
            },
            cancelOrganization:function() {
                var self = this;
                self.set("addOrganizationsSectionVisible", false);
                self.set("addOrganizationBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editOrganizationsSection").kendoValidator().data("kendoValidator");
                $("#editOrganizationsSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            callAddOrg: function(){
                var self = this;
                var self = this;
                var updateData = {
                    id: self.organizationTypeId,                          // Postmodel - fundingId
                };
                $.ajax({
                    url: '@Url.Content("~/Admin/AjaxRequestForAddOrg")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",            
                    success: function (value) {  
                        self.set("organizationTypes", value); // SET the Faculty Dropdown object                                          
                    }
                });
            },

            OrganizationIdField: function(element){
                element.kendoAutoComplete({
                    dataSource: OrganizationId
                });
            },
            OrganizationTypeField: function(element){
                element.kendoAutoComplete({
                    dataSource: OrganizationType
                });
            },
            DisplayNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: DisplayName
                });
            },
            HrNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: HrName
                });
            },
            TotalOrganizationUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                //element.toString().toLowerCase()({
                    dataSource: totalOrganizationUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminOrganizationsSection-view"), adminOrganizationsInfoVm);
        $("#organizationsGrid").data("kendoGrid").hideColumn(0);
    })
</script>