﻿@using TraineeTrackingSystem.Web.Common
@model AdminFacultyRanks

<div id="theAdminFacultyRanksSection-view">
    <input id="ftyranks" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="facultyRank-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultyRnksButton" class="facultyRank-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="facultyRanksGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Degree','field': 'rank','width': '100px' },
                {title:'In Use', 'field':'totalFacultyRankUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#facultyRank-deleteLink').html() ) }
         ]"
         data-bind="source: adminFacultyRankInformation,
            events:{
                change:onSelectfacultyRank,
                dataBound: removedFtyRnk
            }">
    </div>

    <div id="addFacultyRnksButton" data-bind="visible:addFacultyRnkBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFaultyRank }">
            Add Faculty Rank
        </button>
    </div>


    <div class="expand" id="editFacultyRanksSection" data-bind="visible:addFacultyRanksSectionVisible">
        <label class="control-label osu-standard" for="adminFacultyRnkInputField">Faculty Rank*:</label>
        <input type="text"
               id="adminFacultyRnkInputField"
               name="adminFacultyRnkInputField"
               placeholder="enter faculty rank "
               data-bind="value: selectedFtyRank, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveFacultyRank">Save</button>
        <button class="add-section cancel" data-bind="click: cancelFacultyRank">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFacultyRnkInputField").kendoAutoComplete({
            dataTextField: "Rank",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Rank #</span>',
            headerTemplate: '<div class="noDataMessage">Program not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFacultyRankList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFacultyRnkInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFacultyRnkInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminFacultyRanksSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminFacultyRanksSectionInfoVm = kendo.observable($.extend({
            addFacultyRnkBtnVisible: true,
            addFacultyRanksSectionVisible: false,

            updated  : false,
            saveFacultyRank: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFacultyRnkInputField").data("kendoAutoComplete").value();
                var validator = $("#editFacultyRanksSection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFacultyRnkInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        rank: self.selectedFtyRank,
                        totalFacultyRankUsage: self.totalFacultyRankUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateFacultyRank")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        //////// HANDLED Error send from the server
                        //////error: function (data) {
                        //////    //alert(JSON.stringify(data.responseText));
                        //////    alert("I am here");
                        //////    toastr.error(data.responseText);
                        //////},
                        error: function () {
                            toastr.error('Add/Update new Faculty Rank failed!');
                            toastr.warning('Faculty Rank is already in the system');
                        },
                        success: function (value) {
                        //    if(data ==="dup")
                        //    {
                        //        toastr.error('dup');
                        //    }
                            
                        //    else
                        //    {
                        //        var modelObject = $.grep(self.adminFacultyRankInformation,
                        //           function(e){
                        //               return e.id == value.id;
                        //           });
                        //        if (modelObject.length === 0) {
                        //            self.adminFacultyRankInformation.push(kendo.observable(value));
                        //            toastr.success('Faculty Rank added!');
                        //        } else {//update the entry
                        //            var kendoGrid = $("#facultyRanksGrid").data("kendoGrid");
                        //            var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                        //            selectedDataRow.set("rank", value.rank);
                        //            toastr.success('Faculty Rank updated!');
                        //        }
                        //        self.set("addFacultyRanksSectionVisible", false);
                        //        self.set("addFacultyRnkBtnVisible", true);}
                            var modelObject = $.grep(self.adminFacultyRankInformation,
                                    function(e){
                                        return e.id == value.id;
                                    });
                            if (modelObject.length === 0) {
                                self.adminFacultyRankInformation.push(kendo.observable(value));
                                toastr.success('Faculty Rank added!');
                            } else {//update the entry
                                var kendoGrid = $("#facultyRanksGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("rank", value.rank);
                                toastr.success('Faculty Rank updated!');
                            }
                            self.set("addFacultyRanksSectionVisible", false);
                            self.set("addFacultyRnkBtnVisible", true);}
                        
                    });
                }
            },
            addFaultyRank:function() {
                var self = this;
                self.set("addFacultyRanksSectionVisible", true);
                self.set("addFacultyRnkBtnVisible", false);

                var kendoGrid = $("#facultyRanksGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedFtyRank", "");
            },
            removedFtyRnk:function(e) {
                var self = this;
                $(".facultyRank-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#facultyRanksGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFacultyRanksSectionVisible", false);
                    self.set("addFacultyRnkBtnVisible", true);

                    if(selectedDataRow.totalFacultyRankUsage === 0 || selectedDataRow.totalFacultyRankUsage === null || selectedDataRow.totalFacultyRankUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveFctyRnk/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Faculty Rank removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Faculty Rank is in use and cannot be removed!');
                    return false;
                });
            },
            onSelectfacultyRank : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultyRanksGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedFtyRank",selected.rank);
                }
                self.set("addFacultyRanksSectionVisible", true);
                self.set("addFacultyRnkBtnVisible", false);
            },
            cancelFacultyRank:function() {
                var self = this;
                self.set("addFacultyRanksSectionVisible", false);
                self.set("addFacultyRnkBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultyRanksSection").kendoValidator().data("kendoValidator");
                $("#editFacultyRanksSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            RankField: function(element){
                element.kendoAutoComplete({
                    dataSource: rank
                });
            },
            TotalFacultyRankUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalFacultyRankUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFacultyRanksSection-view"), adminFacultyRanksSectionInfoVm);
        $("#facultyRanksGrid").data("kendoGrid").hideColumn(0);
    })
</script>
