﻿@using TraineeTrackingSystem.Web.Common
@model AdminPrograms

<div id="theAdminProgramsSection-view">
    <input id="prgram" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="program-deleteLink">
        <div>
            <span>
                <a href="\\#addProgramButton" class="program-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="programsGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Program','field': 'programTitle','width': '100px' },
                {title:'In Use', 'field':'totalProgramUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#program-deleteLink').html() ) }
         ]"
         data-bind="source: adminProgramsInformation,
            events:{
                change:onSelectprogram,
                dataBound: removedProgram
            }">
    </div>

    <div id="addProgramButton" data-bind="visible:addProgramBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addPrgram }">
            Add Program
        </button>
    </div>


    <div class="expand" id="editProgramsSection" data-bind="visible:addProgramsSectionVisible">
        <label class="control-label osu-standard" for="adminProgramField">Program*:</label>
        <input type="text"
               id="adminProgramField"
               name="adminProgramField"
               placeholder="enter program "
               data-bind="value: selectedProgram, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveProgram">Save</button>
        <button class="add-section cancel" data-bind="click: cancelProgram">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminProgramField").kendoAutoComplete({
            dataTextField: "ProgramTitle",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: ProgramTitle #</span>',
            headerTemplate: '<div class="noDataMessage">Program not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetProgramsList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminProgramField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminProgramField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminProgramsSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminProgramsSectionInfoVm = kendo.observable($.extend({
            addProgramBtnVisible: true,
            addProgramsSectionVisible: false,

            updated  : false,
            saveProgram: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideProgram = $("#adminProgramField").data("kendoAutoComplete").value();
                var validator = $("#editProgramsSection").kendoValidator({
                    rules: {
                        prgm2: function(input){
                            if (input.is("[name=adminProgramField]")){
                                return input.val() === iSValideProgram;
                            }
                            return true;
                        },
                        prgm: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        prgm: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        programTitle: self.selectedProgram,
                        totalProgramUsage: self.totalProgramUsage
                    };
                    //console.log("In saveProgram - make an ajax call what send to server");
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateProgram")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new Program failed!');
                            toastr.warning('Program is already in the system');
                        },
                        //// HANDLED Error send from the server
                        //error: function (data) {
                        //    //alert(JSON.stringify(data.responseText));
                        //    toastr.error(data.responseText);
                        //},
                        success: function (value) {
                            //console.log("In SaveProgram - SUCCESS - server send back values");
                            //window.console && console.log(value);
                            var prgms = $.grep(self.adminProgramsInformation,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (prgms.length === 0) {
                                self.adminProgramsInformation.push(kendo.observable(value));
                                toastr.success('Program added!');
                            } else {//update the entry
                                var kendoGrid = $("#programsGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("programTitle", value.programTitle);
                                toastr.success('Program updated!');
                            }
                            self.set("addProgramsSectionVisible", false);
                            self.set("addProgramBtnVisible", true);
                        }
                    });
                }
            },
            addPrgram:function() {
                var self = this;
                self.set("addProgramsSectionVisible", true);
                self.set("addProgramBtnVisible", false);

                var kendoGrid = $("#programsGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearProgramInputFields();
            },
            clearProgramInputFields:function() {
                var self = this;
                self.set("selectedId", "");

                self.set("selectedProgram", "");
            },
            removedProgram:function(e) {
                var self = this;
                $(".program-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#programsGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addProgramsSectionVisible", false);
                    self.set("addProgramBtnVisible", true);

                    if(selectedDataRow.totalProgramUsage === 0 || selectedDataRow.totalProgramUsage === null || selectedDataRow.totalProgramUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveProgram/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Program removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Program is in use and cannot be removed!');
                    return false;
                });
            },
            onSelectprogram : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#programsGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedProgram",selected.programTitle);
                }
                self.set("addProgramsSectionVisible", true);
                self.set("addProgramBtnVisible", false);
            },
            cancelProgram:function() {
                var self = this;
                self.set("addProgramsSectionVisible", false);
                self.set("addProgramBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editProgramsSection").kendoValidator().data("kendoValidator");
                $("#editProgramsSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            
            ProgramTitleField: function(element){
                element.kendoAutoComplete({
                    dataSource: ProgramTitle
                });
            },
            TotalProgramUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalProgramUsage
                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminProgramsSection-view"), adminProgramsSectionInfoVm);
        $("#programsGrid").data("kendoGrid").hideColumn(0);
    })
</script>