﻿@using TraineeTrackingSystem.Web.Common
@model AdminFacultyGenders

<div id="theAdminFacultyGenderSection-view">
    <input id="ftygenders" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="facultyGender-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultyGndrsButton" class="facultyGender-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="facultyGendersGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Gender','field': 'gender','width': '100px' },
                {title:'In Use', 'field':'totalGenderUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#facultyGender-deleteLink').html() ) }
         ]"
         data-bind="source: adminFacultyGenderInformation,
            events:{
                change:gridRowSelection,
                dataBound: removedFtyGndr
            }">
    </div>

    <div id="addFacultyGndrsButton" data-bind="visible:addFacultyGndrBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFaultyGender }">
            Add Gender
        </button>
    </div>


    <div class="expand" id="editFacultyGendersSection" data-bind="visible:addFacultyGendersSectionVisible">
        <label class="control-label osu-standard" for="adminFacultyGndrInputField">Gender*:</label>
        <input type="text"
               id="adminFacultyGndrInputField"
               name="adminFacultyGndrInputField"
               placeholder="enter gender "
               data-bind="value: selectedGender, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveFacultyGender">Save</button>
        <button class="add-section cancel" data-bind="click: cancelFacultyGender">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFacultyGndrInputField").kendoAutoComplete({
            dataTextField: "Gender",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Gender #</span>',
            headerTemplate: '<div class="noDataMessage">Gender not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFacultyGenderList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFacultyGndrInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFacultyGndrInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminFacultyGenderSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminFacultyGenderSectionInfoVm = kendo.observable($.extend({
            addFacultyGndrBtnVisible: true,
            addFacultyGendersSectionVisible: false,

            updated  : false,
            saveFacultyGender: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFacultyGndrInputField").data("kendoAutoComplete").value();
                var validator = $("#editFacultyGendersSection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFacultyGndrInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        gender: self.selectedGender,
                        totalGenderUsage: self.totalGenderUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateFacultyGender")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add/Update new Faculty Gener failed!');
                            toastr.warning('Gender is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminFacultyGenderInformation,
                                    function(e){
                                        return e.id == value.id;
                                    });
                            if (modelObject.length === 0) {
                                self.adminFacultyGenderInformation.push(kendo.observable(value));
                                toastr.success('Gender added!');
                            } else {//update the entry
                                var kendoGrid = $("#facultyGendersGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("gender", value.gender);
                                toastr.success('Gender updated!');
                            }
                            self.set("addFacultyGendersSectionVisible", false);
                            self.set("addFacultyGndrBtnVisible", true);}

                    });
                }
            },
            addFaultyGender:function() {
                var self = this;
                self.set("addFacultyGendersSectionVisible", true);
                self.set("addFacultyGndrBtnVisible", false);

                var kendoGrid = $("#facultyGendersGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedGender", "");
            },
            removedFtyGndr:function(e) {
                var self = this;
                $(".facultyGender-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#facultyGendersGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFacultyGendersSectionVisible", false);
                    self.set("addFacultyGndrBtnVisible", true);

                    if(selectedDataRow.totalGenderUsage === 0 || selectedDataRow.totalGenderUsage === null || selectedDataRow.totalGenderUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveFctyGndr/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Faculty Gender removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Gender is in use and cannot be removed!');
                    return false;
                });
            },
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultyGendersGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedGender",selected.gender);
                }
                self.set("addFacultyGendersSectionVisible", true);
                self.set("addFacultyGndrBtnVisible", false);
            },
            cancelFacultyGender:function() {
                var self = this;
                self.set("addFacultyGendersSectionVisible", false);
                self.set("addFacultyGndrBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultyGendersSection").kendoValidator().data("kendoValidator");
                $("#editFacultyGendersSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            GenderField: function(element){
                element.kendoAutoComplete({
                    dataSource: gender
                });
            },
            TotalGenderUsageField: function(element){
                element.kendoAutoComplete({
                    dataSource: totalGenderUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFacultyGenderSection-view"), adminFacultyGenderSectionInfoVm);
        $("#facultyGendersGrid").data("kendoGrid").hideColumn(0);
    })
</script>


