﻿@using TraineeTrackingSystem.Web.Common;
@model AdminStates

<div id="stateProvinceSection-view">
    <input id="stateProvinceInfoId" type="hidden" data-bind="value: selectedId" />

    <script type="text/x-kendo-template" id="stateProvince-deleteLink">
        <div>
            <span>
                <a href="\\#addStateProvinceButton" class="stateProvince-delete-link">Remove</a>
            </span>
        </div>
    </script>
    <div id="stateProvinceGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Abbreviation','field': 'abbreviation'},
                {title:'Name', 'field':'fullName'},
                {title:'Country', 'field':'country'},
                {title:'In Use', 'field':'totalStateProvinceUsage', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#stateProvince-deleteLink').html() ) }
         ]"
         data-bind="source: stateProvinceInformation,
            events:{
                change: gridRowSelection,
                dataBound: removeStateProvince
            }">
    </div>

    <div id="addStateProvinceButton" data-bind="visible:hideAddStateProvinceButton">
        <button data-role="button"
                data-bind="events: { click: addNewStateProvinceBtn }">
            Add State/Province
        </button>
    </div>

    <div class="expand" id="editStateProvinceSection" data-bind="visible:addStateProvinceSectionVisible">

        <label class="control-label" for="abbreviationInputField">Abbreviation:</label>
        <input type="text"
               id="abbreviationInputField"
               name="abbreviationInputField"
               placeholder="enter state/province abbreviation"
               data-bind="value: selectedAbbreviation" />

       
        <label class="control-label" for="fullNameField">Name*:</label>
        <input type="text"
               id="fullNameField"
               name="fullNameField"
               placeholder="enter state/province name"
               data-bind="value: selectedFullName, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />
        <div>
            <label class="control-label">Country*:</label>
            <input id="newCountryDropDown" name="newCountryDropDown"
                   data-role="dropdownlist"
                   data-option-label="select country"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedCountry,source: countries, events: {open: hideValidationMsgs}" required validationmessage="This field is required" />
            <span class="k-invalid-msg" data-for="newCountryDropDown"></span>
        </div>

        <button class="add-section save" data-bind="click: saveStateProvinceSection">Save</button>
        <button class="add-section cancel" data-bind="click: cancelChangeStateProvince">Cancel</button>
    </div>



</div>
<script>
    $(document).ready(function () {
        $("#abbreviationInputField").kendoAutoComplete({
            dataTextField: "Abbreviation",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Abbreviation #</span>',
            headerTemplate: '<div class="noDataMessage">State abbreviation not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetStateAbbreviationList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#abbreviationInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#abbreviationInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                $("#abbreviationInputField").data("kendoAutoComplete").value();
            }

        });//kendoAutoComplete
        $("#fullNameField").kendoAutoComplete({
            dataTextField: "FullName",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: FullName #</span>',
            headerTemplate: '<div class="noDataMessage">State/province name not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetStateProvinceList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#fullNameField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#fullNameField").data("kendoAutoComplete").value();
            },
            select: function(e){
                stateProvinceSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        
        var stateProvinceSectionInfoVm = kendo.observable($.extend({
            hideAddStateProvinceButton: true,
            addStateProvinceSectionVisible: false,
            updated  : false,

            saveStateProvinceSection: function() {
                var self = this;
                var validator = $("#editStateProvinceSection").kendoValidator().data("kendoValidator"); 

                var countryDropdownSelection = $('#newCountryDropDown').data("kendoDropDownList").text();
                var countryDropdownId = $('#newCountryDropDown').data("kendoDropDownList").value();
                if (validator.validate()) {
                    var updateData = {
                        id : self.selectedId,
                        abbreviation: self.selectedAbbreviation,
                        stateFullName: self.selectedFullName, 
                        countryId: countryDropdownId,
                        country: countryDropdownSelection,
                        totalStateProvinceUsage: self.totalStateProvinceUsage,
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateStateProvince")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new State/Province failed!');
                            toastr.warning('State/Province is already in the system');
                        },
                        //// HANDLED Error send from the server
                        //error: function (data) {
                        //    //alert(JSON.stringify(data.responseText));
                        //    toastr.error(data.responseText);
                        //},
                        success: function (value){
                            var stateProvinceObject= $.grep(self.stateProvinceInformation, function(e){
                                return e.id == value.id;
                            });
                            if (stateProvinceObject.length === 0) {
                                //console.log("I am in success IF");
                                //console.log(self.stateProvinceInformation);
                                /* ------------------ MVN - update the grid ---------------- */
                                self.stateProvinceInformation.push(kendo.observable(value));
                                
                                /* ------------------ country dropdown is handled here ----- */
                                self.countries.splice(0, value.countries.length);           // Clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.countries.push({
                                        key: value[i].key,
                                    });
                                }
                                self.countries.push({
                                    key: value.countryId,               // Value from GRID
                                    value: value.country        // Value from GRID
                                });
                                self.set("selectedCountry", value.countryId);
                                self.set("countries", value.countries); // SET state back to Dropdown object
                                toastr.success('State/Province added!');

                            } else {//update the entry
                                var kendoGrid = $("#stateProvinceGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                /* ------------------- put back to the Grid ---------------------- */
                                selectedDataRow.set("abbreviation", value.abbreviation);
                                selectedDataRow.set("fullName", value.fullName);

                                selectedDataRow.set("countryId", value.countryId);
                                selectedDataRow.set("country", value.country);
                                /* -------------------         end         ----------------------- */
                         
                                self.countries.splice(0, value.countries.length);           // Clean the array
                                for (var i = 0; i < value.length; i++) {
                                    value.countries.push({
                                        key: value[i].key,
                                    });
                                }
                                self.countries.push({
                                    key: value.countryId,               // Value from GRID
                                    value: value.country        // Value from GRID
                                });
                                self.set("selectedCountry", value.countryId);
                                self.set("countries", value.countries); // SET state back to Dropdown object
                                toastr.success('State/Province updated!');
                            }
                            self.set("addStateProvinceSectionVisible", false);
                            self.set("hideAddStateProvinceButton", true);
                        }
                    });
                }
            },
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#stateProvinceGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected = kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId", selected.id);
                    self.set("selectedAbbreviation", selected.abbreviation);
                    self.set("selectedFullName", selected.fullName);
                    self.set("selectedCountry", selected.countryId);
                }
                self.set("addStateProvinceSectionVisible", true);
                self.set("hideAddStateProvinceButton", false);
            },
            removeStateProvince:function(e) {
                var self = this;
                $(".stateProvince-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#stateProvinceGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();

                    self.set("addStateProvinceSectionVisible", false);
                    self.set("hideAddStateProvinceButton", true);
                    if(selectedDataRow.totalStateProvinceUsage === 0 || selectedDataRow.totalStateProvinceUsage === null || selectedDataRow.totalStateProvinceUsage ===''){
                        if (confirm("Do you want to remove this item?")) {
                            var deleteTPosItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveStateProvince/")'+deleteTPosItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('State/Province removed!');
                                    kendoGrid.dataSource.remove(deleteTPosItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('State/Province is in use and cannot be removed!');
                    return false;
                });
            },
            addNewStateProvinceBtn:function() {
                var self = this;
                self.set("addStateProvinceSectionVisible", true);
                self.set("hideAddStateProvinceButton", false);
                var kendoGrid = $("#stateProvinceGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                /* --------------------  Development NOTES  ------------------ */
                // When the Admin Index page load, the UI make once Ajax called to the server
                // as a result, when there are value, i.e new country added, the change will not show up in the country dropdown list
                // To combatant this, we need another ajax called to the server to refresh the country dropdown list
                /* ----------------------  MVN 12_21_2015  ------------------- */
                self.callAddStPrvnce();
                self.clearStateProvinceInputFields();
            },
            clearStateProvinceInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedAbbreviation", "");
                self.set("selectedFullName", "");
                self.set("selectedCountry", "");
            },
            cancelChangeStateProvince:function() {
                var self = this;
                self.set("addStateProvinceSectionVisible", false);
                self.set("hideAddStateProvinceButton", true);
                self.clearStateProvinceInputFields();
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editStateProvinceSection").kendoValidator().data("kendoValidator");
                $("#editStateProvinceSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },    
            callAddStPrvnce: function() {
                var self = this;
                var updateData = {
                    id: self.countryId,                          // Postmodel - fundingId
                };
                $.ajax({
                    url: '@Url.Content("~/Admin/AjaxRequestForAddStPrnce")',
                    data: JSON.stringify(updateData),
                    contentType: "application/json, charset=utf-8",
                    type: "POST",
                    datatype: "json",            
                    success: function (value) {  
                        self.set("countries", value); // SET the Faculty Dropdown object                                          
                    }
                });
            },

            AbbreviationField: function(element){
                element.kendoAutoComplete({
                    dataSource: abbreviation
                });
            },
            FullNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: fullName
                });
            },
            CountryField: function(element){
                element.kendoAutoComplete({
                    dataSource: country
                });
            },
            TotalStateProvinceUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalStateProvinceUsage
                });
            }
        },@(Html.ToJson(Model))));
        kendo.bind($("#stateProvinceSection-view"), stateProvinceSectionInfoVm);
        $("#stateProvinceGrid").data("kendoGrid").hideColumn(0);
    })
</script>
