﻿@using TraineeTrackingSystem.Web.Common
@model TypeOfOrganizations

<div id="theAdminTypeOfOrganizationSection-view">
    <input id="organization" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="typeOfOrg-deleteLink">
        <div>
            <span>
                <a href="\\#addTypeOrgButton" class="typeOrg-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="typeOfOrganizationGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Type','field': 'organizationType','width': '100px' },
                {title:'In Use', 'field':'totalOrganization', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#typeOfOrg-deleteLink').html() ) }
         ]"
         data-bind="source: typeOfOrganizationInformation,
            events:{
                change:onSelecttypeOrg,
                dataBound: removedTypeOrg
            }">
    </div>

    <div id="addTypeOrgButton" data-bind="visible:addTypeOrgBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addTypeOfOrg }">
            Add Type Of Organization
        </button>
    </div>

    
    <div class="expand" id="editTypeOfOrgSection" data-bind="visible:addTypeOfOrgSectionVisible">
        <label class="control-label osu-standard" for="adminTypeOfOrgField">Organization Type*:</label>
        <input type="text"
               id="adminTypeOfOrgField"
               name="adminTypeOfOrgField"
               placeholder="enter organization type "
               data-bind="value: selectedOrganizationType, events:{open: hideValidationMsgs}" />
      
        <button class="add-section save" data-bind="click: saveOrganization">Save</button>
        <button class="add-section cancel" data-bind="click: cancelOrganization">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminTypeOfOrgField").kendoAutoComplete({
            dataTextField: "OrganizationType",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: OrganizationType #</span>',
            headerTemplate: '<div class="noDataMessage">Type of Organization not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetTypeOfOrgList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminTypeOfOrgField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminTypeOfOrgField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminTypeOfOrgSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminTypeOfOrgSectionInfoVm = kendo.observable($.extend({
            addTypeOrgBtnVisible: true,
            addTypeOfOrgSectionVisible: false,

            updated  : false,
            saveOrganization: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideTypeOrg = $("#adminTypeOfOrgField").data("kendoAutoComplete").value();
                var validator = $("#editTypeOfOrgSection").kendoValidator({
                    rules: {
                        typeOfOrganization2: function(input){
                            if (input.is("[name=adminTypeOfOrgField]")){
                                return input.val() === iSValideTypeOrg;
                            }
                            return true;
                        },
                        typeOfOrganization: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        typeOfOrganization: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){        
                    var updateData = {
                        id: self.selectedId,
                        organizationType: self.selectedOrganizationType,
                        totalOrganization: self.totalOrganization
                    };
                    window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateTypeOfOrganization")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new type of Organization failed!');
                            toastr.warning('Type of Organization is already in the system');
                        },
                        success: function (value) {
                            window.console && console.log(value);
                            var orgType = $.grep(self.typeOfOrganizationInformation,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (orgType.length === 0) {
                                self.typeOfOrganizationInformation.push(kendo.observable(value));
                                toastr.success('Type of organization added!');
                            } else {//update the entry
                                var kendoGrid = $("#typeOfOrganizationGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("organizationType", value.organizationType);
                                toastr.success('Type of Organization updated!');
                            }
                            self.set("addTypeOfOrgSectionVisible", false);
                            self.set("addTypeOrgBtnVisible", true);
                        }
                    });
                }
            },
            addTypeOfOrg:function() {
                var self = this;
                self.set("addTypeOfOrgSectionVisible", true);
                self.set("addTypeOrgBtnVisible", false);

                var kendoGrid = $("#typeOfOrganizationGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearTypeOfOrgInputFields();
            },
            clearTypeOfOrgInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedOrganizationType", "");
            },
            removedTypeOrg:function(e) {
                var self = this;
                $(".typeOrg-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#typeOfOrganizationGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addTypeOfOrgSectionVisible", false);
                    self.set("addTypeOrgBtnVisible", true);

                    if(selectedDataRow.totalOrganization === 0 || selectedDataRow.totalOrganization === null || selectedDataRow.totalOrganization ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveOrganizationType/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Type of Organization removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Type of Organization is in use and cannot be removed!');
                    return false;
                });
            },
            onSelecttypeOrg : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#typeOfOrganizationGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedOrganizationType",selected.organizationType);
                }
                self.set("addTypeOfOrgSectionVisible", true);
                self.set("addTypeOrgBtnVisible", false);
            },
            cancelOrganization:function() {
                var self = this;
                self.set("addTypeOfOrgSectionVisible", false);
                self.set("addTypeOrgBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editTypeOfOrgSection").kendoValidator().data("kendoValidator");
                $("#editTypeOfOrgSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            
            OrganizationTypeField: function(element){
                element.kendoAutoComplete({
                    dataSource: organizationType
                });
            },
            TotalOrganizationField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalOrganization
                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminTypeOfOrganizationSection-view"), adminTypeOfOrgSectionInfoVm);
        $("#typeOfOrganizationGrid").data("kendoGrid").hideColumn(0);
    })
</script>