﻿@using TraineeTrackingSystem.Web.Common
@model AdminDegreesVM

<div id="theAdminDegreeSection-view">
    <input id="degree" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="removedDegreeBtn-deleteLink">
        <div>
            <span>
                <a href="\\#addDegreeButton" class="removedDegreeBtn-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="adminDegreeGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Degree','field': 'academicDegreeName','width': '100px' },
                {title:'In Use', 'field':'totalDegreeUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#removedDegreeBtn-deleteLink').html() ) }
         ]"
         data-bind="source: degreeInformation,
            events:{
                change:onSelectDegree,
                dataBound: removedDegree
            }">
    </div>

    <div id="addDegreeButton" data-bind="visible:addDegreeBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addDegree }">
            Add Degree
        </button>
    </div>

    <div class="expand" id="editDegreeSection" data-bind="visible:addDegreeSectionVisible">
        <label class="control-label osu-standard" for="ahDegreeAutoComplete">Name*:</label>
        <input type="text"
               id="adminDegreeField"
               name="adminDegreeField"
               placeholder="enter degree name "
               data-bind="value: selectedDegree, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveDegree">Save</button>
        <button class="add-section cancel" data-bind="click: cancelDegree">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminDegreeField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Degree not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetDegreeList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminDegreeField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminDegreeField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminDegreeSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminDegreeSectionInfoVm = kendo.observable($.extend({
            addDegreeBtnVisible: true,
            addDegreeSectionVisible: false,

            updated  : false,
            saveDegree: function(){
                var self = this;      
                var validationMsg = "This field is required";
                var iSvalideAcademicDegree = $("#adminDegreeField").data("kendoAutoComplete").value();
                var validator = $("#editDegreeSection").kendoValidator({
                    rules: {
                        degree2: function (input) {
                            if (input.is("[name=adminDegreeField]")) {
                                return input.val() === iSvalideAcademicDegree; 
                            }
                            return true;
                        },
                        degree: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },              
                    messages: {
                        degree: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        academicDegree: self.selectedDegree,
                        totalDegreeUsage: self.totalDegreeUsage
                    };
                    //window.console && console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateDegree")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Add/Update new Degree failed!');
                            toastr.warning('Degree name is already in the system');
                        },
                        success: function (value) {
                            //window.console && console.log(value);
                            var degree = $.grep(self.degreeInformation, 
                                function(e){ 
                                    return e.id == value.id; 
                                });
                            if (degree.length === 0) {
                                //console.log("I am in SUCCESS IF ->Add");
                                //console.log(self.degreeInformation);
                                self.degreeInformation.push(kendo.observable(value));                            
                                toastr.success('Degree added!');
                            } else {//update the entry
                                //console.log("I am in SUCCESS ELSE =>Update");
                                //console.log(self.degreeInformation);
                                var kendoGrid = $("#adminDegreeGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("academicDegreeName", value.academicDegreeName);
                                
                                toastr.success('Degree updated!');
                            }
                            self.set("addDegreeSectionVisible", false);
                            self.set("addDegreeBtnVisible", true);
                        }
                    });
                }
            },
            addDegree:function() {
                var self = this;
                self.set("addDegreeSectionVisible", true);
                self.set("addDegreeBtnVisible", false);

                var kendoGrid = $("#adminDegreeGrid").data("kendoGrid");
                kendoGrid.clearSelection();

                self.clearDegreeInputFields();
            },
            clearDegreeInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedDegree", "");
            },
            removedDegree:function(e) {
                var self = this;
                //console.log("In RemovedDegree");
                //console.log(self);
                $(".removedDegreeBtn-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#adminDegreeGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addDegreeSectionVisible", false);
                    self.set("addDegreeBtnVisible", true);
                    //alert(JSON.stringify(self.degreeInformation.totalDegreeUsage));
                    //alert(JSON.stringify(self.totalDegreeUsage));
                    if(selectedDataRow.totalDegreeUsage === 0 || selectedDataRow.totalDegreeUsage === null || selectedDataRow.totalDegreeUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveDegree/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Degree removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Degree is in use and cannot be removed!');
                    return false;                 
                });
            },
            onSelectDegree : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#adminDegreeGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedDegree",selected.academicDegreeName);
                }
                self.set("addDegreeSectionVisible", true);
                self.set("addDegreeBtnVisible", false);
            },
            cancelDegree:function() {
                var self = this;
                self.set("addDegreeSectionVisible", false);
                self.set("addDegreeBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                //console.log("I am here");
                var validator = $("#editDegreeSection").kendoValidator().data("kendoValidator");
                $("#editDegreeSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            AcademicDegreeNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: academicDegreeName
                });
            },
            
            TotalDegreeUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalDegreeUsage
                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminDegreeSection-view"), adminDegreeSectionInfoVm);
        $("#adminDegreeGrid").data("kendoGrid").hideColumn(0);
    })
</script>
