﻿@using TraineeTrackingSystem.Web.Common
@model AdminFacultyEthnicitys

<div id="theAdminFacultyEthnicitySection-view">
    <input id="ftyEthnicity" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="facultyEthnicity-deleteLink">
        <div>
            <span>
                <a href="\\#addEthnicityButton" class="facultyEthnicity-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="facultyEthnicityGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Ethnicity','field': 'ethnicity','width': '100px' },
                {title:'In Use', 'field':'totalEthnicityUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#facultyEthnicity-deleteLink').html() ) }
         ]"
         data-bind="source: adminFacultyEthnicityInformation,
            events:{
                change:gridRowSelection,
                dataBound: removedFtyEthnicity
            }">
    </div>

    <div id="addEthnicityButton" data-bind="visible:addFacultyEthnicityBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFaultyEthnicity }">
            Add Ethnicity
        </button>
    </div>


    <div class="expand" id="editFacultyEthnicitySection" data-bind="visible:addFacultyEthnicitySectionVisible">
        <label class="control-label osu-standard" for="adminFacultyEthnicityInputField">Gender*:</label>
        <input type="text"
               id="adminFacultyEthnicityInputField"
               name="adminFacultyEthnicityInputField"
               placeholder="enter ethnicity "
               data-bind="value: selectedEthnicity, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveFacultyEthnicity">Save</button>
        <button class="add-section cancel" data-bind="click: cancelFacultyEthnicity">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFacultyEthnicityInputField").kendoAutoComplete({
            dataTextField: "Ethnicity",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Ethnicity #</span>',
            headerTemplate: '<div class="noDataMessage">Ethnicity not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFacultyEthnicityList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFacultyEthnicityInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFacultyEthnicityInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminFacultyEthnicitySectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminFacultyEthnicitySectionInfoVm = kendo.observable($.extend({
            addFacultyEthnicityBtnVisible: true,
            addFacultyEthnicitySectionVisible: false,

            updated  : false,
            saveFacultyEthnicity: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFacultyEthnicityInputField").data("kendoAutoComplete").value();
                var validator = $("#editFacultyEthnicitySection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFacultyEthnicityInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        ethnicity: self.selectedEthnicity,
                        totalEthnicityUsage: self.totalEthnicityUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateFacultyEthnicity")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add/Update new Ethnicity failed!');
                            toastr.warning('Ethnicity is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminFacultyEthnicityInformation,
                                    function(e){
                                        return e.id == value.id;
                                    });
                            if (modelObject.length === 0) {
                                self.adminFacultyEthnicityInformation.push(kendo.observable(value));
                                toastr.success('Ethnicity added!');
                            } else {//update the entry
                                var kendoGrid = $("#facultyEthnicityGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("ethnicity", value.ethnicity);
                                toastr.success('Ethnicity updated!');
                            }
                            self.set("addFacultyEthnicitySectionVisible", false);
                            self.set("addFacultyEthnicityBtnVisible", true);}

                    });
                }
            },
            addFaultyEthnicity:function() {
                var self = this;
                self.set("addFacultyEthnicitySectionVisible", true);
                self.set("addFacultyEthnicityBtnVisible", false);

                var kendoGrid = $("#facultyEthnicityGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedEthnicity", "");
            },
            removedFtyEthnicity:function(e) {
                var self = this;
                $(".facultyEthnicity-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#facultyEthnicityGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFacultyEthnicitySectionVisible", false);
                    self.set("addFacultyEthnicityBtnVisible", true);

                    if(selectedDataRow.totalEthnicityUsage === 0 || selectedDataRow.totalEthnicityUsage === null || selectedDataRow.totalEthnicityUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveFctyEthnicity/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Ethnicity removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Ethnicity is in use and cannot be removed!');
                    return false;
                });
            },
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultyEthnicityGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedEthnicity",selected.ethnicity);
                }
                self.set("addFacultyEthnicitySectionVisible", true);
                self.set("addFacultyEthnicityBtnVisible", false);
            },
            cancelFacultyEthnicity:function() {
                var self = this;
                self.set("addFacultyEthnicitySectionVisible", false);
                self.set("addFacultyEthnicityBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultyEthnicitySection").kendoValidator().data("kendoValidator");
                $("#editFacultyEthnicitySection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            EthnicityField: function(element){
                element.kendoAutoComplete({
                    dataSource: ethnicity
                });
            },
            TotalEthnicityUsageField: function(element){
                element.kendoAutoComplete({
                    dataSource: totalEthnicityUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFacultyEthnicitySection-view"), adminFacultyEthnicitySectionInfoVm);
        $("#facultyEthnicityGrid").data("kendoGrid").hideColumn(0);
    })
</script>


