﻿@using TraineeTrackingSystem.Web.Common
@model AdminFacultyTracks

<div id="theAdminFacultyTrackSection-view">
    <input id="ftytracks" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="facultyTrack-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultyTrksButton" class="facultyTrack-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="facultyTracksGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Track','field': 'facultyTrack','width': '100px' },
                {title:'In Use', 'field':'totalFacultyTrackUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#facultyTrack-deleteLink').html() ) }
         ]"
         data-bind="source: adminFacultyTrackInformation,
            events:{
                change:gridRowSelection,
                dataBound: removedFtyGndr
            }">
    </div>

    <div id="addFacultyTrksButton" data-bind="visible:addFacultyTrkBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFaultyTrack }">
            Add facultyTrack
        </button>
    </div>


    <div class="expand" id="editFacultyTracksSection" data-bind="visible:addFacultyTracksSectionVisible">
        <label class="control-label osu-standard" for="adminFacultyTrkInputField">Faculty Track*:</label>
        <input type="text"
               id="adminFacultyTrkInputField"
               name="adminFacultyTrkInputField"
               placeholder="enter track "
               data-bind="value: selectedTrack, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveFacultyTrack">Save</button>
        <button class="add-section cancel" data-bind="click: cancelFacultyTrack">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFacultyTrkInputField").kendoAutoComplete({
            dataTextField: "FacultyTrack",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: FacultyTrack #</span>',
            headerTemplate: '<div class="noDataMessage">Track not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFacultyTrackList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFacultyTrkInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFacultyTrkInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminFacultyTrackSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminFacultyTrackSectionInfoVm = kendo.observable($.extend({
            addFacultyTrkBtnVisible: true,
            addFacultyTracksSectionVisible: false,

            updated  : false,
            saveFacultyTrack: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFacultyTrkInputField").data("kendoAutoComplete").value();
                var validator = $("#editFacultyTracksSection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFacultyTrkInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        facultyTrack: self.selectedTrack,
                        totalFacultyTrackUsage: self.totalFacultyTrackUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateFacultyTrack")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add/Update new Track failed!');
                            toastr.warning('Track is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminFacultyTrackInformation,
                                    function(e){
                                        return e.id == value.id;
                                    });
                            if (modelObject.length === 0) {
                                self.adminFacultyTrackInformation.push(kendo.observable(value));
                                toastr.success('Track added!');
                            } else {//update the entry
                                var kendoGrid = $("#facultyTracksGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("facultyTrack", value.facultyTrack);
                                toastr.success('Track updated!');
                            }
                            self.set("addFacultyTracksSectionVisible", false);
                            self.set("addFacultyTrkBtnVisible", true);}

                    });
                }
            },
            addFaultyTrack:function() {
                var self = this;
                self.set("addFacultyTracksSectionVisible", true);
                self.set("addFacultyTrkBtnVisible", false);

                var kendoGrid = $("#facultyTracksGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedTrack", "");
            },
            removedFtyGndr:function(e) {
                var self = this;
                $(".facultyTrack-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#facultyTracksGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFacultyTracksSectionVisible", false);
                    self.set("addFacultyTrkBtnVisible", true);

                    if(selectedDataRow.totalFacultyTrackUsage === 0 || selectedDataRow.totalFacultyTrackUsage === null || selectedDataRow.totalFacultyTrackUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveFctyTrk/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Track removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Track is in use and cannot be removed!');
                    return false;
                });
            },
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#facultyTracksGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedTrack",selected.facultyTrack);
                }
                self.set("addFacultyTracksSectionVisible", true);
                self.set("addFacultyTrkBtnVisible", false);
            },
            cancelFacultyTrack:function() {
                var self = this;
                self.set("addFacultyTracksSectionVisible", false);
                self.set("addFacultyTrkBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultyTracksSection").kendoValidator().data("kendoValidator");
                $("#editFacultyTracksSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            FacultyTrackField: function(element){
                element.kendoAutoComplete({
                    dataSource: facultyTrack
                });
            },
            TotalFacultyTrackUsageField: function(element){
                element.kendoAutoComplete({
                    dataSource: totalFacultyTrackUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFacultyTrackSection-view"), adminFacultyTrackSectionInfoVm);
        $("#facultyTracksGrid").data("kendoGrid").hideColumn(0);
    })
</script>