﻿@using TraineeTrackingSystem.Web.Common
@model AdminFundingRoles

<div id="theAdminFundingRolesSection-view">
    <input id="ftyroles" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="fundingRole-deleteLink">
        <div>
            <span>
                <a href="\\#addFundingRlsButton" class="fundingRole-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="fundingRolesGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Role','field': 'name','width': '100px' },
                {title:'In Use', 'field':'totalFundingRoleUsage', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#fundingRole-deleteLink').html() ) }
         ]"
         data-bind="source: adminFundingRoleInformation,
            events:{
                change:onSelectfundingRole,
                dataBound: removedFftyRle
            }">
    </div>

    <div id="addFundingRlsButton" data-bind="visible:addFundingRleBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFundingRole }">
            Add Faculty Role
        </button>
    </div>


    <div class="expand" id="editFtyFundingRolesSection" data-bind="visible:addFtyFundingRolesSectionVisible">
        <label class="control-label osu-standard" for="adminFtyFundingRleInputField">Faculty Role*:</label>
        <input type="text"
               id="adminFtyFundingRleInputField"
               name="adminFtyFundingRleInputField"
               placeholder="enter faculty role "
               data-bind="value: selectedFfdRole, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveFtyFundingRole">Save</button>
        <button class="add-section cancel" data-bind="click: cancelFtyFundingRole">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFtyFundingRleInputField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Faculty Role not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetFtyFundingRoleList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFtyFundingRleInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFtyFundingRleInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminFundingRolesInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminFundingRolesInfoVm = kendo.observable($.extend({
            addFundingRleBtnVisible: true,
            addFtyFundingRolesSectionVisible: false,

            updated  : false,
            saveFtyFundingRole: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFtyFundingRleInputField").data("kendoAutoComplete").value();
                var validator = $("#editFtyFundingRolesSection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFtyFundingRleInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        name: self.selectedFfdRole,
                        totalFundingRoleUsage: self.totalFundingRoleUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateFctyFundingRole")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        //////// HANDLED Error send from the server
                        //////error: function (data) {
                        //////    //alert(JSON.stringify(data.responseText));
                        //////    toastr.error(data.responseText);
                        //////},
                        error: function () {
                            toastr.error('Add/Update new Faculty Role failed!');
                            toastr.warning('Faculty Role is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminFundingRoleInformation,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (modelObject.length === 0) {
                                self.adminFundingRoleInformation.push(kendo.observable(value));
                                toastr.success('Faculty Role added!');
                            } else {//update the entry
                                var kendoGrid = $("#fundingRolesGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("name", value.name);
                                toastr.success('Faculty Role updated!');
                            }
                            self.set("addFtyFundingRolesSectionVisible", false);
                            self.set("addFundingRleBtnVisible", true);
                        }
                    });
                }
            },
            addFundingRole:function() {
                var self = this;
                self.set("addFtyFundingRolesSectionVisible", true);
                self.set("addFundingRleBtnVisible", false);

                var kendoGrid = $("#fundingRolesGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedFfdRole", "");
            },
            removedFftyRle:function(e) {
                var self = this;
                $(".fundingRole-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#fundingRolesGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFtyFundingRolesSectionVisible", false);
                    self.set("addFundingRleBtnVisible", true);

                    if(selectedDataRow.totalFundingRoleUsage === 0 || selectedDataRow.totalFundingRoleUsage === null || selectedDataRow.totalFundingRoleUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveFctyRle/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Faculty Role removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Faculty Role is in use and cannot be removed!');
                    return false;
                });
            },
            onSelectfundingRole : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#fundingRolesGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedFfdRole",selected.name);
                }
                self.set("addFtyFundingRolesSectionVisible", true);
                self.set("addFundingRleBtnVisible", false);
            },
            cancelFtyFundingRole:function() {
                var self = this;
                self.set("addFtyFundingRolesSectionVisible", false);
                self.set("addFundingRleBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFtyFundingRolesSection").kendoValidator().data("kendoValidator");
                $("#editFtyFundingRolesSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            
            NameField: function(element){
                element.kendoAutoComplete({
                    dataSource: name
                });
            },
            TotalFundingRoleUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalFundingRoleUsage
                });
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFundingRolesSection-view"), adminFundingRolesInfoVm);
        $("#fundingRolesGrid").data("kendoGrid").hideColumn(0);
    })
</script>
