﻿@using TraineeTrackingSystem.Web.Common
@model AdminCountries

<div id="theAdminCountrySection-view">
    <input id="country" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="country-deleteLink">
        <div>
            <span>
                <a href="\\#addCountryButton" class="country-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="adminCountryGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Country','field': 'country','width': '100px' },
                {title:'In Use', 'field':'totalCountryUsage', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#country-deleteLink').html() ) }
         ]"
         data-bind="source: countryInformation,
            events:{
                change:onSelectCountry,
                dataBound: removedCountry
            }">
    </div>

    <div id="addCountryButton" data-bind="visible:addCountryBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addCountry }">
            Add Country
        </button>
    </div>

    <div class="expand" id="editCountrySection" data-bind="visible:addCountrySectionVisible">
        <label class="control-label osu-standard" for="adminCountryField">Country*:</label>
        <input type="text"
               id="adminCountryField"
               name="adminCountryField"
               placeholder="enter country name "
               data-bind="value: selectedCountry, events:{open: hideValidationMsgs}" />
        <button class="add-section save" data-bind="click: saveCountry">Save</button>
        <button class="add-section cancel" data-bind="click: cancelCountry">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminCountryField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Country not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetCountryList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminCountryField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminCountryField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminCountrySectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminCountrySectionInfoVm = kendo.observable($.extend({
            addCountryBtnVisible: true,
            addCountrySectionVisible: false,

            updated  : false,
            saveCountry: function(){
                var self = this;          
                var validationMsg = "This field is required";
                var iSvalideCountry = $("#adminCountryField").data("kendoAutoComplete").value();
                var validator = $("#editCountrySection").kendoValidator({
                    rules: {
                        country2: function (input) {
                            if (input.is("[name=adminCountryField]")) {
                                return input.val() === iSvalideCountry; 
                            }
                            return true;
                        },
                        country: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    
                    messages: {
                        country: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        country: self.selectedCountry,
                        totalCountryUsage: self.totalCountryUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateCountry")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        //// HANDLED Error send from the server
                        //error: function (data) {
                        //    //alert(JSON.stringify(data.responseText));
                        //    toastr.error(data.responseText);
                        //},
                        error: function () {
                            toastr.error('Add/Update new Country failed!');
                            toastr.warning('Country is already in the system');
                        },
                        success: function (value) {
                            window.console && console.log(value);
                            var ctry = $.grep(self.countryInformation,
                                function(e){
                                    return e.id == value.id;
                                });
                            if (ctry.length === 0) {
                                self.countryInformation.push(kendo.observable(value));
                                toastr.success('Country added!');
                            } else {//update the entry
                                var kendoGrid = $("#adminCountryGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("country", value.country);

                                toastr.success('Country updated!');
                            }
                            self.set("addCountrySectionVisible", false);
                            self.set("addCountryBtnVisible", true);
                        }
                    });
                }
            },
            addCountry:function() {
                var self = this;
                self.set("addCountrySectionVisible", true);
                self.set("addCountryBtnVisible", false);

                var kendoGrid = $("#adminCountryGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearCountryInputFields();
            },
            clearCountryInputFields:function() {
                var self = this;
                self.set("selectedId", "");
                self.set("selectedCountry", "");
            },
            removedCountry:function(e) {
                var self = this;
                $(".country-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#adminCountryGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addCountrySectionVisible", false);
                    self.set("addCountryBtnVisible", true);

                    if(selectedDataRow.totalCountryUsage === 0 || selectedDataRow.totalCountryUsage === null || selectedDataRow.totalCountryUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveCountry/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Country removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Country is in use and cannot be removed!');
                    return false;
                });
            },
            onSelectCountry : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#adminCountryGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedCountry",selected.country);
                }
                self.set("addCountrySectionVisible", true);
                self.set("addCountryBtnVisible", false);
            },
            cancelCountry:function() {
                var self = this;
                self.set("addCountrySectionVisible", false);
                self.set("addCountryBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editCountrySection").kendoValidator().data("kendoValidator");
                $("#editCountrySection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },
            CountryField: function(element){
                element.kendoAutoComplete({
                    dataSource: country
                });
            },
            TotalCountryUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalCountryUsage
                });
            }
            

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminCountrySection-view"), adminCountrySectionInfoVm);
        $("#adminCountryGrid").data("kendoGrid").hideColumn(0);
    })
</script>
