﻿@using TraineeTrackingSystem.Web.Common
@model AdminFacultyPathways

<div id="theAdminFacultyPathwaySection-view">
    <input id="ftypathways" type="hidden" data-bind="value: selectedId" />
    <script type="text/x-kendo-template" id="facultyPathway-deleteLink">
        <div>
            <span>
                <a href="\\#addFacultyPthwsButton" class="facultyPathway-delete-link">Remove</a>
            </span>
        </div>
    </script>

    <div id="clinicalFtyPathwaysGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Pathway','field': 'clinicalFacultyPathway','width': '100px' },
                {title:'In Use', 'field':'totalClinicalFacultyPathwayUsage', type:'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#facultyPathway-deleteLink').html() ) }
         ]"
         data-bind="source: adminFacultyPathwayInformation,
            events:{
                change:gridRowSelection,
                dataBound: removedFtyPthw
            }">
    </div>

    <div id="addFacultyPthwsButton" data-bind="visible:addFacultyPthwyBtnVisible">
        <button data-role="button"
                data-bind="events: { click: addFaultyPathway }">
            Add Pathway
        </button>
    </div>


    <div class="expand" id="editFacultyPathwaysSection" data-bind="visible:addFacultyPathwaysSectionVisible">
        <label class="control-label osu-standard" for="adminFacultyPthwyInputField">Pathway*:</label>
        <input type="text"
               id="adminFacultyPthwyInputField"
               name="adminFacultyPthwyInputField"
               placeholder="enter track "
               data-bind="value: selectedClinicalFacultyPathway, events:{open: hideValidationMsgs}" />

        <button class="add-section save" data-bind="click: saveClinicalFacultyPathway">Save</button>
        <button class="add-section cancel" data-bind="click: cancelClinicalFacultyPathway">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#adminFacultyPthwyInputField").kendoAutoComplete({
            dataTextField: "ClinicalFacultyPathway",
            dataValueField: "ID",
            minLength: 1,
            filter: "startswith",
            template: '<span>#: ClinicalFacultyPathway #</span>',
            headerTemplate: '<div class="noDataMessage">Pathway not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetClinicalFtyPathwayList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#adminFacultyPthwyInputField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();

                } else {
                    noItems.hide();
                }
            },
            change: function(e) {
                $("#adminFacultyPthwyInputField").data("kendoAutoComplete").value();
            },
            select: function(e) {
                adminClinicalFtyPathwaySectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        var adminClinicalFtyPathwaySectionInfoVm = kendo.observable($.extend({
            addFacultyPthwyBtnVisible: true,
            addFacultyPathwaysSectionVisible: false,

            updated  : false,
            saveClinicalFacultyPathway: function(){
                var self = this;
                var validationMsg = "This field is required";
                var iSValideField = $("#adminFacultyPthwyInputField").data("kendoAutoComplete").value();
                var validator = $("#editFacultyPathwaysSection").kendoValidator({
                    rules: {
                        inputValideField: function(input){
                            if (input.is("[name=adminFacultyPthwyInputField]")){
                                return input.val() === iSValideField;
                            }
                            return true;
                        },
                        inputValideMsgField: function (input) {
                            if (!input.is(":hidden")) {
                                return $.trim(input.val()) !== "";
                            }
                            return true;
                        }
                    },
                    messages: {
                        inputValideMsgField: validationMsg
                    }
                }).data("kendoValidator");
                if(validator.validate()){
                    var updateData = {
                        id: self.selectedId,
                        clinicalFacultyPathway: self.selectedClinicalFacultyPathway,
                        totalClinicalFacultyPathwayUsage: self.totalClinicalFacultyPathwayUsage
                    };
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateClinicalFtyPathway")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add/Update new Pathway failed!');
                            toastr.warning('Pathway is already in the system');
                        },
                        success: function (value) {
                            var modelObject = $.grep(self.adminFacultyPathwayInformation,
                                    function(e){
                                        return e.id == value.id;
                                    });
                            if (modelObject.length === 0) {
                                self.adminFacultyPathwayInformation.push(kendo.observable(value));
                                toastr.success('Pathway added!');
                            } else {//update the entry
                                var kendoGrid = $("#clinicalFtyPathwaysGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                selectedDataRow.set("clinicalFacultyPathway", value.clinicalFacultyPathway);
                                toastr.success('Pathway updated!');
                            }
                            self.set("addFacultyPathwaysSectionVisible", false);
                            self.set("addFacultyPthwyBtnVisible", true);}

                    });
                }
            },
            addFaultyPathway:function() {
                var self = this;
                self.set("addFacultyPathwaysSectionVisible", true);
                self.set("addFacultyPthwyBtnVisible", false);

                var kendoGrid = $("#clinicalFtyPathwaysGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                //console.log("clearInputFields");
                self.clearInputFields();
            },
            clearInputFields:function() {
                //console.log("In clearInputFields")
                var self = this;
                self.set("selectedId", "");
                self.set("selectedClinicalFacultyPathway", "");
            },
            removedFtyPthw:function(e) {
                var self = this;
                $(".facultyPathway-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#clinicalFtyPathwaysGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();
                    self.set("addFacultyPathwaysSectionVisible", false);
                    self.set("addFacultyPthwyBtnVisible", true);

                    if(selectedDataRow.totalClinicalFacultyPathwayUsage === 0 || selectedDataRow.totalClinicalFacultyPathwayUsage === null || selectedDataRow.totalClinicalFacultyPathwayUsage ===''){
                        if (confirm("Do you want to delete this item?")) {
                            var deleteItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveClinicalFtyPthwy/")'+deleteItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    toastr.success('Pathway removed!');
                                    kendoGrid.dataSource.remove(deleteItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Pathway is in use and cannot be removed!');
                    return false;
                });
            },
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#clinicalFtyPathwaysGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected=kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    self.set("selectedId",selected.id);
                    self.set("selectedClinicalFacultyPathway",selected.clinicalFacultyPathway);
                }
                self.set("addFacultyPathwaysSectionVisible", true);
                self.set("addFacultyPthwyBtnVisible", false);
            },
            cancelClinicalFacultyPathway:function() {
                var self = this;
                self.set("addFacultyPathwaysSectionVisible", false);
                self.set("addFacultyPthwyBtnVisible", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editFacultyPathwaysSection").kendoValidator().data("kendoValidator");
                $("#editFacultyPathwaysSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },

            ClinicalFacultyPathwayField: function(element){
                element.kendoAutoComplete({
                    dataSource: clinicalFacultyPathway
                });
            },
            TotalClinicalFacultyPathwayUsageField: function(element){
                element.kendoAutoComplete({
                    dataSource: totalClinicalFacultyPathwayUsage
                });
            }

        },@(Html.ToJson(Model))));

        kendo.bind($("#theAdminFacultyPathwaySection-view"), adminClinicalFtyPathwaySectionInfoVm);
        $("#clinicalFtyPathwaysGrid").data("kendoGrid").hideColumn(0);
    })
</script>