﻿@using TraineeTrackingSystem.Web.Common;
@model InstitutionsViewModel

<div id="instSponsorSection-view">
    <input id="instSponsorInfoId" type="hidden" data-bind="value: selectedId" />
    <div class="grid-note">
        Please note that to add on institution the Name, City, and Country are required and must be known.
    </div>
    <script type="text/x-kendo-template" id="institution-deleteLink">
        <div>
            <span>
                <a href="\\#addInstSponsorButton" class="institution-delete-link">Remove</a>
            </span>
        </div>
    </script>
    <div id="instSponsorInfoGrid" data-role="grid"
         data-editable="false"
         data-selectable="true"
         data-scrollable="false"
         data-filterable='{extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
         }'
         data-sortable="true"
         data-pageable='{ "pageSize": 5 }'
         data-columns="[
                { 'field': 'id'},
                {title:'Institution Name','field': 'name'},
                {title:'City', 'field':'city'},
                {title:'State', 'field':'stateName'},
                {title:'Country', 'field':'countryName'},
                {title:'In Use', 'field':'totalInstitutionUsage', type: 'number'},
                {title:'Action', 'width': '100px', template:kendo.template($('#institution-deleteLink').html() ) }
         ]"
         data-bind="source: adminInstSponsorGridView,
            events:{
                change: gridRowSelection,
                dataBound: removeInstSponsorIn
            }">
    </div>

    <div id="addInstSponsorButton" data-bind="visible:hideAddInstSponsorButton">
        <button data-role="button"
                data-bind="events: { click: addNewInstitutionSponsorBtn }">
            Add Institution/Sponsor
        </button>
    </div>

    <!--EXPANDABLE SECTION -- CURRENT SUPPORT -->
    <div class="expand" id="editAddInstSponsorSection" data-bind="visible:addInstSponsorSectionVisible">
        <label class="control-label" for="newMsInstitutionNameField">Name*:</label>
        <input type="text"
               id="newTPosInstitutionNameField"
               name="newTPosInstitutionNameField"
               placeholder="type an institution name (at least three characters) "
               data-bind="value: selectedInstName, events:{open: hideValidationMsgs}" required validationmessage="This field is required" />      

        <div>
            <label class="control-label" for="newTPosInstitutionCityField">City:</label>
            <input type="text"
                   id="newTPosInstitutionCityField"
                   name="newTPosInstitutionCityField"
                   placeholder="enter institution or sponsor city"
                   data-bind="value: selectedCityName" />
            <span class="k-invalid-msg" data-for="newTPosInstitutionCityField"></span>
        </div>

        <div>
            <label class="control-label">State/Province:</label>
            <input id="newTPosInstitutionStateDropDown" name="newTPosInstitutionStateDropDown"
                   data-role="dropdownlist"
                   data-option-label="select state"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedStateProvince,source: states" />
            <span class="k-invalid-msg" data-for="newTPosInstitutionStateDropDown"></span>
        </div>

        <div>
            <label class="control-label">Country*:</label>
            <input id="newTPosInstitutionCountryDropDown" name="newTPosInstitutionCountryDropDown"
                   data-role="dropdownlist"
                   data-option-label="select country"
                   data-auto-bind="true"
                   data-text-field="value"
                   data-value-field="key"
                   data-bind="value: selectedCountry,source: countries, events: {open: hideValidationMsgs}" required validationmessage="This field is required" />
            <span class="k-invalid-msg" data-for="newTPosInstitutionCountryDropDown"></span>
        </div>

        <button class="add-section save" data-bind="click: saveInstitutionSponsorSection">Save</button>
        <button class="add-section cancel" data-bind="click: cancelChangeInstSponsor">Cancel</button>
    </div>



</div>
<script>
    $(document).ready(function () {
        $("#newTPosInstitutionNameField").kendoAutoComplete({
            dataTextField: "Name",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: Name #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#newTPosInstitutionNameField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                $("#newTPosInstitutionNameField").data("kendoAutoComplete").value();
            },
            select: function(e){
                instSponsorSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete

        $("#newTPosInstitutionCityField").kendoAutoComplete({
            dataTextField: "City",
            dataValueField: "ID",
            minLength: 3,
            filter: "startswith",
            template: '<span>#: City #</span>',
            headerTemplate: '<div class="noDataMessage">Institution not found.</div>',
            serverFiltering: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url:'@Url.Content("~/CommonData/GetInstitutionList")',
                        dataType: "json",
                        type: "GET",
                        data: {
                            name: function () { return $("#newTPosInstitutionCityField").val() },
                        },
                    },//read
                },//transport
            },//dataSource
            dataBound: function () {
                var noItems = this.list.find(".noDataMessage");
                if (!this.dataSource.view()[0]) {
                    noItems.show();
                    this.popup.open();
                    
                } else {
                    noItems.hide();
                }   
            },    
            change: function(e) {
                $("#newTPosInstitutionCityField").data("kendoAutoComplete").value();
            },
            select: function(e){
                instSponsorSectionInfoVm.hideValidationMsgs();
            }
        });//kendoAutoComplete
        var instSponsorSectionInfoVm = kendo.observable($.extend({
            hideAddInstSponsorButton: true,
            addInstSponsorSectionVisible: false,
            updated  : false,
            saveInstitutionSponsorSection: function() {
                var self = this;
                var statProvincesDropdownSelection = $('#newTPosInstitutionStateDropDown').data("kendoDropDownList").text();
                var countryDropdownSelection = $('#newTPosInstitutionCountryDropDown').data("kendoDropDownList").text();
                var validator = $("#editAddInstSponsorSection").kendoValidator().data("kendoValidator");
                //var iSvalideinstitution = $("#newTPosInstitutionNameField").data("kendoAutoComplete").value();
                //var iSvalidecity = $("#newTPosInstitutionCityField").data("kendoAutoComplete").value();
                //var validationMsg = "This field is required";
                //var validator = $("#editAddInstSponsorSection").kendoValidator({
                //    rules: {
                //        institution2: function (input) {
                //            if (input.is("[name=newTPosInstitutionNameField]")) {
                //                return input.val() === iSvalideinstitution; 
                //            }
                //            return true;
                //        },
                //        institution: function (input) {
                //            if (!input.is(":hidden")) {
                //                return $.trim(input.val()) !== "";
                //            }
                //            return true;
                //        },
                //        city2: function (input) {
                //            if (input.is("[name=newTPosInstitutionCityField]")) {
                //                return input.val() === iSvalidecity; 
                //            }
                //            return true;
                //        },
                //        city: function (input) {
                //            if (!input.is(":hidden")) {
                //                return $.trim(input.val()) !== "";
                //            }
                //            return true;
                //        },
                //        countrydropdown: function (input) {
                //            if (input.is("[name=newTPosInstitutionCountryDropDown]")) {
                //                return $.trim(input.val()) !== "";
                //            }
                //            return true;
                //        }
                //    },
                //    messages: {
                //        institution: validationMsg,
                //        city: validationMsg,
                //        countrydropdown: validationMsg
                //    }
                //}).data("kendoValidator");

                if (validator.validate()) {
                    var stPrname = statProvincesDropdownSelection; 
                    //alert(JSON.stringify(self.selectedStateProvince));
                    if (self.selectedStateProvince == null || self.selectedStateProvince == ""){
                        stPrname = "";
                    }
                    var updateData = {
                        id : self.selectedId,
                        name: self.selectedInstName,
                        city: self.selectedCityName,
                        stateId: self.selectedStateProvince,// != null ? self.selectedStateProvince.key : null,
                        stateName:stPrname,
                        countryId: self.selectedCountry,
                        countryName: countryDropdownSelection,
                        totalInstitutionUsage: self.totalInstitutionUsage,

                    };
                    //console.log(updateData);
                    $.ajax({
                        url: '@Url.Content("~/Admin/UpdateInstitution")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",
                        error: function () {
                            toastr.error('Add new Institution/Sponsor failed!');
                            toastr.warning('Institution/sponsor is already in the system');
                        },
                        success: function (value){
                            var institutionObject= $.grep(self.adminInstSponsorGridView, function(e){ 
                                return e.id == value.id; 
                            });
                            if (institutionObject.length === 0) {
                                //console.log("I am in success IF");
                                //console.log(self.adminInstSponsorGridView);
                                /* ------------------ MVN - update the grid ---------------- */
                                self.adminInstSponsorGridView.push(kendo.observable(value));     
                                self.states.splice(0, value.states.length);           // Clean the array 
                                for (var i = 0; i < value.length; i++) {
                                    value.states.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.states.push({
                                    key: value.stateId,               // Value from GRID
                                    value: value.stateName        // Value from GRID                           
                                }); 

                                self.set("selectedStateProvince", value.stateId);
                                self.set("states", value.states); // SET state back to Dropdown object 
                                

                                self.countries.splice(0, value.countries.length);           // Clean the array 
                                for (var i = 0; i < value.length; i++) {
                                    value.countries.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.countries.push({
                                    key: value.countryId,               // Value from GRID
                                    value: value.countryName        // Value from GRID                           
                                }); 
                                self.set("selectedCountry", value.countryId);
                                self.set("countries", value.countries); // SET state back to Dropdown object 
                                //self.set("adminInstSponsorGridView", value.adminInstSponsorGridView);
                                toastr.success('Institution/Sponsor added!');
                             
                            } else {//update the entry
                                //console.log("I am in success ELSE");
                                //console.log(value);
                                
                                var kendoGrid = $("#instSponsorInfoGrid").data("kendoGrid");
                                var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                                /* ------------------- put back to the Grid ---------------------- */
                                selectedDataRow.set("name", value.name);
                                selectedDataRow.set("city", value.city);

                                selectedDataRow.set("stateId", value.stateId);                             
                                selectedDataRow.set("stateName", value.stateName);

                                selectedDataRow.set("countryId", value.countryId);
                                selectedDataRow.set("countryName", value.countryName);
                                /* -------------------         end         ----------------------- */


                                /* ---------------- put back to the dropdown list ----------------- */
                                //alert(JSON.stringify(value.stateId));
                                /* ------------------ MVN - update the grid ---------------- */
   
                                self.states.splice(0, value.states.length);           // Clean the array 
                                for (var i = 0; i < value.length; i++) {
                                    value.states.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.states.push({
                                    key: value.stateId,               // Value from GRID
                                    value: value.stateName        // Value from GRID                           
                                }); 

                                self.set("selectedStateProvince", value.stateId);
                                self.set("stateName", value.stateName); // SET state back to Dropdown object 
                                

                                self.countries.splice(0, value.countries.length);           // Clean the array 
                                for (var i = 0; i < value.length; i++) {
                                    value.countries.push({
                                        key: value[i].key,                              
                                    });                             
                                }
                                self.countries.push({
                                    key: value.countryId,               // Value from GRID
                                    value: value.countryName        // Value from GRID                           
                                }); 
                                self.set("selectedCountry", value.countryId);
                                self.set("countries", value.countries); // SET state back to Dropdown object 
                                toastr.success('Institution/Sponsor updated!');                   
                            }
                            self.set("addInstSponsorSectionVisible", false);
                            self.set("hideAddInstSponsorButton", true);
                        }
                    });
                }
            }, 
            gridRowSelection : function(e) {
                e.preventDefault();
                var self = this;
                var kendoGrid = $("#instSponsorInfoGrid").data("kendoGrid");
                var selectedRow = kendoGrid.select();
                var selected = kendoGrid.dataItem(selectedRow);
                if (selected !== null) {
                    //console.log("GridRowSelection");
                    //console.log(selected);
                    self.set("selectedId", selected.id);
                    self.set("selectedInstName", selected.name);
                    self.set("selectedCityName", selected.city);

                    self.set("selectedStateProvince", selected.stateId);                
                    self.set("selectedCountry", selected.countryId);
                }
                self.set("addInstSponsorSectionVisible", true);
                self.set("hideAddInstSponsorButton", false);
            },
            removeInstSponsorIn:function(e) {
                var self = this;
                $(".institution-delete-link").click(function (event) {
                    event.preventDefault();
                    var kendoGrid = $("#instSponsorInfoGrid").data("kendoGrid");
                    var selectedDataRow = kendoGrid.dataItem( kendoGrid.select());
                    kendoGrid.clearSelection();

                    self.set("addInstSponsorSectionVisible", false);
                    self.set("hideAddInstSponsorButton", true);
                    if(selectedDataRow.totalInstitutionUsage === 0 || selectedDataRow.totalInstitutionUsage === null || selectedDataRow.totalInstitutionUsage ===''){
                        if (confirm("Do you want to remove this item?")) {
                            var deleteTPosItem = kendoGrid.dataItem($(this).closest("tr"));
                            $.ajax({
                                url: '@Url.Content("~/Admin/RemoveInstSponsor/")'+deleteTPosItem.id,
                                contentType: "application/json, charset=utf-8",
                                type: "POST",
                                datatype: "json",

                                error: function () {
                                    toastr.error('Remove failed!');
                                },
                                success: function (id) {
                                    //console.log(self);
                                    toastr.success('Institution/Sponsor removed!');
                                    kendoGrid.dataSource.remove(deleteTPosItem);
                                }
                            });
                        }
                        return false;
                    }
                    toastr.error('Institution/Sponsor is in use and cannot be removed!');
                    return false;
                });
            },
            addNewInstitutionSponsorBtn:function() {
                var self = this;
                self.set("addInstSponsorSectionVisible", true);
                self.set("hideAddInstSponsorButton", false);

                var kendoGrid = $("#instSponsorInfoGrid").data("kendoGrid");
                kendoGrid.clearSelection();
                self.clearInstSponsroInputFields();
            },
            clearInstSponsroInputFields:function() {
                var self = this;
                //console.log("I am in clear");
                //console.log(self);
                self.set("selectedId", "");
                self.set("selectedInstName", "");
                self.set("selectedCityName", "");

                self.set("selectedStateProvince", "");
                self.set("selectedCountry", "");
            },
            cancelChangeInstSponsor:function() {
                var self = this;
                self.set("addInstSponsorSectionVisible", false);
                self.set("hideAddInstSponsorButton", true);
                self.hideValidationMsgs();
            },
            hideValidationMsgs: function() {
                var validator = $("#editAddInstSponsorSection").kendoValidator().data("kendoValidator");
                $("#editAddInstSponsorSection").find("span.k-tooltip-validation").hide();
                validator.hideMessages();
            },    
            
            NameField: function(element){
                element.kendoAutoComplete({
                    dataSource: name
                });
            },
            CityField: function(element){
                element.kendoAutoComplete({
                    dataSource: city
                });
            },
            StateNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: stateName
                });
            },
            CountryNameField: function(element){
                element.kendoAutoComplete({
                    dataSource: countryName
                });
            },
            TotalInstitutionUsageField: function(element){
                //element.kendoAutoComplete.toString().toLowerCase()({
                element.kendoAutoComplete({
                    //element.toString().toLowerCase()({
                    dataSource: totalInstitutionUsage
                });
            }

        },@(Html.ToJson(Model))));
        kendo.bind($("#instSponsorSection-view"), instSponsorSectionInfoVm);
        $("#instSponsorInfoGrid").data("kendoGrid").hideColumn(0);
    })
</script>
