﻿@using TraineeTrackingSystem.Web.Common;
@model EditAdminViewModel
@{
    ViewBag.Title = "Admin Index";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Admin</h1>
    </div>
</div>

<div id="admin-view" class="content form">
    <article class="content">
        <p class="reminder">Please be sure to save each section as you make edits/updates.</p>
        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>

        <h1 class="section-title">Institutions/Sponsors</h1>
        <div class="grid-note">
            Please note that to add an institution the Name, City, and Country are required and must be known.<br />     
            <br /><br />
        </div>
        <fieldset name="collectAdminInstSponsorInfo" id="collectAdminInstSponsorInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminInstitutionSponsorInfo");}
        </fieldset>

        <h1 class="section-title">Degrees</h1>
        <fieldset name="collectAdminDegreeInfo" id="collectAdminDegreeInfo" class="two-column-fields">
            @{ Html.RenderPartial("AdminDegrees");}
        </fieldset>

        <button class="submit done" data-toggle="modal" data-target="#myModal">
            Done
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Exit Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        This action will take you to the menu, and any unsaved changes will be lost.
                    </div>
                    <div class="modal-footer">
                        <button class="add-section" onclick="window.location = '@Url.Content("~/Home/")'">OK</button>
                        <button type="button" class="add-section" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </article>
</div>
