﻿@using TraineeTrackingSystem.Web.Common;
@using TraineeTrackingSystem.Web.Models;
@model EditAdminViewModel
@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Admin</h1>
    </div>
</div>

<div id="admin-view" class="content form">
    <article class="content">
        @if (SecurityControl.IsAdminUser(this.User)){
            <p class="reminder">Please be sure to save each section as you make edits/updates.</p>

            <h1 class="section-title">Institutions/Sponsors</h1>
            <fieldset name="collectAdminInstSponsorInfo" id="collectAdminInstSponsorInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminInstitutionSponsorInfo", Model.InstitutionSponsorInfo);}
            </fieldset>

            <h1 class="section-title">Degrees</h1>
            <fieldset name="collectAdminDegreeInfo" id="collectAdminDegreeInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminDegrees", Model.AcademicDegrees);}
            </fieldset>


            <h1 class="section-title">Types of Organizations</h1>
            <fieldset name="collectAdminOrgTypeInfo" id="collectAdminOrgTypeInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminTypeOfOrganization", Model.TypeOfOrgInfo);}
            </fieldset>
            <h1 class="section-title">Organizations</h1>
            <fieldset name="collectAdminProgramsinfo" id="collectAdminProgramsinfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminOrganizations", Model.OrganizationInfo);}
            </fieldset>
            <h1 class="section-title">Programs</h1>
            <fieldset name="collectAdminProgramsinfo" id="collectAdminProgramsinfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminPrograms", Model.ProgramInfo);}
            </fieldset>
            <h1 class="section-title">Countries</h1>
            <fieldset name="collectAdminCountriesInfo" id="collectAdminCountriesInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminCountries", Model.CountryiesInfo);}
            </fieldset>

            <h1 class="section-title">States/Provinces</h1>
            <fieldset name="collectAdminStatesProvincesInfo" id="collectAdminStatesProvincesInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminStateProvince", Model.StateProvineInfo);}
            </fieldset>

            <h1 class="section-title">Gender (or Gender at Birth)</h1>
            <fieldset name="collectAdminFacultyGendersInfo" id="collectAdminFacultyGendersInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFacultyGenders", Model.FacultyGenderInfo);}
            </fieldset>
            <h1 class="section-title">Ethnicity</h1>
            <fieldset name="collectAdminFacultyEthnicityInfo" id="collectAdminFacultyEthnicityInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFacultyEthnicity", Model.FacultyEthnicityInfo);}
            </fieldset>
            <h1 class="section-title">Faculty Ranks</h1>
            <fieldset name="collectAdminFacultyRanksInfo" id="collectAdminFacultyRanksInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFacultyRanks", Model.FacultyRankInfo);}
            </fieldset>


            <h1 class="section-title">Faculty Roles for Funding</h1>
            <fieldset name="collectAdminFundingRolesInfo" id="collectAdminFundingRolesInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFundingRoles", Model.FundingRoleInfo);}
            </fieldset>
            <h1 class="section-title">Faculty Roles for Training Grants</h1>
            <fieldset name="collectAdminTrainingGrantRolesInfo" id="collectAdminTrainingGrantRolesInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminTrainingGrantRoles", Model.TrainingGrantRoleInfo);}
            </fieldset>
            <h1 class="section-title">Faculty Tracks</h1>
            <fieldset name="collectAdminFacultyTracksInfo" id="collectAdminFacultyTracksInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFacultyTracks", Model.FacultyTrackInfo);}
            </fieldset>
            <h1 class="section-title">Clinical Faculty Pathways</h1>
            <fieldset name="collectAdminFacultyPathwaysInfo" id="collectAdminFacultyPathwaysInfo" class="two-column-fields">
                @{ Html.RenderPartial("_AdminFacultyPathways", Model.FacultyPathwayInfo);}
            </fieldset>
        }
        
        @*<p class="reminder">Please be sure to save each section as you make edits/updates.</p>

        <h1 class="section-title">Institutions/Sponsors</h1>
        <fieldset name="collectAdminInstSponsorInfo" id="collectAdminInstSponsorInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminInstitutionSponsorInfo", Model.InstitutionSponsorInfo);}
        </fieldset>

        <h1 class="section-title">Degrees</h1>
        <fieldset name="collectAdminDegreeInfo" id="collectAdminDegreeInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminDegrees", Model.AcademicDegrees);}
        </fieldset>


        <h1 class="section-title">Types of Organizations</h1>
        <fieldset name="collectAdminOrgTypeInfo" id="collectAdminOrgTypeInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminTypeOfOrganization", Model.TypeOfOrgInfo);}
        </fieldset>
        <h1 class="section-title">Organizations</h1>
        <fieldset name="collectAdminProgramsinfo" id="collectAdminProgramsinfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminOrganizations", Model.OrganizationInfo);}
        </fieldset>
        <h1 class="section-title">Programs</h1>
        <fieldset name="collectAdminProgramsinfo" id="collectAdminProgramsinfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminPrograms", Model.ProgramInfo);}
        </fieldset>
        <h1 class="section-title">Countries</h1>
        <fieldset name="collectAdminCountriesInfo" id="collectAdminCountriesInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminCountries", Model.CountryiesInfo);}
        </fieldset>
        
        <h1 class="section-title">States/Provinces</h1>
        <fieldset name="collectAdminStatesProvincesInfo" id="collectAdminStatesProvincesInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminStateProvince", Model.StateProvineInfo);}
        </fieldset>

        <h1 class="section-title">Gender (or Gender at Birth)</h1>
        <fieldset name="collectAdminFacultyGendersInfo" id="collectAdminFacultyGendersInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFacultyGenders", Model.FacultyGenderInfo);}
        </fieldset>
        <h1 class="section-title">Ethnicity</h1>
        <fieldset name="collectAdminFacultyEthnicityInfo" id="collectAdminFacultyEthnicityInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFacultyEthnicity", Model.FacultyEthnicityInfo);}
        </fieldset>
        <h1 class="section-title">Faculty Ranks</h1>
        <fieldset name="collectAdminFacultyRanksInfo" id="collectAdminFacultyRanksInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFacultyRanks", Model.FacultyRankInfo);}
        </fieldset>

       
        <h1 class="section-title">Faculty Roles for Funding</h1>
        <fieldset name="collectAdminFundingRolesInfo" id="collectAdminFundingRolesInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFundingRoles", Model.FundingRoleInfo);}
        </fieldset>       
        <h1 class="section-title">Faculty Roles for Training Grants</h1>
        <fieldset name="collectAdminTrainingGrantRolesInfo" id="collectAdminTrainingGrantRolesInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminTrainingGrantRoles", Model.TrainingGrantRoleInfo);}
        </fieldset>
        <h1 class="section-title">Faculty Tracks</h1>
        <fieldset name="collectAdminFacultyTracksInfo" id="collectAdminFacultyTracksInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFacultyTracks", Model.FacultyTrackInfo);}
        </fieldset>
        <h1 class="section-title">Clinical Faculty Pathways</h1>
        <fieldset name="collectAdminFacultyPathwaysInfo" id="collectAdminFacultyPathwaysInfo" class="two-column-fields">
            @{ Html.RenderPartial("_AdminFacultyPathways", Model.FacultyPathwayInfo);}
        </fieldset>*@
       
    </article>
    

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#admin-view h1.section-title').click(function () {
            if (!$(this).hasClass('open')) {
                $(this).addClass('open').next().slideDown();
            } else {
                $(this).removeClass('open').next().slideUp();
            }
        });
    });
</script>



