﻿@using TraineeTrackingSystem.Web.Common
@model SupportViewModel


<div id="supportEditPage-view">
    <input id="reseachId" type="hidden" data-bind="value: selectedId" />  
    
    <label class="control-label osu-standard">Title*:</label>
    <div class="box-col">
        <textarea id="editor" name="title" data-bind="value:title" style="width: 480px; height:200px;"
                  required validationmessage="This field is required"></textarea>

        <span class="help-inline">
            <span class="k-invalid-msg" data-for="title"></span>
        </span>
    </div>

    <label class="control-label" for="supportTypeDropDown">Type:</label>
    <input id="supportTypeDropDown" data-role="dropdownlist"
           data-option-label="select support type"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: supportTypeId,source: supportTypes" />
    <span class="k-invalid-msg" data-for="supportTypeDropDown"></span>

    <label class="control-label osu-standard">GRT Number:</label>
    <input type="text" placeholder="enter grt number" data-bind="value:supportNumber" />

    <label class="control-label" for="supportOrgDropDown">Organization:</label>
    <input id="supportOrgDropDown" data-role="dropdownlist"
           data-option-label="select organization"
           data-auto-bind="true"
           data-text-field="value"
           data-value-field="key"
           data-bind="value: supportOrganizationId,source: supportOrganizations" />
    <span class="k-invalid-msg" data-for="supportOrgDropDown"></span>

    <label class="control-label" for="startDate">Start Date:</label>
    <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date"
           placeholder=" YYYY-MM-DD"
           data-format="yyyy-MM-dd" data-bind="value:dateStarted"
           data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
    <span data-for='startDate' class='k-invalid-msg'></span>

    <label class="control-label" for="endDate">End Date:</label>
    <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate"
           data-greaterdate-field="startDate"
           data-greaterdate-msg='End Date should be after Start Date.'
           placeholder=" YYYY-MM-DD"
           data-format="yyyy-MM-dd" data-bind="value:dateEnded"
           data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
    <span data-for='endDate' class='k-invalid-msg'></span>


    <div id="updateDiv">
        <span> <input class="add-section" type="button" value="Save Section" data-bind="click: save" /> </span>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#editor").kendoEditor({
            tools: [
                "bold", "italic", "subscript", "superscript", "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                {
                    name: "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items: [
                        { text: "12px", value: "12px" },
                        { text: "24px", value: "24px" }
                    ]
                },
                // More tools can be added here...
            ]
        });
        var supportVm =kendo.observable($.extend({
            save : function() {
                var self = this;
                var validator = $("#supportEditPage-view").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                        }

                    }).data("kendoValidator");

                //var validator = $("#createSupportRequest-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Id: self.id,
                        title: self.title,
                        //supportTypeId: self.supportTypeId != null ? self.supportTypeId.key : 0,
                        supportTypeId: self.supportTypeId,
                        supportNumber: self.supportNumber,
                        //supportOrganizationId: self.supportOrganizationId != null ? self.supportOrganizationId.key : 0,
                        supportOrganizationId: self.supportOrganizationId,
                        dateStarted: self.dateStarted,
                        dateEnded: self.dateEnded
                    };
                    //window.console && console.log(self);
                    $.ajax({
                        url: '@Url.Content("~/Support/UpdateSupport")',
                        data: JSON.stringify(updateData),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Update failed!');
                        },
                        success: function (value) {
                            toastr.success('Update successful!');
                            //toastr.success('Update successful! Refreshing page...');
                            //location.reload();
                        }
                    });
                }
            }
        },@(Html.ToJson(Model))));                
        kendo.bind($("#supportEditPage-view"), supportVm);
    })
</script>