﻿@model IEnumerable<Search_VwSupportGeneralData>

<div id="clientsDb"> 
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.SupportTitle).Title("Title").ClientTemplate(@Html.ActionLink("#=SupportTitle#", "Edit", new { ID = "#=SupportId#" }).ToHtmlString()).Width(20);
            columns.Bound(c => c.SupportTypeFullName).Title("Type").Width(10);
            columns.Bound(c => c.SupportNumber).Title("Number").Width(10);
            columns.Bound(c => c.SupportOrganizationFullName).Title("Organization").Width(20);
            columns.Bound(c => c.DateStarted).Format("{0:MM/dd/yyyy}").Title("Start Date").Width(20);
            columns.Bound(c => c.DateEnded).Format("{0:MM/dd/yyyy}").Title("End Date").Width(20);
        })
        .HtmlAttributes(new { style = "height: 375px;" })
        .Scrollable(scrollable => scrollable.Height(375))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Selectable(selectItem => selectItem.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            // per customer request =>5
            .ButtonCount(5)
        )
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.SupportId))
                    .Sort(sort =>
                    {
                        sort.Add(spt => spt.SupportTitle).Descending(); // <-- intial sort expression
                        //sort.Add(spt => spt.SupportStatus).Descending();
                        sort.Add(spt => spt.DateStarted).Descending();
                        sort.Add(spt => spt.DateEnded).Descending();
                    })
                    .Read(read => read.Action(/* action */"Support_Read", /* controller */ "Support"))
                    // per customer request 50
            .PageSize(50)
        )
    )
</div>
<script>
    $(function () {
        // Notice that the Name() of the grid is used to get its client-side instance
        var grid = $("#grid").data("kendoGrid");
    });
</script>
