﻿@using TraineeTrackingSystem.Web.Common;
@model SupportViewModel

<div id="createSupportRequest-view">

    <h1 class="section-title">Search Existing Support</h1>

    <fieldset name="collectSupportBasicInfo" id="collectSupportBasicInfo" class="two-column-fields">

        <label class="control-label osu-standard">Title*:</label>
        <div class="box-col">
            <textarea id="editor" name="title" data-bind="value:title" style="width: 480px; height:200px;"
                      required validationmessage="This field is required"></textarea>

            <span class="help-inline">
                <span class="k-invalid-msg" data-for="title"></span>
            </span>
        </div>

        <label class="control-label" for="supportTypeDropDown">Type:</label>
        <input id="supportTypeDropDown" data-role="dropdownlist"
               data-option-label="select support type"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: supportTypeId,source: supportTypes" />
        <span class="k-invalid-msg" data-for="supportTypeDropDown"></span>

        <label class="control-label osu-standard">GRT Number:</label>
        <input type="text" placeholder="enter grt number" data-bind="value:supportNumber" />

        <label class="control-label" for="supportOrgDropDown">Organization:</label>
        <input id="supportOrgDropDown" data-role="dropdownlist"
               data-option-label="select organization"
               data-auto-bind="true"
               data-text-field="value"
               data-value-field="key"
               data-bind="value: supportOrganizationId,source: supportOrganizations" />
        <span class="k-invalid-msg" data-for="supportOrgDropDown"></span>

        <label class="control-label" for="startDate">Start Date:</label>
        <input type="text" data-role='datepicker' id="startDate" name="startDate" data-type="date"
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:dateStarted"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='startDate' class='k-invalid-msg'></span>

        <label class="control-label" for="endDate">End Date:</label>
        <input type="text" data-role='datepicker' id="endDate" data-type="date" name="endDate" 
               data-greaterdate-field="startDate" 
               data-greaterdate-msg='End Date should be after Start Date.'
               placeholder=" YYYY-MM-DD"
               data-format="yyyy-MM-dd" data-bind="value:dateEnded"
               data-kiui-date="yyyy-MM-dd" validationmessage="Date Format: YYYY-MM-DD" />
        <span data-for='endDate' class='k-invalid-msg'></span>

        <div data-bind="invisible: isDisabled">
            <input class="add button" type="button" value="Search Non-NIH Support" data-bind="click: searchSupport" />
        </div>


        <div id="supportSearchGrid" data-bind="visible: searchCount>0">
            </div>

            <div id="supportFound" data-bind="visible: resultVisible">
                <span>
                    If the Non-NIH Support record is in the list, click the row to open and edit it's information. <br /><br />
                    Otherwise, enter required fields above, and click 'Create' to make a new Non-NIH Support record.
                </span>
                <input class="add button" type="button" value="Create New Support record" data-bind="click: createSupport" />
            </div>

            <div id="noSupportFound" data-bind="visible: noResultVisible">
                <span>
                    No matching Non-NIH Support records found.<br /><br />
                    Enter required fields above, and click 'Create' to make a new Non-NIH Support record.<br />
                </span>
                <input class="add button" type="button" value="Create New Support record" data-bind="click: createSupport" />

            </div>

    </fieldset>


</div>


<script>

    $(document).ready(function () {
        $("#editor").kendoEditor({
            tools: [
                "bold", "italic", "subscript", "superscript", "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                {
                    name: "fontName",
                    items: [
                        { text: "Courier", value: "Courier" },
                        { text: "Times New Roman", value: "Times New Roman" },
                        { text: "Trebuchet MS", value: "Trebuchet MS" },
                        { text: "Symbol", value: "Symbol" },
                    ]
                },
                {
                    name: "fontSize",
                    items: [
                        { text: "12px", value: "12px" },
                        { text: "24px", value: "24px" }
                    ]
                },
                // More tools can be added here...
            ]
        });

        var supportViewModel = kendo.observable($.extend({

            searchCount: -1,
            noResultVisible: false,
            resultVisible: false,

            createSupport: function (e) {
                e.preventDefault();
                var self = this;
                var validator = $("#createSupportRequest-view").kendoValidator(
                    {
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                                    var date = input.data("kendoDatePicker").value(),
                                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            },
                        }

                    }).data("kendoValidator");

                //var validator = $("#createSupportRequest-view").kendoValidator().data("kendoValidator");

                if (validator.validate()) {
                    var updateData = {
                        Id: self.selectedId,
                        title: self.title,
                        supportTypeId: self.supportTypeId != null ? self.supportTypeId.key : 0,
                        supportNumber: self.supportNumber,
                        supportOrganizationId: self.supportOrganizationId != null ? self.supportOrganizationId.key : 0,
                        dateStarted: self.dateStarted,
                        dateEnded: self.dateEnded
                    };
                    $.ajax({
                        url: '@Url.Content("~/Support/CreateSupport")',
                        data: JSON.stringify(updateData),
                        //data: JSON.stringify(this.toJSON()),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            toastr.error('Support record could not be created!');
                        },
                        success: function (value) {
                            toastr.success('Support record created!');
                            window.location = '@Url.Content("~/Support/Edit/")' + value;
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    });
                }
            },
            searchSupport: function (e) {
                var self = this;
                //var validator = $("#createSupportRequest-view").kendoValidator(
                //    {
                //        rules: {
                //            greaterdate: function (input) {
                //                if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                //                    var date = input.data("kendoDatePicker").value(),
                //                        otherDate = $("[name='" + input.data("greaterdateField") + "']").data("kendoDatePicker").value();
                //                    return otherDate == null || otherDate.getTime() < date.getTime();
                //                }

                //                return true;
                //            },
                //        }

                //    }).data("kendoValidator");
                //if (validator.validate()) {
                    var updateData = {
                        Id: self.selectedId,
                        title: self.title,
                        supportTypeId: self.supportTypeId != null ? self.supportTypeId.key : 0,
                        supportNumber: self.supportNumber,
                        supportOrganizationId: self.supportOrganizationId != null ? self.supportOrganizationId.key : 0,
                        dateStarted: self.dateStarted,
                        dateEnded: self.dateEnded
                    };
                    $.ajax({
                        url: '@Url.Content("~/CommonData/SearchSupport")',
                        data: JSON.stringify(updateData),
                        //data: JSON.stringify(this.toJSON()),
                        contentType: "application/json, charset=utf-8",
                        type: "POST",
                        datatype: "json",

                        error: function () {
                            window.console && console.log("error");
                        },
                        success: function (value) {
                            //window.console && console.log(value);
                            self.set("searchCount", value.length);
                            self.set("noResultVisible", value.length === 0);
                            self.set("resultVisible", value.length > 0);
                            $("#supportSearchGrid").kendoGrid({
                                columns: [{
                                    field: "SupportTitle",
                                    template: '<a href="Edit/#=SupportId#">#=SupportTitle#</a>',
                                    title: "Title"
                                }, {
                                    field: "SupportTypeFullName",
                                    title: "Type"
                                }, {
                                    field: "SupportNumber",
                                    title: "Number"
                                }, {
                                    field: "SupportOrganizationFullName",
                                    title: "Organization"
                                }, {
                                    field: "DateStarted",
                                    title: "Start Date",
                                    template: "#= kendo.toString(kendo.parseDate(DateStarted, 'yyyy-MM-dd'), 'yyyy-MM-dd') #"
                                }, {
                                    field: "DateEnded",
                                    title: "End Date",
                                    template: "#= kendo.toString(kendo.parseDate(DateEnded, 'yyyy-MM-dd'), 'yyyy-MM-dd') #"
                                }],
                                dataSource: {
                                    data: value,
                                    pageSize: 20
                                },
                                height: 250,
                                sortable: true,
                                pageable: {
                                    refresh: true,
                                    pageSizes: true,
                                    buttonCount: 5
                                }
                            });
                        },
                        complete: function () {
                            window.console && console.log("completed");
                        }
                    })
                    //statusMsg.hidden = true;
                //}
            }
        },@(Html.ToJson(Model))));

        kendo.bind($("#createSupportRequest-view"), supportViewModel);

    })
</script>

