﻿@using TraineeTrackingSystem.Web.Common;
@model EditSupportViewModel
@{
    ViewBag.Title = "Create Support";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Support Form</h1>
    </div>
</div>

<div class="content form">
    <article class="content">
        @{Html.RenderPartial("_SupportCreatePage", Model.SupportGeneralInfo);}
    </article>
</div>