﻿@model IEnumerable<Search_VwSupportGeneralData>
@{
    ViewBag.Title = "Support Index";
}

<div class="page-context">
    <div class="context-wrapper">
        <h1 class="page-title">Non-NIH Support</h1>
    </div>
</div>
<div class="content form">
    <article class="content">

        <div class="section-admin">
            @using (Html.BeginForm("Create", "Support"))
            {
                <button type="submit" class="add-item program">+ Add Non-NIH Support</button>
            }
        </div>
        <div class="wide-grid">
            <div id="clientsDb">
                    @{Html.RenderPartial("_SupportLandingPage", Model);}
            </div>
        </div>


    </article>
</div>
